<html>
<head>

<title>Welcome To Family Trees</title>
</head>
<style>
	TABLE {font-family:Helvetica, Arial}
	P {font-family:Helvetica, Arial}
	a:link {color:white; text-decoration:none; font-weight: bold;}
	a:visited {color:white; text-decoration:none;
	font-weight: bold;}
	a:hover {color:#66CCFF; text-decoration:none; font-weight: bold;}
</style>


<body bgcolor="black" text="red" link="yellow" vlink="yellow">

<center>

<table width="600" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="600">
	<table width="600" height="97" border="0" cellspacing="0" cellpadding="0">
	<tr>

	</tr>
	</table>
</td>
</tr>






<tr>
<td colspan="2">
	<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="50%" bgcolor="black">
        <div align="right">
	
    
        </font>
        </div>
	</td>
	<td width="50%" bgcolor="black">
	</div>	
	</td>
	</tr>
	</table>
</td>
</tr>



<tr>      
<td valign="top" bgcolor="navy">
<center>
   <table width="100%" cellpadding="2" cellspacing="2" border="0">
   <tr>
   <td valign="top" width="400" bgcolor="black">




    <table width="90%" bgcolor="arial" border="0" cellpadding="4" cellspacing="0">
 
	
    <tr><td bgcolor="black">
	<font face="arial" size="2" color="white">
    <br>


<p>


     
	<br><br><br>

<b><center><a href="http://www.sspgm.net/pankhania_thobhan1/index.html"><font size="5">Pankhania, Rana Khirasara (Thobhan) Family Tree</font></a></center></b>
<center><font color="#66CCFF" size="2.5">Thobhan Pankhania Family Tree was submitted by Tulsidasbhai Becharbhai Pankhania, India</font></center><br><br><br>
	          <font color="red" size="1.5">Please note: The information is subject to change as the data is verified and updated.</font></b>

<br><br><br><br>
	</p>

    



</font>

    </td></tr>
    </table>
   </td>

   <td valign="top" width="1">
   <img src="images/dot.jpg" width="1" height="600">
   </td>
   <td valign="top" width="200">


  <!--- Links--->   

<center><script language=javascript src="http://www.sspgm.net/right.js"></script></center>
   </td>
   </tr>
   </table>
</center>
</td>
</tr>

</table>
</center>
</center>
</td></tr>
</table>

<script language="javascript" src="http://www.sspgm.net/bottom.js"></script>

</center>
</body> 
</html>
