<center>

<table width="600" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="600">
	<table width="600" height="97" border="0" cellspacing="0" cellpadding="0">
	<tr>

	</tr>
	</table>
</td>
</tr>






<tr>
<td colspan="2">
	<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="50%" bgcolor="black">
        <div align="right">


        </font>
        </div>
	</td>
	<td width="50%" bgcolor="black">
	</div>
	</td>
	</tr>
	</table>
</td>
</tr>



<tr>
<td valign="top" bgcolor="navy">
<center>
   <table width="100%" cellpadding="2" cellspacing="2" border="0">
   <tr>
   <td valign="top" width="400" bgcolor="black">


    <table width="90%" bgcolor="arial" border="0" cellpadding="4" cellspacing="0">


    <tr><td bgcolor="black">
	<font face="arial" size="2" color="white">
    <br>


<p>


<center><font color="red"><h3>The Devalia Family Tree</h3></font></center>
<font color="yellow" size="1.5">Submitted by <a href="mailto:%20m_devalia@hotmail.com">Madhavjibhai Narsibhai Devalia</a>, Coventry, UK</font>
	<br><br><br>

<font color="white" size="2">
Father: Narsi Vala Devalia <br>
Mother: Liribai Narsi Devalia. <br>
They had five children <p>


<p>
Laxman bhai: He went to Kenya in 1922. Studied there and joined East African Railways. <br>
He married PaniBen Daughter of Arjan Chohan of Mekhatimbi.<br>

Paniben passed away in 1946.  <p>

Laxmanbhai got married (Ghagharnun) to Jamnaben daughter of Mulji Ruda ladva. <p>

Jamnaben passed away on 10/1/1985.<p>

2) Amratben married to parshottam son of Kara ghela Bharadwa of Ranavav in 1936. <p>

Parshottam bhai passed away on17/12/1999. <p>


3) Madhavji: Married to Sushilaben daughter of Kurji Ramji Majevadia on 10th March  1954 in Nairobi, Kenya <p>

We have five children <p>

Suresh got married to Rama gauri daughter of Arsi Meraman gohil of Rozda on 19th December 1985. They have one son: <br>
Dipak: Born on 4th January 1988.  <br>
Vinod got married to Sheila daughter of Nanji Khimji Shingadia in London on  27th July 1986. They have three children: <br>
Roshni: Born on 16th June 1989 <br>
Anand: Born on 8th February 1994<br>
Chirag: Born on 17th May 2001   <p>

3. Shobhna got married to Vasant son of Damji Devji Koria in Coventry on 26th July   1986. They have 2 children called:<br>
Rupen: Born 25th June 1988<br>
Vishal: Born on 5th January 1993 <p>
4. Arvind: Executive and Corporate Coach <p>

5. Neeta: Pharmacist. <br>
Nanduben married to Vasram Bhai son of karsan punja Ladva of Bantva in Nairobi on 9th <br>
 March 1954.<br>

Nanduben passed away on 22nd January 2002.<br>



Kesarben got married to Ranchhodbhai son of Devish Savji Chohan of Bhatiya in Nairobi <br>
on 15/2/1958. <br>
Ranchhodbhai passed away on 2nd March 1981. <p>

In our above Family Tree there are names of all the children. Its written in Gujrati.<p>

Therefore I am writing it in English below. <p>





1) Laxman Bhai: Lalita Ben, kamla Ben, Bhogilal, Kantilal, , Dineshchandra , Chandrika Ben, jaishree Ben, Mansukhlal, Hasmukh, Jagdish and Kirit. <p>

2) Amrat Ben: Bhanu Ben, Chandrika Ben, Suresh, Dhiraj Ben, Jayantilal, and Jagdish. <p>

3) Madhavji: As shown as above.<p>

4) Nandu Ben: Chhaganlal, Manju Ben, Urmila Ben, Shashikant, Jashvanti, Nimu Ben and    Aruna Ben. <p>

5) Kesar Ben:  Pradeep Kumar, Anil, Savitriben, Vijay Kumar and Prakash. <p></font>




<br><br><br><br>
	</p>





</font>

    </td></tr>
    </table>
   </td>

   <td valign="top" width="200" align="center">

<%= render 'shared/right' %>
   </td>
   </tr>
   </table>
</center>
</td>
</tr>
</table>
</center>

</center>
</td></tr>
</table>
</center>
