<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<a href="http://www.sspgm.net/pankhania_naran/index.html">Pankhania, Naran Branch from Ashford, Middx, UK</a><br>
<font color="#66CCFF">Naran Family Tree was submitted by Nikesh Ashokbhai Pankhania, UK</font>
<p><br><br><br>
<font color="red" size="2">Please note: The information is subject to change as the data is
verified and updated</font>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr>
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
