<h1 class="page-header">Pankhania, Naran Branch from Ashford, Middx, UK</h1>

<a href="http://www.sspgm.net/pankhania_naran/index.html">Click here for the family tree</a><br />
<font color="#66CCFF">Naran Family Tree was submitted by Nikesh Ashokbhai Pankhania, UK</font><br />
<font color="red">Please note: The information is subject to change as the data is verified and updated</font>
