<center><h1><font color="#CC3333">
Welcome to the Laka Pankhania Family Tree
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

<center>

<%= link_to image_tag('origpantree.jpg', width: "165", height: "145"), image_path('origpantree.jpg') %><br>
<i><font color="#CC3333">Click on picture to enlarge</font></i><p>

<a href="http://www.sspgm.net/familytrees/pankhania_laka/view.asp?id=1"><font color="steelblue" size="5">
Click Here for the Laka Pankhania Family Tree</font></a><p></center>

<br><br>

<font color="#66CCFF" size="3"><b>
Original Pankhania Family Tree was prepared by Suresh Masribhai Pankhania and Nalita Suresh Pankhania. It was researched and completed by Shree Gokalbhai Kesharbhai Pankhania's Parivar in December 1995.<br>Submitted by Vinodbhai Masribhai Pankhania, Milton Keynes, U.K.</font><p><br>

<font color="red" size="3">Please note: The information is subject to change as the data is verified and updated.</font>
</center>

</td>
</tr>
</table>
</center>
