<center><h1><font color="#CC3333">
Welcome to the Vasta Pankhania Family Tree
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

<center>

<%= link_to image_tag('vasta_pankhania.jpg', width: "165", height: "145"), image_path('vasta_pankhania.jpg') %><br />
<i><font color="#CC3333">Click on picture to enlarge</font></i><p>

<% vasta_profile = FamilyMember.where(first_name: "Vasta", last_name: "Pankhania").first! %>
<%= link_to family_member_path(vasta_profile) do %>
  <font color="steelblue" size="5">Click Here for the Vasta Pankhania Family Tree</font>
<% end -%>

<br><br>

<font color="#66CCFF" size="3"><b>
Vasta Pankhania Family Tree was submitted by Yogesh Lalji Pankhania, Southall, UK</font><p><br>

<font color="red" size="3">Please note: The information is subject to change as the data is verified and updated.</font>
</center>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">Go Back</a>
