<html>
<head>
<title>Welcome to the Vasta Pankhania Family Tree</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<p>
<a href="http://www.sspgm.net">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><h1><font color="#CC3333">
Welcome to the Vasta Pankhania Family Tree
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

<center>

<a href="http://www.sspgm.net/familytrees/pankhania_vasta/vasta_pankhania.jpg">
<img src="http://www.sspgm.net/familytrees/pankhania_vasta/vasta_pankhania.jpg" width="165" height="145" border="0"></a><br>
<i><font color="#CC3333">Click on picture to enlarge</font></i><p>

<a href="http://www.sspgm.net/familytrees/pankhania_vasta/view.asp">
<font color="steelblue" size="5">
Click Here to go to the Vasta Pankhania Family Tree</font></a><p></center>

<br><br>

<font color="#66CCFF" size="3"><b>
Vasta Pankhania Family Tree was submitted by Yogesh Lalji Pankhania, Southall, UK</font><p><br>

<font color="red" size="3">Please note: The information is subject to change as the data is verified and updated.</font>
</center>

</td>
</tr>
</table>
</center>
<p>
<a href="http://www.sspgm.net">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->