<h1 class="page-header">Karaman Pankhania Family Tree</h1>

<% karaman_profile = FamilyMember.where(first_name: "Karaman", last_name: "Pankhania").first! %>
<%= link_to family_member_path(karaman_profile) do %>
  <font color="steelblue" size="5">Click Here for the Karaman Pankhania Family Tree</font>
<% end -%>

<br><br>

<font color="#66CCFF" size="3"><b>
This Karaman Pankhania Family Tree was submitted by Naresh Jetha Pankhania, Australia<br />
<font color="red" size="3">Please note: The information is subject to change as the data is verified and updated.</font>
