<h1 class="page-header">Vara (Jagdish) Family Tree</h1>

<%= link_to "Click here for the Vara (Jagdish) Family Tree", page_path('familytrees/vara_jagdish/index') %><br /><br />

<b><font color="#66CCFF" size="3">Jagdish Vara Family Tree was submitted by Pradip Vara, Rajkot India</font><br>
<font color="red">Please note: The information is subject to change as the data is verified and updated.</font></b>
