<a name="top"></a><center>
<table cellspacing="0" cellpadding="9" height="100%" width="1000"><tr>

<td width="70%" height="100%">
<table cellspacing="0" cellpadding="7" height="100%" width="100%">
<tr valign="top">
<td><font size="2" color=white>
<center><font color="#CC3333" size="4"><b>
A Comprehensive Guide to SSPGM Businesses Worldwide<br>
</b></font></center>

<!-- TODO: Render business attributes -->
<table>
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.name, business %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table cellspacing="0" cellpadding="7" height="100%" width="100%" style="border-left: 2px solid #CC3333">
<tr valign="top">
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
