<%= render "pages/mandals/united-kingdom/layout" do %>
  <h1>Original SSPGM UK Mandal Members</h1>

  Submitted by <a href="mailto:m_devalia@hotmail.com">Madhavji Narsi Devalia</a></center>

  <br /><br />

  <center><%= link_to image_tag('UK_mandal1.jpg', height: "150", width: "225"), image_path('UK_mandal1.jpg') %><br>

  <table border="0" cellspacing="0" cellpadding="0">
  <tr valign="center">
  <td rowspan="3" align="center" width="80">
  <font color="red" size="2"><b>Back Row</b></font><p></p><p></p><br /><p></p><p></p><br />
  <font color="red" size="2"><b>Middle<br />Row</b></font><p></p><p></p><br /><p></p><p></p><br />
  <font color="red" size="2"><b>Seated Row</b></font>
  </td>
  <td align="center">

  <table border="1" cellspacing="0" cellpadding="5">
  <tr>
  <td align="center" width="80">
  Naran<br />
  Govind<br />
  Pankhania
  </td>
  <td align="center" width="80">
  Kalidas<br />
  Ramji<br />
  Gola
  </td>
  <td align="center" width="80">
  Amratlal<br />
  Jethabhai<br />
  Vara
  </td>
  <td align="center" width="80">
  Natvarlal<br />
  Meghji<br />
  Dhokia
  </td>
  <td align="center" width="80">
  Tulsi<br />
  Bhovan<br />
  Yadav
  </td>
  <td align="center" width="80">
  Mohanlal<br />
  Kanji<br />
  Chavda
  </td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td align="center">
  <table border="1" cellspacing="0" cellpadding="5">
  <tr>
  <td align="center" width="80">
  Lalji<br />
  Devji<br />
  Jagatia
  </td>
  <td align="center" width="80">
  Naran<br />
  Keshav<br />
  Pankhania
  </td>
  <td align="center" width="80">
  Trikam<br />
  Bhura<br />
  Kukadia
  </td>
  <td align="center" width="80">
  Natvarlal<br />
  Keshavji<br />
  Dabhi
  </td>
  <td align="center" width="80">
  Jiva<br />
  Bhura<br />
  Vara
  </td>
  <td align="center" width="80">
  Shantilal<br />
  Samji<br />
  Taank
  </td>
  <td align="center" width="80">
  Nathalal<br />
  Vasram<br />
  Bharadva
  </td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td align="center">
  <table border="1" cellspacing="0" cellpadding="5">
  <tr>
  <td align="center" width="80">
  Mohan<br />
  Malde<br />
  Taank
  </td>
  <td align="center" width="80">
  Mohanlal<br />
  Virji<br />
  Fatania
  </td>
  <td align="center" width="80">
  Damji<br />
  Velji<br />
  Chhaya
  </td>
  <td align="center" width="80">
  Harji<br />
  Rana<br />
  Pankhania
  </td>
  <td align="center" width="80">
  Madhavji<br />
  Narsi<br />
  Devalia
  </td>
  <td align="center" width="80">
  Nanji<br />
  Velji<br />
  Gohil
  </td>
  </tr>
  </table>
  </td>
  </tr>
  </table>


  President and Secretaries of 9 SSPGM Branch Mandal<br />
  During 1977-1978, these 18 members known as SSPGM, UK Mandal<br />
  After 1978 South East London and Peterborough Mandals were established<br /><br /></center>

    <table border="1" cellspacing="1" cellpadding="1" height="725" width="225">
  <tr>
  <td align="center">S.S.P.G.M.<br />BRANCHES</font>
  <td align="center">President</font>
  <td align="center">Secretary</font>
  </tr>
  <tr>
  <td align="center">Birmingham</font>
  <td align="center">Nathalal Vasram<br />Bharadva</font>
  <td align="center">Nanji Velji Gohil</font>
  </tr>
  <tr>
  <td align="center">Bolton</font>
  <td align="center">Trikam Bhura<br />Kukadia</font>
  <td align="center">Kalidas Ramji Gola</font>
  </tr>
  <tr>
  <td align="center">Cambridge</font>
  <td align="center">Naran Keshav<br />Pankhania</font>
  <td align="center">Shantilal Shamji<br />Taank</font>
  </tr>
  <tr>
  <td align="center">Coventry</font>
  <td align="center">Natvarlal Keshavji<br />Dabhi</font>
  <td align="center">Jivan Bhura<br />Vara</font>
  </tr>
  <tr>
  <td align="center">East London</font>
  <td align="center">Lalji Devji<br />Jagatia</font>
  <td align="center">Jivan Bhura<br />Vara</font>
  </tr>
  <tr>
  <td align="center">Hounslow</font>
  <td align="center">Mohanlal Kanji<br />Chavda</font>
  <td align="center">Naran Govind<br />Pankhania</font>
  </tr>
  <tr>
  <td align="center">Leicester</font>
  <td align="center">Mohan Malde<br />Taank</font>
  <td align="center">Mohanlal Virji<br />Fatania</font>
  </tr>
  <tr>
  <td align="center">Rugby</font>
  <td align="center">Tulsi Bhovan<br />Yadav</font>
  <td align="center">Natvarlal Meghji<br />Dhokia</font>
  </tr>
  <tr>
  <td align="center">Southall</font>
  <td align="center">Harji Rana<br />Pankhania</font>
  <td align="center">Damji Velji<br />Chhaya</font>
  </tr>
  </table>



  Editor "Shreebai Sandesh" Amratlal Jethabhai Vara."Allowed to attend U.K. Mandal meeting by U.K. Mandal Resolution
<% end %>