<%= render "pages/mandals/united-kingdom/layout" do %>
  <h1>United Kingdom Mandal History</h1>
  <p class="text-muted">
    The History of the Establishment of SSPGM<br />
    By Mohanlal Virji Fatania
  </p>

  Since the arrivals of our Community members from India and East Africa, Gnati Mandals were formed in different cities.  In 1973, Birmingham Mandal stepped forward in the way of unification of Mandals.  This was really necessary to activate all Mandals under one rule, unfortunately, this did not materialize due to one or other reason. <br><br>

  On November 26th, 1975, a formal meeting was held in Southall, under the chairmanship of Hamirbhai Bharadwa.  All representatives of the Mandals discussed and adopted a system as how all Mandals can unite together. <br><br>

  Then, in the second meeting of the Mandals in Coventry, a constitution was proposed, it was drafted and decided to put forward in general meeting of all local Mandals.  <br><br>

  In April 1976, a third meeting was called in Rugby and each representative submitted a proposed amendment and ideas.  Without objection, the constitution was approved and passed unanimously.<br><br>

  In the forth meeting in Leicester on May 22nd, 1976, the representatives elected the office bearers.  "A ballot paper" was used for voting and the result was as follows"<br><br>

  <font color="#66CCFF">President (Southhall)</font>   --------  Harjibhai Rana Pankhania     <br>
  <font color="#66CCFF">Vice President (Coventry)</font>   -  Madhavjibhai Narsi Devalia      <br>
  <font color="#66CCFF">Secretary (Southall)</font>    ---------   Damjibhai Velji Chhaya     <br>
  <font color="#66CCFF">Treasurer (Leicester)</font>   ---------  Mohanlal Virji Fatania      <br>
  <br><br>
  <font color="#66CCFF">Advising Members</font><br><br>

  Jivabhai Ramji Vara<br>
  Nanjibhai Velji Gohil<br>
  Mohanbhai Malde Taank<br>
  Bhojabhai Madavji Vara<br>
  Virjibhai Hira Shingadia <br>
  Laljibhai Devji Jagatia<br>
  Tulsibhai Bhovan Yadav<br>
  Natavarlal Keshavji Dabhi<br>
  Kalidasbhai Ramji Gola<br>
  Nathalal Jetha Taank<br>
  Jivanbhai Bhura Vara<br>
  Natwarlal Meghji Dhokia<br><br>

  Since May 22nd, 1976 to September 4th 1983, until Mohanlal Virji Fatania left for America, he attended 27 meetings of U.K. Mandal.<br><br>

  The fifth meeting was called in East London and the group photo was taken there for memory.  The mood of the members was how best to serve the community and how best to promote the activities of our community. <br><br>


      <center><%= link_to image_tag('UK_mandal1.jpg', width: "225", height: "150"), image_path('UK_mandal1.jpg') %><br></center>
  <center><font face="arial" size="2" color="white">Click Picture to Enlarge</font></center><br>
  As U.K. Mandal found it necessary to register our Mandal in charity registration, our young solicitor Shreeman Jayantilal Lakamanbhai Vara had taken care of it and this voluntary work is put up in action. Jayantibhai's service was well appreciated by the members.<br><br>

    The seed planted in 1975 for the birth of the U.K. Mandal, has now fully- grown and wide spread. Also hundreds and hundreds of students take advantage of the Education Trust and are becoming Degree holders in India.<br><br>
<% end %>