<%= render "pages/mandals/united-kingdom/layout" do %>
  <h1>United Kingdom Mandal</h1>

  <center><%= link_to image_tag('UK_mandal1.jpg', height: "150", width: "225"), image_path('UK_mandal1.jpg') %><br>

  <%= link_to page_path('mandals/united-kingdom/1977-mandal-meeting') do %>
    CLICK HERE to see the names of the above office bearers for the UK Mandal elected on 22<sup>nd</sup> May, 1976
  <% end -%>
<% end %>