<%= render "pages/sants-bhaktas/layout" do %>
  <h1>Prajapati Bhakt Shree Jina Bhagat</h1>

  <p class="text-muted">
    Translated in English by Mohanlal Virjibhai Fatania<br />
    From "Sant Sarita" Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya
  </p>

  <p>
    Bhakt Shree Jina Bhagat lived in a village Vadara, in the state of Porbander, Saurastra. His father's name was
    Ramjibhai Gohil; his mother's name was Rudibai. Shree Ramjibhai was a religuous person. His son Jina
    inherited his quality of nature.
  </p>

  <p>
    Forced by circumstances, and for the cost of living expenses Jina Bhagat had to leave his village Vadara and
    proceed to village Navadra in state of Jamnagar.
  </p>

  <p>
    Here, Bhagat does his work and performed Satsang. One day, a Sadhu came to his village and met with Jina
    Bhagat. They discussed a lot on religious matter and this led to a change in the way Jina Bhagat conducted
    his life-style.
  </p>

  <p>
    Bhagat does his work for a minimum time to maintain his family and the rest of the time he passed in Prabhu
    Bhajan. When any Sadhu came into the village, he invited him to his home and cooked the food as requested
    by the Sadhu and at night he does satsang and Bhajan with the Sadhu. There were many a time when Bhagat
    had difficulty in preparing the food requested by the Sadhu, due to limited funds, but somehow he always
    managed it, although it was a long struggle, as this was his vow to do so.
  </p>

  <p>
    His Guru, Jivandas, noticed all this happening and he told Jina Bhagat that it was alright for him to give this
    service and feed the Sadhus, but only to offer them dal and rotis and kitchadi. He told him to make it simple
    and not to make it hard on himself. Jina Bhagat had no choice but to accept this request from his Guru.
    Thus, from then on he unwillingly prepared only such food and fed the Sadhus, although internally he
    suffered a lot.
  </p>

  <p>
    In the year 1930/31, Jina Bhagat thought he would arrange "RamDev Pir Mandap". In order to make this
    possible, he had to bond his little farm and borrowed almost 1200 rupees against it from a businessman.
    Bhagat had no other resources than this, at that time; the expense of organizing such an event was
    approx.25,000 rupees. Jina Bhagat proceeded with the mandap and for this good work nobody knows
    how the rest of the cost was covered and as to how the mandap was financed. It is really difficult to know,
    but the Mandap was held and celebrated for a few days and completed as Jina Bhagat had wished.
    Thousands and thousands of people participated in this auspicious occasion. During this time, there was
    a problem with the drinking water. There was one well, outside the village, and its water was salty. So,
    people used to drink water from a nearby small lake. People asked Jina Bhagat,"Bhagat you are having the
    Mandap, but what is the arrangement for the drinking water, because the lake is too far and the well is salty".
    Bhagat replied,' The will of RamDePir is to give people salty water". The people agreed on his words and
    accepted the inevitable.
  </p>

  <p>
    Amazingly, when the Mandap started people went to draw the water from the well, they found that the
    water was no longer salty and had become fresh water. This was truly a miracle and the mercy of RamDePir.
    Even today, the well is there, the water is sweet and people are using that well for drinking water.
  </p>

  <p>
    So, after doing such good work and satsang, Jina Bhagat became famous almost everywhere and he left this
    material world in 1950.
  </p>
    Obesciences to Jina Bhagat by whose prabhu Bhakti, the water of the well turned sweet from salty.
  </p>
<% end %>