<%= render "pages/sants-bhaktas/layout" do %>
  <h1>Prajapati Bhakta Shree Shamji Bhagat</h1>

  <p class="text-muted">
    Translated in English by Mohanlal Virjibhai Fatania<br />
    From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya
  </p>

  <div class="float-left mr-3 mb-2">
    <%= image_tag 'sb13.jpg', height: "165", width: "125" %>
  </div>

  In the district of Junagadh, in Saurashtra, there is a village named Moti Satadhar, where there is a place for
  Shree Aapa Giga.<p>

  In this place, dwelled Prajapati Mahant Shree Shamji Bhagat and he occupied the seat of Satadhar for many
  years. Laxman Bapu recognized the saintly-ness of Shree Shamji Bhagat and he authorized him to take the
  seat of the Satadhar Ashram. He was personally taking care of guests and the cows. People came in
  thousands and he made sure that everybody had in the prasadam and did not leave without eating.<p>

  In the year, San Vant 2017, Shamjibabu organized a gathering of Sants and Sadhus in memory of his Guru.
  There was a gathering of above five hundred thousand people who participated in this occasion. The
  sweet for this occasion was brought in a trailer tractor and big piles of sweets were stored there and d
  istributed freely. Everybody was free to take as much as he or she could eat and the occasion was
  celebrated very successfully under the guidance of Shree Shamji Bhagat.<p>

  Thousands and thousands of people ate prasadam in Satadhar , but there was no shortage for it, nobody
  know where the Prasadi was coming from.<p>

  This was the devotional life of Shamji Bhagat. This place of AapaGiga at Satadhar is well known and
  thousands of people come there daily, even today for darshan and prashadam.
<% end %>