<%= render "pages/sants-bhaktas/layout" do %>
  <h1>Prajapati Bhakta Shree Bogharam (Balakdasji)</h1>

  <p class="text-muted">
    Translated in English by Mohanlal Virjibhai Fatania<br />
    From "Sant Sarita", published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya
  </p>

  <p>
    Bhakta Bogharam was born on Monday 1976, at the Jashapar, District of Bhanvad in Saurashtra.  When he
    was 18 years old, he gave up material life and went to Mt. Girnar near Junaghad to worship God.
  </p>

  <p>
    Later, he moved to the village Bordi in the state of Porbandar and he was doing Bhakti there.  He used to
    chant one hundred thousand names of God daily and in total forty million in a year!
  </p>

  <p>
    Bhakta Shree Balakdasji's life story has been published in Shree Bal Krut "Bhaktiprakash."
  </p>
<% end %>