<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Aai malik tere bande hum</h2>
    O Malik (2)<br>
    Aai malik tere bande hum, aise ho hamaare karam,<br>
    Nekii par chalen, aur badii se talen,<br>
    Taake hansate huve nikale dum (2)<p>
    Jab zulamon kaa ho saamanaa, tab tu hii hamen thaamanaa (2)<br>
    Vo buraai karen, hum bhalaai bharen<br>
    Nahiin badale kii ho kaamanaa<br>
    Badh uthe pyaar kaa har kadam<br>
    Aur mite bair kaa ye bharam<br>
    Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik<p>
    Badaa kamazor hai aadamii, abhi laakhon hain isamen kamiin (2)<br>
    Par tuu jo khadaa, he dayaaluu badaa<br>
    Terii kripaa se dhartii thamii<br>
    Diyaa tuune hamen jab janam<br>
    Tuu hii jhelegaa ham sabake gam<br>
    Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik<p>
    Ye andheraa ghanaa chhaa rahaa, tera insaan ghabaraa rahaa (2)<br>
    Ho rahaa bekhabar, kuch na aataa nazar<br>
    Sukh ka suraj chhipaa jaa rahaa<br>
    Hai teri roshanii men vo dam<br>
    Jo amaavas ko kar de puunam<br>
    Nekii par chalen, aur badii se talen, taake hansate huve nikale dam..ai malik
<% end -%>
