<h2>Aanand mangal karu aarati</h2>
Prem dhari mandir padharaavu, sundar sukhadaa levaa<p>

Ratna sinhaasan aap biraajo, devaa dhi cho devaa<br>
Maare aangane tulsi no kiyaaro, shaaligraamani sevaa<br>
Adasat tirath guruji ne charane, gangaa jamanaa revaa<br>
Kahe pritam ene orakhe indhaane, hari naa jan hari jevaa
