<%= render "pages/folksongs/layout" do %>
<h2>Abh sop diyaa is jivan kaa</h2>
Abh sop diyaa is jivan kaa, sab bhaar tumhaare haatho mein(2)<br>
He jeet tumhaare haatho mein, aur haar tumhaare haatho mein(2)<br>
Meraa nischay bas ek yahi, ik baar tumhe paa jaavun me(2)<br>
Arpan kar du duniyaa bhar kaa, sab pyaar tumhaare haatho mein(2)<br>
Jo jagme rahu to aise rahu, jyo jal me kamal kaa phool rahe(2)<br>
Mere-sab gun dosh samarpit ho, kartar tumhaare haatho mein(2)<br>
Yadi maanav kaa mujhe janma mile, to tav charonka pujaari banu(2)<br>
Is pujak ki ik ik rag kaa, ho taar tumhaare haathoo mein(2)<br>
Jab jab sansaar kaa kaidi banu, Nishkaam bhaav se karma karu(2)<br>
Phir ant samaye me praan taju, Niraakar tumhaare hathoo mein, saakaar tumhaare haatho me<br>
Mujme tujme bas bhed yahi, me nar hu tum naaraayan ho(2)<br>
Me hu sansaar ke haathoo mein, sansaar tumhaare haathoo mein(2)<br>
Abh sop diyaa is jivan ka, sab bhaar tumhaare haatho mein(2)
<% end %>