<%= render "pages/folksongs/layout" do %>
<h2>Aisi lagi lagan, meera ho gai magan</h2>
Aisi lagi lagan, meera ho gai magan<br>
Woh to gali gali gun gane lagi<br>
Mehlon mein pali ban ke jogan chali<br>
Meera rani deewani kahane lagi<p>

Koi roke nahin, koi toke nahin<br>
Meera govind gopal gane lagi<br>
Baithi santon ke sang, rangi mohan ke rang<br>
Meera premi preetam ko manane chali<br>
Woh to gali gali gun gane lagi<br>
Rana ne vish diya, maano amrit piya<br>
Meera sagar mein, sarita samane lagi<br>
Dukh lakhon sahe, mukh se govind kahe<br>
Meera govind gopal gane lagi<p>

Woh to gali gali gun gane lagi<br>
Aisi lagi lagan, meera ho gai magan<br>
Woh to gali gali gun gane lagi
<% end %>