<%= render "pages/folksongs/layout" do %>
<h2>Allaah tero naam, Ishvar tero naam</h2>
allaah tero naam, ishvar tero naam(2)<br>
sabako sanmati de bhagavaan(2)<br>
allaah tero naam<p>
maangon kaa sindur naa chhute<br>
maangon kaa, sindur naa chhuute<br>
maan bahano kii aas naa tute<br>
maan bahano kii, aas naa tuute<br>
deh binaa, daataa, deh binaa<br>
bhatake naa praan<br>
sabako sanmati de bhagavaan<br>
allaah tero naam, ishvar tero naam<p>
o saare jag ke rakhavaale<br>
o saare jag ke rakhavaale<br>
nirbal ko bal dene vaale<br>
nirbal ko bal dene vaale<br>
balavaano ko<br>
o, balavaano ko dede gyaan<br>
sabako sanmati de bhagavaan<br>
allaah tero naam<br>
Ishvar tero naam<br>
allaah tero naam<br>
Ishvar tero naam<br>
allaah tero naam
<% end %>