<%= render "pages/folksongs/layout" do %>
<h2>Banavaarii re</h2>
Banavaarii re<br>
Jiine kaa sahaaraa teraa naam re<br>
Mujhe duniyaa vaalon se kyaa kaam re<p>
Jhuuthii duniyaa jhuuthe bandhan, jhuuthii hai ye maayaa<br>
JhuuThaa saansa kaa aanaa jaanaa, jhuuthii hai ye kaayaa<br>
O, yahaan saanchaa teraa naam re<br>
Banavaarii re...<p>
Ranga men tere ranga gaye giridhara, chhod diyaa jaga saaraa<br>
Bana gaye tere prem ke jogii, le ke mana ekataaraa<br>
O, mujhe pyaaraa teraa dhaam re<br>
Banavaarii re...<p>
Darshana teraa jisa dina paauun, hara chintaa mita jaaye<br>
Jiivana meraa in charanon men, aas kii jyota jagaaye<br>
O, merii baanhe.n pakada lo shyaam re<br>
Banavaarii re...
<% end %>