<%= render "pages/folksongs/layout" do %>
<h2>Bhagavaan merii naiyaa us paar lagaa denaa</h2>
Bhagavaan merii naiyaa us paar lagaa denaa<br>
Ab tak to nibhaayaa hai aage bhii nibhaa denaa<p>
Sambhav hai jhanjhaton men main tum ko bhuul jaauun<br>
Par naath kahiin tum bhii mujhako n bhulaa denaa<p>
Tum dev main pujaarii tum iish main upaasak<br>
Yah baat sach hai to phir sach kar ke dikhaa denaa<p>
Sharan men aaye hain<br>
Sharan men aaye hain ham tumhaarii<br>
Dayaa karo he dayaalu bhagavan<br>
Samhaalo bigadii dashaa hamaarii<br>
Dayaa karo he dayaalu bhagavan
<% end %>