<h2>Bhakti karata chute mara prana</h2>
Bhakti karata chute mara prana,	prabhuji evu maangu re..(2)<br>
Rahe janamo janama taro saath, prabhuji evu maangu re<p>

Taru mukhdu manohara joya karu, raat divese bhajana taru gaya karu<br>
Swaase swaase ratu taru naama, prabhuji evu maangu re<p>

Mari aasha niraasha karasho nahi, mara avaguna haaya ma dharsho nahi<br>
Rahe aanta samaya taru dhyaana, prabhuji evu maangu re<p>

Mara tapne paapa samavi lejo, tara bara ne daas banavi lejo<br>
Dejo aavine darshan na daan, prabhuji evu maangu re<p>

Mara antarni aarje urma dhari, dai darshan pavan karjo hari<br>
Amne utaarjo bhava para, prabhuji evu maangu re
