<h2>Chale hanuman yaha aaye</h2>
Chale hanumana yaha aaye, shree raamji dhoona machaaye(2)<br>
Dhoona machaayi aise dhoona machaayi(2)<p>

Sita raama naama dhoona aisi machaaiye(2)<br>
Sunakara aaye raghurai, shree raamji dhoona machaaye..Chale<p>

Bhakta janon ka ghara paavana karva(2)<br>
Aavo aavo ne raghurai, shree raamji dhoon machaaye..Chale<p>

Gangaji aaye jamunaaji aaye(2)<br>
Triveni sangama laaye, shree raamji dhoona machaaye..Chale<p>

Daas jano ki ehi vinanti(2)<br>
Charana kamala balihaari, shree raamji dhoona machaaye..Chale
