<h2>Dhuni re dhakhaavi beli ame taaraa naamani</h2>
Dhuni re dhakhaavi beli ame taaraa naamani<br>
Ch: hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
Ame taaraa naamani, alakhanaa re dhaamani re<br>
Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<p>
Bhulo re padiyo re hanso, aagane udine aavyo<br>
Ch: bhulo re padiyo re hanso, aagane udine aavyo<br>
Tan manathi tar chodaayo, maaragama rath athadayo<br>
Ch: tan manathi tar chodaayo, maaragama rath athadayo<br>
Aaee gamana pade re ene<br>
Gamana pade re ene, thakur taaraa dhamani re<p>
Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
Kone re kaaje re jeevadaa, jankhanaa tane re jaagi<br>
Ch: kone re kaaje re jeevadaa, jankhanaa tane re jaagi<br>
Kone re vatu re jota, bhaavani aa bhavaT bhangi<br>
Ch: kone re vatu re jota, bhaavani aa bhavat bhangi<br>
Aaee tarsu re jaagi jeevane he<br>
Tarsu re jaagi jeevane he, bhakti na jaamani re<p>
Ch: dhuni re dhakhaavi beli ame taaraa naamani<br>
Hoo jeere dhuni re dhakhaavi beli ame taaraa naamani<br>
Ch: dhuni re dhakhaavi beli ame taaraa naamani
