<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Gaa ee ye ganapati jagavandan</h2>
    Gaa ee ye ganapati jagavandan,<br>
    Shankar suvan bhavaani nandan<br>
    Siddhi sadan gajavadan vinaayak,<br>
    Krupaa sindhu sundar sabbhlayak<br>
    Modak priya-mrudu mangal daata,<br>
    Viddha varidhi buddhi vidhaataa<br>
    Maangat tulsidaas kar jhore,<br>
    Basahiin raam siya maanas more
<% end -%>
