<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Hamako manakii shakti denaa, mana vijaya karen</h2>
    Hamako manakii shakti denaa, mana vijaya karen<br>
    Duusaronkii jayase pahale, khudakii jaya karen<br>
    Hamako manakii shakti denaa<p>
    Bhedabhaava apane dilase, saapha kara saken<br>
    Duusaronse bhuula ho to, maapha kara saken<br>
    Jhuuthase bache rahen, sachakaa dama bharen<br>
    Duusaronkii jayase pahale,<p>
    Mushkilen paden to hamape, itanaa karma kara<br>
    Saatha den to dharmakaa, chalen to dharma para<br>
    Khudape hausalaa rahe, sachakaa dama bharen<br>
    Duusaronkii jayase pahale
<% end -%>
