<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Hanumaan Chalisa</h2>
    Shree Guru Charan Saroj Raj, Nij Man Mukar Sudhari,<br>
    Barnau Raghuvar Bimal Jasu, Jo dayaku Phal Chari <p>

    With the dust of Guru's Lotus feet, I clean the mirror of my mind and then <br>
    narrate the sacred glory of Sri Ram Chandra, The Supereme among the Raghu <br>
    dynasty. The giver of the four attainments of life. <p>

    Budhi heen Tanu Janike, Sumirow, Pavan Kumar, <br>
    Bal Buddhi Vidya Dehu Mohi, Harahu Kalesh Bikaar <p>

    Knowing myself to be ignorent, I urge you, O Hanuman, The son of Pavan! O <br>
    Lord! kindly Bestow on me strength, wisdom and knowledge, removing all my <br>
    miseries and blemishes. <p>

    Jai Hanuman Gyan Guna Sagar <br>
    Jai Kipis Tihun Lok Ujgaar <p>

    Victory of Thee, O Hanuman, Ocean of wisdom and virtue, victory to the Lord of <br>
    monkeys who is well known in all the three worlds <p>

    Ramdoot Atulit Bal Dhamaa, <br>
    Anjani Putra Pavansut naamaa. <p>

    You, the Divine messager of Ram and repository of immeasurable strength, are also <br>
    known as Anjaniputra and known as the son of the wind - Pavanputra. <p>

    Mahebeer Bikram Bajrangi, <br>
    Kumati Nivaar Sumati Ke Sangi. <p>

    Oh Hanumanji! You are valiant and brave, with a body like lightening. You are the <br>
    dispeller of darkness of evil thoughts and companion of good sense and wisdom. <p>

    Kanchan Baran Biraaj Subesaa, <br>
    Kanan kundal kunchit kesa. <p>

    Shri Hanumanji's physique is golden coloured. His dress is pretty, wearing <br>
    'Kundals' ear-rings and his hairs are long and curly. <p>

    Hath Bajra Aur Dhvaja Birjai, <br>
    Kandhe Moonj Janeu saage. <p>

    Shri Hanumanji is holding in one hand a lighting bolt and in the other a banner <br>
    with sacred thread across his shoulder. <p>

    Shankar Suvna Kesari Nandan, <br>
    Tej Pratap Maha Jag Vandan. <p>

    Oh Hanumanji! You are the emanation of 'SHIVA' and you delight Shri Keshri. <br>
    Being ever effulgent, you and hold vast sway over the universe. The entire <br>
    world proptiates. You are adorable of all. <p>

    Vidyavaan Guni Ati Chatur, <br>
    Ram Kaj Karibe Ko Atur <p>

    Oh! Shri Hanumanji! You are the repository learning, virtuous, very wise and <br>
    highly keen to do the work of Shri Ram, <p>

    Prabhu Charittra Sunibe Ko Rasiya, <br>
    Ram Lakhan Sita man basyia. <p>

    You are intensely greedy for listening to the naration of Lord Ram's lifestory and <br>
    revel on its enjoyment. You ever dwell in the hearts of Shri Ram-Sita and Shri Lakshman.<p>

    Sukshma roop Dhari Siyahi Dikhwana, <br>
    Bikat roop Dhari Lank Jarawa <p>

    You appeared beofre Sita in a diminutive form and spoke to her, while you <br>
    assumed an awesome form and struck terror by setting Lanka on fire. <p>

    Bhim roop Dhari Asur Sanhare, <br>
    Ramchandra Ke kaaj Savare. <p>

    He, with his terrible form, killed demons in Lanka and performed all acts of Shri Ram. <p>

    Laye Sajivan Lakhan Jiyaye, <br>
    Shri Raghubir harashi ur laye. <p>

    When Hanumanji made Lakshman alive after bringing 'Sanjivni herb' Shri Ram <br>
    took him in his deep embrace, his heart full of joy. <p>

    Raghupati Kinhi Bahut Badaai, <br>
    Tum Mama Priya Bharat Sam Bahi. <p>

    Shri Ram lustily extolled Hanumanji's excellence and remarked, "you are as dear <br>
    to me as my own brother Bharat" <p>

    Sahastra Badan Tumharo Jas Gaave, <br>
    Asa kahi Shripati Kanth Laagave. <p>

    Shri Ram embraced Hanumanji saying: <br>
    "Let the thousand - tongued sheshnaag sing your glories" <p>

    Sankadik Brahmadi Muneesa, <br>
    Narad Sarad Sahit Aheesa <p>

    Sanak and the sages, saints. Lord Brahma, the great hermits Narad and <br>
    Goddess Saraswati along with Sheshnag the cosmic serpent, fail to sing the<br>
    glories of Hanumanji exactly <p>

    Jam Kuber Digpal Jahan Te, <br>
    Kabi Kabid Kahin Sake Kahan Te <p>

    What to talk of denizens of the earth like poets and scholars ones etc even Gods <br>
    like Yamraj, Kuber, and Digpal fail to narrate Hanman's greatness in toto. <p>

    Tum Upkar Sugrivahi Keenha, <br>
    Ram Miali Rajpad Deenha <p>

    Hanumanji! You rendered a great service for Sugriva, It were you who united <br>
    him with SHRI RAM and installed him on the Royal Throne. <p>

    Tumharo Mantro Bibhishan Maana, <br>
    Lankeshwar Bhaye Sab Jag Jaana. <p>

    By heeding your advice. Vibhushan became Lord of Lanka, which is known all <br>
    over the universe. <p>

    Juug Sahastra Jojan Par Bhaanu, <br>
    Leelyo Taahi Madhur Phal Jaanu <p>

    Hanumanji gulped, the SUN at distance of sixteen thousand miles considering <br>
    it to be a sweet fruit. <p>

    Prabhu Mudrika Meli Mukha Maaheen, <br>
    Jaladhi Langhi Gaye Acharaj Naheen. <p>

    Carrying the Lord's ring in his mouth, he went across the ocean. There is no <br>
    wonder in that. <p>

    Durgam Kaaj Jagat Ke Jeete, <br>
    Sugam Anugrah Tumhre Te Te. <br>
    Oh Hanumanji! all the difficult tasks in the world are rendered easiest by your grace. <p>

    Ram Duware Tum Rakhavare, <br>
    Hot Na Aagya Bin Paisare. <p>

    Oh Hanumanji! You are the sentinel at the door of Ram's mercy mansion or His <br>
    divine abode. No one may enter without your permission. <p>

    Sab Sukh Lahen Tumhari Sarna, <br>
    Tum Rakshak Kaahu Ko Darnaa. <p>

    By your grace one can enjoy all happiness and one need not have any fear under <br>
    your protection. <p>

    Aapan Tej Samharo Aapei, <br>
    Tanau Lok Hank Te Kanpei <p>

    When you roar all the three worlds tremble and only you can control your might. <p>

    Bhoot Pisaach Nikat Nahi Avei, <br>
    Mahabir Jab Naam Sunavei. <p>

    Great Brave on. Hanumanji's name keeps all the Ghosts, Demons &amp; evils spirits <br>
    away from his devotees. <p>

    Nasei Rog Hare Sab Peera, <br>
    Japat Niranter Hanumant Beera <p>

    On reciting Hanumanji's holy name regularly all the maladies perish the entire <br>
    pain disappears. <p>

    Sankat Te Hanuman Chhudavei, <br>
    Man Kram Bachan Dhyan Jo Lavei. <p>

    Those who rembember Hanumanji in thought, word and deed are well guarded <br>
    against their odds in life. <p>

    Sub Par Ram Tapasvee Raaja, <br>
    Tinke Kaaj Sakal Tum Saaja <p>

    Oh Hanumanji! You are the caretaker of even Lord Rama, who has been hailed as <br>
    the Supreme Lord and the Monarch of all those devoted in penances. <p>

    Aur Manorath Jo Koi Lave, <br>
    Soi Amit Jivan Phal Pave. <p>

    Oh Hanumanji! You fulfill the desires of those who come to you and bestow <br>
    the eternal nectar the highest fruit of life. <p>

    Charo Juung Partap Tumhara, <br>
    Hai Parsiddha Jagat Ujiyara. <p>

    Oh Hanumanji! You magnificent glory is acclaimed far and wide all through the <br>
    four ages and your fame is radianlty noted all over the cosmos. <p>

    Sadho Sant Ke Tum Rakhvare, <br>
    Asur Nikandan Ram Dulare. <p>

    Oh Hanumanji! You are the saviour and the guardian angel of saints and sages <br>
    and destroy all the Demons, you are the seraphic darling of Shri Ram. <p>

    Ashta Siddhi Nau Nidhi Ke Data, <br>
    Asa Bar Din Janki Mata. <p>

    Hanumanji has been blessed with mother Janki to grant to any one any YOGIC <br>
    power of eight Sidhis and Nava Nidhis as per choice. <p>

    Ram Rasayan Tumhare Pasa, <br>
    Sadaa Raho Raghupati Ke Dasa. <p>

    Oh Hanumanji! You hold the essence of devotion to RAM, always remaining His Servant. <p>

    Tumhare Bhajan Ramko Pavei. <br>
    Janam Janam Ke Dukh Bisravei. <p>

    Oh Hanumanji! through devotion to you, one comes to RAM and becames free <br>
    from suffering of several lives. <p>

    Anta Kaal Raghubar Pur Jai, <br>
    Jahan Janma Hari Bhakta Kahai. <p>

    After death he enters the eternal abode of Sri Ram and remains a devotee of <br>
    him, whenever, taking new birth on earth. <p>

    Aur Devata Chitt Na Dharai, <br>
    Hanumant Sei Sarva Sukh Karai <p>

    You need not hold any other demigod in mind. Hanumanji alone will give all happiness. <p>

    Sankat Kate Mitey Sab Peera, <br>
    Jo Sumirei Hanumant Balbeera <p>

    Oh Powerful Hanumanji! You end the sufferings and remove all the pain from <br>
    those who remember you. <p>

    Jai Jai Jai Hanuman Gosai <br>
    Kripa Karahu Gurudev Ki Naiee <p>

    Hail-Hail-Hail-Lord Hanumanji! I beseech you Honour to bless me in the <br>
    capacity of my supreme 'GURU' (teacher). <p>

    Jo Sat Baar Paath Kar Koi, <br>
    Chhutahi Bandi Maha Sukh Hoi.<p>

    One who recites this Hanuman Chalisa one hundred times daily for one hundred <br>
    days becames free from the bondage of life and death and ejoys the highest <br>
    bliss at last. <p>

    Jo Yah Padhe Hanuman Chalisa, <br>
    Hoy Siddhi Sakhi Gaurisa <p>

    As Lord Shankar witnesses, all those who recite Hanuman Chalisa regularly are <br>
    sure to be benedicted <p>

    Tulsidas Sada Hari Chera, <br>
    Keeje Nath Hriday Mah Dera. <p>

    Tulsidas always the servant of Lord prays. "Oh my Lord! You enshrine within my heart.! <p>

    Pavan Tanay Sankat Haran, Mangal Murti Roop. <br>
    Ram Lakhan Sita Sahit, Hriday Basahu Sur Bhoop. <p>

    O Shri Hanuman, The Son of Pavan, Saviour The Embodiment of <br>
    blessings, reside in my heart together with Shri Ram, Laxman and Sita <p>
<% end -%>
