<h2>Hari bola, hari bola, hari hari bola</h2>
Hari bola, hari bola, hari hari bola, mukunda maadhava keshava bola (2)<br>
Hare krishna, hare krishna, hare krishna bola, hare raama, hare raama hare raama bola (2)<br>
Raadhe shyaama, raadhe shyaama, raadhe shyaama bola, sitaaraama, sitaaraama, sitaaraama bol<br>
Sacchidanada, sacchidanada, sacchidanada bola, naaraayan, naaraayan, naaraayan bola (2) hari bol<br>
