<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Hey sitaaraam tanaa satsangmaa</h2>
    Hey sitaaraam tanaa satsangamaa, raadhe shyaam tanaa tu rangamaa (2)<br>
    Tu rangaai jaa ne rangamaa (2)<p>

    Aaje bhajasu kaale bhajasu, bhajasu sitaaraam, kyaare bhajasu hari nu naam (2)<br>
    Swaas khutase, naadi tutase(2)<br>
    Praan nahi rahe tan maa, tu rangaai jaa ne rangamaa (2)<p>

    Jiv janto, jaaju jiv su, maaru che aa tamaam, pehelaa amar kori lava naam (2)<br>
    Tedu aavse jamanu jiyaare (2)<br>
    Jaavu padase sang maa, tu rangaai jaa ne rangama (2)<p>

    Gadpan avase tyaare bhajasu, pehelaa gharanaa kaam, pache farsu tirath dhaam (2)<br>
    Aatam ek din udi jaase (2) (taaru)<br>
    Taaru sharir rese palangamaa, tu rangaai jaa ne rangamaa (2)<p>

    Batris jaatnaa bhojan jam tu, bheri karine, bhaag emaa kyaathi saambhare raam (2)<br>
    Prabhu padyo che kyaa rastaamaa (2)<br>
    Sau jan kahetaa vyangmaa, tu rangai jaa ne rangamaa (2)
<% end -%>
