<%= render "pages/folksongs/layout" do %>
  <p class="lead">Click on a link to the left to view a folksong. To submit a song, email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>.</p>
<% end -%>
