<%= render "pages/folksongs/layout" do %>
<h2>Ita naa to karnaa swaami, jab praan tana se nikale</h2>
Ita naa to karnaa swaami, jab praan tana se nikale<br>
Govind naam lekar, tab praan tana se nikale<br>
Shri gangaa ji kaa tat ho, yamunaa kaa vanshii vat ho<br>
Meraa saanwaraa nikat ho, jab praan tana se nikale<br>
Pitaambari kasi ho, chabi man men bhi basin ho<br>
Hothoon pe kuch ha.nsi ho, jab praan tana se nikale<br>
Us waqt jaldi aana, nahin shyaam bhool na jaanaa<br>
Radhe ko saath laanaa, jab praan tana se nikale<br>
Ek bhakti ki hai arji, khudgarj ki hai garji<br>
Aage tumhaari marji, jab praan tana se nikale
<% end %>