<%= render "pages/folksongs/layout" do %>
<h2>Jamavaa aavone nandalaala re</h2>
Jamavaa aavone nandalaala re, maari premani thaari<br>
Me to maare haathe banaavi, praan jeevan tam kaaja re-mari..<p>

Bhaat re bhaatanaa meva mithaayi, vidh vidhana pakvaan re-mari..<br>
Jaari bhari me to jar jamanaa ni, aachman karone maharaj re-mari..<br>
Laving sopaarine panana bidla, mukhvaas karone maharaj re-mari..<br>
Maadhavadaas na swaami shaamaRiyaa, charan kamal balihaari re-mari..
<% end %>