<h2>Jamunaa jaramaa kesar ghori</h2>
Jamunaa jaramaa kesar ghori, snaan karaavu shaamaraa<br>
Halake haathe ango chori, laada ladaavu shaamaraa<p>
Vastro ange luchhi aapu, pidu pitaamber pyaaramaa<br>
Tel sugandi naakhi aapu(2), vakudiya-tuj varama<p>
Kuma kuma keru tilak sajaavu, trikam taara baalamaa<br>
Alabeli aankhomaa aanju(2), anjan maraa valamaa<p>
Hasti javu vaate vaate, naachi utthu taalamaa<br>
Najar na laage shyaam sundarane(2), tapakaa kari dava gaalamaa<p>
Pagamaa zaanzar rum zum vaage, karama kankar vaalamaa<br>
Kanthe maara kaane kundal(2), kede kandoro chaalamaa<p>
Mor mukut maathe peheraavi, murali aapu haathamaa<br>
Krshna krupaaru nirkhi shobha (2), vaari jaavu taara vahaalamaa<p>
Dudh katori bharine aapu, pi jaa-oone shaamaraa<br>
Bhakt mandal nirkhi shobha (2), raakho charane shaamaraa
