<%= render "pages/folksongs/layout" do %>
<h2>Jesal kari le vichaar</h2>
Jesal kari le vichaar, maathe jam keri dhaar<br>
Sapana jevo che sansaar, Tori raani kare che pukaar<br>
Aavone jesal raai aapne preme thaki mare re ji<br>
Vlasaad hoi tya... mare re ho ji<p>
Anubhav avyo che avtaar, maathe guru no adhaar<br>
Eh javu jani ne darbaar, bherli utaaro bhav paar<br>
Aavone jesaal rai aapne preme thaki mare re ji<p>
Guru na gun no nai paar, eh bhakti khanda keri dhaar<br>
Nudrash jaane re sansar, evi ene erre jo avtaar<br>
Aavone Jesaal rai aapne preme thaki mare re ji<p>
Eh moti aaran ma ovrai, mathe jar kera dhhar<br>
Phute eto phatakiyo kevai, khara ni khara kharvu thai<br>
Aavone Jesaal rai aapne preme thaki mare re ji
<% end %>