<%= render "pages/folksongs/layout" do %>
<h2>Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo</h2>
Jyota se jyota jagaate chalo prema kii gangaa bahaate chalo<br>
Raah men aae jo diin dukhii sabako gale se lagaate chalo<p>
Jisakaa na koii sangii saathii iishvar hai rakhavaalaa<br>
Jo nirdhan hai jo nirbal hai vah hai prabhuu kaa pyaaraa<br>
Pyaar ke motii lutaate chalo, prema kii gangaa<p>
Aashaa tuutii mamataa ruuthii chhuut gayaa hai kinaaraa<br>
Band karo mat dvaar dayaa kaa de do kuchh to sahaaraa<br>
Diip dayaa kaa jalaate chalo, prema kii gangaa<p>
Chhaayaa hai chhaaon aur andheraa bhatak gaii hain dishaaen<br>
Maanav ban baithaa hai daanav kisako vyathaa sunaaen<br>
Dharatii ko svarg banaate chalo, prema kii gangaa
<% end %>