<%= render "pages/folksongs/layout" do %>
<h2>Kapoor gauram karunaa vataaram</h2>
Kapoor gauram karunaa vataaram, sansaar saaram bhujagendra haaram<br>
Sadaa vasantam hradayaa ravindre, bhavam bhavaani sahitam namaami<p>

Mangalam bhagavaan vishnu, mangalam garuud devaj<br>
Mangalam pudrikaasho, mangalaa-yaatano hari<br>
Sarve mangalam mangalye, shive sarvaarth saadhike<br>
Sharanye gyambake gauri, narayan namostute (3)<p>

Tvameva maataa chh pitaa tvameva<br>
Tvameva bandhushva sakhaa tvameva<br>
Tvameva viddhaa dravinam tvameva<br>
Tvameva sarvam mam deva deva
<% end %>