<%= render "pages/folksongs/layout" do %>
<h2>Mailii chaadar odh ke kaise dvaar tumhaare aauun</h2>

Mailii chaadar odh ke kaise dvaar tumhaare aauun<br>
He paavan parameshvar mere man hii man sharamaauun<p>
Tuune mujhako jag men bhejaa nirmal dekar kaayaa<br>
Aakar ke sansaar men mainne isako daag lagaayaa<br>
Janam janam kii mailii chaadar kaise daag chhudaauun<p>
Nirmal vaanii paakar maine naam na teraa gaayaa<br>
Nayan muund kar he parameshvar kabhii na tujhako dhyaayaa<br>
Man viinaa kii taaren tuutiin ab kyaa giit sunaauun<p>
In pairon se chal kar tere mandir kabhii n aayaa<br>
Jahaan jahaan ho puujaa terii kabhii n shiish jhukaayaa<br>
He hari har main haar ke aayaa ab kyaa haar chadhaauun
<% end %>