<h2>Man tadapat hari darasan ko aaj</h2>
Man tadapat hari darasan ko aaj<br>
More tum bin bigade sakal kaaj<br>
Aa, vinatii karat, huun, rakhiyo laaj, man tadapat<p>

Tumhare dvaar kaa main huun jogii<br>
Hamarii or nazar kab hogii<br>
Sun more vyaakul man kii baat, tadapat harii darasan<p>

Bin guruu gyaan kahaan se paauun<br>
Diijo daan harii gun gaauun<br>
Sab gunii jan pe tumhaaraa raaj, tadapat harii<p>

Muralii manohar aas na todo<br>
Dukh bhanjan more saath na chhodo<br>
Mohe darasan bhikshaa de do aaj de do aaj
