<%= render "pages/folksongs/layout" do %>
<h2>Mangala Murati Maaruta Nandana</h2>
Mangala murati maaruta nandana, sakala amangala muula nikandan<br>
Pavana tanaya santana hita kaari, hraday biraajata avadha vihaari<br>
Maat pitaa guru ganapati saarad, shivaa sameTa shambhu shuka naarada<br>
Charana kamala bandhaavu sab kaahu, dehu rama pada nehu nibhaahu<br>
Jai jai jai hanuman gosai, krupa karo guru dev ki nayi<br>
Andhavu raama lakhana vaidehi, yaha tulsike param senehi
<% end %>