<h2>Mukunda maadhava govinda bola</h2>
Mukunda maadhava govinda bola, keshav maadhav hari hari bola..(2)<br>
Bola hari bola bola hari bola, mukunda maadhava govinda bola<p>

Krishna krishna bola, krishna krishna bola<br>
Raama raama bola, raama raama bola..mukunda maadhava..<p>

Shiva shiva bola, shiva shiva bola<br>
Narayana bola, narayana bola..mukunda maadhava..<p>

Sitaa raama bola, sitaa raama bola<br>
Raadhe shyaama bola, raadhe shyaam bol..mukunda maadhava..
