<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Om jaya jagadiisha hare</h2>
    Om jaya jagadiisha hare,  svaamii jaya jagadiisha hare<br>
    Bhakta janon ke sankat,  kshana men duur kare<p>

    Jo dhyaave phala paave,  dukh binase mana kaa<br>
    Sukha sampati ghara aave,  kashta mite tana kaa<p>

    Maata pitaa tuma mere,  sharana gahuun main kisakii<br>
    Tuma bina aura na duujaa,  aasa karuun main jisakii<p>

    Tuma puurana paramaatmaa,  tuma antayaarmii<br>
    Paarabrahma parameshvara,  tuma saba ke svaamii<p>

    Tuma karunaa ke saagar,  tuma paalanakartaa<br>
    Main sevaka tuma svaamii,  kripaa karo bhartaa<p>

    Tuma ho eka agochara,  sabake praanapati<br>
    Kisa vidhi miluun dayaamaya,  tumako main kumati<p>

    Diinabandhu dukhahartaa,  tuma rakshaka mere<br>
    Karunaa hasta badhaao,  dvaara padaa tere<p>

    Vishaya vikaar mitaao,  paapa haro devaa<br>
    Shraddhaa bhakti badhaao,  santana kii sevaa
<% end -%>
