<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Paayo jii mainne raam ratan dhan paayo</h2>
    Paayo jii mainne raam ratan dhan paayo<br>
    Vastu amolik dii mere sataguru kirapaa kari apanaayo<br>
    Janam janam kii puunjii paai jag men sabhii khovaayo<br>
    Kharachai n khuutai chor n luutai din din badhat savaayo<br>
    Sat kii naav khevatiyaa sataguru bhavasaagar tar aayo<br>
    Miiraa ke prabhu giridhar naagar harash harash jas gaayo
<% end -%>
