<h2>Partham pehelaa samariye re swaami tamane sundaaraa</h2>
Partham pehelaa samariye re swaami tamane sundaaraa<br>
Riddhi siddhi na daataar devtaa (2) mer karo no mahaaraaj ji<br><br>

He maata re kahiye (2) paarvati re swaami tamane sundaaraa<br>
Pita re shankar dev devtaa (2) mer karo no mahaaraaj ji<br><br>

He ghee ne dudh ni (2) sevaa chare re swaami tamane sunDaaraa<br>
Garaa maa fulaRaano haar devta (2) mer karo no mahaaraaj ji<br><br>

He ravat ranshee ni (2) vinnati re swaami tamane sundaaraa<br>
Vardam kar jo sai devtaa (2) mer karo no mahaaraaj ji
