<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Pinjare ke panchhii re</h2>
    Pinjare ke panchhii re, tera darad na jaane koe(2)<p>

    Kaha na sake tu, apanii kahani<br>
    Teri bhi panchhii, kyaa zindagaanii re <br>
    Vidhi ne teri kathaa likhii aansuu men kalam duboe <br>
    Tera darad<p>

    Chupake chupake, rone vaale <br>
    Rakhanaa chhupaake, dil ke chhale re <br>
    Ye patthar ka desh hain pagale, yahaan koi na teraa hoy<br>
    Teraa darad
<% end -%>
