<%= render "pages/folksongs/layout" do %>
<h2>Prabhu mane shak padyo man may</h2>
Prabhu mane shak padyo man may, pagamane dhova dyo raghurai (2)<br>
Raam lakshman jankiji, tir ganga ne jay<br>
Navadi magu nir  utarava, guru bolya gam khay..pagmane<p>
Raj tamari kamangiri, nav nari ban jay<br>
Toto amari rank janni, ajinika tali jay..pagmane<p>
Joi chaturai bhil janni, janaki man muskay<br>
Abhan kevu yad rakhe, bhanela bhuli jay..pagmane<p>
Din dayalu a jagat ma, garaj kevi ganay<br>
Ap jeva ne ubhari rakhi pag pakhali jay..pagmane<p>
Navadi ma pag addhar rakhi, ram man harkhay<br>
Par uttari puchhyu rame shure lesho utarai..pagmane<p>
Kharvo te kadi leto nathi, kharva ni utarai<br>
Hure utaru ganga kinare, tame utaro bhav par..pagmane
<% end %>