<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Prabhu tara charanoma amane tu lege</h2>
    Prabhu taraa charanoma amane tu leje, kari ne dayaa bhakti taari tu deje<br>
    Amo to sadaanaa chhiye barak taara, no josho kadi naath avagun amaara<p>
    Sada maangiye naat dejo subuddhi, aa vinanti amaari urmaa tu leje(2)<br>
    Prabhu taraa charanoma amane tu leje, kari ne dayaa bhakti tari tu deje<p>
    Chhoru kachhoru kadi thaaya gaataa, na kartaa kadi rosh maata ke pitaa(2)<br>
    Maataa pitaa naath tu chhe amaaro, keavu ghate te amone tu keje<p>
    Bhulyaa mota mota amaaru gaju shu, padya taaraa charane kahiye vadhu shu(2)<br>
    Rasik-shyaamanaa naath thayne shukaani, aa naiyya kinaare lagaavi tu deje
<% end -%>
