<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi</h2>
    Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi<br>
    Bije samaru shaarada maataa, vaani nirmar aapi (2)<br>
    Trije samaru sataguru devaa, paavan kidhaa paapi (2)<br>
    Chhothe samaru maata pitaane, sad-buddhi saari aapi (2)<br>
    Pancham punnit parmeshvar ne, maanav padvi aapi (2)<br>
<% end -%>
