<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Raghupati raaghava raaja raam</h2>
    Raghupati raaghava raaja raam, patita paavana sitaa raam (2)<br>
    Sitaaraama, sitaaraama, bhaja pyaare tu sitaaraama (2)raghupati<br>
    Ishwar allaah tere naam sabha ko sanmati de bhagawaan (2)raghupati<br>
    Bhajale, bhajale, sitaaraam, mangala murati sundar shyaam (2)raghupati
<% end -%>
