<%= render "pages/folksongs/layout" do %>
<h2>Rang de chunariya, rang de chunariya</h2>
Rang de chunariya, rang de chunariya<br>
Shyam piya mori rang de chunariya<br>
Lal na rangaoon hari no rangaoon<br>
Apne hi rang me rang de chunariya<p>

Bina rangaye mein to ghar nahin jaoongi<br>
Biti jaaye sari umariya<p>

Meera ke prabhu girdhar nagar<br>
Jal se patla kaun hai,kaun bhoomi se bhari<br>
Kaun agan se tej hai kaun kajal se kali<br>
Jat se patla gyan hai, paap bhoomi se bhari<br>
Krodh agan se tej hai aur kalank kajal se kali<br>
Meera ke girdhar nagar<br>
Prabhu charan mein, hari charan mein<br>
Shyaam charan mein, lagi nazaria<br>
Shyaam piya mori rang de chunariya
<% end %>