<%= render "pages/folksongs/layout" do %>
<h2>Shreebai Mataji Ni Prathna</h2>
<%= image_tag 'shreebhaimataji1.jpg', width: "433", height: "488" %>
<%= image_tag 'shreebhaimataji2.jpg', width: "433", height: "488" %>
<% end %>