<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Shri raamchandra kripaalu</h2>
    Shri raamchandra kripaalu bhajuman haran bhavbhaya daarunam<br>
    Navakanja lochan kanjamukh karkanj pada-kan-jaarunam<p>

    Kandarpa aganit amit chhabi navanil niraj sundaram<br>
    Patpit maanahun tadit ruchhi-suchhi navnii janaka sutaavaram<p>

    Sir mukut kundal tilak chhaaru udaar ang vibbhushanam<br>
    Aajaanubbhuj sharachhaa-padhar sangraam-jit khar-dushanam<p>

    Bhaja din-bandhu dinesh, daanav daitya-vansha nikandanam<br>
    Raghunand aanand kand, koshala-chand dasharath nandanam<p>

    Iti vadati tulsidaas, shankar shesh muniman ranjanam<br>
    Mam hradaya-kanj nivaas kuru, kaamaadi khaldal ganjanam<p>
<% end -%>
