<h2>Siitaa raam siitaa raam siitaaraam kahiye</h2>
Siitaa raam siitaa raam siitaaraam kahiye<br>
Jaahi vidhi raakhe raam taahi vidhi rahiye<p>
Mukh men ho raam naam raam sevaa haath men<br>
Tuu akelaa naahin pyaare raam tere saath men<br>
Vidhi kaa vidhaan jaan haani laabh sahiye<p>
Kiyaa abhimaan to phir maan nahiin paayegaa<br>
Hogaa pyaare vahii jo shrii raamajii ko bhaayegaa<br>
Phal aashaa tyaag shubh karm karate rahiye<p>
Zindagii kii dor saunp haath diinaanaath ke<br>
Mahalon me raakhe chaahe jhonpadii me vaas de<br>
Dhanyavaad nirvivaad raam raam kahiye<p>
Aashaa ek raamajii se  duujii aashaa chhod de<br>
Maataa ek raamajii se duuje naate tod de<br>
Saadhu sang raam rang ang ang rangiye<br>
Kaam ras tyaag pyaare raam ras pagiye<p>
Siitaa raam siitaa raam siitaaraam kahiye<br>
Jaahi vidhi raakhe raam taahi vidhi rahiye
