<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Sukhake saba saathii dukhamen na koii</h2>
    Sukhake saba saathii dukhamen na koii, mere raama, mere raama<br>
    Teraa naama ik saachaa duujaa na koii<p>
    Jiivana aanii jaanii chhaayaa(2) jhuuthii maayaa jhuuthii kaayaa<br>
    Phira kaahe ko saarii umariyaa(2) paapakii gatharii dhoii<p>
    Naa kuchha teraa naa kuchha meraa(2) ye jaga jogiivaalaa pheraa<br>
    Raajaa ho yaa ranka sabhiikaa(2) anta ekasaa hoii<p>
    Baaharakii tuu maatii phaanke(2) manake bhiitara kyuun na jhaanke<br>
    Ujale tanapara maana kiyaa aur (2) manakii maila na dhoii
<% end -%>
