<h2>Tame bhojan karavaa aavone preme paronaa</h2>
Tame bhojan karavaa aavone preme paronaa, saathe baraa bari layee aavone nanda salunaa<p>
Vaalaa me to rasoi banaavi sarve taaji, ema vidur gharani bhaaji re-preme..<br>
Vaalaa me to siro re shekiyo chaano maano, ema khichado karmaano re-preme..<br>
Vaalaa maraa adiya tadiya ne tindora, eva savri bai na bora re-preme..<br>
Vaalaa hu to jar re jamunaa nu bhari lavi jari, tame aachman karone vanmaari re-preme..<br>
Vaalaa hu to panana birlaa laaviu vaari, tame mukhvaas karone moraari re-preme..<br>
Vaalaa maaraa laving sopaari ne elachhi, tame aarogo vanmaari re-preme..<br>
Vaalaa maaraa narsi mehata swaami shaamariyo, mane tari ler laagi re-preme..
