<%= render "pages/folksongs/layout" do %>
<h2>Tan ke tamboore mein</h2>
Tan ke tamboore mein, man adbhut hai, ya saaz<br>
Hari ke kar se baj raha hari ki har awaaz<br>
Tan ke tamboore mein do ansoon ke taar bole<br>
Jaya siya ram ram jay radhe shyaam shyaam<br>
Lagan lagi leela dhari se jagi re jagmag jyoti<br>
Ran naam ka heera paya shyam naam ka moti<br>
Pyasi do ankhiyon mein ho aansoon a dhare bole<br>
Jaya siya ram ram jay radhe shyaam shyaam<br>
Abh to is mann ke mandir me prabhu ka hua basera<br>
Magan hua mann mera choota janam janam ka phera<br>
Mann ki muraliya mein ho sur ka shringar bole
<% end %>