<h2>Tari ek ek par jaaye lakhni</h2>
Tari ek ek par jaaye lakhni, tu to maaaa le japile raadhe shyaam ni(2)<p>

Khaali avyaa khaali jaaso(2) saathe su lavyaa lai jaso(2)<br>
Jivana dhanye re banaavo bhakti bhaavthi tu to maaraa le<p>

Jhuthaa jag naa jhutthaa khel(2) manva maaru taaru mel<br>
Tu to choddi de ne chintaa akhaa gaamni	tu to maaraa le<p>

Vahallaa shri nathji bhagwanaa(2) maaraa chitadaana chora<br>
Me to chabbi re ditthi che shri naathni	tu to maaraa le<p>

Bhakti khaanda kheri dara(2) tethi uttarsho bhav para(2)<br>
Je ni laagi re lagan bhagvaan maa, te to sukhe thi jaye che vaikuth dhaamama<p>
