<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Tumhi ho maata pitaa tumhi ho</h2>
    Tumhi ho maata pitaa tumhi ho, tumhi ho bandhu sakhaa tumhi ho(2)<p>

    Tumhi ho saathi tumhi sahaare, koi naa apna sivaa tumhaare,<br>
    Tumhi ho naiyaa, tumhi khivaiyaa, tumhi ho bandhu sakhaa tumhi ho..Tumhi..<p>

    Jo khil sake naa vo fula hama hay, tumhaare charano ki dhula hum hay<br>
    Dayaa ki dhrashthi sadaa hi rakhanaaa, tumhi ho bandhu sakha tumhi ho..Tumhi..
<% end -%>
