<%= render "pages/folksongs/layout" do %>
    <h2 class="page-subheader">Vaishnav jan to tene kahiye je</h2>
    Vaishnav jan to tene kahiye je, piid paraayii jaane re<br>
    Par dukhkhe upakaar kare toye, man abhimaan naa aane re<br>
    Vaishnav jan to tene kahiye je <p>

    Sakal lok maan sahune vande, niindaa na kare kenii re<br>
    Vaach kaachh man nishchal raakhe, dhan dhan jananii tenii re<br>
    Vaishnav jan to tene kahiye je<p>

    Sam drishtii ne trishnaa tyaagii, par strii jene maat re<br>
    Jihvaa thakii asatya naa bole, par dhan nav jhaalii haath re<br>
    Vaishnav jan to tene kahiye je<p>

    Moh maayaa vyaape nahii jene, dridh vairaagya jenaa man maan re<br>
    Raam naam sun taalii laagii, sakal tirath tenaa tan maan re<br>
    Vaishnav jan to tene kahiye je<p>

    Van lobhii ne kapat rahit chhe, kaam krodh nivaaryaa re<br>
    Bhane narasaiyyo tenun darshan kartaa, kul ekoter taarayaa re<br>
    Vaishnav jan to tene kahiye je
<% end -%>
