<%= render "pages/surnames/layout" do %>
  <p class="lead">Click on a link to the left to view history of a surname. If you would like to contribute information to any of the below surnames, email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a></p>
    
  <div class="row">
    <div class="col-4">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Bhalsod</li>
          <li class="list-group-item">Bharadaj</li>
          <li class="list-group-item">Bharadwa</li>
          <li class="list-group-item">Buhecha</li>
          <li class="list-group-item">Chandegra</li>
          <li class="list-group-item">Chavda</li>
          <li class="list-group-item">Chhaya</li>
          <li class="list-group-item">Chitroda</li>
          <li class="list-group-item">Chohan</li>
          <li class="list-group-item">Dabhi</li>
          <li class="list-group-item">Devalia</li>
          <li class="list-group-item">Dhokia</li>
          <li class="list-group-item">Dodia</li>
          <li class="list-group-item">Gadher</li>
          <li class="list-group-item">Gadhia</li>
          <li class="list-group-item">Gadhvana</li>
          <li class="list-group-item">Ghedia</li>
          <li class="list-group-item">Girnara</li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Gohil</li>
          <li class="list-group-item">Gola</li>
          <li class="list-group-item">Jagatia</li>
          <li class="list-group-item">Jethwa</li>
          <li class="list-group-item">Jogia</li>
          <li class="list-group-item">Kamalia</li>
          <li class="list-group-item">Kansara</li>
          <li class="list-group-item">Kataria</li>
          <li class="list-group-item">Kholia</li>
          <li class="list-group-item">Koria</li>
          <li class="list-group-item">Kukadia</li>
          <li class="list-group-item">Ladva/Ladwa</li>
          <li class="list-group-item">Majevadia</li>
          <li class="list-group-item">Mandora</li>
          <li class="list-group-item">Mavadia</li>
          <li class="list-group-item">Maru</li>
          <li class="list-group-item">Nena</li>
          <li class="list-group-item">Oza</li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Parmar</li>
          <li class="list-group-item">Pithia</li>
          <li class="list-group-item">Poria</li>
          <li class="list-group-item">Rathod</li>
          <li class="list-group-item">Ravat</li>
          <li class="list-group-item">Sarvaiya</li>
          <li class="list-group-item">Savania</li>
          <li class="list-group-item">Shingadia</li>
          <li class="list-group-item">Solanki</li>
          <li class="list-group-item">Taank</li>
          <li class="list-group-item">Vadher</li>
          <li class="list-group-item">Vadukul</li>
          <li class="list-group-item">Vara</li>
          <li class="list-group-item">Varu</li>
          <li class="list-group-item">Vegad</li>
          <li class="list-group-item">Visavadia</li>
          <li class="list-group-item">Yadav/Jadav</li>
        </ul>
      </div>
    </div>
  </div>
<% end %>