<%= render "pages/surnames/layout" do %>
  <h1>Origins of the Pankhania Family</h1>

  <p class="text-muted">Submitted by Ravjibhai Parbatbhai Pankhania<br />Atlanta, Georgia, USA</p>

  <p>
    It gives me great pleasure in writing a brief history of the Pankhania Family, especially for this
    historic event, the launch of a web site for Shree Sorathia Prajapati Gnati Manda, Atlanta Georgia.
    This website is the first ever of its kind for the SSPGM members worldwide. I am very excited to
    be a resident of Atlanta USA, where this website is being launched.  I cannot express my
    excitement by a mere few words.
  </p>

  <p>
    I have been given this opportunity and I consider this a great priveledge to write a few words
    about the Pankhania family.  A lot of the information you will read below was painstakingly
    collected and compiled by  Kaviraj Manharbhai Buddhiisagarbhai Barot, Ranavav and published by
    the executive committee members of the Pankhania Samelan (UK 2000).
  </p>

  <p>
    Today, the Pankhania family is the largest within the Shree Sorathia Prajapati Gnati.  Pankhania
    family originated from Chudasama, Rajput Kshatriya family. History reveals  that Krishna Bhagwan's
    79th Generation of Chandravanshi Chudasama Rajput Kshatriyas gave birth  to King Denendra. He
    had a son named Gajpat, who ruled his kingdom from Junagadh.  One of the Chudasama Rajput
    families led by Savji Dada settled in 'Pankhan', a place near Keshod, hence we are known as
    Pankhania. He also married a girl from Prajapati Kumbhar family. Along with the Pankhania family,
    there was a Vadher family who lived in Pankhan.The Pankhania and the Vadher families lived
    happily together, and accepted each other as brothers.  The two families did not intermarry with
    each other while keeping their blood lines clean, they called themselves "Sakh Brothers" and do
    so at this present day.
  </p>

  <p>
    Pankhania worshipped their family deity Adhya Shakti Harshidhi Mataji. We also believe in Brahmani,
    Naag Bapa and Vachhara Dada.
  </p>

  <p>
    From our ancestor Savji Dada, the genertions continued chronologically as Virji, Vikramji, Khasia,
    Saria, Deva, Hira, Mala, Mandan, Munja, Samat, Sarman.  After the Mandan family we branched out
    and settled in different places.  Mandan Bapa died a valiant warrior in Pankhan. His rock memorial
    as 'Surapura' was erected. There is also a well known as Pankhan Vav. From Pankhan, some of us
    went and settled in Pata (ghed), some in Palakhada, some in Bhardwada. Rock memorials of our
    defenders and valiant warrior are evident in Pankhan, Pata, Mader, Kadachha and Shingada.
  </p>

  <p>
    At present, some Pankhania families worship their Kurdevi, Shree Harshidhi Mata and pay their
    homage at temples in Miyani near Dwarka and at Ujjain, in Rajasthan.  Others worship Lord
    Krishna and pay homage to Maha Prabhuji Bethak at Gaga Gurgat near Dwarka and Shree Nathji
    temple at Naathadwara in Rajasthan.
  </p>

  <p>
    In spite of these variations, we are all united and live harmoniously as one "Pankhania" family.
  </p>
<% end %>