<a name="top"></a><center>
<table cellspacing="0" cellpadding="9" height="100%" width="1000"><tr>

<td width="70%" height="100%">
<table cellspacing="0" cellpadding="7" height="100%" width="100%">
<tr valign="top">
<td><font size="2" color=white>
<center><h1><font color="#CC3333">
SSPGM Professionals Page
</font></h1>

<!-- TODO: Render professional attributes-->
<!-- TODO: No pictures migrated -->

<table>
  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td>
          <%= professional.inspect %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table cellspacing="0" cellpadding="7" height="100%" width="100%" style="border-left: 2px solid #CC3333">
<tr valign="top">
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
