<%= render "pages/mandals/valabh-vidyanagar/layout" do %>
    <h1>Valabh Vidyanagar Mandal Trust Fund Update</h1>

  <center><font color="red"><b><u><h3>
  AT A GLANCE
  </h3></u></b></font></center>
  <p>
  <center>
  <font color="steelblue" size="3">
  (Updates as of September 15th, 2003)
  <br>
  SHRI SORATHIA PRAJAPATI VIDYAMANDAL - VALLABH VIDYANAGAR
  </font>
  </center>
  <p>


  We are here since 1979-80 in this educational township, The Vallabh Vidyanagar.
  This township named after Late Deputy Prime Minister of India Sh. Sardar Vallabhbhai Patel,
  who inspired Sh. Bhaikaka (an engineer) and Sh. Bhikhakaka (a teacher), who were architects
  of this Township. Vidyadham Vallabh Vidyanagar is a great place for education. Here we have
  established Shri S.P. Vidyamandal an Education trust since 1980, where 33 institutions run by Charotar
  Vidyamandal and many PG courses run by Sardar Patel University.
  In 1948 Vallabh Vidyanagar,and now in 2000 New Vallabh Vidyanagar getting shape with new scenarios
  <p>
  <font color="steelblue" size="2"><b>
  (A) Progress of our Vidyamandal
  </b></font>
  <p>
  (1) Trust's own land: 1000 sq yards<br>
  (2) Total assets: Nearly 50 lakhs<br>
  (3) Total Fixed deposits: 50.00 lakhs
  <p>
  <font color="steelblue" size="2"><b>
  (B) FD Details Below (Progress as on 09/15/2003)
  </b></font>
  <p>
  <table border="1" cellspacing="0" cellpadding="5" bordercolor="red">
  <tr>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Sr.
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Scheme
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Target
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  FD Fund (Lakhs)
  </font></b>
  </td>
  </tr>
  <tr>
  <td>
  1
  </td>
  <td>
  Anndan FD
  </td>
  <td>
  Rs 25 Lakhs
  </td>
  <td>
  Rs 7.00
  </td>
  </tr>
  <tr>
  <td>
  2
  </td>
  <td>
  Tithidan FD
  </td>
  <td>
  Rs 25 Lakhs
  </td>
  <td>
  Rs 13.01
  </td>
  </tr>
  <tr>
  <td>
  3
  </td>
  <td>
  Scholarship FD
  </td>
  <td>
  Rs 25 Lakhs
  </td>
  <td>
  Rs 15.53
  </td>
  </tr>
  <tr>
  <td>
  4
  </td>
  <td>
  Maintenance FD
  </td>
  <td>
  Rs 15 Lakhs
  </td>
  <td>
  Rs 4.01
  </td>
  </tr>
  <tr>
  <td>
  5
  </td>
  <td>
  Library FD
  </td>
  <td>
  Rs 5 Lakhs
  </td>
  <td>
  Rs 0.20
  </td>
  </tr>
  <tr>
  <td>
  6
  </td>
  <td>
  Anamat (Reserve) FD
  </td>
  <td>
  Rs 30 Lakhs
  </td>
  <td>
  Rs 10.28
  </td>
  </tr>
  <tr>
  <td>
  </td>
  <td>
  <b>
  GRAND TOTAL
  </b>
  </td>
  <td>
  <b>
  Rs 125.00 Lakhs
  </b>
  </td>
  <td>
  <b>
  Rs 50.03 Lakhs
  </b>
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (C) Memberships W. e. f. 04/01/03
  </b></font>
  <p>
  <table border="1" cellspacing="0" cellpadding="5" bordercolor="red">
  <tr>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Sr
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Memberships
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  India
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Foreign
  </font></b>
  </td>
  <td>
  </td>
  </tr>
  <tr>
  <td align="center">
  </td>
  <td align="center">
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Rupees
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Pounds
  </font></b>
  </td>
  <td align="center">
  <font color="steelblue" size="2"><b>
  Dollars
  </font></b>
  </td>
  </tr>
  <tr>
  <td>
  1
  </td>
  <td>
  Yearly Fees
  </td>
  <td>
  101
  </td>
  <td>
  21
  </td>
  <td>
  51
  </td>
  </tr>
  <tr>
  <td>
  2
  </td>
  <td>
  Life Member Fees
  </td>
  <td>
  1500
  </td>
  <td>
  101
  </td>
  <td>
  151
  </td>
  </tr>
  <tr>
  <td>
  3
  </td>
  <td>
  Donor Member Fees
  </td>
  <td>
  5001
  </td>
  <td>
  251
  </td>
  <td>
  351
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (D) History  of Vidyamandal
  </b></font>
  <p>
  (i) &nbsp&nbspTrust established in 1980<br>
  (ii) &nbspTrust registration No. F/269/Kheda 11/01/1980. New registration No. F/205/Anand, 08/13/2001<br>
  (iii) Society registration No. Guj/375/Kheda 11/01/1980. New registration No. Guj./176/Anand, 09/12/2001<br>
  (iv) &nbspConstitutions approved on January 26th 1980
  <p>
  <font color="steelblue" size="2"><b>
  (E) Presidents of the Trust and Their Tenure
  </b></font>
  <p>
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
  <td align="center">
  President
  </td>
  <td align="center">
  From
  </td>
  <td align="center">
  To
  </td>
  </tr>
  <tr>
  <td>
  <b>1. </b>Prof. (Dr.) Khimjibhai V. Jadav Ph.D.
  </td>
  <td>
  1/26/1980
  </td>
  <td>
  10/9/1981
  </td>
  </tr>
  <tr>
  <td>
  <b>2. </b>Prof. Keshavbhai H. Jadav M.Sc.
  </td>
  <td>
  10/10/1981
  </td>
  <td>
  6/30/1984
  </td>
  </tr>
  <tr>
  <td>
  <b>3. </b>Prof Rameshbhai J. Koria B.E.(M)
  </td>
  <td>
  7/1/1984
  </td>
  <td>
  Present Date
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (F) Honorary Secretary
  </b></font>
  <p>
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
  <td>
  1. Prof. Tulsidas B Pankhania
  </td>
  <td>
  M.E.(M), C.Eng, F.I.E.
  </td>
  <td>
  since 4th March 1979
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (G) Pioneer Trustee
  </b></font>
  <p>
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
  <td>
  1. Sh. Trikambhai B. Bhalsod - Add.Collector(Rtd.)
  </td>
  <td>
  BSc(Hons)LLB Ahmedabad
  </td>
  <td>
  Since 26th Jan, 1980.
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (H) Life Time Members: All over the World
  </b></font>
  <p>
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
  <td>
  1. India:
  </td>
  <td>
  723
  </td>
  <td>
  6. Norway:
  </td>
  <td>
  01
  </td>
  </tr>
  <tr>
  <td>
  2. Africa:
  </td>
  <td>
  31
  </td>
  <td>
  7. Sweden:
  </td>
  <td>
  03
  </td>
  </tr>
  <tr>
  <td>
  3. Australia:
  </td>
  <td>
  03
  </td>
  <td>
  8. UAE:
  </td>
  <td>
  02
  </td>
  </tr>
  <tr>
  <td>
  4. Canada:
  </td>
  <td>
  03
  </td>
  <td>
  9. USA:
  </td>
  <td>
  08
  </tr>
  <tr>
  <td>
  5. Mauritius:
  </td>
  <td>
  02
  </td>
  <td>
  10. UK:
  </td>
  <td>
  277
  </td>
  </tr>
  </table>
  <br>
  <table border="1" cellspacing="0" cellpadding="5" bordercolor="red">
  <tr>
  <td align="center">
  TOTAL: 1053
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (I) Tithi Bhojan
  </b></font>
  <p>
  <table border="1" cellspacing="0" cellpadding="5" bordercolor="red">
  <tr>
  <td align="center">
  Month
  </td>
  <td align="center">
  April
  </td>
  <td align="center">
  May
  </td>
  <td align="center">
  June
  </td>
  <td align="center">
  July
  </td>
  <td align="center">
  Aug
  </td>
  <td align="center">
  Sept
  </td>
  <td align="center">
  Oct
  </td>
  <td align="center">
  Nov
  </td>
  <td align="center">
  Dec
  </td>
  <td align="center">
  Jan
  </td>
  <td align="center">
  Feb
  </td>
  <td align="center">
  March
  </td>
  <td align="center">
  Others
  </td>
  <td align="center">
  Total
  </td>
  </tr>
  <tr>
  <td align="center">
  Usual Meal
  </td>
  <td>
  09
  </td>
  <td>
  12
  </td>
  <td>
  08
  </td>
  <td>
  09
  </td>
  <td>
  08
  </td>
  <td>
  13
  </td>
  <td>
  07
  </td>
  <td>
  10
  </td>
  <td>
  09
  </td>
  <td>
  11
  </td>
  <td>
  10
  </td>
  <td>
  09
  </td>
  <td>
  08
  </td>
  <td>
  123
  </td>
  </tr>
  <tr>
  <td align="center">
  Feast
  </td>
  <td>
  04
  </td>
  <td>
  03
  </td>
  <td>
  03
  </td>
  <td>
  03
  </td>
  <td>
  03
  </td>
  <td>
  04
  </td>
  <td>
  05
  </td>
  <td>
  05
  </td>
  <td>
  03
  </td>
  <td>
  04
  </td>
  <td>
  04
  </td>
  <td>
  04
  </td>
  <td>
  16
  </td>
  <td>
  61
  </td>
  </tr>
  <tr>
  <td align="center">
  Total
  </td>
  <td>
  13
  </td>
  <td>
  15
  </td>
  <td>
  11
  </td>
  <td>
  12
  </td>
  <td>
  11
  </td>
  <td>
  17
  </td>
  <td>
  12
  </td>
  <td>
  15
  </td>
  <td>
  12
  </td>
  <td>
  15
  </td>
  <td>
  14
  </td>
  <td>
  13
  </td>
  <td>
  24
  </td>
  <td>
  184
  </td>
  </tr>
  </table>
  <p>
  <font color="steelblue" size="2"><b>
  (J) Publications
  </b></font>
  <p>
  Annual/Bi-annual reports
  <p>
  Year 1 to year 24 Total reports published no:(1-13), Which includes year 24 (4/01/2002 to 3/31/2003)<br>
  report no. 13 is published in September 2003 and copy is already sent to the members and well wishers.
  <p>
  <font color="steelblue" size="2"><b>
  (K) Visit www.sspgm.net
  </b></font>
  <p>
  We are now on the web with the courtesy of Shree Sorathia Prajapati Gnati Mandal, Atlanta, Georgia, USA.<br>
  Visit website launched - Chapters - India - Gnatimandals / Trusts in the service of the community.<p>
  Contact: <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a> for many more details and inclusion of the profiles of individuals ets.
  <p>
  <font color="steelblue" size="2"><b>
  (L) An appeal
  </b></font>
  <p>
  The fellow members, all over the world, are requested to donate
  generously to strengthen this unique educational trust in service and
  upliftment of our families since 1980.<br>
  Thanking You in anticipation and awaiting your positive response and/or your guidance.<p>
  Prof. Tulsidas B. Pankhania
  <br>
  Honorary Secretary
  <p>
  <center>The details regarding trust's schemes for donations are as follows</center>
  <br>
  <font color="steelblue" size="2"><b>
  (1) TRUST'S OBJECTIVES:
  </b></font>
  <p>
  Purely educational. Established in 1980. Possesses own building, capacity to provide
  accommodation to sixty students for higher education from 11th standard to Ph.D courses.
  <p>
  <font color="steelblue" size="2"><b>
  (2) TRUST'S MEMBERSHIPS AND CLASSIFICATION
  </b></font>
  <p>
  1. Yearly Member: Rs 101/-<br>
  2. Life Member: Rs 1500/-<br>
  3. Donor member: 5001/-<br>
  <p>
  <font color="steelblue" size="2"><b>
  (3) TRUST'S PRESENT PROGRESS:
  </b></font>
  <p>
  Purchased 1000 sq yard land and constructed building since 1980.
  Total value worth Rs 50 lakhs approx and fixed deposits of Rs 50 lakhs.
  Total members as on today are (home 723 + abroad 330) 1053.
  <p>
  <font color="steelblue" size="2"><b>
  (4) TRUST'S PRESENT REQUIREMENTS:
  </b></font>
  <p>
  (<b>NOTE</b>: Donations received in any scheme is kept in fixed deposit and interest
  earned is utilized to help needy students of our community)
  <p>
  <b>1. Tithidaan</b>: Sadu Bhojan - Rs 7500/- and mishtan bhojan Rs 15000/-.
  Total 184 times a year received against expected 300 times.  TARGET:
  Rs 25 lakhs and received Rs 7 lakhs against target of Rs 25 Lakhs<br>
  <b>2. Anna daan</b>: In multiple of Rs 1500, received Rs 7 lakhs against target of Rs 25 lakhs<br>
  <b>3. Scholarships 2000</b>: Each in multiple of Rs 51000/-, received 27 and expecting 24 more each one of Rs 51000/-<br>
  <b>4. Computers</b> Currently 5 computers are in our computer center and acpecting 5 more and one for office Total in all: 11
  <p>
  <font color="steelblue" size="2"><b>
  (5) DONORS FOR COMPUTERS </b>(TARGET: 10 units Received: 5 units)
  </font>
  <p>
  <b>1. </b>Rs 30000/- PIII Date - 1/26/1999 DONOR: Mr & Mrs Hirjibhai Valjibhai Jadav - (Ranavav) Mauritius<br>
  <b>2. </b>Rs 50000/- PIII Date - 7/30/1999 Complete system DONOR Late Gokalbhai Keshavbhai Pankhania and family (Ranavav)<br>
  <b>3. </b>Rs 40000/- PIII with multimedia Date - 3/28/2000 DONOR Mr & Mrs Kanjibhai Jivanbhai Gadher (Ranavav) Hounslow UK<br>
  <b>4. </b>Rs 30500/- PIII Date - 7/9/2002 DONOR Mr & Mrs Hirjibhai Valjibhai Jadav (Ranavav) Mauritius<br>
  <b>5. </b>Rs 38000/- PIV  Date - 2/26/2002 With Internet, email, and mutimedia facilities DONOR MR and Mrs Harishchanra Dahyalal Gohill and family (Ranavav) London UK
  <p>
  <font color="steelblue" size="2"><b>
  (6) SCHOLARSHIP SCHEME - 2000
  </b></font>
  <p>
  <table border="1" bordercolor="red" cellspacing="0" cellpadding="5">
  <tr>
  <td align="center">
  <font color="steelblue" size="2">
  Sr
  </font>
  </td>
  <td align="center">
  <font color="steelblue" size="2">
  Donation (Rs)
  </font>
  </td>
  <td align="center">
  <font color="steelblue" size="2">
  Name of the Donors
  </font>
  </td>
  <td align="center">
  <font color="steelblue" size="2">
  Native
  </font>
  </td>
  <td align="center">
  <font color="steelblue" size="2">
  Place
  </font>
  </td>
  <td align="center">
  <font color="steelblue" size="2">
  (No. of Grants)
  </font>
  </td>
  </tr>
  <tr>
  <td>
  1
  </td>
  <td>
  210,255/-
  </td>
  <td>
  Sh Arjunbhai Rajshibhai Ladva<br>
  Smt. Nanduben Arjunbhai Ladva & family
  </td>
  <td>
  Ranavav
  </td>
  <td>
  London, UK
  </td>
  <td>
  (Four)
  </td>
  </tr>
  <tr>
  <td>
  2
  </td>
  <td>
  204,000/-
  </td>
  <td>
  Shri Sorathia Prajapati Gnati Education Trust - Dubai
  </td>
  <td>
  India
  </td>
  <td>
  UAE
  </td>
  <td>
  (Four)
  </td>
  </tr>
  <tr>
  <td>
  3
  </td>
  <td>
  101,000/-
  </td>
  <td>
  Late Sh Bhurabhai Bhojabhai Vara<br>
  Smt. Vejiben Bhurabhai Vara & Family
  </td>
  <td>
  Tarsai
  </td>
  <td>
  London, UK
  </td>
  <td>
  (Two)
  </td>
  </tr>
  <tr>
  <td>
  4
  </td>
  <td>
  102,000/-
  </td>
  <td>
  Sh Mandubhai Devshibhai Gohil<br>
  Smt Amrutben Mandubhai Gohil & family
  </td>
  <td>
  Ranavav
  </td>
  <td>
  Nakuru, Kenya
  </td>
  <td>
  (Two)
  </td>
  </tr>
  <tr>
  <td>
  5
  </td>
  <td>
  102,000/-
  </td>
  <td>
  Sh Manjibhai Savjibhai Parrmar<br>
  Late Smt. Valiben Manjibhai Parmar<br>
  (Donated by: sh. & Smt. Harjivanbhai M. Parmar
  </td>
  <td>
  Porbandar
  </td>
  <td>
  Canada
  </td>
  <td>
  (Two)
  </td>
  </tr>
  <tr>
  <td>
  6
  </td>
  <td>
  71000/-
  </td>
  <td>
  Smt. Rambhaben Kesavjibhai Dabhi
  </td>
  <td>
  Khorasa (gir)
  </td>
  <td>
  Coventry, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  7
  </td>
  <td>
  62000/-
  </td>
  <td>
  Sh, Vrajlal Ramjibhai Gadhia<br>
  Smt. Manjulaben Vrajlal Gadhia
  </td>
  <td>
  Ranavav
  </td>
  <td>
  Leicester
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  8
  </td>
  <td>
  55555/-
  </td>
  <td>
  Sh Muljibhai Popatbhai Pankhania<br>
  Smt. Gomtiben Muljibhai Pankhania
  </td>
  <td>
  Patelka/Nairobi
  </td>
  <td>
  London, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  9
  </td>
  <td>
  51005/-
  </td>
  <td>
  Late Dr. Sh. Prem G. Ghedia<br>
  (Donated by: Smt Damyantiben Prem Ghedia)
  </td>
  <td>
  Dhanturia
  </td>
  <td>
  Sidney, Australia
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  10
  </td>
  <td>
  51000/-
  </td>
  <td>
  Late Smt. Raniben Arjanbhai Vara<br>
  (Donated by Sh. Laxmanbhai Arjanbhai Vara)
  </td>
  <td>
  Ranavav
  </td>
  <td>
  London, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  11
  </td>
  <td>
  51000/-
  </td>
  <td>
  Late Sh. Dineshbhai Devrajbhai Vara<br>
  (Donated by: Sh. Devrajbhai Hirjibhai Vara)
  </td>
  <td>
  Ranavav
  </td>
  <td>
  Leceister, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  12
  </td>
  <td>
  51000/-
  </td>
  <td>
  Late Sh. Jivanbhai Rajshibhai Gadher<br>
  (Donated by: Smt. Jamnaben Jivanbhai Gadher)
  </td>
  <td>
  Ranavav
  </td>
  <td>
  Surrey, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  13
  </td>
  <td>
  51000/-
  </td>
  <td>
  Smt Amrutben Trikambhai Bhalsod
  </td>
  <td>
  Tarsai (A'bad)
  </td>
  <td>
  Navsari
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  14
  </td>
  <td>
  51000/-
  </td>
  <td>
  Sh. Jivabhai Ramjibhai Vara
  </td>
  <td>
  Ranavav
  </td>
  <td>
  Birmingham, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  15
  </td>
  <td>
  51000/-
  </td>
  <td>
  Late Sh. Rajshibhai Vasrambhai Gadher<br>
  Late Smt Kuvarben Rajshibhai Gadher<br>
  (Donated by: Sh. Gordhanbhai Rajshibhai Gadher)
  </td>
  <td>
  Ranavav
  </td>
  <td>
  London, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  16
  </td>
  <td>
  51000/-
  </td>
  <td>
  Late Shri Shamjibhai Rudabhai Chavda<br>
  (Donated by: Smt. Motiben Shamjibhai Chavda)
  </td>
  <td>
  Porbandar
  </td>
  <td>
  Bristol, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  17
  </td>
  <td>
  51000/-
  </td>
  <td>
  Sh. Manjibhai Harjibhai Bhardwaj<br>
  Smt. Paniben Manjibhai Bharadwaj
  </td>
  <td>
  Junagadh
  </td>
  <td>
  Coventry, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  <tr>
  <td>
  18
  </td>
  <td>
  51000/-
  </td>
  <td>
  Smt. Prabhaben Harjibhai Pankhania
  </td>
  <td>
  Bharwada/Porbandar
  </td>
  <td>
  London, UK
  </td>
  <td>
  (One)
  </td>
  </tr>
  </table>
  <br>
  N.B. Target 51 scholarships, each Rs. 51000/- and received as on today Total = 27
  <p>
  <font color="steelblue" size="2"><b>
  (7) DONATION FOR DIWALI / NEW YEAR PRESENTS (Fixed deposit of $1100/-)
  </b></font>
  <p>
  <table border="1" bordercolor="red" cellspacing="0" cellpadding="5">
  <tr>
  <td>
  1.
  </td>
  <td>
  Rs. 5300
  </td>
  <td>
  Shri Mohanlal Virjibhai Fatania<br>
  Smt. Maniben Mohanlal Fatania
  </td>
  <td>
  Rana - Kandorana
  </td>
  <td>
  Georgia, USA
  </td>
  </tr>
  </table>
  <p>
  Prof. Tulsibhai Becharbhai Pankhania (narive: Rana-Khirsara Dist: Porbandar)<br>
  Honorary Secretary<br>
  Shri Sorathia Prajapati Vidyamandal Vallabh Vidyanagar - 388120 (India)<br>
  Phone: 235352 (hostel), 235316 (residence), 230104 ext. 241 (Office) BVM Eng. college V.V. Nagar
<% end %>