<h1 class="page-header"><font color="#CC3333">
SSPGM Comments Page
</font></h1>

<table>
  <% @comments.each do |comment| %>
  <tr>
    <td style="border-bottom: 2px solid steelblue;">
      <%= email_linkified_commenter_name(comment) %> on <%= comment.created_at.strftime('%B %-d, %Y') %> from <%= comment.country %><br />
      <%= simple_format(comment.comment) %>
    </td>
  </tr>
  <% end %>
</table>
