<%= render "pages/mandals/bolton/layout" do %>
  <h1>Bolton Mandal Committee</h1>

  <font color="red">President/Chairman: </font>Natwarlal Punja Fatania<p>
  <font color="red">Vice President/Vice Chairman: </font>Laxmanbhai Premji Gohil<p>
  <font color="red">Secretary: </font>Hiteshbhai Kanji Vegad<font color="red">, </font><a href="mailto:jimvegad@cable-world.co.uk">jimvegad@cable-world.co.uk</a><p>
  <font color="red">Assistant Secretary: </font>Kishorbhai Shamji Dhokia<font color="red">, </font><a href="mailto:kdhokia@cfh-uk.net">kdhokia@cfh-uk.net</a><p>
  <font color="red">Treasurer: </font>Mukeshbhai Kanji Vegad<p>

  Dayabhai Purshotam Chavda<br>
  Mansukh Popat Pankhania<font color="red">, </font><a href="mailto:m3pkp@hotmail.com">m3pkp@hotmail.com</a><br>
  Rajubhai Babu Savania<br>
  Mukeshbhai Malde Shingadia<br>
  Kishorebhai Gordhan Solanki<br>
  Dhirubhai Velji Vara<br>
  Jayantilal Harji Vara<br>
  Ramnikbhai Harji Vara<br>

  </b></font>
<% end %>