<%= render "pages/elders/layout" do %>
  <h1>Anila Girishkumar Kukadia</h1>

  <center>
  <%= image_tag 'agkukadia.jpg', height: "150", width: "110" %><br>
  </center>

  <h5><font color="steelblue">
  Also known as Yognistha Maa Agnishikhaji
  </font></h5>

  Prajapati caste is a caste of devotee and Sant.Shreebai Matajee, Bhakt Gora Kumbhar, devotee couple Ranka Vanka, Krishnanand Brahmchariji, Jivraj Bapu,
  Jiva Bhagat are many devotees have enlightened the Prajapati community. All religions are indebted to the  Prajapati caste.

  Yognishta Maa Agnishikhajee is a rising saint of our society. A lot of contributiion of Maa's teaching is spreading and the true understanding of scientific base of religion. "YOG SADHANA" "MEDITATION",And spiritual
  speeches are her tools to guide humanity in the right path of devotion. Maa's holy life is not described in words of World but we try to present a glimpse of
  her life.<p>

  She was born at Ranavav (dist - Porbandar) on August 30th, 1972. she is a elder daughter of Devajibhai & Ramaben Bharadwa, they, fondly named her Anila.
  She got her education from South Gujarat University. She has started "Gruhasthashram" ( is married to) with Mr.Girishkumar Chhaganbhai Kukadia.<p>

  Sant Shree Guru Gyansagarji (born at Mathura) animate Maa's spiritual element. She has got mastery on spiritual science and yog. She is attracted by
  thoughts of Swami Vivekanand, Ramkrishna Paramhansa and Subhashchandra Bose. She has not only read Veda, Ramayana, Mahabharata, Geeta and other
  religious "Granth", but she has deeply studied religions. Maa believes, religion is a science regulations for human being. If human being knows and
  understands God, there is no necessity of anything."WE GET BIRTH BUT WE HAVE TO FIND OUT LIFE" is a motto of Maa Agnishikhaji. She has given good
  attention on Pranshadhana Chikitsa, Bhav Chikitsa, Yog Sadhana and Spiritual therapy. Maa always tells us our human body is an  Instrument to see and
  feel the glory of this universe and achive god, if it is powerful  and beautiful.<p>

  Goddess  Sarashwati gives her marvellous speech and god Rama gives her spiritual spirit. To hear the Ramkatha in her melody tune is a life's enjoyment.
  Her melody tune on Ramkatha is spread over Ahmedabad, Jaipur, Mathura, Haridwar, Hariyana. All Ramkatha listener  have accepted Ram-nad Message.
  Shree Lunai Mataji charitable trust near Dwarka is organized Maa's first ramkatha in Saurastra. All Sorathiya Prajapati Samaj rushed with enthusiasm to
  listen with pride their daughter.
  "Maa" is our modern sant. Brightness on her face is a symbol  of power. Her sweetest speech is a boon of godess Sharda .
  There was a void for a female sant after Shreebai Matajee which is completed by Maa Agnishikhaji. Maa has become a respectable person in pioneers who
  brings prominence in Meditation, Yog and Devotion.
  In the perspective of well known Gujarati quotation "Nari Tu Naryani", she becomes 'Naryani' (Godess Durga). We have to bow our head on her holy feet and works.<p>

  <font color="#CC3333"><b>Address:</b></font><br>
  Maa Agnishikhaiji<br>
  T/12 Haridwar Society,<br>
  Behind Hotel Satlaj,<br>
  Naroda, Ahemdabad<br>
  Gujarat (India)
<% end %>