<%= render "pages/elders/layout" do %>
  <h1>Dhansukh Shivabhai Parmar</h1>

  <center>
  <%= image_tag 'dparmar.jpg', height: "150", width: "125" %><br />
  </center>

  Shri Dhansukh Shivabhai Parmar, who is the first Gujarati Prajapati
  Shakha Pramukh of Shivsena (Dharavi in all over India, Mr. Dhansukh
  is a very good Gnyati-Sevak of Mumbai City doing welfare  of Dharavi
  Kumbharwada (Asia's biggest slum). He is in charge of programs for our
  poor prajapati children who cannot buy medicine/injections for Hepatites
  B. Mr. Dhansukh arranges and gives them free medicine/injections etc. to
  the needy. Dhansukh Parmar Shakaha Pramukh also gives rations to our
  poor prajapati Bandhu free of cost and helps them in any field. Mr.
  Dhansukhbhai is a President of Akhil Bhartiya Prajapati MahaSangh
  (Mumbai Pradesh) head office of this organization is at New Delhi.
  With the help of said organization and Shivsena Party, Shri Dhansukh
  has become a very successful social worker of Mumbai and he is Executive
  of Prajapati welfare assn. and well-known to our Prajapati Caste.
<% end %>