<%= render "pages/elders/layout" do %>
  <h1>Hirajibhai Punjabhai Jagatiya</h1>

  Mr.Hirajibhai Punjabhai Jagatiya is the son of Mr. Punjabhai Jagatiya. He born in Jam Raval a
  village located in Jamnagar District, Gujarat(lndia) in Sept. 1960. He became graduate in Bcom
  from Shri K. H. Madhwani Commerce College, Porbandar. Since his graduation he was very
  much interested in literacy work and gradually he involved in his community as well as political
  activity. Here is brief overview of his life up to now.
  </font>
  <p>
  <font color="red" size="2">
  Name:
  </font>
  Hirajibhai Punjabhai Jagatiya
  <br>
  <font color="red" size="2">
  Address:
  </font>
  <ul>
  "LUNAI" Jay Ambe Society,<br>
  Arambhada - Road, Surajkaradi - 361347<br>
  Mrthapur, Dist - Jamnagar.<br>
  Phone No.: (02892) 226410<br>
  </ul>
  <br>
  <font color="red" size="2">
  Date of Birth:
  </font>
  10-09-1960
  <br>
  <font color="red" size="2">
  Occupation:
  </font>
  <br>
  <ul>
  Chief Accountant<br>
  M/s Bhagawati Marine Services Pvt. Ltd.<br>
  Port Okha, Jamnagar.<br>
  Phone No : (02892) 262288/262271
  </ul>
  <br>
  <font color="red' size="2">
  Hobbies:
  </font><br>
  Literature, Social Service, and Politics
  <br>
  <font color="red" size="2">
  Literacy work on Radio:
  </font>
  <ul>
  Broadcasting of my stories, Drama and Poetry on<br>
  "AKASHWANI". Rajkot since last twenty years.
  </ul>
  <p>
  <font color="red" size="2"><u>
  DUTIES AS LITERATURE SERVICE
  </u></font>
  <table border="1" cellspacing="1" cellpadding="5" bordercolor="red">
  <tr>
  <td>
  <font color="blue" size="2"><u>
  Designation
  </u></font>
  </td>
  <td>
  <font color="blue" size="2"><u>
  Year
  </u></font>
  </td>
  <td>
  <font color="blue" size="2"><u>
  Service Area
  </u></font>
  </td>
  </tr>
  <tr>
  <td>
  Secretary
  </td>
  <td>
  (1978-79)
  </td>
  <td>
  Jamkalyanpur Taluka Navodit Kavi-Kekhak Sangh, Jam Raval
  </td>
  </tr>
  <tr>
  <td>
  President
  </td>
  <td>
  (1980-81)
  </td>
  <td>
  Junagadh District Navyuva Sahitya Parivar, Porbandar
  </td>
  </tr>
  <tr>
  <td>
  Editor
  </td>
  <td>
  (1978-82)
  </td>
  <td>
  "Navodit" (Monthly Magazine) Jam Raval
  </td>
  </tr>
  <tr>
  <td>
  Editor
  </td>
  <td>
  (1982-85)
  </td>
  <td>
  "Adab" (Monthly Magazine) Bet Dwarka
  </td>
  </tr>
  <tr>
  <td>
  Secretary
  </td>
  <td>
  (1985-90)
  </td>
  <td>
  "Adab" Sahitya Sankul, Mithapur
  </td>
  </tr>
  </table>
  <p>
  <font color="red' size="2">
  Published Collection of Poems:
  </font>
  <br>
  <ul>
  1. "Surya"<br>
  2. "Katamb"<br>
  3. "Pratibimb"<p>
  </ul>
  <font color="red" size="2">
  To be published Poem:
  </font>
  <br>
  <ul>
  1. "NAKHASHAT"
  </ul>
  <p>
  <font color="red" size="2"><u>
  DUTIES FOR OWN COMMUNITY
  </u></font>
  <p>
  <table border="1" bordercolor="red" cellspacing="1" cellpadding="5">
  <tr>
  <td>
  <font color="red" size="2">
  Secretary
  </font>
  </td>
  <td>
  <font color="red" size="2">
  Year
  </font>
  </td>
  <td>
  <font color="red" size="2">
  Service Area
  </font>
  </td>
  </tr>
  <tr>
  <td>
  Secretary
  <td>

  (1978-80)
  </td>
  <td>
  "Shri Prajapati Viyarthi Vartul" Porbandar
  </td>
  </tr>
  <tr>
  <td>
  Editor
  </td>
  <td>
  (1978-80)
  </td>
  <td>
  "Prajapati Bandhu" (Bi-monthly), Porbandar
  </td>
  </tr>
  <tr>
  <td>
  Editor<br>
  Ahmedabad
  </td>
  <td>
  (1980-81)
  </td>
  <td>
  "Prajapati Samachar" (Quarterly Magazine)
  </td>
  </tr>
  <tr>
  <td>
  Hon. Secretary
  </td>
  <td>
  (1990-96)
  </td>
  <td>
  Sri "Sorthiya Prajapati Gyati Mandal", Mithapur
  </td>
  </tr>
  <tr>
  <td>
  Trusty
  </td>
  <td>
  (1992-93)
  </td>
  <td>
  Sri "Sorthiya Prajapati Gyati Mandal", Jam Raval
  </td>
  </tr>
  <tr>
  <td>
  Cheif Editor<br>
  (Running...)
  </td>
  <td>
  (1997-01)
  </td>
  <td>
  "Agnichakra" (Magazine) Bombay
  </td>
  </tr>
  <tr>
  <td>
  Editor<br>
  (Running...)
  </td>
  <td>
  (2002)
  </td>
  <td>
  "Kumbhakar" (Magazine) Jamnagar
  </td>
  </tr>
  <tr>
  <td>
  Co-Secretary<br>
  (Running...)
  </td>
  <td>
  (2002)
  </td>
  <td>
  Shri "Sorthiya Prajapati Gyati Mandal", Mithapur
  </td>
  </tr>
  <tr>
  <td>
  Hon. Member<br>
  (Running...)
  </td>
  <td>
  (2002)
  </td>
  <td>
  Shri "Sorthiya Prajapati Mahamandal", Rajkot
  </td>
  </tr>
  </table>
  <p>
  <table border="1" bordercolor="red" cellspacing="1" cellpadding="5">
  <tr>
  <td>
  <font color="red" size="2">
  Sr
  </font>
  </td>
  <td>
  <font color="red" size="2">
  Name
  </td>
  <td>
  <font color="red' size="2">
  Relation
  </td>
  </tr>
  <tr>
  <td>
  1)
  </td>
  <td>
  Smt. Bhanuben Hirajibhai Jagatiya
  </td>
  <td>
  Wife
  </td>
  </tr>
  <tr>
  <td>
  2)
  </td>
  <td>
  Mr. Vivek Hirajibhai Jagatiya
  </td>
  <td>
  Son
  </td>
  </tr>
  <tr>
  <td>
  3)
  </td>
  <td>
  Mr. Dewang Hirajibhai Jagatiya
  </td>
  <td>
  Son
  </td>
  </tr>
  <tr>
  <td>
  4)
  </td>
  <td>
  Mr. Tusar Hirajibhai Jagatiya
  </td>
  <td>
  Son
  </td>
  </tr>
  </table>
<% end %>