<%= render "pages/elders/layout" do %>
  <h1>Karsanbhai Becharbhai Pankhania</h1>

  <center>
  <%= image_tag 'profilekarbpankhania.jpg', height: "150", width: "100" %>
  </center>


  <b>Birth Place: </b>Rana Khirasara, Taluka<br />
  <b>Birth Date: </b>May 14th 1950<br />
  <b>Family: </b><br />
  - Father: Late Becharbhai Raiyabhai Pankhania (Late Dated 3/17/1967)<br />
  - Mother: Late Maniben Becharbhai Pankhania (Late Dated 8/13/2002)<br />
  - Sons: <ul>
  1) Mr. Mrugesh (USA)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;BE (Civil), Jan 2001 Sardar Patel University, Vallabh Vidhya Nagar<br>
  &nbsp;&nbsp;&nbsp;&nbsp;MS (Civil) Study Cont'd<br>
  &nbsp;&nbsp;&nbsp;&nbsp;California State University, Sacramento, USA (First in community to get student visa & admitted in Technical Study)<p>
  2) Mr. Gautam (Rajkot)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;BSc Study Cont'd, DCE Study Cont'd
  </ul>
  <p>
  <font color="000080" size="3"><u>Brothers <i>"Known As Engineer Brothers"</i></u></font><br>
  <ul>
  1) Mr. Jamanbhai B. Pankhania (Nairobi-Kenya)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Electrical Engineer - DEE<br>
  &nbsp;&nbsp;&nbsp;&nbsp;<i>Engineer and Contractors</i><br>
  &nbsp;&nbsp;&nbsp;&nbsp;"Giriraj Builders"<p>

  2) Mr. Karsanbhai B. Pankhania (Rajkot)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;(Engineer-Planner, BE Civil, AMIE, PG Planing, AITP)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;<i>Senior Town Planner</i><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Saurashtra-Kutchh Region<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Town Planning & Valuation Department<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Government of Gujarat<p>

  3) Mr. Tulshibhai B. Pankhania (V V Nagar)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;(Mechanical Engineer, ME MEch, FIE C. Engr)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;<i>Professor</i>, BVM Engineering College, V V Nagar<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Hon Secretary - Shri Sorathia Prajapati Vidhya Mandal (V V Nagar)<p>

  4) Mr. Mathurbhai B. Pankhania (Rajkot)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;(Civil Engineer - BE Civil)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;<i>Executive Engineer</i><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Irrigation Department<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Government of Gujarat
  </ul>
  <p>
  <b>Associate with Social Institutes</b><br />
  <font color="000080" size="3"><u>Present Holds</u></font><br>
  <ul>
  1) Managing Trustee<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Smt Amrutben Mandubhai Gohil<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Shri Sorathiya Prajapati Kanya Kelvani Trust, Rajkot (Girl's Hostel)<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Shri Upendrabhai Mandubhai Gohil<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Education and Charitable Trust Rajkot<p>

  2) Chairman: Pankhania Parivar Trust Rajkot<br>
  3) Trustee: Shri Sorathiya Prajapati Education Trust, UK<br>
  4) Donors and Life Members: All most all institutions of Sorathiya Prajapati<p>

  <font color="000080" size="3"><u>Held in Past</u></font><br>
  &nbsp;&nbsp;&nbsp;&nbsp;1) Member, Treasurer, President & Trustee, SriBai Kelvani Mandal, Junagadh (Boy's Hostel)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;2) Vice President & Advisor: SriBai Ashram, Sorathiya Prajapati - Talala<br>
  &nbsp;&nbsp;&nbsp;&nbsp;3) Jt. Secretary, Secretary & Adviser: Sri Sorathiya Prajapati Gnati, Rajkot
  </ul>
  <p>
  <b>Educations</b></font>
  <ul>
  SSC (old): March 1969 (69%)<br>
  Bhavsivji High School, Porbandar<p>

  BE (Civil): June 1975 (71%)<p>

  1) Gold Medal &nbsp;&nbsp;&nbsp;&nbsp; 2) Cash Prize &nbsp;&nbsp;&nbsp;&nbsp; 3) Merit Certificates<br>
  &nbsp; &nbsp; &nbsp; &nbsp;<font color="#66CCFF">Awarded by</font><br>
  &nbsp; &nbsp; &nbsp; &nbsp;1) Center for Environment Planning and Technology (CEPT) Ahmedabad<br>
  &nbsp; &nbsp; &nbsp; &nbsp;Govt. of Gujarat<br>
  &nbsp; &nbsp; &nbsp; &nbsp;2) Institute of Town Planners India<br>
  &nbsp; &nbsp; &nbsp; &nbsp;New Delhi (ITPI)<br>
  &nbsp; &nbsp; &nbsp; &nbsp;<font color="#66CCFF">Honoured by </font><br>
  &nbsp; &nbsp; &nbsp; &nbsp;1) Ministry of Urban Development and Urban Hosing Department, Govt. of Gujarat<br>
  &nbsp; &nbsp; &nbsp; &nbsp;2) Town Planning and Valuation Department, Govt of Gujarat<br>
  &nbsp; &nbsp; &nbsp; &nbsp;3) Various Prajapaty's Community Mandals Trusts<br>
  &nbsp; &nbsp; &nbsp; &nbsp;Individuals<br>
  <font color="#66CCFF">(First in Community who has been awarded Gold Medals; such Honors and
  acquired Highest Post in Technical Field in State Government)</font>
  </ul>
  <p>
  <b>Services</b><br />
  <font color="000080"><u>Asst. Lecture</u> August 1975 - May 1976</font><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Faculty of Technology and Engineering College, MS University - Baroda<br>
  <font color="000080"><u>Presently Employed: Town Planning & Valuation Department, Govt of Gujarat (June 1976 and Cont'd)</u></font>
  <ul>
  a) Surveyor (Tech) (June 1976 - Feb 1978) - Junagadh (1st Posting)<br>
  b) Planning Assistant (March 1978 - Feb 1991) - Junagadh, Rajkot (1st Promotion)<br>
  c) Assistant Town Planner (March 1991 - Jan 1992) - Rajkot (2nd Promotion)<br>
  d) Town Planning Officer (Feb 1992 - May 1996) - (1st Selection by Gujarat Public Service Commission)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Jamnagar (Gondal, Limdi, Una) Bhuj, Junagadh, Amreli, Porbandar Districts<br>
  e) Town Planner, Bhuj (June 1996 - July 1997) - (2nd Selection by GPSC)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;District Head Kutchh, Jamnagar, Junagadh, Amreli & Porbandar Districts<br>
  f) Senior Town Planner (Aug 1997 Cont'd) - (3rd Selection by GPSC)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Head of Saurashtra Kutchh, Region (8 Districts)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Town Planning and Valuation Department, Govt of Gujarat
  </ul>
  <font color="000080"><u>Special Tesks/Works Assigned</u></font><br>
  (On the Day of Earthquake, Jan 26th 2001 and Cont'd)<br>
  <ul>
  a) Appointed as Authorized Government Officer<br>
  For Re-Development and Re-Construction of Earthquake Affected Cities<br>
  1) Bhuj &nbsp;&nbsp;&nbsp;&nbsp; 2) Anjar &nbsp;&nbsp;&nbsp;&nbsp; 3) Bhachau &nbsp;&nbsp;&nbsp;&nbsp; 4) Rapar &nbsp;&nbsp;&nbsp;&nbsp; 5) Morbi &nbsp;&nbsp;&nbsp;&nbsp; 6) Halvad<br>
  b) Appointed as Coordinator for Government, NGO and other agencies<br>
  <table border="0"><tr><td>
  1) Town Planning Dept</td><td>
  2) Development Authorities</td></tr><tr><td>
  3) Planning Authorities </td><td>
  4) Urban Development Dept</td></tr></table>
  </ul>
  <p>
  <b>Contact</b><br />
  <font color="000080"><u>Resident Address</u></font><br>
  &nbsp;&nbsp;&nbsp;&nbsp;"MANORATH" 4/Radhanagar, Nana Mava Road<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Rajkot (360 004) Gujarat, India<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Ph: 91 281 2388448 / 2369624 (R) Mov. 98252 19609<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Email: <a href="mailto:gpankhaniya@yahoo.com">gpankhaniya@yahoo.com</a><p>
  <font color="000080"><u>Office Address</u></font><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Town Planning and Valuation Department<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Chimanbhai Patel Vikas Bhavan, RUDA Building 6th Floor, Jamnagar Road<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Rajkot (360 001) Gujarat India<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Ph: 91 281 2436812 (Direct) 2476307 (Telefax)<p>
  <font color="000080"><u>Girls Hostel/Upendra Trust</u></font><br>
  &nbsp;&nbsp;&nbsp;&nbsp;"Amrut Kanya Chhatralay", Panchavati Main Road<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Rajkot (360 001) Gujarat India<br>
  &nbsp;&nbsp;&nbsp;&nbsp;Ph 91 281 2431616 (Telefax) 2432053 (Girl's)<p>
  <font color="000080"><u>Pankhania Parivar Trust: AS 7.1</u></font><p>
  <b>With Best Compliments From</b><br />
  1) Smt. A M Gohil, Shri Sorathiya Prajapati Kanya Kelvani Trust Rajkot<br>
  2) Shri Upendra Mandubhai Educational Charitable Trust Rajkot<br>
  3) Shri Pankhania Parivar Trust, Rajkot
  </font>
<% end %>