<%= render "pages/elders/layout" do %>
  <h1>Madhavjibhai Narsi Devalia</h1>

  <div class="float-left mr-3 mb-5">
      <%= image_tag 'madhavji_narsi_devalia.jpg', width: "145", height: "165" %>
      <p class="text-muted">Madhavjibhai Narsi Devalia's Visit to the Atlanta Chapter 2001</p>
  </div>

  Born: Kutiyana, near Gujarati school, Khumbarvada, Gujarat<br/>
  Current address: 13 King Richard St, Coventry, UK, CV2 4FU<br />
  Telephone: 00 44 2476 22 42 33<br />
  Email: <a href="mailto: m_devalia@hotmail.com">m_devalia@hotmail.com</a>

  <font face="arial" color="red">Birthdate</font> - 31st December 1929, lived in Kutiyana till 1947, leaving for Kenya, just weeks before Indian independence. Left for the UK with family, in April 1974, and has been resident in Coventry ever since.<br><br>

  <font face="arial" color="#66CCFF">Contributions to society and the SSPGM community:</font><br><br>

  <font face="arial" color="red">1945</font> - At the age of just 16, produced a monthly magazine called "Bharat" to promote Gandhiji's principles and fight for Indian independence. This magazine was circulated at the Kutiyana library.<br><br>

  <font face="arial" color="red">1947</font> - Joined the SSPGM, Nairobi and gave service for many years.<br><br>

  <font face="arial" color="red">1947-1974</font>  - Also contributed to various spiritual and cultural bodies.<br><br>

  <font face="arial" color="red">1952</font> - Established Shree Sorathia Prajapati Kala Kelvani (Art and Education) Mandal with other SSPGM Youths. Presented various cultural programmes. <br><br>

  <font face="arial" color="red">1956</font> - Joined Shree Sorathia Prajapati Vyayam Shala (Exercise Club). Took charge of library and reading room. <br><br>

  <font face="arial" color="red">1956 - 1959</font> -Contributed articles and - edited Balfulvadi page (Children's page) in "Jai Africa" weekly newspaper.<br><br>

  <font face="arial" color="red">1960 - 1962</font> Presented radio programme on "Kenya Broadcasting Service" - children's stories, plays, philosophical talk, music, songs, all in Gujarati.<br><br>

  <font face="arial" color="red">1969</font> - Acted as Samelan Mantri (Secretary) at the opening of Sri Bai Mataji's Mandir at the SSPGM building.<br><br>

  <font face="arial" color="red">1970 -1973</font> Secretary for SSPGM Nairobi. During this period, SSPGM Nairobi produced two sets of accounts and reports (up to Dec 1969 and Dec 1972). <br><br>

  <font face="arial" color="red">1974 - 1979</font> - Secretary for SSPGM Coventry.<br><br>

  <font face="arial" color="red">1976</font> - Elected the Vice President for the U.K. Mandal, during 4th meeting in Leicester<br><br>

  <font face="arial" color="red">1988 - 1989</font> Secretary for SSPGM UK, (National Executive Council).<br><br>

  <font face="arial" color="red">1990 - 1991</font> - for 18 months presented Gujarati cultural programme on Radio Harmony station in Coventry.<br><br>

  <font face="arial" color="red">1994</font> - Published a set of 15 "Bal Pushtika" books for children on various subjects. These were distributed to SSPGM mandals in the UK and India ; and also amongst friends and family.<br><br>

  <font face="arial" color="red">1995</font> - Featured in local newspapers for skill with mathematical puzzles.<br><br>

  <font face="arial" color="red">1999</font> - In August, wrote "Dharmantarnun Chakra", a historical booklet about religious conversion in India.<br><br>

  <font face="arial" color="red">2000</font> - In September, wrote "Netaji - Subhashchandra Bose", a profile about Indian nationalist leader.<br><br>

  <font face="arial" color="red">2001</font> - In December, wrote "Ravindranath Tagore", a profile of India's leading poet, first Indian winner of Nobel Prize for literature, for his book Geetanjli.<br><br>

  <font face="arial" color="red">2004</font> - In March, wrote "Ram Mandir no Raktpat", a historical book about bloodshed of Hindus and to rebuild Ram Mandir at Ayodhya.<br><br>

  (All four booklets were published by Vishvabharti Publications, Juna Kurla, Bombay. This publisher's name is Vinod Khimji Fatania, editor of Agni Chakra).<br><br>

  <font face="arial" color="red">In Addition</font> - Since 1979 we (couples) follow the "Brahma Kumaris" knolwdge that is Rajayoga knowledge. We follow the principles of Brahma Kumaris headquarters in Mount Abu in India under the name of "Prajapita Brahma Kumari Ishwariya Vishva Vidhyala".  Its main aim and object is to become real deity such as "Laxmi Narayan" by mind, knowledge and action. The main principle is to care of "celibacy" which means not to go into sex in any way, not to see evil, not to speak evil, not to hear evil and not to act evil.<br><br>

  <font face="arial" color="red">1993</font> - Wrote a profile of Brahmababa in poems of 1992 lines, which was printed in Gujarati Ghanamrat.<br><br>

  <font face="arial" color="red">1994 - 2000</font> - Wrote several poems and articles, which were printed in the same magazine. In 1998, wrote "Parmatmani Pavan Katha" in poems of 1709 lines.<br><br>

  We are always going to the Rajayoga Center for daily satsang for about 1 hour every morning and attending and participating programs organized by Rajayoga.<br><br>

  <font face="arial" color="red">1947</font> - Present - Written articles on various cultural subjects and mathematics in local and national Indian newspapers and magazines. Also, performed and presented various cultural, religious and social programmes in Coventry and in the UK. I am the Trustee of Educational trust belonging to SSPGM since 1995.<br><br>

  <BR><BR>
  <font color="#66CCFF">Honoured by: Shree Sorathia Prajapati Gnati Mandal Nairobi, Kenya</font><BR><BR>


  1. SSPGM committee meeting, held on 27th July 1970, decided to hold a 2 day festival on the 31st July 1970 with Ramayan Satsung etc. On the 1st August they arranged a "Satyanarayan Katha" for the whole community.  They chose me to be the host (Yajman), being the secretary of SSPGM.<BR><BR>

  2. During the New Years function on 31st October 1970 Mr. Meraman Jutha Shingadia presented me a "Wyvern" pen in recognition of my service to the Gnati.<BR><BR>

  3. On 2nd August 1977, SSPGM honoured the five founder members of SSPGM in 1930.   At this function Mr Meraman Jutha Shingadia presented me a Parker ball pen in recognition of my work for the community.<BR><BR>

  4. On the Shreebai Mataji Mahotsav on the 12th December 1971 SSPGM honoured me with a letter" Sanman Patra" together with cuff links, tie pin, tie, and two gold guineas.<BR><BR>

  5. Various sub committees of SSPGM for 1971, honoured me with a letter of best wishes on 8th January 1972.<BR><BR>

  6. Shree Sorathia Prajapati Krishna Sangit Mandal organised a function & presented me with a letter of honour called the Sanman Patraon on 5th February 1974.<BR><BR>

  7. A function with the whole community was arranged in my honour on 14th April 1974. They presented a framed service certificate, "Sanman Patra" & EDOX watch.<BR><BR>

  8. Shreebai Stree Satsung Mandal organised a function on April 18th 1974 and they Garlanded me and presented me with a set of "Parker pens.<BR><BR>


  9. A special dinner was organised for me and my family on the 24th April 1974 as a farewell occasion, upon my departure for the UK.<BR><BR>


  <font color="#66CCFF">Honoured by :-  Other Mandals</font><BR><BR>

  1. Founder member of Shree S.P.G.M (NEC) U.K. A draft copy of the constitution prepared by me. First vice president of the NEC established on 22nd May 1976.<BR><BR>

  2. Anand Milan Kendra of Birmingham presented me a "Sanman Patra" and a framed photo of Lord Krishna on 1st December 1999 for my services.<BR><BR>

  3. SSPGM of Atlanta presented me two religious books and a biro pen on 21st July 2001, whilst I was in the USA, for my services to our whole community since last fifty years.<BR><BR>

  4. On 10th February 2002, Rajyogis presented me with a box of silver tablemats in recognition of my literature and other services in the "Raj Yogies Couples Section".<BR><BR>

                Yours Sincerely<BR><br>

  Madhavji Devalia<BR>
  00 44  024 7622 4233<BR>
  email address:<a href="mailto: m_devalia@hotmail.com">  m_devalia@hotmail.com</a>
<% end %>