<%= render "pages/elders/layout" do %>
  <h1>Vinodbhai Masribhai Pankhania</h1>

  <p><b>On making the New Year Honours list for 2022 and being awarded with the British Empire Medal (BEM):</b></p>

  <p>
      Vinod M Pankhania received news from the Cabinet Office via a letter. 
      He recalled the moment: "It was a shock to me. I got a letter. I was a bit worried, have I been warned about something or what. 
      But when I read it, I was shocked. I had to sit down and I said 'I don't believe it'. 
      I couldn't believe it because what I am doing is not for recognition. 
      It's just to make sure that my fellow human beings, brothers and sisters are all happy."
  </p>

  <p>
      Vinod arrived in the UK in the 1990s, he has been instrumental in contributing to Milton Keynes culture and charitable life with a vision to harmonise and strengthen the growing Hindu population within the town. 
      Throughout the pandemic, within his role as the President of the Milton Keynes Hindu Community Association he has helped to deliver thousands of meals to the community. 
      In three months alone, the association sent 4,000 meals to people at Milton Keynes Hospital, care homes, pharmacies and an independent family funeral business. 
      He was also instrumental in building the first ever Hindu Community Centre in Milton Keynes, something which has not been an easy journey. 
      Vinod said the Hindu community had worked tirelessly for decades to make this happen. 
      They faced many stumbling blocks such as legal documents, planning and change in committees.
  </p>

  <p>
      However, this coming January they will be celebrating the Community Centre's third anniversary. 
      Mr Vinod Pankhania said: "It was a big achievement, we were all so proud." 
      It is Milton Keynes first ever purpose built building for the Hindu community that offers a place of prayer. 
      However, there is still work needed to be done and the association is now raising funds for phase two of the building works. 
      During Covid, it saw their worship shift to social media, Mr Vinod used the platforms to conduct online prayer sessions and Bhajan singing to help lift people's spirits.
  </p>

  <p>See article here: <%= link_to "https://www.buckinghamshirelive.com/news/buckinghamshire-news/new-years-honours-list-2022-6424252" %></p>
<% end %>