<%= render "pages/rising-stars/layout" do %>
  <p class="lead">Click on a link to the left to view a profile. To submit a profile of a standout SSPGM/SSPC youth, email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>.</p>
<% end -%>
