<%= render "pages/rising-stars/layout" do %>
  <h1>Manoj Mohanbhai Bhimji Ladwa</h1>

  <h3>Professional</h3>
  Manoj Ladwa is a recognised expert in Indo-UK trade. He is dual qualified as a solicitor
  in England &amp; Wales and an advocate of the Supreme Court of India.  Manoj is the founding
  partner of 'Manoj Ladwa Solicitors' (<%= link_to 'www.ladwalaw.co.uk', 'https://ladwalaw.co.uk' %>) 
  located in Westminster, London. He is also a co-founder and director of Saffron Chase Limited 
  (<%= link_to 'www.saffronchase.com', 'http://saffronchase.com' %>), a corporate strategy and communications consultancy with an India focus.
  <p>
  <h3>Experience</h3>
  For the past 8 years Manoj has specialised in advising UK companies establish and do business in India.  He
  also advises foreign companies on UK business immigration, employment and company commercial laws.

  Manoj has assisted a variety of clients from leading UK corporates such as Logica plc, British Airways,
  Aviva (Norwich Union), British Gas, Ministry of Defence, through to over 200 small and medium sized
  enterprises, and individual entrepreneurs on various aspects of Indian law and business.  Collectively
  his clients have contributed to over £1billion in Indo-UK trade and investment over the past 5 years.
  <p>
  <h3>Other Positions</h3>
  Manoj is a consultant on India to the Centre for International Briefing at Farnham. He is the honorary
  solicitor to the National Congress of Gujarati Organisations and a large number of Indo-British charities.
  Manoj is also well known for undertaking a significant amount of pro bono work for disadvantaged
  individuals.
  <p>
  <h3>Education</h3>
  Manoj read law at the prestigious London School of Economics and graduated with an honours degree
  in 1995.  He obtained a post-graduate diploma in legal practice in 1996 from the College of Law, York.
  <p>
  <br>
  <h3>Memberships</h3>
  Manoj is a member of various organisations including the Institute of Directors, International Bar Association,
  and the London Chamber of Commerce.  Manoj has been an active member of the Labour Party for over 10
  years, and is also a member of leading political think tanks The Fabian Society and Progress.
  <p>
  <h3>Media &amp; Seminars</h3>
  Manoj is an accomplished media commentator.  He is a contributor to various journals and newspapers on
  legal matters and Indo-British relations.  He has also appeared on national and international television and
  radio.  Manoj is frequently invited to speak at seminars and conferences both in the UK and other parts of
  the world on the legal and cultural aspects of doing business in India.
  <p>
  <h3>Lobbying for UK Interests</h3>
  Manoj has lobbied and taken on issues on behalf of his clients on subjects such as the opening of India's
  print media to foreign investment, the harmonization of India's data protection laws with Europe, and the
  successful opening up of direct flights between London Heathrow and Ahmedabad, Gujarat.
  <p>
  <h3>Interests</h3>
  Manoj is a founder member and past president of the National Hindu Students Forum UK.  He has consistently
  been involved in organisations and activities promoting community unity and representation.  The Queen
  recognised Manoj for his work at a special reception for young achievers at Buckingham Palace in 1999.
  The Asian Who's Who have described him as an “Asian high flyer”, and a recent survey listed Manoj as “one
  of Britain's most influential young Asians, a tough lawyer, and a rising star”.
  <p>
  <h3>Personal</h3>
  Manoj was born and brought up in Birmingham.  He is 31 years old and is married to Dina.
  <p>
  <h3>Contact Details</h3>
  7 Storey's Gate<br>
  Westminister<br>
  London<br>
  SW1P 3AT<p>

  Tel: 020 7222 5966<br>
  Fax: 020 7222 5959<p>

  <a href="mailto:manoj@ladwalaw.co.uk">
  manoj@ladwalaw.co.uk
  </a>
<% end %>