<%= render "pages/rising-stars/layout" do %>
  <h1>Udit Dayabhai Pankhania</h1>

  <%
      # TODO: Link this up
      # <a href="http://www.sspgm.net/pankhania_laka/213.html"></a>
  %>

  <p>
    Udit is truly an extraordinary individual. He is one of the rare Kumbhar/Prajapati devoted to the art of Tabla playing. 
    He has worked with some of the top Artists of India and with the grace of his Gurus, his Parents and sheer hard work 
    and talent he is one of the leading Tabla players in Europe and U.K. He is currently performing with Neela Bhagwat a 
    big vocalist from Mumbai and also teaches Tabla classes in the U.K.<p>
  </p>

  <p>
    Please visit his site: <a href="http://www.tablaplayer.co.uk/">www.tablaplayer.co.uk</a>
  </p>
<% end %>
