<%= render "pages/mandals/nairobi/layout" do %>
  <h1>About the Nairobi Mandal</h1>

  <h4>Managing Committee Members 2013-2014</h4>
  <b>Chairman: </b>Bhikhubhai Ramji Ghedia<br>
  <b>Vice Chairman: </b>Chandubhai Mohan Fatania<br>
  <b>Secretary: </b>Bharatbhai Hirji Tank<br>
  <b>Assistant Secretary: </b>Ajaybhai Hirji Tank<br>
  <b>Treasurer: </b>Kamleshbhai Savji Chitroda<br>
  <b>Assistant Treasurer: </b>Milanbhai Pragji Gohil

  <br><br>

  <b>Committee Members</b><br />
  Babubhai Ramji Bharadva<br>
  Chiragbhai Vashram Bharadva<br>
  Bhaveshbhai Popat Bharadva<br>
  Jitubhai Vashram Chavda<br>
  Narendrabhai Dayalal Pankhania<br>
  Dipenbhai Pragji Gohil

  <br><br>

  <b>Trustees</b><br />
  Narshibhai Meshur Ghedia<br>
  Tulsibhai Natha Shingadia<br>
  Rajnibhai Govind Savania<br>
  Sureshbhai Mohan Fatania

  <br><br>

  <h4>Contacts</h4>
  <b>Hon Secretary: </b>+254 722522956<br>
  <b>Hon Treasurer: </b>+254 725679151<br>
  <b>Email: </b><a href="mailto:sspgmnbi@hotmail.com">sspgmnbi@hotmail.com</a><br>
  <b>Facebook: </b><a href="http://www.facebook.com/sspgm-kenya">www.facebook.com/sspgm-kenya</a>

  <br><br>

  <b>Physical Location</b><br>
  Peponi Road, Peponi Gardens, Westlands Nairobi

  <br><br>

  <b>Postal Address</b><br>

  Shree Sorathia Prajapati Gnati Mandal<br>
  PO Box 218–00623<br>
  Nairobi, Kenya

  <br><br>

  <h4>Peta Mandals</h4>
  The following are the three peta mandals of our society actively involved during all community functions:
  <ul>
  <li>Shree Bai Stree Satsang Mandal</li>
  <li>Shree Ramdevpir Gat Bhagat Mandal</li>
  <li>Shree Krishna Sangeet Mandal</li>
  </ul>

  <h4>Festivals Celebrated</h4>
  Janmashtami Mahotsav<br>
  Navratri Mahotsav<br>
  Diwali &amp; New Year Sneh Milan<br>
  Shribai Mahotsav
<% end %>