<%= render "pages/mandals/nairobi/layout" do %>
  <h1>Nairobi Mandal History</h1>


    <p>
      Shri Sorathia Prajapati Gnati Mandal Nairobi Kenya<br>
      Established in the year 1930: Short History
    </p>

  <p>The settlement of the Shri Sorathia Prajapati Community goes back
    before World War 1 of 1914. The British Government invited Indian
    labours to build railway in Kenya from Nairobi to Mombasa.</p>

  <p>Many people made the journey to East Africa (1) By invitation of
  British Government, (2) To earn a living. Mainly, people worked to
  build railway. It was a difficult task. Some were killed by lions.
  Such a way our Prajapati brothers established in Kenya. By the
  time gone, the members of our community spreaded over Uganda and
  Tanzania. In Nairobi, Kenya, our brothers thought unification of
  out community and in the year of 1930, founded "Shri Sorathia
  Prajapati Gnati Mandal, Nairobi</p>

  <p>
  The elected office bearers are listed below by the year and names of
  the President and Secretary</p>

  <table border="1" cellpadding="3" cellspacing="0" bordercolor="#66CCFF">
  <tr>
  <td align="center">
  Year
  </td>
  <td align="center">
  President
  </td>
  <td align="center">
  Secretary
  </td>
  </tr>
  <tr>
  <td align="center">
  1930
  </td>
  <td align="center">
  Karsan Sura Pankhania
  </td>
  <td align="center">
  Meraman Jutha Shingadia
  </td>
  </tr><tr>
  <td align="center">
  1939
  </td>
  <td align="center">
  Laxaman Jeram Gohil
  </td>
  <td align="center">
  Hirji Jesha Gohil
  </td>
  </tr><tr>
  <td align="center">
  1941
  </td>
  <td align="center">
  Laxaman Jeram Gohil
  </td>
  <td align="center">
  Haribhai Velji Chhaya
  </td>
  </tr>
  </table>
<% end %>