<%= render "pages/mandals/nairobi/layout" do %>
    <h1>Nairobi Mandal</h1>

    <div class="row">
      <div class="col-6">
        Establishment of Shree Sorathia Prajapati Gnati Mandal, Nairobi<br />
        <%= link_to image_tag('nairobi1.jpg', width: "180", height: "145"), image_path('nairobi1.jpg') %><br />
        August 2nd, 1930
      </div>
      <div class="col-6">
        Establishment of Shree Sorathia Prajapati Gnati Mandal - Committee Members, Nairobi<br />
        <%= link_to image_tag('nairobi2.jpg', width: "180", height: "145"), image_path('nairobi2.jpg') %><br />
        1973
      </div>
    </div>
<% end %>