<%= render 'shared/new_styles' %>

<h1>Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust</h1>

<b>"Amrut Kanya Chhatralaya"<br></b></font>
Panchavati Main Road, Rajkot-360 001.
(India) Gujarat<br>
<font color="red"><b>Phone:</b></font> 0091-281-2431616 (Telefax)<br>
<font color="red"><b>Phone:</b></font> 0091-281-2432053, 5565223<br>
<font color="red"><b>Email: </b></font><a href="mailto:spkktrust@yahoo.co.in">spkktrust@yahoo.co.in</a><br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:vimalpankhania@rediffmail.com">vimalpankhania@rediffmail.com</a><br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:vimalpankhania2004@yahoo.co.in">vimalpankhania2004@yahoo.co.in</a><p>
<font color="red"><b>Managing Trustee: </b></font>Mr. Karsanbhai Becharbhai Pankhania
