<%= render "pages/mandals/jamnagar/layout" do %>
  <h1>Jamnagar Mandal</h1>
  <p><%= image_tag('indmap.gif', width: "225", height: "150") %><p>
  Information submitted by <a href="mailto:kukadia@indiatimes.com">Rajesh Kukadia</a> of Baroda (Vadodara), India
<% end %>