<%= render "pages/mandals/talala/layout" do %>
  <h1>Talala Mandal Committee</h1>

  <font color="red">President: </font>Parbatbhai D. Devalia<br />
  <font color="red">Vice Presidents: </font>Gigabhai M. Chavda<br />
  Gokarbhai K. Dabhi<br />Laljibhai H. Chandegra<br />
  <font color="red">Secretary: </font>Purshotambhai D. Chavda<br />
  <font color="red">Vice Secretary: </font>Ashokbhai V. Koria<br />
  <font color="red">Treasurer: </font>Ranchodbhai V. Devalia<br />
  <font color="red">Vice Treasurer: </font>Nagjibhai V. Marviya
<% end %>