<%= render "pages/mandals/talala/layout" do %>
  <h1>Talala Mandal</h1>

  Shree Sorthiya Prajapati Gyanti<br>
  Shreebai Ashram, Talala (Gir)<br>
  Dist. Junagadh-Gujarat (India)<p>
  <font color="red">Tel: </font>02877-22237/220103<br>
  <font color="red">Website: </font><a href="http://www.shreebaiashram.org/">www.shreebaiashram.org</a><br>
  <font color="red">Email: </font><a href="mailto:shreebaiashram@yahoo.co.in">shreebaiashram@yahoo.co.in</a>
<% end %>