<h1 class="page-header">About Us</h1>

<font color="#66CCFF"><b>
"Jai Shreebai Mataji"
</b></font><br /><br />

<font color="red" size="3"><b>
SSPGM Website Sponsors/Trustees:
</b></font>
<br />
<font color="white" size="3"><b>
Shila Dhiru Pankhania<br>
Dhiru Zina Pankhania<br>
</b></font>

<br /><br />

This website project and the ongoing maintenance and update of the site
is the sole responsibility of Shila Dhiru Pankhania and Dhiru Zina Pankhania,
for their lifetime. They have the right to exercise their options to include
or exclude <b><font color="yellow">any</font></b> content for the site,
and at their discretion. It should also be noted that any material forwarded
to us for inclusion on the SSPGM website has to be in English, so that it fits
in with the current format and can either be mailed or e-mailed to them.

<br /><br />

<font color="red" size="3"><b>
Advisor:
</b></font><br>
<font color="white" size="3"><b>
February 2002 - Present: Mohanlal Virjibhai Fatania
</b></font><p>

<br /><br />

<font color="red" size="3"><b>
Site Maintained By:
</b></font><br>
<font color="white" size="3"><b>
February 2002 - Present: Shila Dhiru Pankhania<br>
February 2002 - May 2002: Krishna Virjeebhai Dhokia<br>
June 2002 - Present: Rakesh Dhiru Pankhania
</b></font>

<br /><br />

<font color="#CC3333"><h1>
Disclaimer
</h1></font>

All the content on the website is solely for the use of the
SSPGM.net site, and can not be used or reproduced by any other entity
without our permission<p>

The information contained within this site is copyrighted, including all images
and text, as applicable. As such, you are permitted to download information from
this site but any reproduction, retransmissions, or republication of all or part of any
document found on this site is expressly prohibited, unless SSPGM.net has explicitly
granted its prior written consent to so reproduce, retransmit, or republish the material.<p>

Although this site includes "links" providing convenient direct access to other Internet
sites, SSPGM.net does not endorse, approve, certify or make warranties or representations
as to the accuracy of the information on these sites. SSPGM.net will make reasonable efforts
to include accurate and up-to-date information on this site, but SSPGM.net makes no warranties
or representations as to its accuracy. SSPGM.net reserves the right, however, to make changes at
any time, without notice, in materials, equipment, specifications, models and availability. All users agree
that all access and use of the content thereof is at their own risk. Neither SSPGM.net, nor any party
involved in creating, producing or delivering information and material via this site, shall be liable for any
direct, incidental, consequential, indirect, or punitive damages arising out of access to, use of or inability to
use the site, or any errors or omissions in the content thereof.

<br /><br />

<font color="#CC3333"><h1>
A Note to Our Members
</h1></font>

Since the launch of our web-site, www.sspgm.net, in <b><font color="yellow">2002</font></b>, there seems to be a need to evaluate, refine
and further identify the purpose of this web-site. <p>

Firstly, note that www.sspgm.net is a <b><font color="yellow">non</b></font>-profit, <b><font color="yellow">FREE</font></b> of charge, informational, <b><font color="yellow">global</font></b> site, we are not
affiliated with <b><font color="yellow">any organizations</b></font> of any kind and do NOT charge <b><font color="yellow">ANY</b></font> fees of any kind to anyone or any
corporation or organization.  This is the only way we can remain impartial to all members over the entire
globe.  We are devoting a lot of our valuable time selflessly to ensure that the best and most current
information is available to everyone everywhere at the same time.<p>

<b><font color="#66CCFF">
Our mission is and has always been to present members worldwide with knowledge of our cultural,
religious, historical, genealogical, educational, economical, and other achievements about our past, present
and the future.<p>
</font></b>

All of the information posted on our site has been, prepared selflessly and tirelessly by individuals of our
Shree Sorathia Prajapati Gnati members around the world.  Members send this data so that more people
can be informed of our heritage and culture and general news from many corners of the world.  <b><font color="yellow">This is a
cooperative effort to promote our mission</b></font><p>

A lot of the information in our site includes the evolutionary steps and actions taken by our forefathers
that are responsible for our existence and well being today and the future of our children and for
generations to come.  <b><font color="yellow">This is historical information that belongs to all of us!</font></b><p>

Now almost 3 years later, our site has grown by leaps and bounds and has become an information center
for our community across the globe. We have the USA, Canada and Australia members' directory.  They are
all very happy to post information and communicate freely with the new medium.  They have made major
contributions to their size of community.<p>

India too has been very forthcoming and is continuously supplying us with a wealth of information and is
strongly promoting the site to all the members.<p>

We have had a <b><font color="yellow">tremendous</b></font> response from the UK members and various individuals in the UK have made
efforts to promote the site and have also contributed quite rigorously towards the growth of this web-site.
We have had an overwhelming request from the UK members to post the directory of members using the
same format as USA, Canada, Australia, etc.<p>

We are currently working on implementing a Global directory for our members worldwide.  We would like
your feedback and/or suggestions on this and other items of interest to you.
Members can now contact, find or locate each other freely across the globe at the click of the mouse.  This
is a very useful feature to network our community closer together.  We have actually connected people
together who had lost contact for many years!!<p>

We request all our members to fully understand the objectives of this <b><font color="yellow">our</b></font> www.sspgm.net site and to fully
utilize this wonderful tool to their advantage, take pride in contributing towards its growth and to inform as
many of our members about the site.  In this age of connectedness, no man is an island and no country is
isolated anymore.<p>

Keep the greater goal of communicating and connecting with <b><font color="yellow">PEOPLE</font></b> rather than creating islands in a very
small world!  Since the website recognizes no boundaries – we would like you everyone to forget which
country you are residing in and believe that you can make a difference in the opposite corner of the world.<p>

<font color="red"><b>Email us at </b></font><a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a><br>
Jai Shreebai Mataji
