<center>
<table border="1" cellspacing="0" cellpadding="9" width="900" bordercolor="#CC3333">
<tr height="100%">
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<%= render 'shared/africa_left' %>
</td>
</tr>
</table>

</td>
<td width="50%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<center><h1><font color="#CC3333">
Welcome to the Africa Chapter
</font></h1></center>
<p>
</td>
</tr>
</table>

</td>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
