<center><h1><font color="#CC3333">
Answers of Why
</font></h1></center>
<p>
<center>
<a hame="top"></a>
<!-- TODO: Get these links to work -->
<table border="0" cellspacing="3" cellpadding="5" width="95%">
<tr valign="top"><td width="55%">
<a href="#1">1. Why do we light a lamp?</a><br>
<a href="#2">2. Why do we have a prayer room?</a><br>
<a href="#3">3. Why do we do namaste?</a><br>
<a href="#4">4. Why do we prostrate before parents and elders?</a><br>
<a href="#5">5. Why do we wear marks (tilak, pottu and the like) on the forehead?</a><br>
<a href="#6">6. Why do we not touch papers, books and people with the feet?</a><br>
<a href="#7">7. To touch another with the feet is considered an act of misdemeanor. Why is this so?</a><br>
<a href="#8">8. Why do we apply the holy ash?</a><br>
<a href="#9">9. Why do offer food to the Lord before eating it?</a><br>
<a href="#10">10. Why do we fast?</a><br>
<a href="#11">11. Why do we do pradakshina (circumambulate)?</a><br>
</td><td width="45%">
<a href="#12">12. Why is pradakshina done only in a clockwise manner? </a><br>
<a href="#13">13. Why do we regard trees and plants as sacred?</a><br>
<a href="#14">14. Why do we ring the bell in a temple?</a><br>
<a href="#15">15. Why do we worship the kalasha?</a><br>
<a href="#16">16. Why do we consider the lotus as special?</a><br>
<a href="#17">17. Why do we worship tulasi?</a><br>
<a href="#18">18. Why do we blow the conch?</a><br>
<a href="#19">19. Why do we say shaanti thrice?</a><br>
<a href="#20">20. Why do we offer a coconut?</a><br>
<a href="#21">21. Why do we chant Om?</a><br>
<a href="#22">22. Why do we do aarati?</a><br>
</td></tr></table>

<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

<p><hr width="75%" color="#CC3333"><p>

<a name="1"><font color="steelblue" size="4"><b>
1. Why do we light a lamp?
</b></font></a><br>

In almost every Indian home a lamp is lit daily before the altar of the Lord. In some houses it is lit at dawn, in some, twice a day – at dawn and dusk –
and in a few it is maintained continuously (akhanda deepa). All auspicious functions commence with the lighting of the lamp, which is often maintained
right through the occasion.<p>

Light symbolizes knowledge, and darkness, ignorance. The Lord is the "Knowledge Principle" (chaitanya) who is the source, the enlivener and the
illuminator of all knowledge. Hence light is worshiped as the Lord himself. <p>

Knowledge removes ignorance just as light removes darkness. Also knowledge is a lasting inner wealth by which all outer achievement can be
accomplished. Hence we light the lamp to bow down to knowledge as the greatest of all forms of wealth.<p>

Why not light a bulb or tube light? That too would remove darkness. But the traditional oil lamp has a further spiritual significance. The oil or ghee in the
lamp symbolizes our vaasanas or negative tendencies and the wick, the ego. When lit by spiritual knowledge, the vaasanas get slowly exhausted and
the ego too finally perishes. The flame of a lamp always burns upwards. Similarly we should acquire such knowledge as to take us towards higher ideals.<p>

Whilst lighting the lamp we thus pray:<br>
Deepajyothi parabrahma<br>
Deepa sarva tamopahaha<br>
Deepena saadhyate saram<br>
Sandhyaa deepo namostute<p>

I prostrate to the dawn/dusk lamp; whose light is the Knowledge Principle (the Supreme Lord), which removes the darkness of ignorance and
by which all can be achieved in life.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="2"><font color="steelblue" size="4"><b>
2. Why do we have a prayer room?
</b></font></a><br>

Most Indian homes have a prayer room or altar. A lamp is lit and the Lord worshipped each day. Other spiritual practices like japa (repetition of the
Lord’s name), meditation, paaraayana (reading of the scriptures), prayers, and devotional singing etc is also done here. Special worship is done on
auspicious occasions like birthdays, anniversaries, festivals and the like. Each member of the family – young or old – communes with and worships
the Divine here.<p>

The Lord is the entire creation. He is therefore the true owner of the house we live in too. The prayer room is the Master room of the house. We
are the earthly occupants of His property. This notion rids us of false pride and possessiveness. <p>

The ideal attitude to take is to regard the Lord as the true owner of our homes and us as caretakers of His home. But if that is rather difficult, we
could at least think of Him as a very welcome guest. Just as we would house an important guest in the best comfort, so too we felicitate the Lord’s
presence in our homes by having a prayer room or altar, which is, at all times, kept clean and well-decorated. <p>

Also the Lord is all pervading. To remind us that He resides in our homes with us, we have prayer rooms. Without the grace of the Lord, no task can
be successfully or easily accomplished. We invoke His grace by communing with Him in the prayer room each day and on special occasions.<p>

Each room in a house is dedicated to a specific function like the bedroom for resting, the drawing room to receive guests, the kitchen for cooking
etc. The furniture, decor and the atmosphere of each room are made conducive to the purpose it serves. So too for the purpose of meditation,
worship and prayer, we should have a conducive atmosphere – hence the need for a prayer room.<p>

Sacred thoughts and sound vibrations pervade the place and influence the minds of those who spend time there. Spiritual thoughts and
vibrations accumulated through regular meditation, worship and chanting done there pervade the prayer room. Even when we are tired or agitated,
by just sitting in the prayer room for a while, we feel calm, rejuvenated and spiritually uplifted.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="3"><font color="steelblue" size="4"><b>
3. Why do we do namaste?
</b></font></a><br>

Indians greet each other with namaste. The two palms are placed together in front of the chest and the head bows whilst saying the word namaste.
This greeting is for all – people younger than us, of our own age, those older than friends, even strangers and us. <p>

There are five forms of formal traditional greeting enjoined in the shaastras of which namaskaram is one. This is understood as prostration but it
actually refers to paying homage as we do today when we greet each other with a namaste.<p>

Namaste could be just a casual or formal greeting, a cultural convention or an act of worship. However there is much more to it than meets the eye.
In Sanskrit namah + te = namaste. It means – I bow to you – my greetings, salutations or prostration to you. Namaha can also be literally interpreted
as "na ma" (not mine). It has a spiritual significance of negating or reducing one’s ego in the presence of another. <p>

The real meeting between people is the meeting of their minds. When we greet another, we do so with namaste, which means, "may our minds
meet," indicated by the folded palms placed before the chest. The bowing down of the head is a gracious form of extending friendship in love and
humility.<p>

The spiritual meaning is even deeper. The life force, the divinity, the Self or the Lord in me is the same in all. Recognizing this oneness with the
meeting of the palms, we salute with head bowed the Divinity in the person we meet. That is why sometimes, we close our eyes as we do namaste
to a revered person or the Lord – as if to look within. The gesture is often accompanied by words like "Ram Ram", "Jai Shri Krishna", "Namo Narayana",
"Jai Siya Ram", "Om Shanti" etc – indicating the recognition of this divinity.<p>

When we know this significance, our greeting does not remain just a superficial gesture or word but paves the way for a deeper communion with
another in an atmosphere of love and respect.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="4"><font color="steelblue" size="4"><b>
4. Why do we prostrate before parents and elders?
</b></font></a><br>

Indians prostrate before their parents, elders, teachers and noble souls by touching their feet. The elder in turn blesses us by placing his or her
hand on or over our heads. Prostration is done daily, when we meet elders and particularly on important occasions like the beginning of a new
task, birthdays, festivals etc. In certain traditional circles, prostration is accompanied by abhivaadana, which serves to introduce one-self, announce
one’s family and social stature.<p>

Man stands on his feet. Touching the feet in prostration is a sign of respect for the age, maturity, nobility and divinity that our elders personify. It
symbolizes our recognition of their selfless love for us and the sacrifices they have done for our welfare. It is a way of humbly acknowledging the
greatness of another. This tradition reflects the strong family ties, which has been one of India’s enduring strengths.<p>

The good wishes (Sankalpa) and blessings (aashirvaada) of elders are highly valued in India. We prostrate to seek them. Good thoughts create
positive vibrations. Good wishes springing from a heart full of love, divinity and nobility have a tremendous strength. When we prostrate with
humility and respect, we invoke the good wishes and blessings of elders which flow in the form of positive energy to envelop us. This is why the
posture assumed whether it is in the standing or prone position, enables the entire body to receive the energy thus received.<p>

The different forms of showing respect are:<br>
Pratuthana – rising to welcome a person.<br>
Namaskaara – paying homage in the form of namaste (discussed separately in this book).<br>
Upasangrahan – touching the feet of elders or teachers.<br>
Shaashtaanga – prostrating fully with the feet, knees, stomach, chest, forehead and arms touching the ground in front of the elder.<br>
Pratyabivaadana – returning a greeting.<p>

Rules are prescribed in our scriptures as to who should prostrate to whom. Wealth, family name, age, moral strength and spiritual knowledge in
ascending order of importance qualified men to receive respect. This is why a king though the ruler of the land, would prostrate before a spiritual
master. Epics like the Ramayana and Mahabharata have many stories highlighting this aspect.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="5"><font color="steelblue" size="4"><b>
5. Why do we wear marks (tilak, pottu and the like) on the forehead?
</b></font></a><br>

The tilak or pottu invokes a feeling of sanctity in the wearer and others. It is recognized as a religious mark. Its form and colour vary according to
one’s caste, religious sect or the form of the Lord worshipped.<p>

In earlier times, the four castes (based on varna or colour) – Brahmana, Kshatriya, Vaishya and Sudra – applied marks differently. The brahmin applied
a white chandan mark signifying purity, as his profession was of a priestly or academic nature. The kshatriya applied a red kumkum mark signifying
valour as he belonged to warrior races. The vaishya wore a yellow kesar or turmeric mark signifying prosperity as he was a businessman or trader
devoted to creation of wealth. The sudra applied a black bhasma, kasturi or charcoal mark signifying service as he supported the work of the other
three divisions.<p>

Also Vishnu worshippers apply a chandan tilak of the shape of "U", Shiva worshippers a tripundra (of the shape of "&ordm; ") of bhasma, Devi
worshippers a red dot of kumkum and so on).<p>

The tilak cover the spot between the eyebrows, which is the seat of memory and thinking. It is known as the Aajna Chakra in the language of Yoga.
The tilak is applied with the prayer – "May I remember the Lord. May this pious feeling pervade all my activities. May I be righteous in my deeds." Even
when we temporarily forget this prayerful attitude the mark on another reminds us of our resolve. The tilak is thus a blessing of the Lord and a
protection against wrong tendencies and forces.<p>

The entire body emanates energy in the form of electromagnetic waves – the forehead and the subtle spot between the eyebrows especially so.
That is why worry generates heat and causes a headache. The tilak and pottu cools the forehead, protects us and prevents energy loss. Sometimes
the entire forehead is covered with chandan or bhasma. Using plastic reusable "stick bindis" is not very beneficial, even though it serves the purpose
of decoration.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="6"><font color="steelblue" size="4"><b>
6. Why do we not touch papers, books and people with the feet?
</b></font></a><br>

To Indians, knowledge is sacred and divine. So it must be given respect at all times. Nowadays we separate subjects as sacred and secular. But in
ancient India every subject – academic or spiritual – was considered divine and taught by the guru in the gurukula.<p>


The custom of not stepping on educational tools is a frequent reminder of the high position accorded to knowledge in Indian culture. From an early
age, this wisdom fosters in us a deep reverence for books and education. This is also the reason why we worship books, vehicles and instruments
once a year on Saraswathi Pooja or Ayudha Pooja day, dedicated to the Goddess of Learning. In fact, each day before starting our studies, we
pray:<p>

Saraswati namasthubhyam<br>
Varade kaama roopini<br>
Vidyaarambham karishyaami<br>
Sidhirbhavatu me sadaa<p>

O Goddess Saraswati, the giver of<br>
Boons and fulfiller of wishes,<br>
I prostrate to You before<br>
starting my studies.<br>
May you always fulfill me?

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="7"><font color="steelblue" size="4"><b>
7. To touch another with the feet is considered an act of misdemeanor. Why is this so?
</b></font></a><br>

Man is regarded as the most beautiful, living breathing temple of the Lord! Therefore touching another with the feet is akin to disrespecting the
divinity within him or her. This calls for an immediate apology, which is offered with reverence and humility.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="8"><font color="steelblue" size="4"><b>
8. Why do we apply the holy ash?
</b></font></a><br>

The ash of any burnt object is not regarded as holy ash. Bhasma (the holy ash) is the ash from the homa (sacrificial fire) where special wood along
with ghee and other herbs is offered as worship of the Lord. Or the deity is worshipped by pouring ash as abhisheka and is then distributed as
bhasma.<p>

Bhasma is generally applied on the forehead. Some apply it on certain parts of the body like the upper arms, chest etc. Some ascetics rub it all over
the body. Many consume a pinch of it each time they receive it.<p>

The word bhasma means, "that by which our sins are destroyed and the Lord is remembered". Bha implied bhartsanam ("to destroy") and sma implies
smaranam ("to remember"). The application of bhasma therefore signifies destruction of the evil and remembrance of the divine. Bhasma is called
vibhuti (which means "glory") as it gives glory to one who applies it and raksha (which means a source of protection) as it protects the wearer
from ill health and evil, by purifying him or her.<p>

Homa (offering of oblations into the fire with sacred chants) signifies the offering or surrender of the ego and egocentric desires into the flame of
knowledge or a noble and selfless cause. The consequent ash signifies the purity of the mind, which results from such actions.<p>

Also the fire of knowledge burns the oblation and wood signifying ignorance and inertia respectively. The ash we apply indicates that we should
burn false identification with the body and become free of the limitations of birth and death. This is not to be misconstrued as a morose reminder
of death but as a powerful pointer towards the fact that time and tide wait for none.<p>

Bhasma is specially associated with Lord Shiva who applies it all over His body. Shiva devotes apply bhasma as a tripundra (the form of "&ordm;").
When applied with a red spot at the center, the mark symbolizes Shiva-Shakti (the unity of energy and matter that creates the entire seen and
unseen universe).<p>

Bhasma has medicinal value and is used in many ayurvedic medicines. It absorbs excess moisture from the body and prevents colds and
headaches. The Upanishads say that the famous Mrityunjaya mantra should be chanted whilst applying ash on the forehead.<p>

Tryambakam yajaamahe<br>
Sugandhim pushtivardhanam<br>
Urvaa rukamiva bhandhanaan <br>
Mrytyor muksheeyamaa amrutaat<p>

"We worship the three-eyed Lord Shiva who nourishes and spread fragrance in our lives. May He free us from the shackles of sorrow, change and
death – effortlessly, like the fall of a rip brinjal from its stem."

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="9"><font color="steelblue" size="4"><b>
9. Why do offer food to the Lord before eating it?
</b></font></a><br>

Indians make an offering of food to the Lord and later partake of it as prasaada – a holy gift from the Lord. In our daily ritualistic worship (pooja) too
we offer naivedyam (food) to the Lord.<p>

The Lord is omnipotent and omniscient. Man is a part, while the Lord is the totality. All that we do is by His strength and knowledge alone. Hence
what we receive in life as a result of our actions is really His alone. We acknowledge this through the act of offering food to Him. This is exemplified
by the Hindi words "tera tujko arpan"– I offer what is Yours to You. Thereafter it is akin to His gift to us, graced by His divine touch.<p>

Knowing this, our entire attitude to food and the act of eating changes. The food offered will naturally be pure and the best. We share what we get
with others before consuming it. We do not demand, complain or criticise the quality of the food we get. We eat it with cheerful acceptance
(prasaada buddhi).<p>

Before we partake of our daily meals we first sprinkle water around the plate as an act of purification. Five morsels of food are placed on the side
of the plate acknowledging the debt owed by us to the Divine forces (devta runa) for their benign grace and protection, our ancestors (pitru runa)
for giving us their lineage and a family culture, the sages (rishi runa) as our religion and culture have been "realised", aintained and handed down to
us by them, our fellow beings (manushya runa) who constitute society without the support of which we could not live as we do and other living
beings (bhuta runa) for serving us selflessly.<p>

Thereafter the Lord, the life force, who is also within us as the five life-giving physiological functions, is offered the food. This is done with the chant<p>

praanaaya swaahaa,<br>
apaanaaya swaahaa,<br>
vyaanaaya swaahaa,<br>
udaanaaya swaahaa,<br>
samaanaaya swaahaa,<br>
brahmane swaahaa<p>

After offering the food thus, it is eaten as prasaada – blessed food.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="10"><font color="steelblue" size="4"><b>
10. Why do we fast?
</b></font></a><br>

Most devout Indians fast regularly or on special occasions like festivals. On such days they do not eat at all, eat once or make do with fruits or a
special diet of simple food.<p>

Fasting in Sanskrit is called upavaasa. Upa means "near" + vaasa means "to stay". Upavaasa therefore means staying near (the Lord), meaning the
attainment of close mental proximity with the Lord. Then what has upavaasa to do with food?<p>

A lot of our time and energy is spent in procuring food items, preparing, cooking, eating and digesting food. Certain food types make our minds
dull and agitated. Hence on certain days man decides to save time and conserve his energy by eating either simple, light food or totally abstaining
from eating so that his mind becomes alert and pure. The mind, otherwise pre-occupied by the thought of food, now entertains noble thoughts
and stays with the Lord. Since it is a self-imposed form of discipline it is usually adhered to with joy.<p>

Also every system needs a break and an overhaul to work at its best. Rest and a change of diet during fasting is very good for the digestive system
and the entire body.<p>

The more you indulge the senses, the more they make their demands. Fasting helps us to cultivate control over our senses, sublimate our desires
and guide our minds to be poised and at peace.<p>


Fasting should not make us weak, irritable or create an urge to indulge later. This happens when there is no noble goal behind fasting. The
Bhagavad-Gita urges us to eat appropriately – neither too less nor too much – yukta-aahaara and to eat simple, pure and healthy food (a saatvik diet)
even when not fasting.


<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="11"><font color="steelblue" size="4"><b>
11. Why do we do pradakshina (circumambulate)?
</b></font></a><br>

We cannot draw a circle without a center point. The Lord is the center, source and essence of our lives. Recognizing Him as the focal point in our
lives, we go about doing our daily chores. This is the significance of pradakshina.<p>

Also every point on the circumference of a circle is equidistant from the center. This means that wherever or whoever we may be, we are equally
close to the Lord. His grace flows towards us without partiality.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="12"><font color="steelblue" size="4"><b>
12. Why is pradakshina done only in a clockwise manner?
</b></font></a><br>

The reason is not, as a person said, to avoid a traffic jam! As we do pradakshina, the Lord is always on our right. In India the right side symbolizes
auspiciousness. So as we circumambulate the sanctum sanctorum we remind ourselves to lead an auspicious life of righteousness, with the Lord
who is the indispensable source of help and strength, as our guide – the "right hand".<p>

Indian scriptures enjoin – matrudevo bhava, pitrudevo bhava, acharyadevo bhava. May you consider your parents and teachers as you would the
Lord. With this in mind we also do pradakshina around our parents and divine personages.<p>

After the completion of traditional worship (pooja), we customarily do pradakshina around ourselves. In this way we recognize and remember the
supreme divinity within us, which alone is idolized in the form of the Lord that we worship outside.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="13"><font color="steelblue" size="4"><b>
13. Why do we regard trees and plants as sacred?
</b></font></a><br>

The Lord, the life in us, pervades all living beings, be they plants or animals. Hence, they are all regarded as sacred. Human life on earth depends on
plants and trees. They give us the vital factors that make life possible on earth: food, oxygen, clothing, shelter, medicines etc.<p>

Hence, in India, we are taught to regard trees and plants as sacred. Indians scriptures tell us to plant ten trees if, for any reason, we have to cut
one. We are advised to use parts of trees and plants only as much as is needed for food, fuel, shelter etc. we are also urged to apologies to a
plant or tree before cutting it to avoid incurring a specific sin named soona<p>

Certain trees and plants like tulasi, peepal etc., which have tremendous beneficial qualities, are worshipped till today. It is believed that divine
beings manifest as trees and plants, and many people worship them to fulfill their desires or to please the Lord.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="14"><font color="steelblue" size="4"><b>
14. Why do we ring the bell in a temple?
</b></font></a><br>

Is it to wake up the Lord? But the Lord never sleeps. Is it to let the Lord know we have come? He does not need to be told, as He is all knowing. Is
it a form of seeking permission to enter His precinct? It is a homecoming and therefore entry needs no permission. The Lord welcomes us at all
times. Then why do we ring the bell?<p>

The ringing of the bell produces what is regarded as an auspicious sound. It produces the sound Om, the universal name of the Lord. There should
be auspiciousness within and without, to gain the vision of the Lord who is all-auspiciousness.<p>

Even while doing the ritualistic aarati, we ring the bell. It is sometimes accompanied by the auspicious sounds of the conch and other musical
instruments. An added significance of ringing the bell, conch and other instruments is that they help drowned any inauspicious or irrelevant noises
and comments that might disturb or distract the worshippers in their devotional ardour, concentration and inner peace.<p>

As we start the daily ritualistic worship (pooja) we ring the bell, chanting:<br>
Aagamaarthamtu devaanaam<br>
gamanaarthamtu rakshasaam<br>
Kurve ghantaaravam tatra<br>
devataahvaahna lakshanam<p>

I ring this bell indicating<br>
the invocation of divinity,<br>
So that virtuous and noble forces<br>
enter (my home and heart);<br>
and the demonic and evil forces<br>
from within and without, depart.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="15"><font color="steelblue" size="4"><b>
15. Why do we worship the kalasha?
</b></font></a><br>

First of all what is a kalasha? A brass, mud or copper pot is filled with water. Mango leaves are placed in the mouth of the pot and a coconut is
placed over it. A red or white thread is tied around its neck or sometimes all around it in a intricate diamond-shaped pattern. The pot may be
decorated wit designs. Such a pot is known as a kalasha.<p>

When the pot is filled with water or rice, it is known as purnakumbha representing the inert body which when filled with the divine life force gains
the power to do all the wonderful things that makes life what it is.<p>


A kalasha is placed with due rituals on all-important occasions like the traditional house warming (grihapravesa), wedding, daily worship etc. It is
placed near the entrance as a sign of welcome. It is also used in a traditional manner while receiving holy personages. Why do we worship the
kalasha? Before the creation came into being, Lord Vishnu was reclining on His snake-bed in the milky ocean. From His navel emerged a lotus from
which appeared Lord Brahma, the creator, who thereafter created this world.<p>

The water in the kalasha symbolizes the primordial water from which the entire creation emerged. It is the giver of life to all and has the potential
of creating innumerable names and forms, the inert objects and the sentient beings and all that is auspicious in the world from the energy behind
the universe. The leaves and coconut represent creation.<p>

The thread represents the love that "binds" all in creation. The kalasha is therefore considered auspicious and worshipped. The waters from all the
holy rivers, the knowledge of all the Vedas and the blessings of all the deities are invoked in the kalasha and its water is thereafter used for all the
rituals, including the abhisheka.<p>


The consecration (kumbhaabhisheka) of a temple is done in a grand manner with elaborate rituals including the pouring of one or more kalashas of
holy water on the top of the temple. When the asuras and devas churned the milky ocean, the Lord appeared bearing the pot of nectar, which
blessed one with everlasting life.<p>

Thus the kalasha also symbolizes immortality. Men of wisdom are full and complete as they identify with the infinite Truth (poornatvam). They brim
with joy and love and respect all that is auspicious. We greet them with a purnakumbha ("full pot") acknowledging their greatness and as a sign of
respectful and reverential welcome, with a "full heart".

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="16"><font color="steelblue" size="4"><b>
16. Why do we consider the lotus as special?
</b></font></a><br>

The lotus is the symbol of truth, auspiciousness and beauty (satyam, shivam, sundaram). The Lord is also that nature and therefore, His various
aspects are compared to a lotus (i.e. lotus-eyes, lotus feet, lotus hands, the lotus of the heart etc.).<p>


The lotus blooms with the rising sun and close at night. Similarly, our minds open up and expand with the light of knowledge. The lotus grows even
in slushy areas. It remains beautiful and untainted despite its surroundings, reminding us that we too can and should strive to remain pure and
beautiful within, under all circumstances.<p>

The lotus leaf never gets wet even though it is always in water. It symbolizes the man of wisdom (gyaani) who remains ever joyous, unaffected by
the world of sorrow and change. This is revealed in a shloka from the Bhagwad-Geeta:<p>

Brahmanyaadhaaya karmaani<br>
Sangam tyaktvaa karoti yaha<br>
Lipyate na sa paapena<br>
Padma patram ivaambhasaa<p>

He who does actions, offering them to Brahman (the Supreme), abandoning attachment, is not tainted by sin, just as a lotus leaf remains unaffected
by the water on it.<p>


From this, we learn that what is natural to the man of wisdom becomes a discipline to be practiced by all saadhakas or spiritual seekers and
devotees. Our bodies have certain energy centers described in the Yoga Shaastras as chakras.<p>

Each one is associated with lotus that has a certain number of petals. For example, a lotus with a thousand petals represents the Sahasra chakra
at the top of the head, which opens when the yogi attains Godhood or Realisation. Also, the lotus posture (padmaasana) is recommended when
one sits for meditation. A lotus emerged from the navel of Lord Vishnu. Lord Brahma originated from it to create the world. Hence, the lotus
symbolizes the link between the creator and the supreme Cause.<p>

It also symbolizes Brahmaloka, the abode of Lord Brahma. The auspicious sign of the swastika is said to have evolved from the lotus.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="17"><font color="steelblue" size="4"><b>
17. Why do we worship tulasi?
</b></font></a><br>

In Sanskrit, tulanaa naasti athaiva tulasi - that which is incomparable (in its qualities) is the tulasi.<p>

For Indians it is one of the most sacred plants. In fact it is known to be the only thing used in worship, which, once used, can be washed and
reused in pooja - as it is regarded so self-purifying.<p>

As one story goes, Tulasi was the devoted wife of Shankhachuda, a celestial being. She believed that Lord Krishna tricked her into sinning. So she
cursed Him to become a stone (shaaligraama). Seeing her devotion and adhered to righteousness, the Lord blessed her saying that she would
become the worshipped plant, tulasi that would adorn His head.<p>

Also that all offerings would be incomplete without the tulasi leaf - hence the worship of tulasi.<p>

She also symbolises Goddess Lakshmi, the consort of Lord Vishnu. Those who wish to be righteous and have a happy family life worship the tulasi.<p>

Tulasi is married to the Lord with all pomp and show as in any wedding.<p>

This is because according to another legend, the Lord blessed her to be His consort. Satyabhama once weighed Lord Krishna against all her
legendary wealth. The scales did not balance till a single tulasi leaf was placed along with the wealth on the scale by Rukmini with devotion.<p>

Thus the tulasi played the vital role of demonstrating to the world that even a small object offered with devotion means more to the Lord than all
the wealth in the world. The tulasi leaf has great medicinal value and is used to cure various ailments, including the common cold.<p>

Yanmule sarvatirhaani<br>
Yannagre sarvadevataa<br>
Yanmadhye sarvavedaascha<br>
Tulasi taam namaamyaham<p>

I bow down to the tulasi, At whose base are all the holy places, At whose top reside all the deities and In whose middle are all the Vedas.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="18"><font color="steelblue" size="4"><b>
18. Why do we blow the conch?
</b></font></a><br>

When the conch is blown, the primordial sound of Om emanates. Om is an auspicious sound that was chanted by the Lord before creating the
world. It represents the world and the Truth behind it.<p>

As the story goes, the demon Shankhaasura defeated devas, the Vedas and went to the bottom of the ocean. The devas appealed to Lord Vishnu
for help. He incarnated as Matsya Avataara - the "fish incarnation" and killed Shankhaasura. The Lord blew the conch-shaped bone of his ear and
head. The Om sound emanated, from which emerged the Vedas.<p>

All knowledge enshrined in the Vedas is an elaboration of Om. The conch therefore is known as shankha after Shankaasua. The conch blown by
the Lord is called Paanchajanya. He carries it at all times in one of His four hands.<p>

It represents dharma or righteousness that is one of the four goals (purushaarthas) of life. The sound of the conch is thus also the victory call of
good over evil.<p>

Another well-known purpose of blowing the conch and the instruments, known traditionally to produce auspicious sounds is to drown or mask
negative comments or noises that may disturb or upset the atmosphere or the minds of worshippers.<p>

Ancient India lived in her villages. Each village was presided over by a primary temple and several small ones. During the aarati performed after
all-important poojas and on sacred occasions, the conch used to be blown. Since villages were generally small, the sound of the conch would
be heard all over the village. People who could not make it to the temple were reminded to stop whatever they were doing, at least for a few
seconds, and mentally bow to the Lord. The conch sound served to briefly elevate people's minds to a prayerful attitude even in the middle of
their busy daily routine.<p>

The conch is placed at the altar in temples and homes next to the Lord as a symbol of Naada Brahma (Truth), the Vedas, Om, dharma, victory and
auspiciousness. It is often used to offer devotees thirtha (sanctified water) to raise their minds to the highest Truth. It is worshipped with the
following verse.<p>

Twam puraa saagarot pannaha<br>
Vishnunaa vidhrutahakare<br>
Devaischa poojitha sarvahi<br>
Panchjanya namostu te<br>
Salutations to Panchajanya<br>
the conch born of the ocean<br>
Held in the hand of Lord Vishnu<br>
and worshipped by all devaas

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="19"><font color="steelblue" size="4"><b>
19. Why do we say shaanti thrice?
</b></font></a><br>

Shaanti, meaning "peace", is a natural state of being. Disturbances are created either by others or us. For example, peace already exists in a place
until someone makes noise. Therefore, peace underlies all our agitations. When agitations end, peace is naturally experienced since it was already
there. Where there is peace, there is happiness. Therefore, every one without exception desires peace in his/her life.<p>

However, peace within or without seems very hard to attain because it is covered by our own agitations. A rare few manage to remain peaceful
within even in the midst of external agitation and troubles. To invoke peace, we chant prayers. By chanting prayers, troubles end and peace is
experienced internally, irrespective of the external disturbances. All such prayers end by chanting shaanti thrice.<p>

It is believed that trivaram satyam - that which is said thrice comes true. For emphasizing a point we repeat a thing thrice. In the court of law also,
one who takes the witness stands says, "I shall speak the truth, the whole truth and nothing but the truth".<p>

We chant shaanti thrice to emphasise our intense desire for peace. All obstacles, problems and sorrows originate from three sources.<p>

Aadhidaivika : The unseen divine forces over which we have little or no control like earthquakes, floods, volcanic eruptions etc.<br>
Aadhibhautika: The known factors around us like accidents, human contacts, pollution, crime etc.<br>
Aadhyaatmika : We sincerely pray to the Lord that at least while we undertake special tasks or even in our daily lives, there are no problems or that,
problems are minimised from the three sources written about above.<p>

May peace alone prevail. Hence shaanti is chanted thrice.<p>

It is chanted aloud the first time, addressing the unseen forces. It is chanted softer the second time, directed to our immediate surroundings and
those around, and softest the last time as it is addressed to oneself.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="20"><font color="steelblue" size="4"><b>
20. Why do we offer a coconut?
</b></font></a><br>

In India one of the most common offerings in a temple is a coconut. It is also offered on occasions like weddings, festivals, the use of a new
vehicle, bridge, house etc. It is offered in the sacrificial fire whilst performing homa. The coconut is broken and placed before the Lord. It is later
distributed as prasaada.<p>

The fibre covering of the dried coconut is removed except for a tuft on the top. The marks on the coconut make it look like the head of a human
being. The coconut is broken, symbolising the breaking of the ego. The juice within, representing the inner tendencies (vaasanas) is offered along
with the white kernel - the mind, to the Lord.<p>

A mind thus purified by the touch of the Lord is used as prasaada (a holy gift). In the traditional abhishekha ritual done in all temples and many
homes, several materials are poured over the deity like milk, curd, honey, tender coconut water, sandal paste, holy ash etc. Each material has a
specific significance of bestowing certain benefits on worshippers. Tender coconut water is used in abhisheka rituals since it is believed to bestow
spiritual growth on the seeker.<p>

The coconut also symbolises selfless service. Every part of the tree -the trunk, leaves, fruit, coir etc. Is used in innumerable ways like thatches, mats,
tasty dishes, oil, soap etc. It takes in even salty water from the earth and converts it into sweet nutritive water that is especially beneficial to sick
people. It is used in the preparation of many ayurvedic medicines and in other alternative medicinal systems.<p>

The marks on the coconut are even thought to represent the three-eyed Lord Shiva and therefore it is considered to be a means to fulfill our
desires.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="21"><font color="steelblue" size="4"><b>
21. Why do we chant Om?
</b></font></a><br>

Om is one of the most chanted sound symbols in India. It has a profound effect on the body and mind of the one who chants and also on the
surroundings. Most mantras and vedic prayers start with Om.<p>

All auspicious actions begin with Om. It is even used as a greeting - Om, Hari Om etc. It is repeated as a mantra or meditated upon. Its form is
worshipped, contemplated upon or used as an auspicious sign.<p>

Om is the universal name of the Lord. It is made up of the letters A (phonetically as in "around"), U (phonetically as in "put") and M (phonetically as
in "mum"). The sound emerging from the vocal chords starts from the base of the throat as "A". With the coming together of the lips, "U" is formed
and when the lips are closed, all sounds end in "M".<p>

The three letters symbolize the three states (waking, dream and deep sleep), the three deities (Brahma, Vishnu and Shiva), the three Vedas (Rig,
Yajur and Sama) the three worlds (Bhuh, Bhuvah, Suvah) etc. The Lord is all these and beyond.<p>

The formless, attributeless Lord (Brahman) is represented by the silence between two Om Chants. Om is also called pranava that means, "that
(symbol or sound) by which the Lord is praised". The entire essence of the Vedas is enshrined in the word Om. It is said that the Lord started
creating the world after chanting Om and atha. Hence its sound is considered to create an auspicious beginning for any task that we undertake.
The Om chant should have the resounding sound of a bell (aaooommm).<p>

Om is written in different ways in different places. The most common form symbolizes Lord Ganesha’s. The upper curve is the head; the lower
large one, the stomach; the side one, the trunk; and the semi-circular mark with the dot, the sweetmeat ball (modaka) in Lord Ganesha's hand. Thus
Om symbolizes everything - the means and the goal of life, the world and the Truth behind it, the material and the Sacred, all form and the
Formless.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

<a name="22"><font color="steelblue" size="4"><b>
22. Why do we do aarati
</b></font></a><br>

Towards the end of every ritualistic worship (pooja or bhajan) of the Lord or to welcome an honored guest or saint, we perform the aarati. This is
always accompanied by the ringing of the bell and sometimes by singing, playing of musical instruments and clapping.<p>

It is one of the sixteen steps (shodasha upachaara) of the pooja ritual. It is referred to as the lighted lamp in the right hand, which we wave in a
clockwise circling movement to light the entire form of the Lord.<p>

Each part is revealed individually and also the entire form of the Lord. As the light is waved we either do mental or loud chanting of prayers or
simply behold the beautiful form of the Lord, illumined by the lamp. At the end of the aarati we place our hands over the flame and then gently
touch our eyes and the top of the head. We have seen and participated in this ritual from our childhood. Let us find out why we do the aarati?<p>

Having worshipped the Lord of love - performing abhisheka, decorating the image and offering fruits and delicacies, we see the beauty of the Lord
in all His glory. Our minds are focused on each limb of the Lord as the lamp lights it up. It is akin to silent open-eyed meditation on His beauty. The
singing, clapping, ringing of the bell etc. denote the joy and auspiciousness, which accompanies the vision of the Lord.<p>

Aarati is often performed with camphor. This holds a telling spiritual significance. Camphor when lit, burns itself out completely without leaving a
trace of it. It represents our inherent tendencies (vaasanas). When lit by the fire of knowledge which illumines the Lord (Truth), our vaasanas
thereafter burn themselves out completely, not leaving a trace of ego which creates in us a sense of individuality that keeps us separate from the
Lord.<p>

Also while camphor burns to reveal the glory of Lord, it emits a pleasant perfume even while it sacrifices itself. In our spiritual progress, even as we
serve the guru and society, we should willingly sacrifice ourselves and all we have, to spread the "perfume" of love to all. We often wait a long while
to see the illumined Lord but when the aarati is actually performed, our eyes close automatically as if to look within. This is to signify that each of us
is a temple of the Lord.<p>

Just as the priest reveals the form of the Lord clearly with the aarati flame, so too the guru reveals to us the divinity within each of us with the help
of the "flame" of knowledge (or the light of spiritual knowledge). At the end of the aarati, we place our hands over the flame and then touch our
eyes and the top of the head. It means - may the light that illuminated the Lord light up my vision; may my vision be divine and my thoughts noble
and beautiful.<p>

The philosophical meaning of aarati extends further. The sun, moon, stars, lightning and fire are the natural sources of light. The Lord is the source
of this wonderous phenomenon of the universe. It is due to Him alone that all else exist and shine. As we light up the Lord with the flame of the
aarati, we turn our attention to the very source of all light, which symbolizes knowledge and life.<p>

Also the sun is the presiding deity of the intellect, the moon, that of the mind, and fire, that of speech. The Lord is the supreme consciousness that
illuminates all of them. Without Him, the intellect cannot think, nor can the mind feel nor the tongue speaks. The Lord is beyond the mind, intellect
and speech. How can this finite equipment illuminate the Lord? Therefore, as we perform the aarati we chant:<p>

Na tatra suryo bhaati na chandra taarakam<br>
Nemaa vidyuto bhaanti kutoyamagnib<br>
Tameva bhaantam anubhaati sarvam<br>
Tasya bhasa sarvam idam vibhaati<p>

He is there where the sun does not shine,<br>
Nor the moon, stars and lightning.<br>
then what to talk of this small flame (in my hand),<br>
Everything (in the universe) shines only after the Lord,<br>
And by His light alone are we all illumined.

<p><hr width="75%" color="#CC3333"><center><a href="#top">Back to Top</a></center><hr width="75%" color="#CC3333"><p>

</td>
</tr>
</table>
</center>
<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
