<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">

        <font color="red"><b>Features</b></font><br />
        <%= link_to "History", page_path('barhist') %><br />
        <%= link_to "The Executive Committee", page_path('barmem') %><br /><br />

        <%= render 'shared/india_right' %>

    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Baroda Mandal History
      </h1></center>


      There were only 5 to 7 families of our cast up to 1973
      in Vadodara. Gradually, it increased to 10 to 15 in
      1976. At that time, Mr. Ladhabhai Pankhania used to
      take initiative and request all to meet each other
      once in a month so that know each other and share
      information. He formed a Mandal, and become the First
      President of Shree Sorathia Prajapati Pragati Mandal.<p>

      Members of Mandal were (1976): -<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Late Shri Ladhabhai Pankhania - President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Late Shri Shantilal Vadukul - Secretary <br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Vallabhbhai Dhokia<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Ishwarbhai Tank<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Kishanbhai Koria.<p>

      They decided to collect money from each family
      per annum to run Mandal. They fixed Rs. 5 per
      family per annum as a subscription. As numbers
      of families increased and settled in Vadodara,
      the Mandal strength gradually reaches 25 families
      in year 1980. They all thought and launched a
      project to buy land for the Mandal in Vadodara.
      In 1980, for that they form a new committee.<p>

      Members of Mandal were (1980): -<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Late Shri Ladhabhai Pankhania - President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Prafulbhai Chandegra - Secretary <br>
      &nbsp;&nbsp;&nbsp;&nbsp;Late Shri Shantilal Vadukul - Treasurer <br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Vallabhbhai Dhokia<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Ishwarbhai Tank<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Kishanbhai Koria.<p>

      They started their activities and raised funds
      to buy land. But as the number of families very
      less in Vadodara, they could not achieve their
      target. But they tried their best and they did
      a lot of many other social activities up to
      1994. In the year 1994, they again formed new
      committee.<p>

      Members of Mandal were (1994): -<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Mansukhbhai Gadhia - President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Muljibhai Bhardawa - Secretary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Rameshbhai Jadav - Treasurer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Kishanbhai Koria - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Mansukhbhai Ghedia - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Devshibhai Gohel - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Girdharbhai Bhardawa - Member<p>

      They did lot many social activities and also raised
      fund for Project that was started by Previous
      Committee. They were able to collect
      Rs 2,00,000/- upto 1999. But this amount was
      too small to start the Project. They were
      also unable to build Constitution of Mandal
      and its Motto. So, in the year 1999-2000,
      new committee was formed.<p>

      Members of Mandal were (1999): -<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Odhavjibhai Vadukul - President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Bhikhubhai Koria - Secretary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Rameshbhai Jadav - Treasurer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Virjibhai Chauhan - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Girdharbhai Bhardawa - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Jayantbhai Kukadia - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Kishanbhai Koria - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Mansukhbhai Ghedia - Member<p>

      During one year, committee members collected another
      Rs. 2,00,000/- (Gross fund raised to Rs. 4,00,000/-)
      fund. Due to some reasons, this committee resigned.
      Then in the year 2000, at Shri Rameshbhai Residence,
      during general meetings they decided to start Hostel
      of "Shree Sorathia Prajapti Pragati Mandal ", and for
      that Hostel they decided to Register Mandal at Charity
      Commissioner. They also discussed and form the rules,
      Principals, Constitution of Mandal during it general
      meeting. And at last they handed over responsibilities
      to finish this Project to new committee. <p>

      Members of Mandal were (2000): -<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Odhavjibhai V Vadukul - President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Girdharbhai K Bhardawa - Vice President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Prafulbhai K Chandegara  - Chief Secretary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Naranbhai P Bhardawa - Join Secretary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Rameshbhai G Jadav - Treasurer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Ramnikbhai A Kukadia - Join Treasurer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Arvindbhai L Gohel - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Virjibhai S Chauhan - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Ashok D Pankhania - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Jayantbhai J Kukadia - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Hemanshu L Pankhania - Member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Shri Mansukhbhai K Ghedia - Member<p>

      This committee formed on 01-04-2000. After taking
      charge, they immediate frame a constitute of Trust
      and on 16-05-2002 they registered and approved a
      Trust at Vadodara Charity Commissioner. The Trust
      No. is E-5673/16-05-2000. After getting Trust
      registration, Mandal activities improved lot.
      They decided to buy Land. After searching lot
      many Plots they luckily got a land of 12,000
      Square feet near Kalali Railway Crossing at
      Rs. 75/- per Square Feet. And on 12-02-2001
      they made a purchase agreement of same Land.
      Approximately the estimated price of said
      Plot is Rs. 9,00,000/-. As they were short
      of Rs. 5,00,000/- to buy the said premises,
      committee members worked hard and collected
      remaining short fund within few months. On
      27-05-2001, they made Legal Registration of
      said Land. As they did nice Job during last
      2 years, same committee got re-elected with
      majority without any opposition. After
      completing legal formalities, they made wire
      fencing around with Gate around Land and Put
      signboard of Mandal. After that, they approved
      Plan of Construction at Vadodara Municipal
      Corporation to start Construction. To complete
      this Project Mandal requires another Rs. 35,00,000/-.
      And this is big Challenge for Committee members.
      All member worked very hard; with positive attitude
      they collected another Rs. 3,00,000/- within short
      Period. But till it is too small. Mean while, the
      Shri Prafulbhai K Chandegara  - Chief Secretary
      of Vadodara Mandal went to China and UK for his
      personal work. He spared his valuable time and
      met (UK based) Cast families (likely to Shri
      Mohanbhai M Tank, Shri Narshibhai B Yadav,
      Shri Jivanbhai D Fatania and Shri
      Pravinbhai N Vara) and requested them for
      Donation. And he got positive response
      from UK based families and they contributed
      Rs. 27,00,000/-.

      Now they are ready for construction. For that
      trust will lay foundation stone of Hostel
      Building of Sorathia Prajapati Pragati Mandal,
      Vadodara on 12-02-2003 by Dr Jivanbhai K Tank,
      Former President of RAJKOT Mandal. Hopefully,
      the Project will be completed within 1 year.
      Only Sorathia Prajapati Student will get
      admission in this Hostel. Hostel and Trust
      will provide accommodation, food and books.
      The purpose of this Hostel is to provide
      such services to students who come for
      educational point of view. <p>

      "Co-operation from cast members is the Success of Mandal."<p>

      Members of current working committee (2003): -<p>

      <table border="1" cellspacing="1" cellpadding="1">
      <tr>
      <td align="center">President</td>
      <td align="center">Shri Odhavjibhai V. Vadukul</td>
      <td align="center">B/26, Anupamnagar, Nr Tube<br>Company, Old Padara Roak, Vadodara<br>Phone: 91-265-2338663</td>
      </tr>
      <tr>
      <td align="center">Vice President</td>
      <td align="center">Shri Girdharbhai R. Bharadawa</td>
      <td align="center">933, Kailesh Society, GHB, Gorwa<br>Vadodara.<br>Phone: 91-265-299298</td>
      </tr>
      <tr>
      <td align="center">Chief Secretary</td>
      <td align="center">Shri Prafulbhai K. Chandegara</td>
      <td align="center">C-36, Viral Park Society, GIDC Nain<br>Roak, Makar-pura, Vadodra.<br> Phone: 91-265-2638049</td>
      </tr>
      <tr>
      <td align="center">Join Secretary</td>
      <td align="center">Shri Jayantbhai J. Kukadia</td>
      <td align="center">C-42, Laxminarayan Society, B/H<br> Jalaramnagar, Gotri Road, Vadodra<br>Phone: 91-265-2313328</td>
      </tr>
      <tr>
      <td align="center">Treasurer</td>
      <td align="center">Shri Rameshbhai G. Jadav</td>
      <td align="center">2, Sanjivan Park, Near Samata Flats,<br>Vadodara<br>Phone: 91-265-2399194</td>
      </tr>
      <tr>
      <td align="center">Join Treasurer</td>
      <td align="center">Shri Ramnikbhai A. Kukadia</td>
      <td align="center">D-106, Maruti Flats, Vasana Roak,<br>Vadodara<br>Phone: 91-265-2253476</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Arvindbhai L. Gohel</td>
      <td align="center">135, Padam Park Societry, opp Novino</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Virjibhai S. Chauhan</td>
      <td align="center">659, Sidhdhinagar, GHB, Opp ITI,<br>Gorwa, Vadodara</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Ashok D. Pankhania</td>
      <td align="center">575, Vrindavan Appt., GHB, Opp ITI<br>Gorwa, Vadodara </td>
      </tr>
      <tr align="center">
      <td align="center">Member</td>
      <td align="center">Shri Naranbhai P. Bharadawa</td>
      <td align="center">244/45, L G Park, Near Vrijdham<br>Temple, Manjalpur, Vadodara<br>Phone: 91-265-2660619</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Hemanshu L. Pankhania</td>
      <td align="center">B-8/73, GIDC Colony, Makar-pura,<br>Vadodara<br>Phone: 91-265-2644825</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Mansukhbhai K. Ghedia</td>
      <td align="center">Parishramnagar, Opp Bandi Tubing,<br>GIDC Main Rd., MakarPura, Vadodara<br>Phone: 91-265-26647208</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Jivanbhai N. Gather</td>
      <td align="center">170, Adinath Society, B/H Bright<br>School, Kareli Baug, Vadodara<br>Phone: 91-265-2484206</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Jivanbhai R. Buhecha</td>
      <td align="center">629, Vrindavan Appt., Opp ITI, GHB,<br>Gorwa, Vadodara<br>Phone: 91-265-2376222</td>
      </tr>
      </table>

      <br><br>Last Updated 6/13/03<p>

    </div>

  </div>
</div>
