<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">

        <font color="red"><b>Features</b></font><br />
        <%= link_to "History", page_path('barhist') %><br />
        <%= link_to "The Executive Committee", page_path('barmem') %><br /><br />

        <%= render 'shared/india_right' %>

    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Baroda Mandal Committee Members
      </h1></center>

      <font color="red"><h3>Current Members (2003)</h3></font><br>

      "Co-operation from cast members is the Success of Mandal."<p>

      Members of current working committee (2003): -<p>

      <table border="1" cellspacing="1" cellpadding="1">
      <tr>
      <td align="center">President</td>
      <td align="center">Shri Odhavjibhai V. Vadukul</td>
      <td align="center">B/26, Anupamnagar, Nr Tube<br>Company, Old Padara Roak, Vadodara<br>Phone: 91-265-2338663</td>
      </tr>
      <tr>
      <td align="center">Vice President</td>
      <td align="center">Shri Girdharbhai R. Bharadawa</td>
      <td align="center">933, Kailesh Society, GHB, Gorwa<br>Vadodara.<br>Phone: 91-265-299298</td>
      </tr>
      <tr>
      <td align="center">Chief Secretary</td>
      <td align="center">Shri Prafulbhai K. Chandegara</td>
      <td align="center">C-36, Viral Park Society, GIDC Nain<br>Roak, Makar-pura, Vadodra.<br> Phone: 91-265-2638049</td>
      </tr>
      <tr>
      <td align="center">Join Secretary</td>
      <td align="center">Shri Jayantbhai J. Kukadia</td>
      <td align="center">C-42, Laxminarayan Society, B/H<br> Jalaramnagar, Gotri Road, Vadodra<br>Phone: 91-265-2313328</td>
      </tr>
      <tr>
      <td align="center">Treasurer</td>
      <td align="center">Shri Rameshbhai G. Jadav</td>
      <td align="center">2, Sanjivan Park, Near Samata Flats,<br>Vadodara<br>Phone: 91-265-2399194</td>
      </tr>
      <tr>
      <td align="center">Join Treasurer</td>
      <td align="center">Shri Ramnikbhai A. Kukadia</td>
      <td align="center">D-106, Maruti Flats, Vasana Roak,<br>Vadodara<br>Phone: 91-265-2253476</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Arvindbhai L. Gohel</td>
      <td align="center">135, Padam Park Societry, opp Novino</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Virjibhai S. Chauhan</td>
      <td align="center">659, Sidhdhinagar, GHB, Opp ITI,<br>Gorwa, Vadodara</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Ashok D. Pankhania</td>
      <td align="center">575, Vrindavan Appt., GHB, Opp ITI<br>Gorwa, Vadodara </td>
      </tr>
      <tr align="center">
      <td align="center">Member</td>
      <td align="center">Shri Naranbhai P. Bharadawa</td>
      <td align="center">244/45, L G Park, Near Vrijdham<br>Temple, Manjalpur, Vadodara<br>Phone: 91-265-2660619</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Hemanshu L. Pankhania</td>
      <td align="center">B-8/73, GIDC Colony, Makar-pura,<br>Vadodara<br>Phone: 91-265-2644825</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Mansukhbhai K. Ghedia</td>
      <td align="center">Parishramnagar, Opp Bandi Tubing,<br>GIDC Main Rd., MakarPura, Vadodara<br>Phone: 91-265-26647208</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Jivanbhai N. Gather</td>
      <td align="center">170, Adinath Society, B/H Bright<br>School, Kareli Baug, Vadodara<br>Phone: 91-265-2484206</td>
      </tr>
      <tr>
      <td align="center">Member</td>
      <td align="center">Shri Jivanbhai R. Buhecha</td>
      <td align="center">629, Vrindavan Appt., Opp ITI, GHB,<br>Gorwa, Vadodara<br>Phone: 91-265-2376222</td>
      </tr>
      </table>
      Finance Committee - U.K.:<br>
      &nbsp;&nbsp;&nbsp;&nbspShri; Mohanbhai Maldebhai Tank<br>
      &nbsp;&nbsp;&nbsp;&nbspShri; Jivanbhai Dhanjibhai Fatania<p>
      Finance Committee - India:<br>
      &nbsp;&nbsp;&nbsp;&nbspShri; Savjibhai Madhavjibhai Tank<br>
      &nbsp;&nbsp;&nbsp;&nbspShri; Govindbhai Virjibhai Vadukul<br>
      &nbsp;&nbsp;&nbsp;&nbspShri; Rameshbhai Bhanjibhai Vadukul<p>

      Last Updated 6/13/03


    </div>

  </div>
</div>
