<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Bhalsod
</font></h1></center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Bhalsod site
</b></font>
<p>
<a href="http://www.freewebs.com/bhalsod/index.htm">
www.freewebs.com/bhalsod/index.htm
</a>
<br>
<b><font color="lightgreen" size="3">
Site submitted by Umesh Bhalsod
</font></b>
</center>
