<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Bharadwa
</font></h1></center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Bharadwa site
</b></font>
<p>
<a href="http://www.bharadwa.com/">
www.bharadwa.com
</a>
<br>
<b><font color="lightgreen" size="3">
Site submitted and hosted by Anil Mahendrabhai Bharadwa
</font></b>
</center>
