<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Devalia
</font></h1></center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Devalia site
</b></font>
<p>
<a href="http://www.devalia.com/">
www.devalia.com
</a>
<br>
<b><font color="lightgreen" size="3">
Site submitted and hosted by Dipak Devalia
</font></b>
</center>
