<h1 class="page-header">Dhokia</h1>

<font color="steelblue"><b>
Click below to link up to the Dhokia site
</b></font>
<br />
<a href="http://www.dhokia.com/">
www.dhokia.com
</a>
<br />
<b><font color="lightgreen" size="3">
Site submitted and hosted by Pankaj Dhokia
</font></b>
