<html>
<head>

<title>Welcome to SSPGM.net - Meaning of Diwali</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
The Meaning of Diwali
</font></h1></center>
<p>
<center><table border="0" width="700"><tr><td>

The time of Diwali is one of the most festive and beautiful times of the year. 
Diwali literally means a "Row of Lights." It is a time filled with light 
and love; a time when Indians all over the world rejoice. Diwali is 
celebrated on the thirteenth/fourteenth day in the dark half of Kartik 
(October - November); it is also known as Krishna Chaturdashi. It is the 
darkest night of the darkest period, yet it is a celebration of light! 
Diwali is heralded as the triumph of good over evil. <p>

The meanings of Diwali, its symbols and rituals, and the reasons for 
celebration are innumerable. Diwali celebrates Lord Rama's glorious and 
long-awaited return to his Kingdom of Ayodhya after his fourteen long 
years of exile in the forests. It commemorates Lord Krishna's victory 
over the demon Narakaasura who had kidnapped and terrorized the gopis of 
Vrindavan. When the evil Naraka was finally killed by Bhagwan Krishna 
and Satyabhaama, he begged pitifully for mercy; thus, upon his 
entreaties, it was declared that this day of his death would be celebrated with 
great joy and festivity.  It is also celebrated as the day Bhagwan 
Vishnu married Maha Lakshmi.<p>

Diwali is also associated with the story of the fall of Bali - a demon 
king who was conquered by Lord Vishnu. Lord Vishnu appeared to the 
demon king Bali in the form of a dwarf and requested only three steps of 
land. The evil and egotistic Bali granted the drawf's meager request of 
only three feet. Suddenly, Lord Vishnu took on His grand size and placed 
one foot on the Earth, another on the Heavens and His third on the head 
of the evil Bali. <p>

In general, Diwali signifies the triumph of good over evil, of 
righteousness over treachery, of truth over falsehood, and of light over 
darkness. <p>

Additionally, Diwali is the holy time in which we offer our prayers to 
Maha Lakshmi and we worship Her with piety and devotion. Maha Lakshmi 
is the goddess of wealth and prosperity, bestowing these abundantly upon 
her devotees. <p>

Diwali is a holiday of joy; it is the time when we gather with loved 
ones, celebrating our family, our friends and the prosperity God has 
bestowed upon us.<p>

However it is also a holiday that is widely misunderstood and 
misrepresented, especially in the West. I have heard that in the West Diwali is 
referred to as "The Indians' Christmas" and that it is celebrated with 
frivolity and decadence.  Let us talk about what Diwali really means, 
about why we celebrate it and about why we worship Goddess Lakshmi on 
this day.<p>

<font color="red" size="2"><b>
Celebration of Light
</b></font><br>

There are three main aspects of this holiday called Diwali. The first 
is the celebration of light.  We line our homes and streets with 
lanterns; we explode fireworks; children play with sparklers.   <p>

However, Diwali is not a festival of light in order that we may burn 
candles, fireworks and sparklers. Sure, these are wonderful ways of 
expressing our gaiety. But, they are not the only or true meaning of 
"light."  Diwali is a festival of the light which dispels the darkness of our 
ignorance; it is a festival of the light which shows us the way on our 
journey through life.  The purpose is not to glorify the light of the 
candle, or the light of the firecracker.  The purpose is to glorify the 
light of God. It is He who bestows the real light, the everlasting 
light upon the darkness of this mundane world. A candle burns out. A 
firework is a momentary visual experience. But, the candle of a still mind 
and the fireworks of a heart filled with bhakti are divine and eternal; 
these are what we should be celebrating. <p>

We decorate our homes with lanterns; but why? What is the symbolism 
behind that? Those lanterns signify God's light, penetrating through the 
ignorance and sin of our daily lives. They signify the divine light, 
shining its way through this mundane world. A home bathed in light is a 
home in which anger, pain, and ignorance are being dispelled; it is a 
home that is calling to God. However, too many people turn this into a 
domestic beauty contest, spending days and a great deal of money to 
purchase the newest dias, the most beautiful candles.  "We had 75 candles 
burning last night," we gloat. This is only the light of glamour. It is 
not the light of God, and thus the true meaning of the holiday is lost...<p>

The light of Diwali should be within us. It should symbolize the 
personal relationship between God and our families. It should not be so we 
attract attention from passing cars, or so we are the envy of the 
neighborhood. Let the light penetrate inward, for only there will it have 
lasting benefit.  One piece of cotton soaked in ghee, lit with a pure 
heart, a conscious mind and an earnest desire to be free from ignorance is 
far "brighter" than 100 fashion deepaks, lit in simple unconscious 
revelry. <p>

<font color="red" size="2"><b>
A Fresh Start
</b></font><br>
Diwali also marks the New Year. For some, the day of Diwali itself is 
the first day of the New Year, and for others the new year's day is the 
day following Diwali. But, for all this season is one of heralding in 
the New Year.  <p>

In the joyous mood of this season, we clean our homes, our offices, our 
rooms, letting the light of Diwali enter all the corners of our lives. 
We begin new checkbooks, diaries and calendars.  It is a day of 
"starting fresh."<p>

On this day we clean every room of the house; we dust every corner of 
the garage, we sweep behind bookshelves, vacuum under beds and empty out 
cabinets.  But, what about our hearts?  When was the last time we swept 
out our hearts? When did we last empty them of all the dirt and garbage 
that has accumulated throughout our lives? <p>

That is the real cleaning we must do. That is the real meaning of 
"starting fresh." We must clean out our hearts, ridding them of darkness and 
bitterness; we must make them clean and sparkling places for God to 
live. We must be as thorough with ourselves as we are with our homes. Are 
there any dark corners in our hearts we have avoided for so long? Are 
we simply "sweeping all the dirt under the rug?" God sees all and knows 
all. He knows what is behind every wall of our hearts, what is swept 
into every corner, and what is hidden under every rug. Let us truly clean 
out our hearts; let us rid ourselves of the grudges, pain, and anger 
that clutter our ability to love freely. Let us empty out every nook and 
cranny, so that His divine light can shine throughout.<p>

Additionally, on Diwali, we begin a new checkbook; we put last year's 
accounts to rest. But, what about our own balance sheets? When was the 
last time we assessed our minuses and plusses, our strengths and our 
weaknesses, our good deeds and selfish deeds? How many years' worth of 
grudges and bitterness and pain have we left unchecked? <p>

A good businessman always checks his balance sheet: how much he spent, 
how much he earned. A good teacher always checks the progress of her 
students: how many are passing, how many are failing. And they assess 
themselves accordingly: "Am I a good businessman?" "Am I a good teacher?"  
In the same way we must assess the balance sheets of our lives. Look at 
the last year. Where do we stand? How many people did we hurt? How many 
did we heal? How many times did we lose our temper? How many times did 
we give more than we received? Then, just as we give our past 
checkbooks and the first check of our new one to God, let us give all our minus 
and plus points to Him. He is the one responsible for all our good 
deeds. And our bad ones are due only to ignorance. So, let us turn 
everything over to Him, putting our strengths, our weaknesses, our wins and our 
losses at His holy feet. And then, let us start afresh, with a new 
book, unadulterated by old grudges and bitterness. <p>

<font color="red" size="2"><b>
Maha Lakshmi
</b></font><br>
The third, and perhaps most important, aspect of Diwali is the worship 
of Maha Lakshmi. Maha Lakshmi is the goddess of wealth and prosperity, 
bestowing these abundantly upon her devotees. On Diwali we pray to her 
for prosperity; we ask her to lavish us with her blessings.  However, 
what sort of prosperity are we praying for? All too often, we infer 
wealth to mean money, possessions, material pleasures. This is NOT the true 
wealth in life; this is not what makes us prosperous. There is almost 
no correlation between the amount of money we earn, the number of 
possessions we buy and our sense of inner bliss and prosperity.<p>

It is only God's presence in our lives which makes us rich. Look at 
India. People in small villages, in holy towns, in ancient cities have 
very little in terms of material possessions. Most of them live below the 
Western standards of poverty.  Yet, if you tell them they are poor, 
they won't believe you, for in their opinion they are not. This is because 
they have God at the center of their lives. Their homes may not have TV 
sets, but they all have small mandirs; the children may not know the 
words to the latest rock and roll song, but they know the words to Aarti; 
they may not have computers or fancy history text books, but they know 
the stories of the Ramayana, the Mahabharata and other holy scriptures; 
they may not begin their days with newspapers, but they begin with 
prayer.  <p>

If you go to these villages you may see what looks like poverty to you. 
But, if you look a little closer, you will see that these people have a 
light shining in their eyes, a glow on their faces and a song in their 
hearts that money cannot buy.<p>

On Diwali, we must pray to Maha Lakshmi to bestow real prosperity upon 
us, the prosperity that brings light to our lives and sparkle to our 
eyes. We must pray for an abundance of faith, not money; we must pray for 
success in our spiritual lives, not a promotion at work; we must pray 
for the love of God, not the love of the beautiful girl (or boy) in our 
class. <p>

There is another point about Maha Lakshmi that is important. We tend to 
worship only her most prominent of aspects - that of bestowing 
prosperity upon her devotees. However, she is a multi-faceted goddess, filled 
with symbols of great importance.  As we worship her, let us look more 
deeply at her divine aspects.  First, according to our scriptures, she 
is the divine partner of Lord Vishnu. In Hindu tradition, there is 
almost always a pair - a male and a female manifestation of the Divine, and 
they play interdependent roles. In this way it is said that Maha 
Lakshmi provides Lord Vishnu with the wealth necessary in order to sustain 
life. He sustains, but through the wealth she provides.  <p>

Therefore, in its highest meaning, Maha Lakshmi provides wealth for 
sustenance, not for indulgence. Our material wealth and prosperity should 
only sustain us, giving us that which is necessary to preserve our 
lives.  All surplus should be used for humanitarian causes. She does not 
give wealth so that we may become fat and lazy; yet, that is what we tend 
to do with the wealth we receive. Let us remember that Maha Lakshmi's 
material wealth is meant for sustenance and preservation, not for luxury 
and decadence. <p>

Additionally, we worship Maha Lakshmi who is the divine symbol of 
purity and chastity.  Yet, in our celebration of her, we frequently indulge 
in frivolity and hedonism. How can we worship her while engaging in the 
opposite of what she represents? We must re-assess how we pay tribute 
to this holy Goddess!<p>

The last point I want to mention is that she is typically portrayed 
wearing red.  What does this mean? Red is the color of action, and she is 
the goddess of prosperity.  This means that in order to obtain the true 
prosperity in life, we must engage in action. Most people think that in 
order to be spiritual, or to obtain "spiritual prosperity" one must be 
sitting in lotus posture in the Himalayas.  This is not the only way. 
In the Bhagavad-Gita, Lord Krishna teaches about Karma Yoga, about 
serving God by doing your duty.  We must engage ourselves in active, good 
service; that is truly the way to be with Him. <p>

Let our inner world be filled with devotion to Him, and let our outer 
performance be filled with perfect work, perfect action. I once heard a 
story about a man who spent 40 years meditating so he could walk on 
water.  He thought that if he could walk on water, then he had truly 
attained spiritual perfection. When I heard this story, I thought, "Why not 
spend 40 cents instead for a ride in the motorboat across the river, 
and spend the 40 years giving something to the world?" That is the real 
purpose of life. <p>

So, on this holy day, let us fill our entire beings with the light of 
God. Let us clean out our minds and hearts, making a true "fresh start." 
Let us pray to Maha Lakshmi to bestow the divine gifts of faith, purity 
and devotion upon us.  With those, we will always be always rich, 
always prosperous, and always fulfilled.  Let us celebrate Diwali this year 
as a true "holy day," not only as another frivolous "holiday."
 May Maha Lakshmi bestow upon you all the true blessings of health, 
happiness, peace, prosperity and spiritual upliftment.<p>

<font color="steelblue"><b>
Submitted by 
</b></font>
<a href="mailto:parmarth@aol.com">Swami Chidanand Saraswati</a>
</td></tr></table></center>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
<p>
</body>
</html>
