
<b><center><font color="#66CCFF" size="5">Easter/Holi Breakfast Picnic   March 31 2002</font></b></center>


<br><br>
<B>Welcome,<br>
Again we have had a very successful Breakfast Picnic.  The venue was held at Stone Mountain Park, and we had a great turnout.
We would like to thank the volunteers that planned the event, and also the volunteers that participated in the creation of such wonderful food.
The menu was great starting off with donughts, jilebi's, Ghatia, Sambar, veggie wraps, grilled cheese, and many more items.  YUMMY!
We also held an easter egg hunt and a Piniata contest.
Last but not least we had a fabulous surprise from the President - Shila Pankhania, who brought powder paint so that we could celebrate our religious holiday- HOLI.  We all had a great time, thank you everyone for being there!<br><br>
Krishna Dhokia  - -Youth Representative</P>

Holi is a spring festival celebrated at the approach of the spring season,
and is celebrated by throwing colors and colored powder in the air. The Holi festival marks the end of winter
and the beginning of spring, and it essentially means the triumph of good over evil. It has
different mythological connotations in different parts of South Asia. Here are some
SSPGM members enjoying a colorful time!
</P>
