<center><font color="#CC3333"><h1>
Shribai Kanya Chhatralay Education Trust, Junagadh
</h1></font>
<p>
<font color="#66CCFF" size="3"><b>
Submitted by <a href="mailto:manuchandegra@blueyonder.co.uk">Manu Devshi Chandegra</a><br>
Twickenham, Middlesex UK<br>
Tel: 0208 572 9711<br>
Mob: 07989 575 063
</b></font></center>
<p>
<font color="steelblue" size="4"><b>
Background To Project
</b></font>
<br>
Junagadh is centered between Dwarka, Porbandar, Rajkot, and Bhavnagar. Most of our community lives in this area. Local villages
provide education up to 11th Standard (GCSE equivalent). Most of the rural areas do not provide education beyond this level.
Students need to travel to bigger cities to further their education in colleges and universities. Poorer parents are reluctant to send
their girls, in particular, to large cities due to lack of accommodation, financial and security issues. the Chhatralay would provide boarding
and lodging for these students with Junagadh having numerous further educational institutions for them to attend.<p>
</font>

<font color="steelblue" size="4"><b>
Aims and Objectives
</b></font>
<br>

At present, there are no kanya Chattralays in Junagadh for our community and through this project we aim to provide this facility.
A charitable trust will be set up and the trust will buy the land. The UK registered charitable trust has several tax benefits for both
the donors and the charity.<p>

To achieve this aim the following actionals will or have been taken.<p>

1) Farmland has been purchased near the Junagadh to Vanthali highway. The land measures about 6 vigha (11,374 sq. yards)
and is approximately 3 km from Junagadh centre. Within the same vicinity there are 4 other kanya chhattralays belonging to
other communities.<br>
The contracts were exchanged on the 18/12/03 and completion will take place on the 30/04/04 and at the same time
the land will be registered under the trust's name.<p>

2) The Work Schedule<br>
<ul>
<i>
<font color="red"><b>
30th April 2004 -
</b></font>
</i>
Land purchase completed and the trust is set up
</ul>
<ul>
<i>
<font color="red"><b>
August 2004 -
</b></font>
</i>
Total planning for the compound
</ul>
<ul>
<i>
<font color="red"><b>
February/March 2005 -
</b></font>
</i>
Completion and funishing of the building to accommodate about 100 girls initially
</ul>
<ul>
<i>
<font color="red"><b>
March 2005 and Beyond -
</b></font>
</i>
Promote the Chattralay to enrol female students to start their courses around July 2005
</ul>
<p>

3) Project Coastings:<br>
<ul>
<table border="0" cellspacing="1" cellpading="5" fontsize="1">
<tr>
<td>
<i>
<font color="red" size="3"><b>
Land Purchase
</b></font>
</i>
</td>
<td>
<font size="3">
Rs. 5,600,000
</font>
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
Acquisition, compound wall and planning costs
</b></font>
</i>
</td>
<td>
<font size="3">
Rs. 700,000
</font>
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
Building work for 100 girls
</b></font>
</i>
</td>
<td>
<font size="3">
Rs. 2,500,000
</font>
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
Furnishing and initial running costs
</b></font>
</i>
</td>
<td>
<font size="3">
Rs. 2,000,000
</font>
</td>
</tr>
<tr>
<td>
</td>
<td>
<hr color="#66CCFF">
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
Total Cost
</font></b>
</i>
</td>
<td>
<font size="3" color="red">
Rs. 10,800,000
</font>
</td>
</tr>
</table>
</ul>
<p>

4) Project Funding<p>

The vision is to bring like-minded people together to form a founder member's group to fund the initial project costs on a purely equal basis.<p>

Initially, 9 sponsers will be required with Rupees 12 lakhs each.<br>
the payment scheme is broken down below:<br>
<ul>
<table border="0" cellspacing="3" cellpadding="5">
<tr>
<td>
<i>
<font color="red" size="3"><b>
By 30th April 2004 -
</b></font>
</i>
</td>
<td>
<font size="3">
Rs. 7 lakhs
</font>
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
By 30th July 2004 -
</b></font>
</i>
</td>
<td>
<font size="3">
3 lakhs
</font>
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
By February 2005 -
</b></font>
</i>
</td>
<td>
<font size="3">
2 lakhs
</font>
</td>
</tr>
<tr>
<td>
</td>
<td>
<hr color="#66CCFF">
</td>
</tr>
<tr>
<td>
<i>
<font color="red" size="3"><b>
Total Cost
</b></font>
</i>
</td>
<td>
<font color="red" size="3">
12 lakhs
</font>
</td>
</tr>
</table>
</ul>
<p>

5) Once the founder member's group is established, the following action will be taken:<br>
<ul>
Discuss and finalise the title and the operation of the charitable trust to be registered in the UK<br>
Trustees will be appointed from the founder members<br>
The UK trust will set up and register a group of operational trustees in India for the daily operations within the chattralay.
These trustees will be appointed by the founder members
</ul>
<p>

We would like you to be part of this founder member's group. Your generosity and contribution to set up this
project will help many girls from rural areas to gain a higher education and become more self-reliant.<p>

Please contact us for any further queries or clarification on any issues.<p>

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
