<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">

      <font color="red"><b>Features</b></font><br />
      <%= link_to "Introduction", page_path('mumbaiintro') %><br />
      <%= link_to "The Executive Committee", page_path('mumbaiexec') %><br />
      <%= link_to "Lunai Mataji Education Trust Fund", page_path('educationtrust') %><br /><br />

      <%= render 'shared/india_right' %>

    </div>

    <div class="col-8">

      <center><h1 class="page-header">Shri Lunai Education Trust</h1></center>

      A trust registered with the Government of Maharashtra vide Register
      No. Maharashtra State - Mumbai - 1479/2002, recognised by the
      Charity Commissioner and Society Registrar of Brihan Mumbai
      Division. This Trust is dedicated to the upliftment of our
      caste and provides education and eduational facilities to the
      weaker section and mainly out caste's students<p>

      <font color="steelblue"><b>
      The members of the Trust are:
      </b></font>

      <table border="0" cellpadding="3"><tr>
      <td>1) Founder and Petron-in-Chief</td>
      <td>Shri. Mohanbhai V. Fatania</td>
      </tr>
      <tr>
      <td>2) Patron</td>
      <td>Shri. Savjibhai J. Jethwa</td>
      </tr>
      <tr>
      <td>3) President</td>
      <td>Shri. Naranbhai M. Jadav</td>
      </tr>
      <tr>
      <td>4) Vice-President</td>
      <td>Shri. Bipinbhai V. Fatania</td>
      </tr>
      <tr>
      <td>5) Secretary</td>
      <td>Shri. Vinod K. Fatania</td>
      </tr>
      <tr>
      <td>6) Jt. Secretary</td>
      <td>Shri. Rajesh B. Jadav</td>
      </tr>
      <tr>
      <td>7) Treasurer</td>
      <td>Shri. Kishor D. Jadav</td>
      </tr>
      <tr>
      <td>8) Jt. Treasurer</td>
      <td>Shri. Vikrant V. Fatania</td>
      </tr>
      <tr>
      <td>9) Executive Members</td>
      <td>Shri. Mahesh B. Koria</td>
      </tr>
      <tr>
      <td>10) do </td>
      <td>Shri. Jagdish D. Jagatia</td>
      </tr>
      <tr>
      <td>11) do</td>
      <td>Shri. Bhanjibhai N. Jagatia</td>
      </tr>
      <tr>
      <td>12) do</td>
      <td>Shri. Purshottam V. Jagatia</td>
      </tr>
      <tr>
      <td>13) do</td>
      <td>Shri. Suresh G. Fatania</td>
      </tr>
      <tr>
      <td>14) do</td>
      <td>Shri. Anil J. Jagatia</td>
      </tr></table>
      <p>
      Everybody of our caste or community is requested to help and promote this trust by donating or
      funding money for the benefit of our children. For further information, please contact:<br>
      Vinod Khimji Fatania, Editor<br>
      Agnichakra - 3, Vinod Khimji Road,<br>
      Bharat Coal Compund, Old Kurla Mumbai 400 070<br>
      Tel: 25117053<br>
      Fax: 25145347<br>
      Email: <a href="mailto:agni_chakra@rediffmail.com">agni_chakra@rediffmail.com</a><br>
      With kind regards<p><br>

    </center>

    </div>

  </div>
</div>
