<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Fatania
</font></h1></center>
<p>
<br>
<center>
<%= link_to "Click Here to See the History of the Fatania Surname", page_path('fataniahistory') %>
</center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Fatania site
</b></font>
<p>
<a href="http://www.fatania.net/">
www.fatania.net
</a>
<br>
<b><font color="lightgreen" size="3">
Site submitted by Mansukh Fatania
</font></b>
</center>
