<p>
<center><h1><font color="#CC3333">
Welcome to the History of the Fatania Surname
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

<center><font color="yellow"><b>
Origins of the Fatania Family:
</b></font></center><br>
<font color="#66CCFF"><b>
Submitted By Piyush Jerambhai Fatania<br>
Northampton, UK
</b></font>
<p>
The family tree states the following:
<p>
"History of Fatania Kul/Family as per our Barot's records
<p>
In the year 1046 Bardai Brahmin, Naranji Gor's two sons, namely Odhavaji and Kanji filled a Kavad
with water (i.e. two pots filled with water, attached by rope on the ends of a supporting wooden
rod) which is then carried on a shoulder. The two brothers started to go on a yatra to Dwarka, to
bathe Thakurji in Gomati.<p>

On the way, they came to a village called Fatana (A village in Mount Barda in Porbander State).
Here they went to a house of a Gujar-Sutar (Carpenter) whose name was Velji and his surname
(Shankh) was Parmar. At Velji Parmar's house, they drank water from his water pot.<p>

As both the brothers, were Brahmin, and as they drank water from Gujar Sutar's home, they were
both considered impured (In Gujarati Vatlela) Brahmins.<p>

The Bardai Brahmin community made them outcast because they were Vatlela. After this, Odhavaji
and Kanji, came back to the village Fatana and married two of Velji Gujar's daughters.  As Gujar
Sutar is being Prajapati Kumbhar both, Odhavji and Kanji became Kumbhar. And as they were living
in Fatana village, they became known as Fatania.<p>

Therefore, since then, Odhavji and Kanji, being Brahmin became known as Prajapati Kumbhar and
their surname (Shankh) given as Fatania.<p>

The root of Fatania family started this way from Bardai Brahmin of Fatana to present caste
Kumbhar community.<p>

</td>
</tr>
</table>
</center>

<a href="javascript:history.back(1)">
Go Back
</a>
