<html>
<head>

<title>Welcome to SSPGM.net - Surnames - Ghedia</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Ghedia
</font></h1></center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Ghedia site
</b></font>
<p>
<a href="http://www.ghedia.org/">
www.ghedia.org
</a>
<br>
<b><font color="lightgreen" size="3">
Sites submitted and hosted by Kash L. Ghedia
</font></b>

</center>
<p>

<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
