<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

Gujarati is a language belonging to the Indo-Iranian
group of the Indo-European languages. It is spoken
mainly in Gujarat, a state in western India, where
it is a regional language officially recognized by
the Constitution. It is written in Gujarati script,
an abugida very similar to Devanagari (the script
used for Sanskrit and Hindi), but without the
continuous line at the top of the letters.</font></p>
            <p><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;
It is spoken by about 46 million people worldwide,
making it the 23rd most spoken language in the
world. Of these, roughly 45.5 million reside in
India, 150,000 in Uganda, 250,000 in Tanzania,
50,000 in Kenya and roughly 100,000 in Pakistan.
Considerable population of Gujarati speakers exists
in North America as well. Two most common surnames
are Shah and Patel</font></p>
            <p><font color="white"><font color="red">History</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;
The history of the language can be traced back to
12th c. CE. A formal grammar of the precursor of
this language was written by Jain monk and eminenet
scholar Hemachandra-charya in the reign of Rajput
king Siddharaj Jayasinh of Patan. This was called
Apabhransa grammar, signifying a language which is a
corrupted form of languages like Sanskrit and
Ardha-magadhi. Earliest literature in the language
survives in oral tradition and is traced to two
stalwarts, the Krshna devotee and great egalitarian
Narasinh Mehta (later a source of inspiration to
Mahatma Gandhi) dated to be in the 17th century. The
story of Narsinh Mehta himself was composed as a
long narrative ballad by Premananda, accorded the
title "maha-kavi" or great poet by modern historians
of the language. His date is perhaps late 17th
century. Other than this a large number of poets
flourished during what is now characterised as the
bhakti or devotional movement in Hinduism, a
movement of the masses to liberate the religion from
entrenched priesthood.</font></p>
            <p><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;
Premananda was a "vyakhyan-kar", a travelling story
teller, who narrated his subject in song form and
then perhaps elaborated on the lines in prose. His
style was so fluent that the long poems running into
hundreds of lines were memorised by the people and
are still sung during the morning routines. In this
sense the oral tradition of the much more ancient
Vedas was clearly continuing in India till late.
Premananda's famous poetry-stories deal with epic
themes couched in stories of mythical kings, and the
puranas. He also wrote a drama based on Narasinh
Mehta's life capturing his simplicity and his
disregard for worldly divisions of caste and class.</font></p>
            <p><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;
The Gujarati spoken today takes considerable
vocabulary from Persian due the more than five
centuries of the rule of Sultan kings who were
Muslim. These words occur mostly in reference to
worldly and secular matters. The other elements of
the language however draw quite a lot on native
tribes of the specific region, as listed below under Dialects.
Modern exploration into Gujarat and its language is
credited to British administrator Forbes. During the nineteenth
century at a time when the British rule was more consolidatory and
progressive this gentleman explored much of the previous thousand
years of the history of the land and compiled a
large number of manuscripts. The learned body
devoted to Gujarati language is named after him,
Farbas Gujarati Sabha with headquarters in Mumbai.</font></p>
            <p><font color="white"><font color="red">Dialects</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;
As with most languages, there are regional dialects
which differ in some minor regard. Some of them are
listed below along with subdivisions.</font></p>
            <p><font color="white">&nbsp;&nbsp;Standard Gujarati<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saurashtra Standard<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nagari<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bombay Gujarati<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patnuli</font></p>
            <p><font color="white">&nbsp;&nbsp;Gamadia<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gramya<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Surati<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anawla<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brathela<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eastern Broach Gujarati<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Charotari<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patidari<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vadodari<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ahmedabad Gamadia<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patani<br>
&nbsp;&nbsp;Parsi<br>
&nbsp;&nbsp;Kathiyawadi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jhalawadi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sorathi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Holadi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gohilwadi<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bhavnagari<br>
&nbsp;&nbsp;Kharwa<br>
&nbsp;&nbsp;Kakari<br>
&nbsp;&nbsp;Tarimuki<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ghisadi<br>
</font></p>
<p><font color="white"><br>
Submitted by <a href="mailto:hasmukh.devalia@sun.com">Hasmukh Devalia,
Australia</a>
            <br>
Retrieved from <a
 href="http://www.wikipedia.org/w/wiki.phtml?title=Gujarati_language">Wikipedia</a>
            </font></p>


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">Go Back</a>
