<h1 class="page-header">The Legend of Shree Hanumanji</h1>

<font color="yellow"><i>Submitted by Mahendra Dabhi</i></font></center>
<br /><br />

<%= image_tag 'hanuman1.jpg' %>

<br /><br />

Shri Hanumanji taught the lesson of philanthropy to the entire world by his actions empowered by the untainted and unparalleled
devotion of Shree Ramchandraji, the affectionate of devotees and also performed the welfare of human beings through his
imperishable abstinence (Brahmcharya).<p>

The super most devotee Shree Hanumanji is an ever-young and immortal entity. He has gained immortality in Tretayug itself and has
done many important deeds in Dwaparyug and ultimately has laid himself in Prayag near the fort to show his existence in kaliyug.<p>

<h3><font color="#CC3333">
Bhakti and Shakti
</font></h3><p>

<center>
<%= image_tag 'hanuman2.jpg' %>
</center><p>

Shree Bade Hanumanji is the Devta of Bhakti and Shakti (Power). The purpose of Bhakti (Devotion) is that as Shree Bade Hanumanji
meditated upon his Aaradhya - Bhagwan Shree Ramchandraji - and throughout his life kept on serving him. Likewise we should also
learn a lesson from this, that in the path of Bhakti many impediments arrive but the devotee should stick to the path of devotion of
God and if he has full belief in Omnipotent God, he will be always successful.<p>

The meaning of Shakti (Power) is that in this present Kalyug there are two entities endowed with Shakti, first of them is Shree Bade
Hanumanji and the second power is Bhagwati Durga Mata. Shree Bade Hanumanji has empowered old age and is immortal. He shall
remain present even after the end of the universe.<p>

<h3><font color="#CC3333">
Bala, Budhi and Vidya
</font></h3><p>

<%= image_tag 'hanuman3.jpg', align: "left" %>

Shri Bade Hanuman Ji is well known as a giver of four - kinds of fruits in this physical world. As a giver of Bala, Budhi (intellect) and
Vidya (knowledge) and the destroyer of sorrow and bad deeds, Shri Bade Hanuman Ji is worshipped and all kneel before him. All
the wishes of the sadhaka (meditators) are fulfilled by serving and worshipping Shri Bade Hanuman Ji. By worshipping and doing
meditation of Shri Bade Hanuman Ji all the sorrows, pains and poverty are gone. Even by merely looking at the temple of Shri Bade
Hanuman Ji, one gets pervaded by religious flavour. <p>

When the devotee enters in the Campus of Shri Bade Hanuman Ji's Mandir he becomes a figure of devotion by the pious influence of
Him. After taking Darshan (Look) of the Shri Vigrah or the idol of Shri Bade Hanuman Ji the devotee feels a spiritual pleasure. Always
there remains a congregation of devotees in the temple; but on Tuesdays and Saturdays a special Pooja and Archana is performed.
On every Tuesday and Saturday a sea of devotees begins to flow in the campus of Shri Bade Hanuman Ji. On these days a special
decoration of Shri Bade Hanuman Ji is performed and the magnificance of the idol is beyond any description. The crowd of devotees
pays obeisance to Shri Bade Hanuman Ji, gets plunged into the atmosphere of devotion and thus achieve the kindness and blessings
of Shri Bade Hanuman Ji. Every year at the time of Maghmela the pilgrims from the whole country of India and even the foreign
countries take Darshan and perform Poojan (worship) of Shri Bade Hanuman Ji with great reverence. Thus the flag of fame of Shri
Bade Hanuman Ji is flying all over the world continuously and will remain forever..................<p>
