<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">

        <font color="red"><b>Tourism Information</b></font><br />
        <%= link_to "Click Here", page_path('tourisminfoindia') %>
    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM India Mandals
      </h1></center>

    </div>

  </div>
</div>
