<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">

      <center><h1 class="page-header">
        SSPGM Jamnagar Mandal History
      </h1></center>


      In the Jamnagar there are 960 family are at present living in. All are living with simple life, enjoying their life. A total of 5118 people are here.  Of them 2408 are ladies and 2710 gents.
      <br><BR>
      1509 working people are there and out of them 841 are working as carpenter, 97 as tailor, 127 as mechanic, 90 as small builder, 32 as electrician, 104 are government servant 62 are busy with other works.
      <BR><BR>
      Jamnagar Sorathia Prajapati Samaj is constructing a boys hostel at Rajnagar area of Jamnagar City with cost of 30 lakhs.   50 students can stay at hostel with lodging facility.  There are ground floor plus three floors. In Hostel Building, there are (1) 3000 qr. feet Community hall at ground floor (2) 1300 qr. feet Conference hall at first floor  (3) Two Common hall 700 qr. feet each on 2nd and 3rd floor (4) 18 rooms and toilets & baths and kitchen.
      <br><br>
      On the 4800 QR.  Feet land plots are at Rajnagar in Jamnagar City and on that 10,000 QR.  Feet construction is there. This hostel is nearest with Medical College, Ayurved College, Polytechnic College, and ITI.  And others educational institute and also near the S. T.  Depot.
      <BR><BR>
      Jamnagar is the only single city in the Asia that has an Ayurved University.  In Jamnagar there is also M.P.Shah Medical College and nursing college.

      <br><br>

      Last Updated: 06/08/02


    </center>

    </div>

    <div class="col-4">
      <center>

        <font color="red"><b>Features</b></font><br />
        <%= link_to "History", page_path('jamanagarhistory') %><br />
        <%= link_to "The Executive Committee", page_path('jam2') %><br /><br />

        <%= render 'shared/india_right' %>

      </center>
    </div>

  </div>
</div>
