<html>
<head>
<title>
Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust
</title>
<style>
Table     {color:white;text-decoration:none;font-weight:none}
a:link    {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover   {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<br>

<center><font color="red"><b><u><h3>
Smt. Amrutben Mandubhai Gohil Kanya Kelvani Trust
</h3></u></b></font></center>
<p><font color="white">
<font color="yellow"><b>
"Amrut Kanya Chhatralaya"<br></b></font>
Panchavati Main Road, Rajkot-360 001.
(India) Gujarat<br>
<font color="red"><b>Phone:</b></font> 0091-281-2431616 (Telefax)<br>
<font color="red"><b>Phone:</b></font> 0091-281-2432053, 5565223<br>
<font color="red"><b>Email: </b></font><a href="mailto:spkktrust@yahoo.co.in">spkktrust@yahoo.co.in</a><br>
 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="mailto:vimalpankhania@rediffmail.com">vimalpankhania@rediffmail.com</a><br>
 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="mailto:vimalpankhania2004@yahoo.co.in">vimalpankhania2004@yahoo.co.in</a><p>
<font color="red"><b>Managing Trustee: </b></font>Mr. Karsanbhai Becharbhai Pankhania
<p><br>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</body>
</html>
