<html>
<head>

<title>The Stories of Shree Krishna</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><h1><font color="#CC3333">
The Stories of Shree Krishna
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>
<center><a href="http://www.sspgm.net/images/krishna.jpg">
<img src="http://www.sspgm.net/images/krishna.jpg" border="0" height="150" width="100">
</a><br>
<font color="yellow"><i>Click picture to enlarge</i></font></center>
<p>
<font color="red"><i>
Krishna, one of the avatars of Vishnu is the most glamorous and talked-of character in Indian mythology. Starting from the tales of 
his amorous acts with gopikas and Radha, to his story of valour and wisdom in the battles with Kamsa etc, and his great 
preachings to Arjuna in Bhagvad-Gita. The story of the birth of Krishna goes as follows:
</i></font><p>

Once upon a time there lived an evil, wicked and ambitious king by name of Kamsa in Mathura. He plundered the kingdom left and 
right and lawlessness prevailed in his state. On one of the days a heavenly prophecy from the sky came and echoed, "Kamsa! Your 
end is near! The eighth son of Devaki, your sister, will be the one responsible for your death." Kamsa was enraged beyond control 
and imprisoned Devaki, his sister and Vasudeva her husband. Then he killed every child of the couple as they were born. But just 
the midnight when the eighth child was born, the skies roared and Lord Vishnu advised Vasudeva to take the child across the river 
Yamuna to the other side to the village of Gokul and exchange with the daughter of Yashoda in Gokul, who was born on the same 
day. Vasudeva accordingly put the child in a basket, and as he went out the doors of the prison parted for him as if in a magic. The 
river parted into two to allow for Vasudeva to cross. Vasudeva then crossed into Gokul and exchanged his son with the daughter 
of Yashoda who was born the same day and came back. The baby uttered cries which awakened Kamsa, and then happily he went 
to the prison chamber and snatched the girl baby and as he lifted her in the air, the baby, who was an incarnation of the Devi 
herself, laughed in glee "Kamsa, your real enemy is still alive. The son of Devaki is alive and well and will come back to kill you", and 
then disappeared. Kamsa was outraged beyond wits and started a killing spree of all boys at that age in his kingdom. It was a 
terror outbreak.<p>

Krishna led a very pampered and amorous life in the Gokul, along side thousands of gopikaas, the cowherdesses who were all 
entralled at his beauty and were thrilled whenever he played the flute. There are numerous playful instances of Krishna, playing 
mischief with the gopikaas including breaking their butter pots. Many a poets, literarians have described these amorous and 
mischievious acts as Raas-Lila of Krishna. Among all the gopikaas, one Radha was special to Krishna. There are numerous amorous 
tales of Radha and Krishna together. Krishna is also known to be a very mischievious child who annoyed Yashoda a lot. A lot of 
dohas (poems) described by Mirabai, an ardent devotee of Krishna, are very popular which describe the naughty acts of Krishna. 
Among them the one titled "Maiya Mori Main nahi makhan khayo" is an all-time favourite. It describes the excuses which Krishna 
gives to his mother yashoda explaining that he was not responsible for stealing of the butter from the gopikaas.<p>


Krishna incarnated in this world to eliminate evil elements from this world. There are numerous tales of his bravery since his 
childhood. Many of the stories are related to the attempts by Kamsa, to kill Krishna after Kamsa came to know that Krishna was in 
Gokul alive. Some of the tales are given below<p>

As Krishna grew older he left the heavenly Gokul, and the idyllic life alongside Gopis, to go and kill Kamsa. He killed Kamsa, and 
then settled in Dwaraka along with his brother Balram and learnt the traditional arts of fighting including archery. He arbitrated in 
the fight between the Pandavas and Kauravas in Mahabharata. During the war he is well known for his monologue to Arjuna on the 
battlefield, which is together termed as the Bhagvad Gita. There are many stories of Krishna, starting from his childhood to his 
death including his role in Mahabarata war, his rule over Dwaraka, his childhood amorous acts with gopikaas including Radha, his 
winning of wives like Satyabhama etc.<p>

<font color="steelblue"><b>The Story of Krishna and Putana</b></font><br>
The story of Krishna, and Putana is very well known. Kamsa, the evil uncle of Krishna, had hired the services of Putana, the 
Rakshasi (female demon), to kill Krishna. Putana was a magician and could take any form she wanted. She disguised herself as a 
Gopikaa, a cowherdess, and entered Krishna's house. Krishna was still a baby then. She fed Krishna on her own milk which was 
poisoned. Krishna, though a baby, knew of the real form of her and sucked her so hard that he extracted her life along with the 
milk. Before dying she assumed her original form and died. So Krishna possessed divined powers since his childhood days.<p>

<font color="steelblue"><b>The Story of Krishna and Kaliya</b></font><br>
The story of Krishna, and Kaliya the serpent is very well known. Kaliya, a naga (a serpent), had been occupying the river Yamuna 
and its banks.It had poisoned the waters of the Yamuna and also dried the forests nearby by the poison airs breathed by it. 
Krishna jumped into the water to kill the serpent. He was coiled around by Kaliya, the serpent king and he lay at the bottom of the 
river. But then he soon was reminded of his divine powers and exercising his powers he uncoiled himself from the serpent and 
danced on the head of the serpent and wanted to kill it. But on imploration from the wives of Kaliya, he left it alone and asked 
them all to leave the shores of Yamuna. So they left and Yamuna and its shored regained their normal form. This feat is termed as 
Kaliya-Daman.<p>

<font color="steelblue"><b>The Story of Krishna and Bakasura</b></font><br>
Bakasura is again one of the asuras contracted by Kamsa to kill Krishna. Bakasura was the brother of Putana, whose story is given 
earlier. Bakasura took the form of a giant bird and terrorised the cowherds and cowherdesses of Gokul. Krishna, in an act of 
bravery entered the beak of the bird, and then the bird closed its beak. But Krishna wriggled round and round inside so as to 
make Bakasura uneasy and ultimately Bakasura had to vomit Krishna out and he died on the spot.<p>

Similar to Bakasura, his brother Aghasura was similarly deputed by Kamsa. But Krishna again vanquished him too who took the 
form of a giant serpent, by going inside and wriggling his body.

</td>
</tr>
</table>
</center>
<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center>
<script language=javascript src="http://www.sspgm.net/bottom.js"></script>
</center>


<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
