<div class="container mb-4 mt-4 ">
  <div class="row">
    
    <div class="col-4" style="border-right:2px solid #CC3333;">

        <font color="red"><b>Features</b></font><br />
        <%= link_to "Introduction", page_path('mumbaiintro') %><br />
        <%= link_to "The Executive Committee", page_path('mumbaiexec') %><br />
        <%= link_to "Lunai Mataji Education Trust Fund", page_path('educationtrust') %>
    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Mumbai Mandal Introduction
      </h1></center>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b><u>Shree Sorathia Prajapati Gnyati</u></b>, is Widely spread in the
      suburbs of Mumbai, Proper Mumbai, Thane District, Nashik, Raigadh, Khandesh,
      Palghar, Umargaon, and also active in the remote areas of Gujarat.
      The main aim of the Gnyati is to handle, project and utilise the immense
      immovable as well as the movable properties of the best use of the caste
      as well as upliftment of the caste fanancially, Socioculturally, educational
      activities and lastly to promote intra caste brotherhood, oneness and
      camaderie for all in the Gnyati that is the main aim of this Gnyati-caste.<p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To fulfill the above aim at regular intervals main activities of the
      Gnyati at the appropriate time and as per the convenience of the caste
      members are held and we have achieved quite a success rate in the same,
      especially in the maintanance of the Gnyati owned properties or construction
      of new property and maintain it. Also keeping in mind the Gnyati Bandhus,
      construct new gnyati Wadi (Hall), Mandirwadi, (Temple), or construct a
      new Sabhagrih (Meeting place/Hall) buy or maintain the same from the vast
      Gnyati funds and and to look after and maintain the same create a Committee
      consisting of local Gnyati bandhus, and handover the property to the committee.
      To create awareness, brotherhood and camaderei among caste brothers and
      keeping the same motto in mind, we hold functions like melavada, Samuhik
      Vivah (Marriage) to involve all the nearby villages where the function is held.
      To address to the quistions and quries of the Gnyati and Gnyati bandhus we hold
      regular meetings with the authorities concerned if the problem is related
      to the Government or we hold meetings with the Gnyati elders if the problem
      is concerning the gnyati. In the field of education we give immense support
      to upcoming and bright students so that our gnyati also has gems in the field
      of education. Our gnyati has built schools, libraries and studying halls for educational
      upliftment of our students. For the better strength of our youths we have
      constructed Nivasgriha, (resting place) for safe keep of health Arogya Bhuvan
      (Dispensaries/Hospitals) and vrudh Ashram for old people and give financial
      help to the needy. To get these activities implimented, we have to collect from the gnyati
       bandhus a fixed sum which keep on changing as per the occasion and collect
      the necessary funds to keep all these activities running for the betterment of
      gnyati
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      As mentioned earlier, the gnyati's fixed properties assets consists of a big
      building which has a sabhagriha at the nase along with big kitchen. On the first
      floor, the arrangement is the same and also includes a small hall, whereas
      the second floor is a terrace, which is having a large stage for programs. It also
      has a Shivmandir, RamMandir, ShriBai Mataji Dery, at ground floor chowk.
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      This place is registered at every Government office. The area of free hold is 572 Sq. Yards.
      Thane Dist. (Kalyan) We have 1766 Sq ft. Also we have utensils for mass marraiges feast, and
      Bank Accounts to boost our financial Solidarity
      <br><br>
      Last updated 7/20/03

    </div>

  </div>
</div>
