<center>
<table border="1" height="600" width="700" cellspacing="0" cellpadding="10" bordercolorlight="red" bordercolordark="red">
<tr>
<td width="70%" height="100%">

<center>
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td width="100%" height="100%">
<center>
<p><br>
<font color="red" size="4"><b>
Welcome to Mumbai President
</b></font>
<p>

<%= link_to image_tag('pvisawadia', height: 150, width: 125), image_path('pvisawadia') %>
<%= link_to image_tag('vprajapati', height: 150, width: 125), image_path('vprajapati') %>

  </center>
<br><br>
Last Updated 7/18/03
</td>
</tr>
</table>
</center>
</td>
<!-- Links-->
<td width="30%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td>
<center>
<br>
<%= link_to root_url do %>
<font color="yellow" size="3">
Back to Main
</font>
<% end -%>
<p>
<%= render 'shared/india_left' %>
</center>
</td>
</tr>
<!-- End of Links-->
</table>
</td>

</tr>
</table>
</center>
