<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">

      <center><h1 class="page-header">History of the Nairobi Mandal</h1></center>


       <p>
          <font color="#66CCFF">
          Shri Sorathia Prajapati Gnati Mandal Nairobi Kenya<br>
          Established in the year 1930: Short History
          </font>
        </p>

      <p>The settlement of the Shri Sorathia Prajapati Community goes back
        before World War 1 of 1914. The British Government invited Indian
        labours to build railway in Kenya from Nairobi to Mombasa.</p>

      <p>Many people made the journey to East Africa (1) By invitation of
      British Government, (2) To earn a living. Mainly, people worked to
      build railway. It was a difficult task. Some were killed by lions.
      Such a way our Prajapati brothers established in Kenya. By the
      time gone, the members of our community spreaded over Uganda and
      Tanzania. In Nairobi, Kenya, our brothers thought unification of
      out community and in the year of 1930, founded "Shri Sorathia
      Prajapati Gnati Mandal, Nairobi</p>

      <p>
      The elected office bearers are listed below by the year and names of
      the President and Secretary</p>

      <table border="1" cellpadding="3" cellspacing="0" bordercolor="#66CCFF">
      <tr>
      <td align="center">
      <font color="red" size="2"><b><u>Year</u></b></font>
      </td>
      <td align="center">
      <font color="red" size="2"><b><u>President</u></b></font>
      </td>
      <td align="center">
      <font color="red" size="2"><b><u>Secretary</u></b></font>
      </td>
      </tr>
      <tr>
      <td align="center">
      <font color="white" size="2">1930</font>
      </td>
      <td align="center">
      <font color="white" size="2">Karsan Sura Pankhania</font>
      </td>
      <td align="center">
      <font color="white" size="2">Meraman Jutha Shingadia</font>
      </td>
      </tr><tr>
      <td align="center">
      <font color="white" size="2">1939</font>
      </td>
      <td align="center">
      <font color="white" size="2">Laxaman Jeram Gohil</font>
      </td>
      <td align="center">
      <font color="white" size="2">Hirji Jesha Gohil</font>
      </td>
      </tr><tr>
      <td align="center">
      <font color="white" size="2">1941</font>
      </td>
      <td align="center">
      <font color="white" size="2">Laxaman Jeram Gohil</font>
      </td>
      <td align="center">
      <font color="white" size="2">Haribhai Velji Chhaya</font>
      </td>
      </tr>
      </table>


    </div>

    <div class="col-4">
      <center>
        <font color="red"><b>Features</b></font><br>
        <%= link_to "About the Mandal", page_path('nairobi_about') %><br>
        <%= link_to "Mandal History", page_path('nairobihistory') %><br>
        <%= link_to "Photo Gallery", page_path('nairobi_photos') %><br>
        <%= link_to "Temple Project", page_path('nairobi_temple') %><br><br>

      </center>
    </div>

  </div>
</div>
