<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="800" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<font color="white">
<center><h1><font color="#CC3333">
About the Nairobi Mandal
</font></h1></center>

<b><font color="#66CCFF">Managing Committee Members 2013-2014</font></b><br>
<font color="red">Chairman: </font>Bhikhubhai Ramji Ghedia<br>
<font color="red">Vice Chairman: </font>Chandubhai Mohan Fatania<br>
<font color="red">Secretary: </font>Bharatbhai Hirji Tank<br>
<font color="red">Assistant Secretary: </font>Ajaybhai Hirji Tank<br>
<font color="red">Treasurer: </font>Kamleshbhai Savji Chitroda<br>
<font color="red">Assistant Treasurer: </font>Milanbhai Pragji Gohil

<br><br>

<font color="red">Committee Members</font><br>
Babubhai Ramji Bharadva<br>
Chiragbhai Vashram Bharadva<br>
Bhaveshbhai Popat Bharadva<br>
Jitubhai Vashram Chavda<br>
Narendrabhai Dayalal Pankhania<br>
Dipenbhai Pragji Gohil

<br><br>

<font color="red">Trustees</font><br>
Narshibhai Meshur Ghedia<br>
Tulsibhai Natha Shingadia<br>
Rajnibhai Govind Savania<br>
Sureshbhai Mohan Fatania

<br><br>

<b><font color="#66CCFF">Contacts</font></b><br>
<font color="red">Hon Secretary: </font>+254 722522956<br>
<font color="red">Hon Treasurer: </font>+254 725679151<br>
<font color="red">Email: </font><a href="mailto:sspgmnbi@hotmail.com">sspgmnbi@hotmail.com</a><br>
<font color="red">Facebook: </font><a href="http://www.facebook.com/sspgm-kenya">www.facebook.com/sspgm-kenya</a>

<br><br>

<font color="red">Physical Location</font><br>
Peponi Road, Peponi Gardens, Westlands Nairobi

<br><br>

<font color="red">Postal Address</font><br>

Shree Sorathia Prajapati Gnati Mandal<br>
PO Box 218–00623<br>
Nairobi, Kenya

<br><br>

<b><font color="#66CCFF">Peta Mandals</font></b><br>
The following are the three peta mandals of our society actively involved during all community functions:
<ul>
<li>Shree Bai Stree Satsang Mandal</li>
<li>Shree Ramdevpir Gat Bhagat Mandal</li>
<li>Shree Krishna Sangeet Mandal</li>
</ul>

<b><font color="#66CCFF">Festivals Celebrated</font></b><br>
Janmashtami Mahotsav<br>
Navratri Mahotsav<br>
Diwali &amp; New Year Sneh Milan<br>
Shribai Mahotsav


<br><br>

<b><font color="#66CCFF">Temple Development</font></b><br>
After having relocated to Peponi road, Westlands premises from Kolobot road, Ngara the managing committee have managed to finalize part of the work towards the development of our new premises which will comprise of the following:
<ul>
<li>Lower basement parking</li>
<li>Upper basement parking</li>
<li>Social Hall</li>
<li>Temple Hall</li>
<li>Kitchen/Utilities</li>
<li>Residential flats</li>
</ul>



</b></font>
</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr>
<td valign="top" align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
