<html>
<head>

<title>Welcome to SSPGM.net - Surnames - Pankhania</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a><br>
<p>
<center><h1><font color="#CC3333">
Pankhania
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>
<p>
<font color="red"><b>Origins of the Pankhania Family: </font>By Ravjibhai Parbatbhai Pankhania</b>
<p>
It gives me great pleasure in writing a brief history of the Pankhania Family, especially for this 
historic event, the launch of a web site for Shree Sorathia Prajapati Gnati Manda, Atlanta Georgia. 
This website is the first ever of its kind for the SSPGM members worldwide. I am very excited to 
be a resident of Atlanta USA, where this website is being launched.  I cannot express my 
excitement by a mere few words.<p>

I have been given this opportunity and I consider this a great priveledge to write a few words 
about the Pankhania family.  A lot of the information you will read below was painstakingly 
collected and compiled by  Kaviraj Manharbhai Buddhiisagarbhai Barot, Ranavav and published by 
the executive committee members of the Pankhania Samelan (UK 2000).<p>

Today,  the Pankhania family is the largest within the Shree Sorathia Prajapati Gnati.  Pankhania 
family originated from Chudasama, Rajput Kshatriya family. History reveals  that Krishna Bhagwan's 
79th Generation of Chandravanshi Chudasama Rajput Kshatriyas gave birth  to King Denendra. He 
had a son named Gajpat, who ruled his kingdom from Junagadh.  One of the Chudasama Rajput 
families led by Savji Dada settled in 'Pankhan', a place near Keshod, hence we are known as 
Pankhania. He also married a girl from Prajapati Kumbhar family. Along with the Pankhania family, 
there was a Vadher family who lived in Pankhan.The Pankhania and the Vadher families lived 
happily together, and accepted each other as brothers.  The two families did not intermarry with 
each other while keeping their blood lines clean, they called themselves "Sakh Brothers" and do 
so at this present day.<p> 

Pankhania worshipped their family deity Adhya Shakti Harshidhi Mataji. We also believe in Brahmani, 
Naag Bapa and Vachhara Dada.<p>

From our ancestor Savji Dada, the genertions continued chronologically as Virji, Vikramji, Khasia, 
Saria, Deva, Hira, Mala, Mandan, Munja, Samat, Sarman.  After the Mandan family we branched out 
and settled in different places.  Mandan Bapa died a valiant warrior in Pankhan. His rock memorial 
as 'Surapura' was erected. There is also a well known as Pankhan Vav. From Pankhan, some of us 
went and settled in Pata (ghed), some in Palakhada, some in Bhardwada. Rock memorials of our 
defenders and valiant warrior are evident in Pankhan, Pata, Mader, Kadachha and Shingada.<p>
 
At present, some Pankhania families worship their Kurdevi, Shree Harshidhi Mata and pay their 
homage at temples in Miyani near Dwarka and at Ujjain, in Rajasthan.  Others worship Lord 
Krishna and pay homage to Maha Prabhuji Bethak at Gaga Gurgat near Dwarka and Shree Nathji 
temple at Naathadwara in Rajasthan.<p> 

In spite of these variations, we are all united and live harmoniously as one "Pankhania" family.<p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
I hope that the above information will help many of us, especially the younger generations to 
understand more about our family and it origins.<p> 

With very best wishes to all members of Shree Sorathia Prajapati Gnati Mandal (Community), 
worldwide<p>

<font color="#66CCFF"><b>
Ravji Parbat Pankhania<br>
Atlanta, Georgia, USA
</b></font>
<br>
<center><a href="http://www.sspgm.net/images/pankhania_2.jpg">
<img src="http://www.sspgm.net/images/pankhania_2.jpg" width="125" height="200" border="0">
</a></center>
<p>
</td>
</tr>
</table>
</center>
<p>
<center><script language="javascript" src="/http://www.sspgm.net/bottom.js"></script></center>
