<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">
    <font color="red"><b>Features</b></font><br />
    <%= link_to "History", page_path('porbandarhistory') %><br />
    <%= link_to "Establishment", page_path('porbandarhistory2') %>
  </div>

    <div class="col-8">

      <center><h1 class="page-header">
        History of the SSPGM Porbandar Mandal
      </h1></center>

      <center><font color=#66CCFF size="2">SHRI SORATHIA PRAJAPATI VIDYOTEJAK MANDAL - PORBANDAR.</font></center><br><br>

      <font color="yellow">Hathi Tanki Road, Porbandar-360575. (Gujarat-India)<br />Phone No.091-286-247020</font> <br><BR>

      Establishment Year: 1946 (Date: 25.10.1946) Vikram Savant : 2002 <br><BR>

      By Premji Bhura Dhokia<br /><br />

      MAIN ACTIVITIES: <BR>
      1. To motivate students of our community for higher education. This Boarding is providing free school books and providing Lodging & Boarding at very reasonable fees from out side coming students. This Boarding house was purchased in Rs.18000/- in 1946 which is in central area of Porbandar, so it is convenient to all and very near to the main Bazar and other educational schools. <BR><BR>


      2. In the beginning,  we kept fees of boarding only Rs.5/- per month for the students coming from out side villages to encourage the students and gradually people of villages started to admit their children in our boarding and many students who have got their education /degree in this Boarding are well settled and many students in higher post in Government offices and in private sectors. <BR><BR>


      3. At that time due to shortage of fund and to maintain this Boarding regularly, we started (Premji Bhura Dhokia and Lalji Ranmal Koria) to attend marriage functions to collect the fund and donations from our community members and to collect seasonal grain/crops from the farmers of villages. We also deputed Mr. Karsan Parmanand Kukadia for collection of funds in East Africa. <BR><BR>


      4. Establishment Committee was formed in 1946 as follows: <BR>
      President: Bhimji Mesur Gohil<BR>
      Secretary: Karsan Parmanand Kukadia<BR>
      Treasurer: Kanji Ala Gohil<BR><BR>

      The main Members of the Boarding were as follows:<BR>
      <font color="red">Bhimji Raja Mavadia</font><BR>
      <font color="red">Karsan Jeram Chavda</font><BR>
      <font color="red">Natha Hari Gadher</font><BR>
      <font color="red">Bhimji Odhavji Chavda</font><BR>
      <font color="red">Mepa Mandan Vara</font><BR>
      <font color="red">Premji Bhura Dhokia</font><BR>
      <font color="red">Lalji Ranmal Koria</font><BR>
      <font color="red">Harji Raja Bhadwa</font><BR>
      <font color="red">Jiva Harji Jagatia</font><BR><BR>

      5. In 1955, at the 10 years completion of  the Boarding, it was decided to celebrate, and held Vidyotejak Parishad meeting in chairmanship of Hirjibhai Jesa Gohel and during the discussions with members of Vidyotejak Mandal the matter was turned into a quarrel and  Chapter case was filed against leaders of Vidyotejak Mandal which was withdrawn later on with settlement of the Magistrate. <BR><BR>


      6. In the year 1966, at the completion, of another 10 years of the Boarding, a meeting was called in the Chairmanship of Shri Govind Jutha Koria Contractor and leader of Ahmedabad Gyati at that time a procession of our community members and taken round in the main Bazar to show the integrity of our community. <BR><BR>


      7. In 1970 when Indira Hatavo agitation was continued in India at that time some people of our community started agitation to remove,  Premji Bhura Dhokia from the Boarding and so that he left handling of the Boarding for the period of two years. But there after when work of our Boarding suffering badly, some leaders of our community come to him and requested him to handle the Boarding suitably. Since then he is handling the Boarding <BR><BR>


      8. In 1978 we started agitation to consider Kumbhar community as backward class for which we gone on fast and given written application to the Collector of Porbandar and we come out in one procession with slogans on the roads in which ladies also took part. <BR><BR>


      9. In 1978 for construction of Hostel for students of college, we purchased 5000 Meters open plot on National Highway at the rate of Rs.2/- only per meter which present market rate is Rs.5000/- per Meter and we constructed the rooms for students of college on this plot and provided living accomodation for college students. <BR><BR>


      10. For the construction of Rooms on the above plot for Hostel on Highway, Premji Bhura Dhokia and Mr. Dayabhai Kanji Tank visited Dubai and Abudhabi on invitation from our Gyati Members and got donation of Rs.2 Lakhs. At present 40 Students living in this Hostel. <BR><BR>

      11.     In 26.1.1997 our Boarding has completed 50 years, Golden Jubilee year was celebrated in the Chairmanship of Shri Devshibhai Madhavji Shingadia from U.K. and given honour certificates to the members of committee who have given services 5 years and more. <BR><BR>

      12. In this Boarding Entertainment Programmes, Drama and Rasgarba Utasav takes places in which ladies of our community takes part and are given present/gifts to encourage them. To prepare the girls of our community, training was given by Smt. Amrutben Premji Dhokia, Smt. Gangaben Harjibhai Bhardwa and Bhanuben Laljibhai Koria. <BR><BR>

      13. In East side of our Boarding we have purchased 150 Mtrs land at the rate of Rs.6/- only. Thus at present two big immovable properities are in possession of our community in Porbandar. <BR><BR>






      14.     Present trustee of our Boarding are as under.<BR>
      <font color="red">Premji Bhura Dhokia</font><BR>
      <font color="red">Jiva Harji Jagatia</font><BR>
      <font color="red">Savji Madhavji Tank</font><BR>
      <font color="red">Shamji Khimji Dhokia</font><BR>
      <font color="red">Trikam Ala Gohil</font><BR>
      <font color="red">Ramnik Naran Jadav</font><BR>
      <font color="red">Daya Kanji Tank</font><BR>
      <font color="red">Narshi Devshi Pankhania</font><BR>
      <font color="red">Nathalal Chhagan Chhaya</font><BR>
      <font color="red">Khimji Ramji Shingadia</font><BR>
      <font color="red">Arshi Sidi Pankhania</font><BR><BR>

      15.    In this Boarding about 2500 students have taken benefit and servicing on higher post in Government services as well as in private industries and also doing private business in foreign countries. <BR><BR>

      As per Mumbai Public Trust Act 1950 applicable to Saurashtra and Kutch and Rules of Social Trusts 9.2.1962 this organizations have obtained Registration Certificate and Management is done accordingly. <BR><BR>

      We well come to all our community people living abroad to visit this our organization. This is the oldest organization of our community for which we have got co-operation from our local and foreign community people for which we are very much thankful to them and expect such co-operation from them in future. <BR><BR>

      <BR><BR>

      Date: 01/04/2002<br />
      Last Updated: 06/23/02

    </div>

  </div>
</div>
