<%= render 'shared/new_styles' %>

<h1>Publications</h1>

<div class="row">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Agnichakra</h5>
            <p class="card-text">Gujarati Monthly Publication.</p>
            9/10 Khimji Punja Building<br />
            Kara Marg<br />
            Juna Kurla<br />
            Mumbai, India 400-070<br /><br />
            <strong>Tel: </strong>5117053/5156038<br />
            <strong>Email: </strong><a href="mailto:agni_chakra@rediffmail.com">agni_chakra@rediffmail.com</a><br />
            <strong>Website: </strong><a href="http://www.agnichakrabigstep.com/">www.agnichakrabigstep.com</a><br />
            <strong>Editor: </strong>Vinod Khimji Fatania<br />
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Kumbhkar</h5>
            <p class="card-text">Gujarati Monthly Publication.</p>
            4 Krishna Nagar<br />
            Shree Shakti Society - 2<br />
            Jamnagar, India<br /><br />
            <strong>Tel: </strong>2566434<br />
            <strong>Email: </strong><a href="mailto:hpjagatia@yahoo.co.in">hpjagatia@yahoo.co.in</a><br />
            <strong>Editor: </strong>Lilaben R. Prajapati<br />
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title">Premganga</h5>
            Jamnagar, India<br />
            <strong>Email: </strong><a href="mailto:premganga@hotmail.com">premganga@hotmail.com</a>
        </div>
    </div>
</div>

<div class="mt-5">
    Would you like to be included on the publication listings? Email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>.
</div>