<h1 class="page-header">Publications</h1>

<font color="steelblue"><b>Agnichakra</b></font><br>
9/10 Khimji Punja Building<br>
Kara Marg<br>
Juna Kurla<br>
Mumbai, India 400-070<p>
<font color="red"><b>Tel: </b></font>5117053/5156038<br>
<font color="red"><b>Email: </b></font><a href="mailto:agni_chakra@rediffmail.com">agni_chakra@rediffmail.com</a><br>
<font color="red"><b>Website: </b></font><a href="http://www.agnichakrabigstep.com/">www.agnichakrabigstep.com</a><br>
<font color="red"><b>Editor: </b></font>Vinod Khimji Fatania<br>
<font color="yellow"><i> - Gujarati Monthly Publication</i></font><p><br>

<font color="steelblue"><b>Kumbhkar</b></font><br>
4 Krishna Nagar<br>
Shree Shakti Society - 2<br>
Jamnagar, India<p>
<font color="red"><b>Tel: </b></font>2566434<br>
<font color="red"><b>Email: </b></font><a href="mailto:hpjagatia@yahoo.co.in">hpjagatia@yahoo.co.in</a><br>
<font color="red"><b>Editor: </b></font>Lilaben R. Prajapati<br>
<font color="yellow"><i> - Gujarati Monthly Publication</i></font><p><br>

<font color="steelblue"><b>Premganga</b></font><br>
Jamnagar, India<p>
<font color="red"><b>Email: </b></font><a href="mailto:premganga@hotmail.com">premganga@hotmail.com</a>
