<html>
<head>
<title>
SSPGM Publications
</title>
<style>
a:link     {color:white;text-decoration:none;font-weight:bold}
a:visited{color:white;text-decoration:none;font-weight:bold}
a:hover {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<center>
<table width="700" height="600" border="1" cellspacing="0" cellpadding="10" bordercolor="#CC3333">
<tr>

<td width="70%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolor="#000080">
<tr valign="top">
<td>
<br>
<center>
<h1><font color="#CC3333">Publications</font></h1></center>
<p><p>
<font color="white"><b>
<font color="steelblue">Agnichakra</font><br>
9/10 Khimji Punja Building<br>
Kara Marg<br>
Juna Kurla<br>
Mumbai, India 400-070<p>
<font color="red">Tel: </font>5117053/5156038<br>
<font color="red">Email: </font><a href="mailto:agni_chakra@rediffmail.com">agni_chakra@rediffmail.com</a><br>
<font color="red">Website: </font><a href="http://www.agnichakrabigstep.com/">www.agnichakrabigstep.com</a><br>
<font color="red">Editor: </font>Vinod Khimji Fatania<br>
<font color="yellow"><i></b> - Gujarati Monthly Publication</i></font><b><p><br>

<font color="steelblue">Kumbhkar</font><br>
4 Krishna Nagar<br>
Shree Shakti Society - 2<br>
Jamnagar, India<p>
<font color="red">Tel: </font>2566434<br>
<font color="red">Email: </font><a href="mailto:hpjagatia@yahoo.co.in">hpjagatia@yahoo.co.in</a><br>
<font color="red">Editor: </font>Lilaben R. Prajapati<br>
<font color="yellow"><i></b> - Gujarati Monthly Publication</i></font><b><p><br>

<font color="steelblue">Premganga</font><br>
Jamnagar, India<p>
<font color="red">Email: </font><a href="mailto:premganga@hotmail.com">premganga@hotmail.com</a>
<p>
</td>
</tr>
</table>
</td>
<!-- Links-->
<td width="30%" height="100%">
<table border="1" height="100%" width="100%" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080">
<tr valign="top">
<td>
<center>
<br>
<script language="javascript" src="http://www.sspgm.net/right.js"></script>
</center>
</td>
</tr>
<!-- End of Links-->
</table>
</td>

</tr>
</table>
</center>

<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</body>
</html>
