<html>
<head>

<title>The Meaning of Raksha Bandhan</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<a href="javascript:history.back(1)">Go Back</a><p>
<center><h1><font color="red">
The Meaning of Raksha Bandhan
</font></h1></center><p>
<font color="white">
On the 30 August we celebrate the sacred holiday of Rakhsha Bandhan, or Rakhi, a celebration of the bond of love and the bond of family. On this day, sisters tie sacred threads around their brothers' wrists, symbolizing their love and affection. In return, the brother promises to protect his sister and to always be there for her. Rakhsha means protection or security and Bandhan means a bond or relation. Thus, Rakhsha Bandhan symbolizes the bond of security and protection between brothers and sisters.<p>

<font color="yellow">
As the Rakhi is tied, a sacred mantra is chanted which says:<br>
Yena baddho balee raajaa daanavendro mahaabalah<br>
Tena twaam anubadhnaami rakshey maa chala maa chala.</font><p>

This is a sacred protection mantra and it grants security and protection to the wearer.<p>

<font color="red" size="2"><b>INDIAN CULTURE - THE WORLD IS ONE FAMILY:</b></font><br>
On Rakhi, the brothers and sisters do not have to be blood relatives. That is the beauty of Indian culture. Our tradition tells us that the world is our brother and sister. On this day of Raksha Bandan, a girl can tie a Rakhi on the wrist of any boy or man to whom she feels a close bond. Then, from that day forth, they will call each other "sister" and "brother."  In this way, relationships are strengthened, solidified and purified. <p>

<font color="red" size="2"><b>SACRED BEGINNING:</b></font><br>
The holiday, like all Indian festivals, has a divine, sacred beginning. During the time of the Mahabharat, Lord Krishna threw a celestial weapon at  Shishupala in order to punish him for his numerous sins. However, as Lord Krishna hurled the weapon at Shishupala, the Lord cut his own finger. Draupadi immediately tore off a piece from her sari and wrapped it around Lord Krishna's finger, stopping the bleeding. Lord Krishna asked her what she wanted in return for this favour. "Nothing, Oh Lord," she replied. "Just your holy presence in my life, at all times." So, from that moment forth, Lord Krishna promised Draupadi that He would always be with her and that she needed only to call upon Him. Later, as the Kauravas tried to dishonour Draupadi by removing her sari in a public hall, she called to Lord Krishna who immediately came to her rescue.<p>

<font color="red" size="2"><b>THE BOND OF RAKHI:</b></font><br>
Additionally, the tradition of Rakhi has created a beautiful, sacred way for women and girls to be protected during times of political and social turmoil. Even as men injure and dishonour women, no one would injure his own sister. The bond of Rakhi is held so sacred that no man would dare leave his Rakhi sister unprotected, let alone actually injure her himself. For example, the ancient Muslim ruler of India, Humayun, was obligated to protect the Hindu princess Karmavati, even in spite of all political and social sanctions against Karmavati and her family. Why? Because the princess had sent Humayun a Rakhi.<p>

<font color="red" size="2"><b>BOND WITH GOD:</b></font><br>
This shows us more than simply the bond between a brother and sister or the promise of security. This teaches us a valuable lesson about our own relationship with God. Draupadi gave to Lord Krishna one small strand from her sari. In return, Lord Krishna gave Draupadi an endless, infinite sari, one which could never be removed. When we come forward toward the Lord, even one small step, He comes toward us by miles. When we offer one small strand of our lives at His holy feet, the rewards are infinite.<p>

<font color="red" size="2"><b>NEW MILLENNIUM, NEW TRADITION</b></font><br>
Today, we must realize that the only way the current world will survive is united as one family. We must vow to make the world our brothers and sisters - not only in theory, but also in practice.  Let us use rakhi as a symbol of our universal brotherhood. May our girls and women lead the way toward this universal family as they tie rakhi bracelets on the wrists of not only their closest male friends, but also on the wrists of enemies. Let us use this holiday to reach out to those around us, embracing them as brother and sister.<p>

<font color="red" size="2"><b>THE TRUE RAKHSHA BANDHAN</b></font><br>
Last and most importantly, may we all exchange vows of love, affection and protection not only with our human brothers and sisters. But, let us also offer at least a small thread to the Lord. For He is our true Brother, our true Sister, our true Protector.  It is to Him that we want to be eternally tied. The divine rakhi that you offer to the Lord will never become untied, never become faded and will never break.<p>

With love and blessings to you all.<p>

In the service of God and humanity,<br>
Swami Chidanand Saraswati<p>
<font color="yellow">
Submitted by <a href="mailto:dabhi@centrum-uk.com">Mahendra P. Dabhi</a><p>
</font>
<a href="javascript:history.back(1)">Go Back</a><p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>

