<html>
<head>

<title>
Ramapeer Parcha
</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}

table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="red">
Ramapeer Parcha
</font></h1><br>
<font color="yellow" size="2"><b>Submitted by <a href="mailto:dabhi@centrum-uk.com">Mahendra Purshottambhai Jerambhai Dabhi</a></b></font><br>
<font color="red" size="2"><b>Related Site: </b></font><a href="http://www.ramapir.org/">www.ramapir.org</a> <font color="red" size="2"><b>By Shree Santbapu of Wembley</b></font></center>

<p>
<font color="white" size="3">
We have learnt from the Ramdev Ramayan that when Maharaja Ajmalji (King of Pokran) had no sons, he then became a devotee of Lord Shiva and regularly went to Kashi, the holy city on the banks of River Ganges. There, he offered his prayers to Kashi Vishvanath.<p>

When he found out that the citizens of village where he was a king. They considered him to be ominous, he decided to go to Kashi, and put himself to penance and chanting the mantra “Aum Namah Shivaya”. “ Aum Namah Shivaya”<p>

On the seventh day at midnight Lord Shiva gave Darshan to Maharaja Ajmalji In his dream.<p>

In his dream Lord Shiva told Maharaj Ajmalji to go to Dwarka where his wishes would be fulfilled.<p>

Maharaj Ajmalji returned to Pokran and told Mata Minalde (Queen of Pokran) about his dream in Kashi and said he would like to go to Dwarka.<p>

The next day Mata Minalde made him some Ladus to take them as offerings of Prasad to Lord Shree Krishna <b>(HARI BOLL)</b><p>

When he reached Dwarka he started pray to Ranchhodrai (Lord Shree Krishna) to the Murti in the temple, which obviously would not reply as it was made of a stone. <b>(Pather Ni Murti) </b><p>

After praying for a long time Raja Ajmalji got angry, Why is Shree Krishna not giving me Dharshan and threw the Ladu Mata Minalde had given as offerings of Prasad at the Statue of Shree Krishna.<p>

By throwing the Ladus ant the Statue he damaged the Murti.<p>



The Mugad on Krishna had tilted to one side, the ladu was stuck on the face of the murti and so on. <p>

The Brahmin priest saw all this and advised Maharaja Ajmalji that if he really wanted to meet Shree Krishna he would have to jump into the sea as that is where Shree Krishna Lives – This the Brahmin did to get rid of the Maharaja Ajmalji as the Brahmin did not want people to thing that the Maharaja had gone crazy or made.<p>

Then Raja Ajmalji walked to the edge of the sea and plunged himself into the sea. Not caring for his life that he will be drowned or even die. He saw the Golden Dwarka under the sea and also saw Shree Krishna (HARI BOL) Ajmalji notices that Krishna’s Mughad hat tilted to one side and the ladu he had thrown at the statue were really stuck on Shree Krishna. This made Raja Ajmalji very sahamful and apologised to Krishna and asked for his forgiveness. Krishna Forgave him and blessed him to say that he was very happy with his Bhakti. <p>

The legend goes that he met Lord Krishna in the Golden temple Dwarka. He granted him his wish for a son and gave him a flower, but the Ajmalji insisted he wanted a son like Non Other then the Lord himself in which case Krishna had no alternative but to take birth himself.<p>

Lord Krishna gave him another flower and promised that he will take birth at the appropriate time as his younger son.<p>

He told Maharaja Ajmalji to name both his sons, older one as Viramdev and younger son as Ramdev.<p>

He gave his three other emblems – Vir Gediyo, box of Amal and Ratna Katora.<p>

The Maharaja asked how will he recocnise that you are born at my house and Krishna said you will see the Kanku Pegla.<p>

Ajmalji bowed down to touch the feet of Krishna and closed his eyes. When he opened his eyes he found himself on the beach. He collected his horse from the Brahmin priest and was on his way back home.<p>



As night approached, he rested on the side of the road and fell asleep. When he woke up he found himself on the outskirts of Pokran. He entered Pokran and went to his Royal Palace, and was greeted by his wife and ministers. He placed both flowers in a small temple within the palace.<p>

He also told Mata Minalde how badly he had behaved and that Shree Krishna had given him a boon the he would be born.<p>

After ten months the Queen gave birth to a son. He was named “Viramdev”. Then on Thursday Bhadon Sud (Ekadashi) in the year 1405A.D. Lord Krishna arrived in the form of a baby boy and Laid down next to Viramdev in the cradle. The Queen saw the kum kum Pegla leading up to the cradle and she knew that lord Krishna has been born. <b>(HARI BOL)</b> This baby boy was named Ramdev<p><p><br>

<center><h1><font color="red">
Part 2
</font></h1></center><p>

By now <b>Ramdevji Maharaj</b> became well known in Rajasthan for his <b>(PARCHAS)</b> miraculous powers. The Fakirs reported the Parchas to the Pir of Ajmer. The Pir of Ajmer asked the Fakirs to go to Multan and seek their Guidance. These Fakirs were called Fakir Mustanapir, Fakir Dagdupir, Fakir Bajrukshahpir, Fakir Gadadiapir, Fakir Dilavarshahpir and Fakir Jabbarpir and follow their advice. The Fakirs went to Multan and saw the Pirs who in turn sent the Fakirs to see their superiors Musapirs and Charalshahpir.<p>

After hearing about Ramdevji Maharaj and his powers, the Fakirs from Musapir decided to go to Ranuja with his small delegation of five Pirs to test Ramdevji’s Powers. He sent a message to all Fakirs of Multan to arrive in Ranuja on Maha Sudhi Bij so that he could take some tough tests of Ramdevji, the aim being that if Ramdevji failed the tests then Musapir could ask Ramdevji to stop people calling himself a Pir since Hindus do not have Pirs.<p>

Ramdevji had already become aware of the intentions of Musapir and was awaiting their arrival. On Maha Sudhi Bij, by their miraculous powers, a delegation of five Pirs arrived on the outskirts of Ramdevra. Ramdevji went to receive them, introducing himself and escorted then to the palace. Meanwhile, the rest of the Fakirs and Pirs started arriving in Ranuja. By lunchtime they had all arrived.<p>

Whilst the Pirs and Fakirs from Multan were arriving in Ranuja, they experienced the miraculous powers of Ramdevji. When Musapir and his four delegates arrived in Ranuja, Ramdevji Maharaj made five Peepal trees grow instantly and said to them please come and have a rest here under the shade of the tree before going into the town centre. He also miraculously produced pots and pans for the opium drink for the fakirs to have while they rested under the Peepal tree.<p>

When Ramdevji and his guests approached the place gates, the gatekeeper came running to Ramdevji and told him that his childhood friend Swarthia had died from a snakebite. Ramdevji and the five fakirs went to where Swarthia’s body was lying and the fakirs checked that the Swarthia was really dead and not just another fake body. Ramdevji said to the fakirs here is a task for you, make him alive and the Pirs said that they did not have such powers. And Ramdevji Maharaj said that he would make him alive. He called on to Swarthia and said Wake up Swarthia get up from your deep sleep three times and Swarthia woke up and began to behave as though nothing had happened.<p>

At lunchtime, the fakirs from Mecca requested that they only eat from their own utensils, which they had left behind in Multan, so Ramdevji extended his right hand and brought all the utensils for them to eat from. Ramdevji also provided various different kind of food that were requested and fulfilled the wishes of the Fakirs and Pirs. The Pirs and Fakirs intentions were to bring disgrace upon Ramdevji Maharaj, but instead they blessed him and announced that Ramdevji Maharaj will be now known as, Ramshapeer, Ramapeer or Hindwapeer in the whole world and all the Pirs and Fakirs present hailed to Ramdevji Maharaj and chanted  <b>“Jai Ramapeer, Jai Ramapeer, Jai Ramapeer”</b>.<p>

Even today in various parts of the World the Muslims who follow Ramapeer Worship him as Ramshapeer. <p><p><br>

<center><h1><font color="red"><b>
Ramapeer Ni Thaal
</b></font></h1></center><p>
<font color="yellow" size="3"><b>
Jay Shree Ramapeer
</b></font><p>

<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td>
Me To Sona Na Bajhot Dhaliya Re,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Upper Biraje Ranuja No Rai
</td>
<td valign="bottom">
Me To Sona Na
</td>
</tr>
<tr>
<td>
Mara Ramdev Utara Oorda Ho Ji,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Sati Natra Ne Medi You Na Mol
</td>
<td valign="bottom">
Me To Sona Na
</td>
</tr>
<tr>
<td>
Me To Lotto Bhario Jaal Jamuna No,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Tame Aachman Karo Ramapeer
</td>
<td valign="bottom">
Me To Sona Na
</td>
</tr>
<tr>
<td>
Mara Ramdev Ne Mukh Vas Aalchi Re,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Sati Netra Ne Bileda Ne Pan
</td>
<td valign="bottom">
Me To Sona Na
</td>
</tr>
<tr>
<td>
Hoon To Upper Chadu Ne Niche Utru Re,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Hoon To Jov Mara Ramapeer Ni Vaat
</td>
<td valign="bottom">
Me To Sona
</td>
</tr>
<tr>
<td>
Gaat Ganga Na Bhakto Vineve Che,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Amm Ne Chare No Ma Rakho Ramapeer
</td>
<td valign="bottom">
Me To Sona
</td>
</tr>
</table><p><p><br>

<table border="0" cellspacing="0" cellpadding="5" width="100%">
<tr>
<td colspan="3" align="center">
<table border="1" bordercolor="white"><tr><td align="center">
<h1><font color="red">
Shree Ramdev Chalisa
</font></h1>
</td></tr></table>
</td>
</tr>
<td border="0" align="center" colspan="3">
|| Dhoha ||
</td>
</tr>
<td>
Jai Jai Jai Shree Ramdev sukhkari,<br>
Sudh Budhi Aapo Prabhu,
</td>
<td>
Namo Namo Harbaar<br>
Haro Dukh Kaa Bhaar
</td>
<td valign="bottom">
..Netravere Ramdev Ki Jai Sharanam
</td>
</tr>
<tr>
<td>
Krupa Sindhu Kirpa Karo,<br>
Karjodi Vandan Karu,
</td>
<td>
Haro Sakal Santaap<br>
Daya Karo Prabhu Aap
</td>
<td valign="bottom">
..Natravere Ramdev Ki Jai Sharanam
</td>
</tr>
</table><br>

<table border="0" cellspacing="0" cellpadding="5" width="100%">
<tr>
<td colspan="2" align="center">
<table border="1" bordercolor="white" width="520"><tr><td align="center">
<center><h1><font color="red">
Chopai
</font></h1></center>
</td></tr></table>
</td>
</tr>
<tr>
<td>
Jai Jai Shree Ramdev sukhkari<br>
Tum Ho Sukh Sampati Ke Daata<br>
Baal Roop Ajmal Ghar Dhaara<br>
Dukhiyo Ke Tum Ho Rakhwaare<br>
Sevak Jen ke Tum Prabhu Swaami<br>
Bhagtajano Ke Bhav Bhay Haari<br>
Jagme Naam Tumaara Bhaari<br>
Dukh Bhanjan Hai Naam Tumhaara<br>
Sundar Dhaam Ranuja Swaami<br>
Kaliyug Me Prabhu Aap Padhaare<br>
Bhairav Ko Bhay Roop Dikhaaya<br>
Sohe Bhoojme Bhammar Bhaala<br>
Shobhe Neele Ash va Savaari<br>
Naam Tumhaara Sukh Prakaashe<br>
Tum Bhagto Ke Bhagta Tumhaare<br>
Sukh Daata Sankat Bhay Haari<br>
Bhudhi Heen Nar Vidha Paave<br>
Putra Heen Subh Santati Paave<br>
Durjan Dushta Nikat Nahin Aave<br>
Jo Sankatme Prabhuko Dhyaave<br>
Tumne Doobat Naav Ubari<br>
Paanch Peeroko parcha Deena<br>
Tumne Putra Diya Dalji Ko<br>
Sugunake Sab Dukh Har Leena<br>
Jo Jan Tumara Sumiran Karte<br>
Karat Pookaar Radayse Teri<br>
Dusta Daitya Bhairav Ko Maara<br>
Jo Koi Sharan Aapki Aave<br>
Netrheen Ke Tum Rakhware<br>
Ramdev Chalisa Koi<br>
Jo Koi Bhagti Bhaav Se Dhyaave<br>
Mai Hoon Sevak Tu Prabhu Mera<br>
Jai Jai Jai Prabhu Leela Teri<br>
Sevak Vinay Kare Prabhu Tera
</td>
<td>
Vipad Haro Prabhu Aan Hamaari<br>
Bhagtajano Ke Bhav Dukh Traata<br>
Bankar Putra Sabhi Dukh Taara<br>
Patitanko Bhavsaagar Taare<br>
Ghat Ghat Ke Tum Antaryami<br>
Meri Sudh Le Prabhu Avtari<br>
Bhajte Sab Ghar Garh Nar-naari<br>
Jaanat Hai Sab Vidh Sansaara<br>
Haath Jod Vandu Shir Naami<br>
Dareshne Diye Prabhu Nyaare Nyaare<br>
Bhagtajano Ne Sukhroop Paaya<br>
Gale Suhaaye Sundar Maala<br>
Krupa Karo Muj Par Avtaari<br>
Paap Avidha Sab Dukh Naase<br>
Nitya Vaso Prabhu Raday Hamaare<br>
Lila Aparam Paar Tumaari<br>
Rogi Rog Mukta Ho Jaave<br>
Kul Taarak LahiMod Manaave<br>
Bhoot Pishaach Sabhi Dar Khaave<br>
Nishchay Shaanti Sada Sukh Paave<br>
Namak Ke Kiya Misri Ko Sari<br>
Neer Sarovar Khaara Keena<br>
Gyan Diya Bhaati Harji Ko<br>
Mara Putra Sajeevan Keena<br>
Unke Dukh Sakal Prabhu Harte<br>
Karte Aap Tanik Nahin Deri<br>
Jambha Ko Parcha De Daara<br>
Man Ichheet Sab Vidh Paave<br>
Rakta Kodhi Ke Sab Dukh Taare<br>
Nitya Padhe Sukh Sampati Hoi<br>
Janma Janma Ke Dukh Visraave<br>
Kaato Jamna Maran Ka Fera<br>
Paar Koaro Prabhu Naiya Meri<br>
Karahoo Naath Raday Mahi Dera
</td>
</tr>
</table><br>

<table border="0" cellspacing="0" cellpadding="5">
<tr>
<td colspan="3" align="center">
|| Dhoha ||
</td>
</tr>
<tr>
<td>
Bhagta Upar Krupa Karo,<br>
Sheer Naami Prabhu Aapako,
</td>
<td>
Naath Padhaaro Dodd<br>
Vinanti Karu Kar Jodd
</td>
<td valign="bottom">
..Natraver Ramdev Ki Jai Sharanam
</td>
</tr>
<tr>
<td>
Chalisa Ka Paath Jo,<br>
Kasta Mite Sansaar Ke,
</td>
<td>
Nitya Kare Ko Joi<br>
Pun nar Janma Nahin Hoi
</td>
<td valign="bottom">
..Natraver Ramdev Ki Jai Sharanam
</td>
</tr>
</table>
<p>
<center><h1><font color="red">
Shree Ramapeer Ni Aarti
</font></h1></center><p>
<font color="white">
Hoon To Aarti Utaru Nakhlank Ni Re,<br><ul>
Nakhlanke Ni Re Guru Ram Ni Re ..... Hoon to Aarti<br></ul>
Palli Aarti Ye Guruji Pathariya Re,<br><ul>
Biji Aarti Ye Baar Bij Na Dhani Re ..... Hoon to Aarti<br></ul>
Triji Aarti Me Tatvathi Parkari Re,<br><ul>
Chhothi Aart Char Yug Ma Fari Re ..... Hoon to Aarti<br></ul>
Ker Jodi Baalak Boliya Re,<br><ul>
Laale Aanter Na Pad Dha Kholiya Re ..... Hoon to Aarti<br></ul>
Bolo Ramapeer Ni Jay<br>
Bolo Saat Guru Dev Ni Jay
</font><p>
</center></h1></font>



</font>

<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
</body>
</html>
