<center><h1><font color="#CC3333">
Ramnavami Festival
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>
<center>
<%= image_tag 'lordram.jpg', height: "130", width: "90" %>
<p>
Sri- Ram is the seventh incarnation of Lord Vishnu and Ramnavami is dedicated to the memory of Lord Rama. It occurs on the ninth
day (navami) of the bright fortnight of the Hindu month of Chaitra. The festival commemorates the birth of Rama who is remembered
for his preperous and righteous reign.<p>

This is an occasion for great rejoicing especially for the Vaishnavas who celebrate it with due solemnity all over the country.<p>

The ancient texts lays tress on fasting on this day, and it is believed that anyone who does not fast will go to the worst hell. It is
also said that Rama fulfils the wishes of all those who pray to him on this day.<p>

The public worship starts with morning ablutions, chanting Vedic mantras dedicated to Vishnu, and offering flowers and fruit to the
god. People keep a fast throughout the day, breaking it only at midnight with fruit. In some parts of India, public gatherings called
Satsangs are organised to commemorate the birth of Rama.<p>

Excerpts from the Ramacharitamanas, extolling the glory of Rama, are recited. People of all castes and creeds participate in these
gatherings to listen to the stories and their explanations offered by the learned.Ramanavami brings together people of different
castes.<p>

Ayodhya is the focus of great celebrations. A huge fair is organized for two days. Ratha yatras or 'chariot processions' of Rama and
his wife Sita, brother Lakshmana and devotee Hanuman, are taken out from many temples. Hanuman is worshipped for his
unflinching devotion to Rama, and his worship forms an important part of the Ramanavami celebrations.<p>
</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">Go Back</a>
