<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333; height: 400px;">

      <center><h1 class="page-header">
        SSPGM Ramnagar Mandal
      </h1></center>

    </div>

    <div class="col-4">
      <center>

        <font color="red"><b>Features</b></font><br />
        <%= link_to "Committee Members", page_path('ramnagarcommittee') %><br /><br />

        <%= render 'shared/india_right' %>

      </center>
    </div>

  </div>
</div>
