<div class="container mb-4 mt-4 ">
  <div class="row">



  <div class="col-4" style="border-right:2px solid #CC3333;">

  <font color="red"><b>Features</b></font><br />
  <%= link_to "Committee Members", page_path('ramnagarcommittee') %><br /><br />

  <%= render 'shared/india_right' %>

</div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Ramnagar Mandal
      </h1></center>

      Shree Sorathia Prajapati Pragati Mandal (Ramnagar) Surat
      </font>
      </center>
      <p>
      <table border="0" cellspacing="1" cellpadding="3">
      <tr>
      <td align="right" valign="top">
      <font color="red" size="2">
      Managing Trusty:
      </font>
      </td>
      <td align="left">
      Govindbhai Jivabhai Bharadwa<br>
      Yogi Krupa Complex,<br>
      Nr. Gangeshwar Temple,<br>
      Anand Mahal Road,<br>
      Surat (395009). Ph: +91-0261-2740911
      <p>
      </td>
      </tr>
      <tr>
      <td align="right" valign="top">
      <font color="red" size="2">
      Pramukh Shree:
      </font>
      </td>
      <td align="left">
      Vashrambhai Jerambhai Jethva<br>
      Apnaghar Society, Nr. Palanpur
      <p>
      </td>
      </tr>
      <tr>
      <td align="right" valign="top">
      <font color="red" size="2">
      Patiya
      </font>
      </td>
      <td>
      <br>
      Surat(395009) Ph: +91-02612768852
      <p>
      </td>
      </tr>
      <tr>
      <td align="right" valign="top">
      <font color="red" size="2">
      Mantri Shree:
      </font>
      </td>
      <td>
      Bhikhubhai Govindbhai Gohil<br>
      Shivam Raw House, Nr. Shubham Wadi,<br>
      Pal Gam Road, Surat (395009)<br>
      Ph: +91-0261-2767894
      <p>
      </td>
      </tr>
      <tr>
      <td align="right" valign="top">
      <font color="red" size="2">
      Khajanachi:
      </font>
      <p>
      </td>
      <td>
      Mr. shaileshkumar Purushottambhai Tank<br>
      806 Akash Darshan Appts,<br>
      Nr. Shrenik Park Raw House,<br>
      Opp. Sahaj Super Stores, New Rander Road,<br>
      Surat (395009)<br>
      Ph: +91-0261-2772884<br>
      (Mob) +91-98257-80165
      <p>
      Last Updated 12/17/03

    </td></tr></table>

    </div>


  </div>
</div>
