<blockquote>
  <blockquote>
          <tr><td bgcolor="black">

      <center>
<h3><center><font color="blue">BAPS Care International</font></center></h3><p><hr>

        <font face="arial" size="2" color="yellow">
<font color="red">India Earthquake Relief Fund Held February 10th 2001<br>
Raised $3,000 donated to BAPS</font><p>
<p align="left">November 29, 2002</p><br>
<center>House No: 1<br>
Type: Small<br>
Inscription on Plaque:<br>
Shree Sorathia Prajapati Gnati Mandal Atlanta, GA, U.S.A<br>
</center><p>
<p align="left">
Dear SSPGM members</p><p>
The most difficult task undertaken by BAPS Care International, of the rehabilitation after the Gujarat 2001
earthquake has come to a close.<p>
We are pleased to advise that the village of Narayan Nagar (formerly known as Jiyapar) TA.: Nakhatrana, Dist.:
Kachchh, have now been completed and handed over to the recipients. We have pleasure to attach the following,
which will give you a comprehensive feel of the work undertaken by BAPS.</center><p>
<p align="left">
 - List of major donors for the infrastructure,<br>
 - Lay out plan of the village,<br>
 - Rehabilitation Report<br>
 - Dedication Ceremony Report (05/25/2002),<br>
 - Photograph of the dedication plaque for the house(s) you sponsered.</p><p>
<center>
Each house is numbered (mentioned at the top of letter). The plaque attached to the front wall of the house has
the sponser name, city, and the state in the USA.<p>
Your generousity of sponsering a home for an affected family was not only a very kind gesture on your part, but
also a very practical one, in that is provided the very basic human needs of rehabilitation after the devastating
earthquake.</center><p><br>
<p align="left">
Sincerely,<br>
BAPS Care international<p>
Subhash Patel<br>
Adminstrator.<br>
National Administrative Office.<p>
<u>P.S.: Change of address effective October 01, 2002</u><p>
BAPS Care International,<br>
P.O. Box 512,<br>
Metuchen, NJ, 08840-0512.<br>
Tel: 800-301-5594<br>
Fax: 732-744-0940<br>
<a href="http://www.baps-care.org">www.baps-care.org</a></p></p>
 </blockquote>
</blockquote>
</table>

</center>
