<html>
<head>

<title>
Riten Hirjibhai Gohil
</title>
<style>
P             {font-weight:bold}
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<font color="white" size="2">
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="red">
Rising Stars
</font></h1></center><p>
<center><h2>
Riten Hirjibhai Gohil - Profile
</h2></center>
<p>
<font color="white" size="2">
Riten sits on the Home Office Identity Fraud Steering Committee, Home Office Cybercrime Panel and the 
Fraud Advisory Panel's Cybercrime Working Party.<p>

He also writes articles on the subject of financial crime for various publications as well as a recognised 
speaker at leading industry events in the UK and overseas. Some of the key events Riten has spoken at 
includes:
<blockquote><font color="steelblue"><b>
Telecoms Fraud 2004 in Bangkok, Thailand<br>
Intellect UK London, England<br>
Fraud 2004 London, England<br>
Experian Fraud Forum 2004 St Albans, England<br>
North East Fraud Forum St James Park, Newcastle, England
</b></font></blockquote><p>

Riten has also been invited to lecture as CASS Business School at the City University.<p>

Prior to working at APACS Riten has worked in the investigation and prevention of financial crime in the UK, 
with organizations such as DSS Organised Fraud Unit where he was involved in operational surveillance 
protecting large scale criminal activity conducted against the welfare benefits system.<p>

He then went on to work for the Serious Fraud Office where he was a leading investigator in one of the 
largest fraud cases in the city, which involved tracking evidence all over the globe and interviewing key 
witnesses and defendants. Riten was also involved in the development of using state of the art technical 
investigation tools to streamline the evident trail.<p>

Riten later went on to work for Ernst & Young's Forrensic Services group investigating white collar crime 
and developing anti-fraud tools to assist clients in financial services. Before joining APACS Riten spent a 
period as inhouse Risk Management Consultant for two internet ventures Flutter.Com in London and 
Minutepay.Fr in Paris, France. In both roles Riten was responsible for developing inhouse anti-fraud strategy 
and procedures as well as the design of technical anti-fraud solutions.<p>

<i><font color="#006666">
Riten lives in North London, England and his family reside in Leicester, England where he spent his youth. 
Riten has also found time to undertake various community activities for SSPC UK and was pivotal in the 
organising of the SSPC Millenium Games at Kettering Leisure Village, Sharad Poonam at Harrow Leisure 
Centre and the SSPC India Earthquake Appeal in Kettering which raised &pound15,000 for the victims of the 
Gujarat Earthquake.<p>

His personal interest include following sports events across the globe, a zest for travelling, organising 
charity events and Indian fictional writing.
</font></i>

</font>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</font>
</body>
</html>
