<html>
<head>

<title>
Arvind Madhavji Devalia
</title>
<style>

a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<font color="white" size="2">
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="red">
Rising Stars
</font></h1></center><p>

<center><h2>
Arvind Madhavji Devalia - Profile
</h2></center>
<p>
<font color="white" size=3>
Arvind lives in central London from where he runs his coaching, consultancy and writing businesses.<br>
He has written various articles in national and local magazines and newspapers, as well as writing his own daily blog online, entitled “Make Things Happen”.<br>
Arvind’s pedigree background in the corporate world includes positions at Shell, BP, NatWest Bank, Danone with responsibilities for strategy, project management and marketing. During the Dot Com boom in the late 90’s, Arvind was an Internet “paper millionaire” as a key member of a start-up company.<br>
An IT graduate, MBA and professional performance coach, with a track record of success in all areas of his life, Arvind is now focusing on helping other people also achieve what they want through his book “Get the Life you Love and Live it”.<br>
He says that his life changed dramatically after he a spent a month in India in March 2000 at a charity school in March 2000. He is now an avid and dedicated supporter of this school and continues to raise funds and awareness for this cause. You can learn more about Nirvana School at <a href="http://www.nirvanaschool.org/">www.NirvanaSchool.org</a><br>
Arvind’s personal interests include following sporting events, staying fit and healthy, eating optimal and nutritional food, peace work and helping children’s causes.<p>

<font color="#006666"><b>
Contact Details:<br></b>
76 Hamilton Terrace<br>
St Johns Wood<br>
London NW8 9UL<p>

<b>tel:</b> 020 7286 8655<p>

<b>email:</b> <a href="mailto:arvind@getthelifeyoulove.com">Arvind@GettheLifeYouLove.com</a><p><br>


<b>Here are a selection of Arvind’s media coverage from recent years:<br>
1. <a href="http://www.nirvanacoaching.com/presscoverage/AsianWomanMarch2006.pdf">Asian
Woman - Get the Life you Love and Live it</a> (March/April 2006)<br>

2. <a href="http://www.nirvanacoaching.com/presscoverage/DailyExpress24thApril2006.pdf">Daily
Express - Make this your best ever summer</a> (24 April 2006)<br>

3. <a href="http://www.nirvanacoaching.com/presscoverage/DailyExpress19thJune2006.pdf">Daily
Express - Top tips for holiday harmony</a> (19 June 2006)<br>

4. <a href="http://www.nirvanacoaching.com/presscoverage/NewWomanMagazineSeptember2006.pdf">New
Woman Magazine - Inside his head - Declan Donnelly</a> (Sept 2006)<br>

5. <a href="http://www.nirvanacoaching.com/presscoverage/GlamourMagazineAug2006Josiestory.pdf">Glamour
Magazine - Want a pay rise? </a>(August 2006)<br>

6. <a href="http://www.nirvanacoaching.com/presscoverage/GlamourMagazineAug2006Josiestory.pdf">Prediction
Magazine - 10 things life has taught me</a> (June 2006)<br>

7. <a href="http://www.nirvanacoaching.com/presscoverage/YoungSolicitorsGroupMagazineMarch20061.pdf">Young
Solicitor's Group - How to enjoy the work you do</a> (March/April 2006)<br> 

8. <a href="http://www.nirvanacoaching.com/presscoverage/OfficeSecretaryFeb2006article.pdf">Office
Secretary - Love to Work - 12 top tips</a> (February 2006)<br>

9. <a href="http://www.nirvanacoaching.com/presscoverage/OfficeSecretaryFeb2006bookreview.pdf">Office
Secretary - Book Review</a> (February 2006)<br>

10. <a href="http://www.nirvanacoaching.com/presscoverage/CoventryEveningTelegraph2ndJune2006.pdf">Coventry
Evening Telegraph - Author to share recipe for living</a> (2nd June 2006)<br>

11. <a href="http://www.nirvanacoaching.com/presscoverage/WoodandVale3rdFebruary2006LaunchofBookTwo.pdf">Wood
& Vale - Love life says Arvind in book of revelation</a> (3rd February 2006)<br>

12. <a href="http://www.nirvanacoaching.com/presscoverage/GradJobsSpring2006.pdf">
GradJobs Careers Clinic</a> (Spring 2006)<br>

13. <a href="http://www.nirvanacoaching.com/presscoverage/GradjobsSummer2006.pdf">
GradJobs Careers Clinic</a> (Summer 2006)<br>

14. <a href="http://www.nirvanacoaching.com/presscoverage/GradJobsWinter2006.pdf">
GradJobs Careers Clinic</a> (Winter 2006)<br>

15. <a href="http://www.nirvanacoaching.com/presscoverage/GradjobsExhibitionJune2006ListofSpeakers.pdf">
Gradjobs Careers Seminar</a> (2nd & 3rd June 2006)<br>

16. <a href="http://www.nirvanacoaching.com/presscoverage/BestofYouApril2006.pdf">Best
of you - Adopt an Attitude of Gratitude</a> (April 2006)<p>

Other key media coverage since 2003:<br>

1. <a href="http://www.nirvanacoaching.com/presscoverage/AsdaMagazineJanuary2005.pdf">
Asda Magazine - Come alive in 2005</a> (January 2005)<br>

2. <a href="http://www.nirvanacoaching.com/presscoverage/StandardLifeMagazineWinter2003.pdf">Standard
Life Magazine - Coaching for change</a> (Winter 2003)<br>

3. <a href="http://www.nirvanacoaching.com/presscoverage/EasternEye10thSep2004MelaDetails.pdf">Eastern
Eye - Mela 2004</a> (10th September 2004)<br>

4. <a href="http://www.nirvanacoaching.com/presscoverage/AsianVoiceNewspaperNovember2003.pdf">Asian
Voice - Take better control of your business</a> (November 2003)<br>

5. <a href="http://www.nirvanacoaching.com/presscoverage/GetFreshSummer2005.pdf">Get
Fresh Magazine - Removing the road blocks to transformation</a> (Summer 2005)<br>

6. <a href="http://www.nirvanacoaching.com/presscoverage/WoodandVale14thMarch2003Red%20Wig.pdf">Wood
&amp; Vale - One man who "nose" how to get the best out of you</a>
(14 March 2003)<br>

7. <a href="http://www.nirvanacoaching.com/presscoverage/WoodandVale5thDecember2003LaunchofBookOne.pdf">Wood
& Vale - Book a new Life for the new year</a> (5 December 2003)<br>

8. <a href="http://www.nirvanacoaching.com/presscoverage/WoodandValeWho%27sWhoFeb2006.pdf">Wood
& Vale - Who's Who - Arvind Devalia</a> (February 2006)<p>

A sample article from Arvind's weekly coaching column which ran for almost a year in 2003 / 2004 in Wood & 
Vale, the local paper for St Johns Wood and Maida Vale, central London:<br>
<a href="http://www.nirvanacoaching.com/presscoverage/WoodandVale10thOct2003ArticleonSelfCare.pdf">Wood & Vale - Article on Self Care</a> (10 October 2003)

</font>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
</font>
</body>

</html>
