<h1 class="page-header">Manoj Ladwa - Profile</h1>

<font color="red" size="2"><b>
Professional
</b></font>
<br>
Manoj Ladwa is a recognised expert in Indo-UK trade. He is dual qualified as a solicitor
in England &amp; Wales and an advocate of the Supreme Court of India.  Manoj is the founding
partner of  ‘Manoj Ladwa Solicitors’ (www.ladwalaw.co.uk) located in Westminster, London.
He is also a co-founder and director of Saffron Chase Limited (www.saffronchase.com), a
corporate strategy and communications consultancy with an India focus.
<p>
<font color="red" size="2"><b>
Experience
</b></font>
<br>
For the past 8 years Manoj has specialised in advising UK companies establish and do business in India.  He
also advises foreign companies on UK business immigration, employment and company commercial laws.

Manoj has assisted a variety of clients from leading UK corporates such as Logica plc, British Airways,
Aviva (Norwich Union), British Gas, Ministry of Defence, through to over 200 small and medium sized
enterprises, and individual entrepreneurs on various aspects of Indian law and business.  Collectively
his clients have contributed to over £1billion in Indo-UK trade and investment over the past 5 years.
<p>
<font color="red" size="2"><b>
Other Positions
</b></font>
<br>
Manoj is a consultant on India to the Centre for International Briefing at Farnham. He is the honorary
solicitor to the National Congress of Gujarati Organisations and a large number of Indo-British charities.
Manoj is also well known for undertaking a significant amount of pro bono work for disadvantaged
individuals.
<p>
<font color="red" size="2"><b>
Education
</b></font>
<br>
Manoj read law at the prestigious London School of Economics and graduated with an honours degree
in 1995.  He obtained a post-graduate diploma in legal practice in 1996 from the College of Law, York.
<p>
<br>
<font color="red" size="2"><b>
Memberships
</b></font>
<br>
Manoj is a member of various organisations including the Institute of Directors, International Bar Association,
and the London Chamber of Commerce.  Manoj has been an active member of the Labour Party for over 10
years, and is also a member of leading political think tanks The Fabian Society and Progress.
<p>
<font color="red" size="2"><b>
Media &amp; Seminars
</b></font>
<br>
Manoj is an accomplished media commentator.  He is a contributor to various journals and newspapers on
 legal matters and Indo-British relations.  He has also appeared on national and international television and
radio.  Manoj is frequently invited to speak at seminars and conferences both in the UK and other parts of
the world on the legal and cultural aspects of doing business in India.
<p>
<font color="red" size="2"><b>
Lobbying for UK Interests
</b></font>
<br>
Manoj has lobbied and taken on issues on behalf of his clients on subjects such as the opening of India’s
print media to foreign investment, the harmonization of India’s data protection laws with Europe, and the
successful opening up of direct flights between London Heathrow and Ahmedabad, Gujarat.
<p>
<font color="red" size="2"><b>
Interests
</b></font>
<br>
Manoj is a founder member and past president of the National Hindu Students Forum UK.  He has consistently
been involved in organisations and activities promoting community unity and representation.  The Queen
recognised Manoj for his work at a special reception for young achievers at Buckingham Palace in 1999.
The Asian Who’s Who have described him as an “Asian high flyer”, and a recent survey listed Manoj as “one
of Britain’s most influential young Asians, a tough lawyer, and a rising star”.
<p>
<font color="red" size="2"><b>
Personal
</b></font>
<br>
Manoj was born and brought up in Birmingham.  He is 31 years old and is married to Dina.
<p>
<font color="red" size="2"><b>
Contact Details
</b></font>
<br>
7 Storey's Gate<br>
Westminister<br>
London<br>
SW1P 3AT<p>

Tel: 020 7222 5966<br>
Fax: 020 7222 5959<p>

<a href="mailto:manoj@ladwalaw.co.uk">
manoj@ladwalaw.co.uk
</a>
