<h1 class="page-header">Rising Stars</h1>

<font color="red" size="3"><b>Arvind Madhavji Devalia</b></font><p>

Arvind is following in the footsteps of his late father and renowned writer, Madhavji Narsi Devalia,
and is the author of two bestselling books in his field of expertise. His latest book “Get the Life
you Love and Live it” presents key and inspirational steps to make the most of your life.<p>

As well as being a writer, Arvind is a life coach and runs various internet businesses. He has a
strong interest in supporting charity projects, his main involvement being with Nirvana School in
Pondicherry, South India (<a href="http://www.nirvanaschool.org/">www.NirvanaSchool.org</a>)<p>

An inspirational presenter, combining a personable style with integrity and depth, Arvind leaves his
audiences inspired, challenged and motivated to look at their life in a new way.<p>

As Arvind says:<br>
Your life counts – make it count. You are unique. There is no one like you on this planet. Never has
been and never will be.<p>

Do not sell your self short. Do not sell the world short. This is your life – love it, live it.
One life, one chance – grab it.<p>

Get the life you love – and live it.</i><p>

<font color="red" size="2"><b>For More Details, </b></font><%= link_to "Click Here", page_path('risingadevalia') %><p>

Arvind's various websites:<br>
Main: <a href="http://www.arvinddevalia.com/">www.ArvindDevalia.com</a><br>
Blog: <a href="http://www.arvinddevalia.com/blog">www.ArvindDevalia.com/blog</a><br>
Charity School: <a href="http://www.nirvanaschool.org/">www.NirvanaSchool.org</a><br>
Book: <a href="http://www.getthelifeyoulove.com/">www.GettheLifeyouLove.com</a><br>
Coaching website: <a href="http://www.nirvanacoaching.com/">www.NirvanaCoaching.com</a><br>
Contact Arvind at: <a href="mailto:arvind@getthelifeyoulove.com">Arvind@GettheLifeyouLove.com</a>

<p><br>


<font color="red" size="3"><b>Riten Hirjibhai Gohil</b></font><p>

Riten Gohil is a risk management professional working in the UK banking industry. He specialises in the
field of financial crime and is considered one of the leading specialists in his industry. His current role is
with the UK banking industry body APACS (<a href="http://www.apacs.org.uk/">www.apacs.org.uk</a>),
where Riten leads the industry strategy to combat fraud over the internet and identity theft, both have
led to Riten developing innovative and recognised training solutions in these areas.<br>
Riten works across a number of multi-industry groups and is recognised for his with the likes of the FSA,
The Home Office, Telecoms UK Fraud Forum, NCIS, Special Branch, CIFAS, European Central Bank, European
Commission, and other law enforcement and associated trade bodies.<p>

<font color="red" size="2"><b>For More Details, </b></font><%= link_to "Click Here", page_path('risingrgohil') %><br>

<font color="red" size="2"><b>Visit the Site Riten Developed for the Home Office: </b></font><a href="http://www.identitytheft.org.uk/">www.identitytheft.org.uk</a><br>
<font color="red" size="2"><b>Email Him at </b></font><a href="mailto:riten_h_gohil@msn.com">riten_h_gohil@msn.com</a>
<p><br>

<font color="red" size="3"><b>Manoj Mohanbhai Bhimji Ladwa</b></font><p>

Manoj Ladwa is a recognised expert in Indo-UK trade. He is dual qualified as a solicitor in England
& Wales and an advocate of the Supreme Court of India.  Manoj is the founding partner of  ‘Manoj
Ladwa Solicitors’ (www.ladwalaw.co.uk) located in Westminster, London.  He is also a co-founder
and director of Saffron Chase Limited (www.saffronchase.com), a corporate strategy and
communications consultancy with an India focus.  <br><br>

<font color="red" size="2"><b>For More Details, </b></font><%= link_to "Click Here", page_path('risingmladwa') %><br>
<font color="red" size="2"><b>Please visit his site: </b></font><a href="http://www.ladwalaw.co.uk/">www.ladwalaw.co.uk</a>

<p><br>
  <!-- TOOD: Link this up -->
<a href="http://www.sspgm.net/pankhania_laka/213.html">Udit Dayabhai Pankhania</a><p>

Udit is truly an extraordinary individual. He is one of the rare Kumbhar/Prajapati devoted to
the art of Tabla playing. He has worked with some of the top Artists of India and with the
grace of his Gurus, his Parents and sheer hard work and talent he is one of the leading Tabla
players in Europe and U.K. He is currently performing with Neela Bhagwat a big vocalist from
Mumbai and also teaches Tabla classes in the U.K.<p>

<font color="red" size="2"><b>Please visit his site: </b></font><a href="http://www.tablaplayer.co.uk/">www.tablaplayer.co.uk</a>
