<h1 class="page-header">Shivratri Utsav</h1>
<font color="yellow"><i>Submitted by Mahendra Dabhi</i></font>

<br /><br />

Shiva literally means "auspiciousness, welfare". He is the third god of the Hindu Triad and is the destroyer of all evil. He represents darkness (tamas),
and is said to be the 'angry god'. However, according to Hinduism, creation follows destruction. Therefore Shiva is also regarded as a reproductive
power, which restores what has been dissolved. As one who restores, he is represented as the linga or phallus, a symbol of regeneration<p>

<%= image_tag 'shivratriutsav1.jpg', height: "150", width: "225" %>
<p>

Also known as Rudra, is considered to be the destroyer of evil and sorrow. Shiva - Shankara is the doer of good. Shiva is 'tri netra' or three eyed,
and is 'neela kantha' - blue necked (having consumed poison to save the world from destruction. Shiva - Nataraja is the Divine Cosmic Dancer.
Shiva - Ardhanareeswara is both man and woman.<p>

He is both static and dynamic and is both creator and destroyer. He is the oldest and the youngest, he is the eternal youth as well as the infant.
He is the source of fertility in all living beings. He has gentle as well as fierce forms. Shiva is the greatest of renounces as well as the ideal lover.
He destroys evil and protects good. He bestows prosperity on worshipers although he is austere. He is omnipresent and resides in everyone as
pure consciousness.<p>

Shiva is inseparable from Shakti - Parvati the daughter of Himavaan - Haimavati. There is no Shiva without Shakti and no Shakti without Shiva, the
two are one - or the absolute state of being - consciousness and bliss.<br>
<b>Om Namah Shivaya !!!</b><br>

<%= image_tag 'shivratriutsav2.jpg', height: "225", width: "150" %>
