<html>
<head>

<title>Shivratri Utsav</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><h1><font color="#CC3333">
Shivratri Utsav
</font></h1>
<font color="yellow"><i>Submitted by Mahendra Dabhi</i></font>
</center>

<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

Shiva literally means "auspiciousness, welfare". He is the third god of the Hindu Triad and is the destroyer of all evil. He represents darkness (tamas), 
and is said to be the 'angry god'. However, according to Hinduism, creation follows destruction. Therefore Shiva is also regarded as a reproductive 
power, which restores what has been dissolved. As one who restores, he is represented as the linga or phallus, a symbol of regeneration<p>

<center><a href="http://www.sspgm.net/images/shivratriutsav1.jpg">
<img src="http://www.sspgm.net/images/shivratriutsav1.jpg" border="0" height="150" width="225">
</a><br>
<font color="steelblue">Click Picture to Enlarge</font></center><p>

Also known as Rudra, is considered to be the destroyer of evil and sorrow. Shiva - Shankara is the doer of good. Shiva is 'tri netra' or three eyed, 
and is 'neela kantha' - blue necked (having consumed poison to save the world from destruction. Shiva - Nataraja is the Divine Cosmic Dancer. 
Shiva - Ardhanareeswara is both man and woman.<p>

He is both static and dynamic and is both creator and destroyer. He is the oldest and the youngest, he is the eternal youth as well as the infant. 
He is the source of fertility in all living beings. He has gentle as well as fierce forms. Shiva is the greatest of renounces as well as the ideal lover. 
He destroys evil and protects good. He bestows prosperity on worshipers although he is austere. He is omnipresent and resides in everyone as 
pure consciousness.<p>

Shiva is inseparable from Shakti - Parvati the daughter of Himavaan - Haimavati. There is no Shiva without Shakti and no Shakti without Shiva, the 
two are one - or the absolute state of being - consciousness and bliss.<br>
<center><b>Om Namah Shivaya !!!</b></center><br>

<center><a href="http://www.sspgm.net/images/shivratriutsav2.jpg">
<img src="http://www.sspgm.net/images/shivratriutsav2.jpg" border="0" height="225" width="150">
</a><br>
<font color="steelblue">Click Picture to Enlarge</font></center>

</td>
</tr>
</table>
</center>
<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
