<html>
<head>

<title>Welcome SSPGM.net - Profiles - Karsanbhai Becharbhai Pankhania
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Karsanbhai Becharbhai Pankhania
</font></h1></center>
<p>
<center>
<a href="http://www.sspgm.net/images/profilekarbpankhania.jpg">
<img src="http://www.sspgm.net/images/profilekarbpankhania.jpg" height="150" width="100" border="0">
</a>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>


<font color="white" size="3">
<font color="red" size="3"><b>Birth Place</b></font><br>
Rana Khirasara, Taluka
<p>
<font color="red" size="3"><b>Birth Date</b></font><br>
May 14th 1950
<p>
<font color="red" size="3"><b>Family</b></font><br>
<font color="yellow"><u>Father:</u></font> Late Becharbhai Raiyabhai Pankhania (Late Dated 3/17/1967)<br>
<font color="yellow"><u>Mother:</u></font> Late Maniben Becharbhai Pankhania (Late Dated 8/13/2002)<br>
<font color="yellow"><u>Sons:</u></font>
<ul>
1) Mr. Mrugesh (USA)<br>
&nbsp&nbsp&nbsp&nbspBE (Civil), Jan 2001 Sardar Patel University, Vallabh Vidhya Nagar<br>
&nbsp&nbsp&nbsp&nbspMS (Civil) Study Cont'd<br>
&nbsp&nbsp&nbsp&nbspCalifornia State University, Sacramento, USA (First in community to get student visa & admitted in Technical Study)<p>
2) Mr. Gautam (Rajkot)<br>
&nbsp&nbsp&nbsp&nbspBSc Study Cont'd, DCE Study Cont'd
</ul>
<p>
<font color="yellow" size="3"><u>Brothers <i>"Known As Engineer Brothers"</i></u></font><br>
<ul>
1) Mr. Jamanbhai B. Pankhania (Nairobi-Kenya)<br>
&nbsp&nbsp&nbsp&nbspElectrical Engineer - DEE<br>
&nbsp&nbsp&nbsp&nbsp<i>Engineer and Contractors</i><br>
&nbsp&nbsp&nbsp&nbsp"Giriraj Builders"<p>

2) Mr. Karsanbhai B. Pankhania (Rajkot)<br>
&nbsp&nbsp&nbsp&nbsp(Engineer-Planner, BE Civil, AMIE, PG Planing, AITP)<br>
&nbsp&nbsp&nbsp&nbsp<i>Senior Town Planner</i><br>
&nbsp&nbsp&nbsp&nbspSaurashtra-Kutchh Region<br>
&nbsp&nbsp&nbsp&nbspTown Planning & Valuation Department<br>
&nbsp&nbsp&nbsp&nbspGovernment of Gujarat<p>

3) Mr. Tulshibhai B. Pankhania (V V Nagar)<br>
&nbsp&nbsp&nbsp&nbsp(Mechanical Engineer, ME MEch, FIE C. Engr)<br>
&nbsp&nbsp&nbsp&nbsp<i>Professor</i>, BVM Engineering College, V V Nagar<br>
&nbsp&nbsp&nbsp&nbspHon Secretary - Shri Sorathia Prajapati Vidhya Mandal (V V Nagar)<p>

4) Mr. Mathurbhai B. Pankhania (Rajkot)<br>
&nbsp&nbsp&nbsp&nbsp(Civil Engineer - BE Civil)<br>
&nbsp&nbsp&nbsp&nbsp<i>Executive Engineer</i><br>
&nbsp&nbsp&nbsp&nbspIrrigation Department<br>
&nbsp&nbsp&nbsp&nbspGovernment of Gujarat
</ul>
<p>
<font color="red" size="3"><b>Associate with Social Institutes</b></font><br>
<font color="yellow" size="3"><u>Present Holds</u></font><br>
<ul>
1) Managing Trustee<br>
&nbsp&nbsp&nbsp&nbspSmt Amrutben Mandubhai Gohil<br>
&nbsp&nbsp&nbsp&nbspShri Sorathiya Prajapati Kanya Kelvani Trust, Rajkot (Girl's Hostel)<p>
&nbsp&nbsp&nbsp&nbspShri Upendrabhai Mandubhai Gohil<br>
&nbsp&nbsp&nbsp&nbspEducation and Charitable Trust Rajkot<p>

2) Chairman: Pankhania Parivar Trust Rajkot<br>
3) Trustee: Shri Sorathiya Prajapati Education Trust, UK<br>
4) Donors and Life Members: All most all institutions of Sorathiya Prajapati<p>

<font color="yellow" size="3"><u>Held in Past</u></font><br>
&nbsp&nbsp&nbsp&nbsp1) Member, Treasurer, President & Trustee, SriBai Kelvani Mandal, Junagadh (Boy's Hostel)<br>
&nbsp&nbsp&nbsp&nbsp2) Vice President & Advisor: SriBai Ashram, Sorathiya Prajapati - Talala<br>
&nbsp&nbsp&nbsp&nbsp3) Jt. Secretary, Secretary & Adviser: Sri Sorathiya Prajapati Gnati, Rajkot
</ul>
<p>
<font color="red" size="3"><b>Educations</b></font>
<ul>
SSC (old): March 1969 (69%)<br>
Bhavsivji High School, Porbandar<p>

BE (Civil): June 1975 (71%)<p>

1) Gold Medal &nbsp&nbsp&nbsp&nbsp 2) Cash Prize &nbsp&nbsp&nbsp&nbsp 3) Merit Certificates<br>
&nbsp &nbsp &nbsp &nbsp<font color="#66CCFF">Awarded by</font><br>
&nbsp &nbsp &nbsp &nbsp1) Center for Environment Planning and Technology (CEPT) Ahmedabad<br>
&nbsp &nbsp &nbsp &nbspGovt. of Gujarat<br>
&nbsp &nbsp &nbsp &nbsp2) Institute of Town Planners India<br>
&nbsp &nbsp &nbsp &nbspNew Delhi (ITPI)<br>
&nbsp &nbsp &nbsp &nbsp<font color="#66CCFF">Honoured by </font><br>
&nbsp &nbsp &nbsp &nbsp1) Ministry of Urban Development and Urban Hosing Department, Govt. of Gujarat<br>
&nbsp &nbsp &nbsp &nbsp2) Town Planning and Valuation Department, Govt of Gujarat<br>
&nbsp &nbsp &nbsp &nbsp3) Various Prajapaty's Community Mandals Trusts<br>
&nbsp &nbsp &nbsp &nbspIndividuals<br>
<font color="#66CCFF">(First in Community who has been awarded Gold Medals; such Honors and 
acquired Highest Post in Technical Field in State Government)</font>
</ul>
<p>
<font color="red" size="3"><b>Services</b></font><br>
<font color="yellow"><u>Asst. Lecture</u> August 1975 - May 1976</font><br>
&nbsp&nbsp&nbsp&nbspFaculty of Technology and Engineering College, MS University - Baroda<br>
<font color="yellow"><u>Presently Employed: Town Planning & Valuation Department, Govt of Gujarat (June 1976 and Cont'd)</u></font>
<ul>
a) Surveyor (Tech) (June 1976 - Feb 1978) - Junagadh (1st Posting)<br>
b) Planning Assistant (March 1978 - Feb 1991) - Junagadh, Rajkot (1st Promotion)<br>
c) Assistant Town Planner (March 1991 - Jan 1992) - Rajkot (2nd Promotion)<br>
d) Town Planning Officer (Feb 1992 - May 1996) - (1st Selection by Gujarat Public Service Commission)<br>
&nbsp&nbsp&nbsp&nbspJamnagar (Gondal, Limdi, Una) Bhuj, Junagadh, Amreli, Porbandar Districts<br>
e) Town Planner, Bhuj (June 1996 - July 1997) - (2nd Selection by GPSC)<br>
&nbsp&nbsp&nbsp&nbspDistrict Head Kutchh, Jamnagar, Junagadh, Amreli & Porbandar Districts<br>
f) Senior Town Planner (Aug 1997 Cont'd) - (3rd Selection by GPSC)<br>
&nbsp&nbsp&nbsp&nbspHead of Saurashtra Kutchh, Region (8 Districts)<br>
&nbsp&nbsp&nbsp&nbspTown Planning and Valuation Department, Govt of Gujarat
</ul>
<font color="yellow"><u>Special Tesks/Works Assigned</u></font><br>
(On the Day of Earthquake, Jan 26th 2001 and Cont'd)<br>
<ul>
a) Appointed as Authorized Government Officer<br>
For Re-Development and Re-Construction of Earthquake Affected Cities<br>
1) Bhuj &nbsp&nbsp&nbsp&nbsp 2) Anjar &nbsp&nbsp&nbsp&nbsp 3) Bhachau &nbsp&nbsp&nbsp&nbsp 4) Rapar &nbsp&nbsp&nbsp&nbsp 5) Morbi &nbsp&nbsp&nbsp&nbsp 6) Halvad<br>
b) Appointed as Coordinator for Government, NGO and other agencies<br>
<table border="0"><tr><td>
1) Town Planning Dept</td><td>
2) Development Authorities</td></tr><tr><td>
3) Planning Authorities </td><td>
4) Urban Development Dept</td></tr></table>
</ul>
<p>
<font color="red" size="3"><b>Contact</b></font><br>
<font color="yellow"><u>Resident Address</u></font><br>
&nbsp&nbsp&nbsp&nbsp"MANORATH" 4/Radhanagar, Nana Mava Road<br>
&nbsp&nbsp&nbsp&nbspRajkot (360 004) Gujarat, India<br>
&nbsp&nbsp&nbsp&nbspPh: 91 281 2388448 / 2369624 (R) Mov. 98252 19609<br>
&nbsp&nbsp&nbsp&nbspEmail: <a href="mailto:gpankhaniya@yahoo.com">gpankhaniya@yahoo.com</a><p>
<font color="yellow"><u>Office Address</u></font><br>
&nbsp&nbsp&nbsp&nbspTown Planning and Valuation Department<br>
&nbsp&nbsp&nbsp&nbspChimanbhai Patel Vikas Bhavan, RUDA Building 6th Floor, Jamnagar Road<br>
&nbsp&nbsp&nbsp&nbspRajkot (360 001) Gujarat India<br>
&nbsp&nbsp&nbsp&nbspPh: 91 281 2436812 (Direct) 2476307 (Telefax)<p>
<font color="yellow"><u>Girls Hostel/Upendra Trust</u></font><br>
&nbsp&nbsp&nbsp&nbsp"Amrut Kanya Chhatralay", Panchavati Main Road<br>
&nbsp&nbsp&nbsp&nbspRajkot (360 001) Gujarat India<br>
&nbsp&nbsp&nbsp&nbspPh 91 281 2431616 (Telefax) 2432053 (Girl's)<p>
<font color="yellow"><u>Pankhania Parivar Trust: AS 7.1</u></font><p>
<font color="red" size="3"><b>With Best Compliments From</b></font><br>
1) Smt. A M Gohil, Shri Sorathiya Prajapati Kanya Kelvani Trust Rajkot<br>
2) Shri Upendra Mandubhai Educational Charitable Trust Rajkot<br>
3) Shri Pankhania Parivar Trust, Rajkot
</font>


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
