<h1 class="page-header">Tulsidas Becharbhai Pankhania</h1>

<center>
<%= image_tag 'tbpankhania.jpg', width: "145", height: "185" %>
</center>

PROF. T. B. Pankhania <br>
Profile of an Engineer- A Social Worker. <br>
Born on 11th March 1952, in village Rana-Khirasara (Junagadh): in Vaishnav Parivar. Father late Sh. Becharbhai was carpenter, mason, blacksmith, and farmer, in shot-man with multiple skills has eight sons. <br><BR>
(1) Shri Ranchodbhai (Porbandar) <br>
(2) Shri Vithalbhai (V.V.Nagar) <br>
(3) Shri Keshavbhai (Rajkot) <br>
(4) Shri Govindbhai (Rana Khirasara) <BR>
(5) Shri Jamanbhai (Nairobi - Kenya) <br>
(6) Karsanbhai (Rajkot). <br>
(7) Prof. Tulsibhai (Mechanical Engineer) V.V.Nagar <br>
(8) Shri Mathurbhai (Civil &amp; Deputy Engineer, Rajkot) <br>
First four brothers are engineers by birth without any formal degrees and last four brothers are engineers with formal degrees. <br><BR>
Shri Becharbhai Raiyabhai Pankhania is my father's full name and belongs to Thobhanbapa AKAI; my son is the tenth generation then.<BR><BR>
I married in 1978 my wife Pravina (D/o Sh. Meghajibhai Bhojabhai Ghadhawana- Ranavav) We have two children, my daughter Meghna (22), has completed her graduation B.Sc. (math.) with distinctions, and at present doing MCA (Master of Computer) <BR><BR>
Application). My son Rishit appeared for his 12th STD exam and is doing basic course in computer application in parallel. <BR><BR>

<BR>
I completed my BE (Mechanical) in 1976, and as soon as I joined here as a teacher I had ideas to create hostel facilities here for the students of our community coming from long distance. From the very first I floated an idea for the hostel(Chhatralaya) and conveyed this to local family ,friends and students in March 1979. Everybody present appreciated the ideas and two-three members were of differing opinion at beginning. We planned and drafted a letter seeking opinion from the Sorathia Prajapati families all over. Since then 1979 to 2002 it's very very long history with ups and downs (aroh and avroh). Shri T.B.Bhalsod blessed his guidance and devoted to this education trust as a pioneer trustee. In fact after long experience and as this is an educational township creation of education trust, he proposed and since then named as Shree Sorathiya Prajapati Vidyamandal Vallabh-Vidhyanagar, got registered with charity commissioner in 1980. Vallabh-Vidhyanagar is an education township offering courses starting fro<BR>Im prestigious Jr.K.G. to Ph.D. courses affiliated with more then 30 prestigious institutions and students populations about 25,000 every year. <BR><BR>
In this campus there are(03):degree engineering colleges,(01):diploma college,(01+01):degree+diploma pharmacy college,(01):medical college and many more like MBA , MCA , MSc., M.A.,M.S.W. , M.Phil. , Valuation in Real estate and plant and medicines. It has justified the creation of hostel / Chhatralaya for our community, it helps students obtain higher education studies. <BR><BR>
Since the inception, the community to render as honorary secretary trusts me. <BR><BR>
Prof. T.B.PANKHANIA [BE(Mech.),ME(Mech.),C.Eng,FIE,Ph.D(Reading)] <BR><BR>

PROFILE OF AN ENGINEER -TEACHER <BR><BR>
Sh.Tulsibhai Becharbhai Pankhania born on 11th March,1952. Birthplace: Rana-Khirasara Dist:Porbandar (Junagadh). <BR><BR>
He has an excellent academic career as a teacher, as an administrator, as a consultant especially in the field of Production Engineering. After finishing his school in native : Rana-Khirasara and Porbandar S.S.C for one year , he joined Pre-science and then B.V.M. Engineering College affiliated to Sardar Patel University Vallabh Vidyangar Dist-Anand (Gujarat) from where he passed BE(Mech.) in1976. He then joined as a Jr.Engineer at GIDC Porbandar for about six months. From 13th Dec.1976 <BR><BR>
joined Alma matter as a assistant lecturer in mechanical engineering, prior to his completion his first degree in engineering, <BR><BR>
He served as part-time lecturer in V.V.Nagar Technical Institute during his study 1973-1975 for two years. In service he joined his master degree program and completed in 1984 with distinction 'A' grade ME(mech.) :with specialization in machine design. <BR><BR>
Today he has completed 25 years in teaching in Engineering Degree Program. He was promoted as an assistant professor in Mechanical Engineering in August 1984. He got selected as an assistant professor in Production Engineering in August 1991. <BR><BR>
Sh. Tulsibhai was appointed as a superintendent Workshop in addition to his regular duty to head the Workshop Department. <BR><BR>
At present, he has registered for his research program Ph.D. in Mechanical Engineering in the same University, along with his service as a teacher, as an administrator and as a social worker at par. <BR><BR>
Sh. Tulsibhai published one research paper on his thesis of PG degree "Computer aided Design of Steel Chimney" and was awarded second prize for the paper in April 1987. Sh. Tulsibhai has authored one book on Engineering Mechanics in 1989-90. At present third edition of the book is in use by student's community of Engineering Discipline. He has guided many PG students for Master courses. He has worked as a member of admission committee, member of executive committee, institute of Engineering( I ), as a hostel warden for about ten years, Chairman: Board of studies production engineering and Section In charge of Production Engineering in Mechanical Engineering Department of BVM and he is Chartered Engineer since 1987. <BR><BR>
His father-Becharbhai died in 1967, when he was schoolboy. Since, then his brave mother (without any formal education). Mother 'Maniba' struggled a lot, and suffered a lot for her kids since 1967 till youngest one completed studies and settled in the process. They are in total eight brothers and five sisters, very huge happy family, all the way at present after very very long journey of struggle. <BR><BR>
Their parents' blessings provided inspirations, survival and courage to fight evil times without fear and force. His entire family is God fearing believe in Lord Shrinathji. All the members are happy with the blessing of parents and Lord Shrinathjibava all the times <BR><BR>
TODAYS TRUST POSITION <BR><BR>
PROPERTIES :<br>
 (1) Land :1000sq yard (Rs35,000 /-today's cost is Rs 30 lakhs.) <br>
(2) Assets &amp; others ( ) <br>
(3) Fixed Deposits Rs: 42.50 lakhs <br>
TOTAL -- worth of one crore approx. <br>
Thanks to all fellow members and great donors of all the time. I am lucky and honored to have such a prestigious events in very long span of 25 years where I had bitter, sour, sweat &amp; sour, sweat &amp; bitter taste constantly. We had very good team under leadership of Prof.RameshChandra Koria, since long. He associated himself since the inception of this trust. <br><br>

By Tulsidas Pankhania
