<h1 class="page-header">Vallabh Devshi Pankhania</h1>

Birth Place – Nairobi, Kenya<br />
Residence – London Borough of Harrow<br />
Contact Email – <a href="mailto:vallabhuk@gmail.com">vallabhuk@gmail.com</a>

<br /><br />

<font color="#66CCFF"><b>Relationships</b></font><br />
Father - Devshi Lalji Pankhania (Birth Place - Porbandar)<br />
Mother - Gangaben Devshi Pankhania (Birth Place – Karatina, Kenya). Daughter of Uka Kara Savania<br />
Brothers - Rameshbhai, Kishorbhai, Harishbhai, Mukeshbhai<br />
Sister - Muktaben<br />
Wife – Chandrika (Daughter of Ramji Devanad Ladwa)<br />
Son – Nayen<br />
Daughter – Madhvi

<br /><br />

<font color="#66CCFF"><b>Education</b></font><br />
Mwanza Primary School<br />
Bhavsinhji High School - Porbandar<br />
BVM – Vallabh Vidhya Nagar<br />
BSc Electrical Engineering – Polytechnic of Central London

<br /><br />

<font color="#66CCFF"><b>Work Experience (1978 – 2019)</b></font><br />
Computer Analyst and Programmer for the following companies in UK:<br />
Arbat (UK) Ltd<br />
UBS<br />
Unigate<br />
Sony Music<br />
Tata Consultancy Services<br />
Shell Europe<br />
Hallmark Cards<br />
Retired 2020
