<html>
<head>

<title>Welcome SSPGM.net - Profiles - Nathabhai Jadavbhai Koria
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Nathabhai Jadavbhai Koria
</font></h1></center>
<p>
<center>
 <img src = "http://www.sspgm.net/images/nathabapa.jpg" width = "145" height = "165">
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Nathabhai was born in Ranavav, Gujrat in January 1920. He had primary education and since the age of 14 years started singing Bhajans with Sadhus and memorized them. He was in the ice-cream vendor business in India. <br><br>

In 1940, he got married to Rajiben Vadukul in Porbandar and had two sons - Damji and Mavji. In 1944, circumstances took him on a journey across the ocean to Kenya, East Africa.<br><br> 

He settled in Nyeri, Kenya and had four more children - Karu, Pushpa, Ashwin and Hemlata. He lived in Nyeri until 1970 and started as a carpenter/mason and was soon promoted to a building supervisor.<br><br>

Whilst, in Nyeri, Kenya, he was singing Bhajans and took an active part and supervised the building of Shree Ram Temple (the groundbreaking ceremony was honored by Shree Hirjibapa). He was also active with the Gnati in Nakuru, and took part in the Mahatsav there with Hirjibapa. He also traveled extensively all over East Africa conducting Bhajans and was also the active member of Shree Sorathia Prajapati Gnati in Nyeri.<br><br> 
<center>

         
          <img src = "http://www.sspgm.net/images/nh3.jpg" width = "240" height = "165" border = "3"><p>
         <font face="arial" color="yellow">Nathabapa and Hirjibapa performing bhajans</font></center><br><br>

In 1970, he moved to England and settled down in Leicester. He worked for approx. 12 years in a plastic factory until his retirement. He was one of the founding members of the Shree Sorathia Prajapati community in Leicester, U.K.<br><br>

He became well-known as Bhajnik whilst in England, reciting and singing the timeless Bhajans on the Ramsagar and manjiras, memorized as a child from the Sadhus in India, and has spent most of his adult life doing Prabhu Bhajans. <br><br>

In 1990, Nathabhai and his wife Rajiben came and joined his sons Karubhai and Ashwinbhai in Atlanta, Georgia, USA. Sadly, in 1994 Rajiben passed away. <br><br>
 Today, Nathabhai is a well respected and a valued member of our Gnati in Atlanta and performs the same activities of singing his timeless Bhajans and sharing the heritage with all the members. He was one of the main organizers for Bhajan Mandali and takes an active part in the welfare of Shree Sorathia Prajapati Gnati Mandal in Atlanta, Georgia. He is also a great mentor and advisor for the community.<br><br>

At the moment he is leading a happy retired life with his family - sons Karubhai and daughter-in-law Nimuben and Ashwinbhai and daughter-in-law Ramaben and daughters Pushpaben and son-in-law Natubhai Chavda and Hemlataben (also known as Heenaben) and son-in-law Ravjibhai Pankhania, and all the grandchildren.<br><br>



</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
