<html>
<head>

<title>Welcome SSPGM.net - Profiles - Virji Jeram Shingadia
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Virji Jeram Shingadia
</font></h1></center>
<p>
<center>
<a href="http://www.sspgm.net/images/vjshingadia.jpg"><img src="http://www.sspgm.net/images/vjshingadia.jpg" border="0" height="150" width="110"></a><br>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Virji Jeram Shingadia was born in Bhogkhar, a small village near Porbandar in Saurastra, Gujarat, India on November 2<sup>nd</sup>, 1936. As 
a child, he lived in India and was brought up in Kenya. He went to primary school in Kenya, and got a higher 
education in Nairobi, Kenya in Dav High School, but obtained no educational degree. He got married to Jamnaben 
Fatania on June 22<sup>nd</sup>, 1955. He has 5 children: 3 sons and 2 daughters. All are married and live happy 
lives. He has a total of 15 grandchildren.<p>

<table border="0" cellspacing="1" cellpadding="0">
<tr valign="top"><td width="12%"> </td><td><font color="red"><b>My life in Kenya</b></font></td></tr><tr valign="top">
<td>1955-1972</td>
<td>
After leaving school in 1955, joined a firm of Advocates and Notary Public in Nairobi, as
a Law Clerk. After three years promoted as a Legal Executive. Duties included, inter alia,
drafting pleadings, petitions, attending clients, recording statements, making research into
law and generally handling all legal matters. Studied general principles of law and the
law of contract at the University of Nairobi.
</td></tr><tr valign="top">
<td>1958-1980</td>
<td>
Self employed (part time work) as a senior partner in the firm, Kenya General Bureau.
This firm was involved in civil debt recovery, serving Court processes and private
investigations. Also Immigration and Nationality Consultant, In 1968 was appointed
member of British Correspondent Committee on Asian migration from Kenya.
</td></tr><tr valign="top">
<td>1968-1974</td>
<td>
Associate Member of the Institute of Legal Executives of London, United Kingdom.
</td></tr><tr><td><font color="black">.</td></tr><tr valign="top"><td> </td><td><font color="red"><b>Community Services and Awards</td></tr><tr valign="top">
<td>1950-1980</td>
<td>
Active member (Swayamsevak) ofBhartiya Swayamsevak Sangh.
</td></tr><tr valign="top">
<td>1958-1960</td>
<td>
Elected Assistant Secretary ofShree Sorathia Prajapati Gnati Mandal, Nairobi.
</td></tr><tr valign="top">
<td>1960-1980</td>
<td>
trustee and Life member of S.S.P.G.M Nairobi, and also a trustee of Shree Sorathia
Prajapati Gnati, Mombasa, and subsequently during the last five years of the term, served
as a Managing trustee of both the organizations.<p>
Shree Sorathia Prajapati Gnati Mandal, Nairobi - Award for honorary services rendered
as Managing trustee and legal adviser.<p>
Shree Kutchi Leva Patel Samaj, Nairobi - Gold Medal for honorary services rendered as
a legal adviser.
</td></tr><tr><td><font color="black">.</td></tr><tr valign="top"><td> </td><td><font color="red"><b>My life in United Kingdom</td></td><tr valign="top">
<td>1980-1982</td>
<td>
Director and Legal Adviser in the company, Hari-Har (UK) Limited.
</td></tr><tr valign="top">
<td>1980-2001</td>
<td>
Immigration and Nationality Consultant.
</td></tr><tr valign="top">
<td>1982-2005</td>
<td>
Managing Director ofJaks (UK) Limited and Jaks travel Service. Jaks (UK) Limited
deals in international trade, project finance and commodities brokers, export and import.
</td></td><tr valign="top">
<td>1989</td>
<td>
One day of this year was one of the luckiest days of my life as I had the honour to carry
Ram Shila to Bharat on behalf of Hindus of the United Kingdom. This Ram Shila was
blessed at the Virat Hindu Sammelan held at Milton Keynes on 26th-271h August 1989.
This was one of the biggest gatherings of Hindus outside India.
</td></tr><tr valign="top">
<td>1990-2001</td>
<td>
Appointed Accredited Agent by the Home Office Passport Department now known as
U.K. Passport Agency, London.
</td></tr><tr valign="top">
<td>1992</td>
<td>
Member of Organizing Committee of seminar on the New Economic Policy of India:
Some Regional Alternatives and Global Perspectives. The Seminar was held at the
London School of Economics on 18.07.1992.
</td></tr><tr valign="top">
<td>1992-1998</td>
<td>
Elected as a trustee of Hindu Cultural Society, (Slough Temple)
</td></tr><tr valign="top">
<td>2002</td>
<td>
Attended official opening ceremony of a primary school in Madhapar, Kutch, as the
representative ofS.S.P.C. U.K, who donated funds for the construction of the school, and
also ofSewa International U.K, on the 5th September 2002. The opening ceremony of the
school was performed by H.E. the Governor ofGujrat Shri Sunder Singh Bhandari.
</td></tr><tr><td><font color="black">.</td></tr><tr valign="top"><td> </td><td><font color="red"><b>Current activities</td></tr><tr valign="top">
<td>1980-to date</td>
<td>
Patron and Member of Executive Committee of Shree Sorathia Prajapati Community UK
(Soumall branch).
</td></tr><tr valign="top">
<td>1980-to date</td>
<td>
Swayamsevak of Hindu Swayamsevak Sangh UK
</td></tr><tr valign="top">
<td>1992-to date</td>
<td>
Managing trustee of Shree Sorathia Prajapati Education trust
</td></tr><tr valign="top">
<td>1998-to date</td>
<td>
Chairman of Overseas Friends ofBJP, (North West Region) UK
Life member of VHP (Vishva Hindu Parishad) UK
</td></tr><tr valign="top">
<td>2003-to date</td>
<td>
U.K Secretary of Akhil Bharatiya Viklcmg Parishad, India (This organization is for the
handicapped people)
</td></tr></table>
<p>

<font color="red"><b>Associated with the following charitable organizations:</b></font><br>
Sewa International UK<br>
VHP UK<br>
Asian Foundation for Help, London (helping the blind people in India)<br>
Shri Ram Gau Sewa Samiti, Porbandar, Gujarat, India<p>

<font color="red"><b>Languages:</b></font><br>
Gujarati, English, Hindi, Punjabi and Swahili<p>

Dated at London this 15th day of August 2005



</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
