<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Sant Shree Jiva Bhagat (Hansdasji)
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

In the state of Porbandar, in Saurastra, near the Mountain Barda, Bagvadar, lived Shree Jiva Bhagat. He was a
potter and a devotee of God. He had 5 sons; unfortunately, within a year he lost four of them one after
another. Jiva Bhagat was in deep shock and due to the tragedy and the shock, soon even his wife
succumbed and passed away.<p>

Jiva Bhagat got married again and passed his days in worshipping God, sadhus and Santos used to come to
his house and he was satisfied only after feeding them.<p>

After some time, even his last son passed away. Due to this sorrow, Jiva Bhagat lost interest in this material
life. He called his family members and told them that the time had come for him to renounce the material life
for, "what is the use of living in this world and the material life?" His wish to do so was very different from his
family, and his wife unwillingly gave him her permission to do so.<p>

He went to the cemetery with other people to cremate his son and he left directly from the cemetery and
did not go back home. He could not decide himself on where to go and what to do. He started walking
towards Junagadh City and went towards Mt. Girnar. He was so fed up with the material life that he decided
to become blind. So he went to the mountain and by singing the name of God, he took the juice of the tree
named "thor" and rubbed it inside the eyes and tried to become blind with his own hands. He remanied on
the side of the road, suffering from the pain for almost 5 days. By this time a Sadhu was passing from there
and took him with him. He took care of him and succeeded in restoring his eye sight. Sadhu asked him,"
Where do you want to go to?" Bhakta replied," I want to go where god leads me." So, Sadhu, took him to
Girar where there was "Kabir Ashram" and he left him there. Sadhu went away, and Bhagat lived there in
Kabir. Ashram for almost 20 years. He took initiation from the head of Kabir "Panth" Shree Premdasji Mahraj
and became his disciple.<p>

After the initiation, Premdasji Guru, changed his name from Jiva Bhagat to 'Hansdasji'. He lived in 'Upercot' on
the Mt. Girnar and became famous as 'Hansdasji'. Thus, after living a long time on the top of Mt. Girnar, one
day he came to his birth place'Bagvadar' and saw that his wife as well as his adopted son from his elder
brother, also were continuing with the same service to Sadhus and Santos as he used to do before. And
the tradition was continued in his absence.<p>

After Hansdasji, arrived in Bagvadar, his family members as well as the people of the town requested him not
to go back but to stay in his own town and do devotional service there in the rank of Kabir Panth. After a
long debate, he was persuaded and accepted their request and stayed in Bagvadar. He also travelled to
nearby villages such as 'Degam ', 'Advana', 'Baradia', etc. Also, living in Porbander with his troop of God
brothers and pilgrims and other people, performing Prabhu Bhajan and distribution of Prashadi.<p>

Shree Hansdasji had such spiritual power that if there is a full tin of Prashad capable of distribution amongst
100-110 people, it seemed endless and could be distributed amongst a greater number of people.<p>

When Hansdasji was living in Bagvadar, he went to Baradia to do Bhakti there. His Guru Premdas came there
and Hansdasji called all his God brothers and he mentioned his intention of taking 'Samadhi' it means a sant
goes into a transidential state by concentration on god and abstract contemplation and is buried alive. But
before he can take Samadhi, his Guru called him and told him that the time was not right for the Samadhi
yet. So Hansdasji had to accept this order from his Guru and wait for the right time.<p>

After, some passing years, Sant Hansdasji, felt that the time had now arrived to join 'Satya Lok' and he
should proceed with the Samadhi. So, once again he called his god brothers as well as his 'Savaks' - helpers
and told them that after one month and on a certain day and time he would take Samadhi.<p>

The day arrived, in the morning he took his bath, performed Bhakti and began getting ready to walk to the
designated place to take Samadhi.Religuous people chanting and dancing and Handasji walked amongst
them. The matter had come to the notice of the State Government. So they put a stop order on this and
proclamation was issued to the effect that no person can be buried alive. Thus, effectively saying that this
was against the law. Sant Hansdasji was firm in his resolution and he told them that certainly he did not
wish to take Samadhi, but that he was merely going back to his original place - "my self abode". He went on
further to say that, if after sitting in the Samadhi if he continued breathing then he would not continue with
the Samadhi, but if after sitting in the Samadhi, his soul had passed away, then to continue with the Samadhi
process and believe that he had started on his journey towards his abode, where he came from.<p>

He made his statement to the Government Representatives and sat down in the prepared Samadhi. As soon
as he sat down his soul passed away and his breathing had stopped and he had started his journey to
Satya Lok. The Government Representative called a doctor and it was determined that he had passed away
and only his material body was left behind. His heart had stopped beating, he was not breathing so he was
certified 'dead'. So as mentioned by Hansdasji, he took Samadhi according to his will.<p>

Then, all the people gave last tribute to Sant Hansdasji and came back to his Ashram. They opened the door
and went in and as soon as they entered they saw the chanting beads were turning on their own accord
and also the insence was burning. Seeing this miracle, the people were so surprised, they said 'Jai Hansdasji'.
Even, today this Samadhi is in the village of Baradia and his followers as well as other religuous people come
at the Samadhi of  Hansdasji and perform Bhajan and Kirtan. Some of the people even take 'vows' in his
name and these are fruitful to them.<p>

Obesciences to Bhagat Shree Hansdasji, who by following the Kabir Panth, directed the people towards the
religuous way to God.

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
