<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhakta Shree Jiva Bhagat
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Updated by <b><a href="mailto:ktpankhania@talk21.com">Kantilal Thakarshibhai Pankhania</a></b>, Nov. 4th 2004<br><br>

"The young man who asked the hand of Jiva Bhagats daughter was none
other than my great, great.....grandfather Thobanbapa who having
finished being a Barvatia fighting along side Mulumanak and Jothamanak
had come to Gadhka".

<br><br>
<%= link_to page_path('familytrees/devdafamtree') do %>
  <font color=steelblue>Click Here for Thoban Bapa's Family Tree</font>
<% end -%>
<br><br>

<hr width=65%><br>

<font color=red><b>The Legend of Jiva Bhagat of Gadhaka Village.</b></font><br>

<font color="white" size="3">
Translated in English by<a href="mailto:mohanvf@yahoo.com">
Mohanlal Virjibhai Fatania</a><br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru,
Kenya</font>
      <p><font color="white" size="3">Almost about 300 years ago, in
the Jammagar District of Sausastra, Bhakta Shree Jiva Bhagat was living
the simple life in a small house in Gadhaka Village. Jiva Bhagat was of
Jagatia Dynasty. He did his work of pottery and did Satsang and Bhajan
with Sadhu and Santo.</font></p>
      <p><font color="white" size="3">As Gadhaka Village situated on
the Dwarka Road, Sadhu and Santo come and go continuously. Raj Put
(Royal Family) people also come there and participate in Satsang and
enjoy smoking Hookha.</font></p>
      <p><font color="white" size="3">One day, a Jamadar sent a servant
to call Jiva Bhagat to do his "Vethno Varo" in Rajagadh means in Royal
home, not the palace. So Jiva Bhagat went to do this "Veth" in
Rajagadh. There are several officers sitting there and Jiva Bhagat
receives an order to fill up and light hookha for officers, and also he
had to arrange to bring drinking water.</font></p>
      <p><font color="white" size="3">Jiva Bhagat filled up tobacco in
hookha chalam (Chalam means big tall apparatus made to fill up coal to
burn tobacco in chalam) and put burning coal in chalam. At this moment,
Jiva Bhagat dropped the burning chalam and started to rub his hands on
the ground here and there. All this happened in presence of all these
officers. Seeing this behavior, the officer asked Jiva Bhagat,"Hey
Jiva, what are you doing? As a servant, you are supposed to perform
your duties. Instead, you broke the chalam and you are playing like a
child. This is Darbar Gadh, and you have to behave. This is not the way
to do "Veth". This will not be tolerated". But still, Jiva Bhagat
continued to rub his hands nonstop. Officers asked again, "What is all
this?"</font></p>
      <p><font color="white" size="3">"Jiva Bhagat replied, "Don't you
know there is a fire in the temple of Bet-Dwara. The temple is burning,
and the outfit of Bhagvan is also burning, and I am now putting out the
fire of Bhagvan's outfit"</font></p>
      <p><font color="white" size="3">The Government officers were
confused and surprised. After some time, Jiva Bhagat became quiet and
looked at his wrist. He saw that his hands were black due to burns and
found some cracks on the skin. Officers thought they should make sure
whether it is true or just pretending. In order to make sure, officers
sent one of the horseman to Bet-Dwarka. Horseman went straight to the
temple and what he saw was that there had been a fire in the temple and
it was extinguished. Before he left, he asked the people of Bet-Dwarka
what had happened. The people told him that there was a fire, and no
one could enter because it spreaded all over, but Jiva Bhagat arrived
from Gadhaka. He went in and saved all of the garments and outfits of
Bhagvan.</font></p>
      <p><font color="white" size="3">Jiva Bhagat normally goes to
Bet-Dwarka, for the Darshan of people of Bet-Dwarka believed that even
today, he must have come for Darsan. The horseman told people that he
has been sent here by officers from Village Gadhaka to inquire about
this fire and whole situation because Jiva Bhagat is in Gadhaka and
doing , "Veth" in Darbargadh. All the people of Bet-Dwarka became
wonder-
struck by hearing this miracle and praised Jiva Bhagat.</font></p>
      <p><font color="white" size="3">The horseman returned to Gadhaka
and informed the officers. At this surprising instance, the officers
felt sorry about telling these cruel words and this matter was spreaded
all over the town.</font></p>
      <p><font color="white" size="3"> The people of Bet-Dwarka praised
Jiva Bhagat, and everybody put ever faith in god and Jiva Bhagat. After
being informed of this, by higher authorities in Jamnagar, they ordered
the officer of Gadhara to stop "Veth No Varo" free service to
government and since then, Jiva Bhagat and his family were made free
from "Veth".</font></p>
      <p><font color="white" size="3">The other part of Jiva Bhagat's
life is also interesting.</font></p>
      <p><font color="white" size="3">One day, a Sant Sadhu came to
Bhagat's home. He cooked Prasadam for him and feed. The Sant was so
happy that he gave blessings to Jiva Bhagat and said, "Bhagat, you will
have a daughter soon who will be virtuous and pious. She will make you
very famous. But what you will have to do is you get her married with a
man who comes to your home first and asks to marry her without
thinking, or watching his manners". Sant gave his blessings and left.
Jiva Bhagat was bound by his promise. <br>
      <br>
By time passing and by this mercy of lord, Jiva Bhagat had one
daughter. Slowly, she grew up and reached the age of marriage. During
this time, one man came to Gadhaka. He was young, but not fully mature.
He was just wandering in town so one man asked him, "Hey, young man,
you look very healthy, when are you going to marry?" Another man made a
joke and asked, "Who is going to give him a girl to marry him?" Then, a
third man said in mockery, "Hey, if you want to marry, go to Jiva
Bhagat's house so your bachelor-ship will be finished". The young man
became angry and he went straight to the home of Jiva Bhagat.</font></p>
      <p><font color="white" size="3">When he reached there, he shook
hands with Jiva Bhagat and informed his wish to marry his daughter. He
also mentioned that the people of the town considered me a fool and
taunted me, which is why I came to you. Bhagat remembered the promise
he had given to Saint and he agreed to get his daughter married to this
man without asking him any questions because if he does not like this
man, then he would break the promise. After sometime, according to the
promise bhagat got her daughter married to this man from the same
community.</font></p>
      <p><font color="white" size="3">Daughter came to Father-In-Laws
home, saw an atmosphere different to her fathers home. She found lack
of religious activities in family members; she found the life opposite
to her father's home. She felt too much and feeling that, she stopped
eating and started fasting. Her mother-in-law, seeing this situation
for a newly wed woman was unhappy and requested her to leave fasting,
but she continued.</font></p>
      <p><font color="white" size="3">One day, her mother-in-law became
angry and started to utter unusual and unbearable words. She told her,
if you don't eat and do like this who is going to do homework? Who is
going to clean outside ground floor? Since morning this is not done who
will do it? Will your father come and do it? The mother-in-law says
such words to her daughter-in-law. This became the daily routine for
her mother-in-law.</font></p>
      <p><font color="white" size="3">Then, one day, what happened was
that while uttering bitter words to her daughter-in-law, she looked
outside and what she saw was Jiva Bhagat, himself, cleaning the outside
ground. She became insensible for a moment, and then started thinking
what is this? Is this really Jiva Bhagat? Is he cleaning the outside
ground? How Jiva Bhagat came here in the early morning and cleans
outside? For a moment she became suspicious. In a short time, she saw
that the ground is cleared, became very clean, but she neither sees
Jiva Bhagat nor the broom. She surprised very much said herself. This
is really a sort of miracle. She could not make sure as what was wrong
in an appearance of Jiva Bhagat or her own sight. To make sure, she
immediately sent one man to Gadhaka and asked him to find out whether
Bhagat is in Gadhaka or somewhere else and come back quickly. Man went
to Gadhaka and saw Jiva Bhagat was at his house and working. He asked
everybody, but the answer was that since last night, Jiva Bhagat was
here and did not leave his home at all. Man came back and told
mother-in-law the whole story and she was satisfied. She regretted for
her all wrong doing and asked Bhagvan for forgivness for telling
unbearable words to his daughter. This story was spreaded among the
people and Jiva Bhagat became famous. By the virtue of this, the whole
family became God consciousness and lived a religious life.</font></p>

<p><font color="white" size="3">Well done Prajapati Jiva Bhagat
by your devotional service even Bhagvan himself had to be Jiva Bhagat
and to clean ground.</font></p>

<p><font color="white" size="3">Jiva Bhagat Ri Jai</font>

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
