<h1 class="page-header">The Kuldevimaa Page</h1>

<p>
  <font color="yellow"><b><i>
  Kul - Ancestorial<br>
  Devi - Goddess<br>
  Maa - Mother
  </i></b></font>
</p>

<table border="1" cellspacing="0" cellpadding="0" bordercolor="gray">
<tr>
<td align="center">

<table border="0" cellspacing="0" cellpadding="3">
<tr>
<td width="30%" align="center" bgcolor="#000080">

<font color="white" size="3"><b>
Kurdevi
</b></font>

</td>
<td width="70%" align="center" bgcolor="#000080">

<font color="white" size="3"><b>
Family Surnames
</b></font>

</td>
</tr>
<tr>

<td><br>
</td>
<td><br>
</td>
</tr>
<tr>

<td align="center">

<font color="red" size="3">
Ashapurnamataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Gadher
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Balvimataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Gadher, Vara
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Chamundamataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Bharadwa, Chavda, Jogia, Ladwa, Mavadia, Shingadia
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Chotila Chamundamataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Dabhi
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Gatralmataji
</font>
</td>
<td align="center">

<font color="#66CCFF" size="3">
Dabhi
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Harshidhimataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Pankhania
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Khodivarmataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Bhalsod
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Lunaimataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Fatania, Jagatia, Koria
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Mahakalimataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Kukadia
</font>

</td>
</tr>
<tr>
<td align="center">

<font color="red" size="3">
Mammaimataji
</font>

</td>
<td align="center">

<font color="#66CCFF" size="3">
Dhokia
</font>

</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>
