<center>
<table width="100%" border="1" cellpadding="7" cellspacing="0" bordercolorlight="red" bordercolordark="red">
<tr valign="top">
<td width="70%" height="100%" align="center">
<table border="1" cellspacing="0" cellpadding="5" bordercolorlight="#000080" bordercolordark="#000080" height="100%" width="100%">
<tr valign="top">
<td align="center">
<font color="red" size="6"><b>
Welcome to the North London Mandal
</b></font>
<p>
<a href="http://www.sspcnl.com/">
Click Here to go to www.sspcnl.com
</a>
<br>
<font color="white" size="2">
Submitted by Dipak Devalia
</font>
</td>
</tr>
</table>
</td>
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>
</td>
</tr>
</table>
