<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of
Vinodbhai Khimjibhai Fatania
</font></h1></center>
<p>
<center>
<%= image_tag 'vkfat1.jpg', width: "115", height: "145" %>
<%= image_tag 'vkfat2.jpg', width: "115", height: "145" %>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

<font color="#66CCFF">Name: </font>   Vinodbhai Khimjibhai Fatania <BR><BR>
<font color="#66CCFF">Fathers Name: </font>  Khimjibhai Poonjabhai Fatania <BR><BR>
<font color="#66CCFF">Date of Birth: </font> 14th January, 1951<br><BR>
<font color="#66CCFF">Residence: </font>  9/10 Khimji Poonja Building, Kale Marg<br>
Old Kurla, Mumbai -400 070<br><br>
<font color="#66CCFF">Office Address:</font> 3, Vinod Khimji Road, Bharat Coal Compound, Bail Bazaar, Old Kurla, Mumbai- 400 070

<BR><BR><font color="red">ACADEMIC QUALIFICATIONS: </font> B.COM (HONS) AICA, D J P R, and S E M.

<BR><BR>What you read above is just the face of a person, whose achievement, his determination, his value towards life and all the living aspects have been and still are the idealistic way to a lot of people of our community.  He is into a number of things which have made us and our community proud of him to have him with us. <BR><BR>

In other things his achievements which have been honored by the Government of Maharashtra ( India) which include; <br>
Special Executive Magistrate. (Since 22nd December, 1989)<br>
Special Executive Officer.  (Since 23rd March, 2001)<br>
Police Mitr (Since January 1993)<br><br>

Are a few he holds at his possession with a numerous such other.<br><BR>

Our Prajapati Community  also beholds his personal attention towards us through the various key positions he holds with the offices:<BR><BR>

<font color="red">CHAIRMAN </font>  -  Shree Soratiya Prajapati Gnati  (Panch Samiti) [ Mumbai and part of Gujrat]<BR><BR>

<font color="red">PRESIDENT </font>  -  Prajapati Khumbar Welfare Association International<BR><BR>

<font color="red">CONVEYOR </font>  -  Rashtriya Prajapati Sahyog Manch <BR><BR>

<font color="red">SECRETARY </font>  -  Akhil Bharatiya Prajapati Mahasangh <BR><BR>

This along with other positions are the ones he looks after, in his hectic schedule he manages as a Chief Editor for his Gujarati magazine "Agnichakra" through which our, fellow brothers in India as well as in foreign countries including the United Kingdom, the United States and other Middle East Countries, get the information of our development's done by our community.  He also works as an editor to various other local weekly and bi-weekly.<br><br>

The work in the local area and his residual vicinity can only be known, from the people known  and  knowing him, from his vicinity as well as the adjoining areas.<br><br>

His contributions to the Samaaj can easily be known from any of the Samaaj people.  His major contributions which includes his help, for the development in Social, Political and Domestic scenario through which his modesty, courtesy and his overwhelming response towards the up to now downtrodden people of our people of our samaaj has been felt.<br><BR>

His path for awakening of the Prajapati Samaaj throughout India and also internationally through his media resource of Agnichakra and other various magazines where he makes a major contribution.  Especially in India where poverty griffin people including Students, who despite of being talented would not be able to study due to their poor financial conditions and short resource and other mandatory needs from the government offices including various kinds of certificates like Caste Certificates, Validity Certificates etc.  All such sort of problems, were solved with the kind gratitude and assistance of Good Samaritans, who despite of being far away from their motherland and their community people have always been for them whenever needed.

Also aiding the ill fated due to sickness and other physical ailments, dying due to lack of medicine and proper hygiene with the help of the same.  Assisting the financially crippled people to earn on their own, by giving them equipment like sewing machine and other things to the widows of the Kumbhar Samaaj, with the help of the Welfare Association.<BR><BR>

Well we can go on with the deeds of this person, but rather done than said all we could try for the least is that we should be able to follow the footsteps of such persons who have brought our community from the darkness of under-development to the brightness of a developed caste and community whom people see with honor.
<BR><BR>

<font color="#66CCFF">OTHER ACTIVITIES: </font> <BR>
1. <font color="red">EDITOR </font> -  Lok - Demand (Marathi Weekly)<BR>
2. <font color="red">EDITOR  </font>-  Matawala Raahi (Hindi Fortnightly)<BR>
3. <font color="red">EDITOR</font>  -  Dhadak Morcha (Marathi Daily)<BR>
4. <font color="red">SECRETARY </font> -  All India Press Reporter Association<BR>
5. <font color="red">SECRETARY</font>  -  Sarvabhashik Patrakar Sangh (Govt, Apr)<BR>

<font color="#66CCFF">RELIGIOUS ACTIVITIES: </font> <BR>
1. <font color="red">PRESIDENT  </font>-  Navratri Utsav Mandal<BR>
2. <font color="red">PRESIDENT</font>  -  Shiv Shakti Mitra Mandal<BR>
3. <font color="red">PRESIDENT </font> -  Ganeshostav Mandal<BR>
4. <font color="red">PRESIDENT</font>  -  Samrat Sfurti  Mandal<BR>
5. <font color="red">SECRETARY</font>  -  Bhartiya Vidya Niketa<BR>
6. <font color="red">SECRETARY </font> -  Maharashtra Education Society<BR>
7. <font color="red">SECRETARY </font> -  Maharahstra Slum Welfare Society <BR>
8. <font color="red">SPECIAL OFFICER (Maharashtra) </font> - Indian Anti Corruption Force <BR><br>

The biggest Honour, in his life, is that whilst still alive a road in a City of  Mumbai has been named after him. See the Ofiice Address.


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
