<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of
Laljibhai Ranmalbhai Koria
</font></h1></center>
<p>
<center>

</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

<center><font color="white">(Profile written by Premji Bhura Dhokia)</font><br></center>

<font color="red">Name: </font><font color="66CCFF">Lalji Ranmal Koria</font><br><br>
<font color="red">Birth Place: </font><font color="66CCFF">Porbandar</font><br><br>
<font color="red">Father's Name: </font><font color="66CCFF">Ranmal Pama Koria</font><br><br>
<font color="red">Name of Wife: </font><font color="66CCFF">Januben</font><br><br>
<font color="red">Present Address: </font><font color="66CCFF">New Kumbharwada, Porbandar</font><br><br>
<font color="red">Expired: </font><font color="66CCFF">24/11/1998</font><br><br>
<font color="red">Family Details: </font><font color="66CCFF>Three sons and two daughters total five children</font><br><br>
<font color="red">(1) </font><font color="66CCFF">Elder son Bharat Graduate and servicing as a teacher.</font><br>
<font color="red">(2) </font><font color="66CCFF">Second son Mansukh servicing in factory.</font><br>
<font color="red">(3) </font><font color="66CCFF">Third son Mukesh-Electrician.</font><br>
<font color="red">(4) </font><font color="66CCFF">Daughter named Diwari Graduate and teacher in school.</font><br>
<font color="red">(5) </font><font color="66CCFF">Younger daughter Prembai Graduate and teacher in school in Tarsai Village near Porbandar.</font><br><br>
Shri Laljibhai was servicing in Maharana Mills, Porbandar since 1942 and joined Shri Prajapati<br>
Vidyotejak Mandal in 1946 and active as a President of our organization for many years. He was<br>
remain life time member and trustee of our Gyati Mandal in Porbandar<br><br>
With Laljibhai, Mr. Harji Raja Bhardwa and Mr. Jiva Harji Jagatiya had given their services to our<br>
Gyati Mandal for many years. Presently, Harjibhai expired and Jivabhai is living in Jamnagar. Thus<br>
the Vidyotejak Mandal is facing want of such active members forever.</font><br><br><br>



</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
