<html>
<head>

<title>Welcome SSPGM.net - Profiles - Rajesh Bhimji Jadav
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Rajesh Bhimji Jadav
</font></h1></center>
<p>
<center>

</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Shri Rajesh Bhimji Jadav is a Member of the Executive Committee
of our Shri Sorathia Prajapati Gnyati Mumbai as well as Vice 
President of Prajapati Welfare Association (International) Regd. by
Government of Maharashtra. Mr. Rajesh is an excellent social worker 
of our Prajapati Gnyati. Mr. Rajesh organizes cricket matches for 
Welfare of our caste. He is doing welfare of women of our caste with 
the help of Sanjay Gandhi Niradhar Yojana, or Maharashtra and many 
other schemes of Maharashtra Government as well as Central Government. 
Mr. Rajesh is a gem of our Prajapati Gnyati Samaj. He is an Ex-President 
of P.K.W.A.


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
