<h1 class="page-header">History of Surnames</h1>

<font color="red"><b>
  If you would like to contribute information to any of the following surnames, email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>
</b></font><br /><br />

<table border="0" width="100%">
  <tr><td>
    Bhalsod<br />
    Bharadaj<br />
    Bharadwa<br />
    Buhecha<br />
    Chandegra<br />
    Chavda<br />
    Chhaya<br />
    Chitroda<br />
    Chohan<br />
    Dabhi<br />
    Devalia<br />
    Dhokia<br />
    Dodia<br />
    <%= link_to "Fatania", page_path('fatania'), style: "color: #66CCFF" %><br />
    Gadher<br />
    Gadhia<br />
    Gadhvana<br />
    <%= link_to "Ghedia", page_path('ghedia'), style: "color: #66CCFF" %>
  </td><td>
    Girnara<br />
    Gohil<br />
    Gola<br />
    Jagatia<br />
    Jethwa<br />
    Jogia<br />
    Kamalia<br />
    Kansara<br />
    Kataria<br />
    Kholia<br />
    Koria<br />
    Kukadia<br />
    Ladva/Ladwa<br />
    Majevadia<br />
    Mandora<br />
    Mavadia<br />
    Maru<br />
    Nena<br />
  </td><td>
    Oza<br />
    <%= link_to "Pankhania", page_path('pankhania'), style: "color: #66CCFF" %><br />
    Parmar<br />
    Pithia<br />
    Poria<br />
    Rathod<br />
    Ravat<br />
    Sarvaiya<br />
    Savania<br />
    Shingadia<br />
    Solanki<br />
    Taank<br />
    Vadher<br />
    Vadukul<br />
    Vara<br />
    Varu<br />
    Vegad<br />
    Visavadia<br />
    Yadav/Jadav
</td></tr></table>
