
<h1 class="page-header">The History of SSPGM</h1>
<%= link_to "Click Here for the History of SSPGM", page_path('sspgmhistory3') %><br />
<%= link_to "Click Here for the Dedications Page", page_path('sspgmdedication') %><br />
<%= link_to "Click Here for \"The Still Wheel\", an archaeological study of the Kumbhar, by Bina Thomas", page_path('stillwheel.html') %>
<br /><br />

<center>
  <%= image_tag 'mepa_bhagat2.jpg', width: "200", height: "189" %><br/>
  <font color="#66CCFF"><b>A picture of a Khumbar</b></font></center>
</center>
