<h1 class="page-header">The History of SSPGM</h1>
<center>
  <%= image_tag 'potter2.jpg', width: "200", height: "165" %>
  <%= image_tag 'mepa_bhagat2.jpg', width: "200", height: "189" %>
</center><br /><br />

<p>
  <b>Ancient and Present Introduction</b><br />
  Published by the Shree Sorathia Prajapati Gnati Mandal, Nakuru, Kenya,  East Africa on 07/18/70, to honor the 7th annual 'Amrit Mahotsav'
  celebrations, collated and written by Mohanlal Virjibhai Fatania. Original in Gujrati translated into English by Mohanlal Virjibhai Fatania
</p>

<p>
  We are called the Prajapati Gnati. In India, there is a large number of Prajapati Gnati. The larger portion of our Gnati has been divided into different parts of the country.
</p>

<p>
  The Prajapati Gnati population in India alone is approximately 7 million, in Gujarat; the whole Gnati is divided mostly in under-mentioned groups:
  <ul>
    <li>Gurjar - live all over Gujarat</li>
    <li>Varia - live in Panchmahal, Kalol, Charotar, Ahmedvad, Sabarkantha, Jamnagar, and Bhavnagar, Botad</li>
    <li>Lad - live mainly in Surat and Mumbai also overseas</li>
    <li>Vatalia - live mainly in Ahmedavad, Dholka,Dhandhuka, Bhavnagar and Mahuva</li>
    <li>Sorathia -live mainly in the region of Saurastra, Porbander and nearby villages of Jamnagar, Rajkot, Ahmedavad, Junaghad, Bhavnagar, Mumbai Poona and also overseas></li>
    <li>Ajmeri - live mainly in Bharuch and Vadodara and on the shores of River Narmada</li>
    <li>Maru -  They originally came from Marvad and Jodhpur and settled in Gujarat</li>
    <li>Khambati - live near Petlad and Khambhat area</li>
    <li>Kutchi - live near the area of Kutch</li>
  </ul>
</p>

<p>
  The population of Gujarati Prajapati is estimated approximately 300,000
</p>

<p>
  We are the family of Daksa Prajapati.  It is mentioned in our Purans.  Daksa Prajapati was the son of Lord Brahma.  Daksa Prajapati was a great scholar of Yajur-Ved.  One day,
  Brahma was pleased with him, and he gave Daksa Prajapati a prestigious rank, by given this rank, he became very proud of it, and he decided to make Maha Yagna.  He invited
  Rishis, Muniyos, Devos (Demi-God), and Brahmins.  All of those came to Maha-Yagna and set at the Mandap. Daksa Prajapati entered the Mandap, on his arrival, everybody stood
  up except Brahma and Shankar, and they remained seated.  After observing this, Daksa Prajapati said," This Shankar is my son-in-law, but he doesn't know how to respect me,
  so I would not allow him to take part in Maha-Yagna".  Hearing this, Shankar remained calm, but Nandi, could not bear it, and he told Daksa Prajapati, "Hey Daksa, you're very
  proud and conceited, and don't consider Shankar as your son-in-law, but as you have insulted Shankar, and did not give respect to him in this Mandap, in return, I give you
  a curse that your entire lineage, in-spite of being of a high and holy Brahmin, in Kali Yug, they'll be known as non-Brahmins".
</p>

<p>
  Thus, we are being Daksa Prajapati's succession, yet by the curse by Nandi, our rank went down in Kali Yug.  From this, it will be known that the Prajapati Gnati is the rank
  of Daksa Prajapati, and Brahmin heritage, high and prestigious community and we also know, now, the root of our Gnati.  To support this, there are many stories in Shrimad
  Bhagwad, and Purans. Ancient Arya Samaj was divided in four castes, such as:
  <ul>
    <li>Brahmin</li>
    <li>Ksatriyas</li>
    <li>Vaishyas</li>
    <li>Shudra</li>
  </ul>
</p>

<p>
  The person of Shudra also could be a Brahman, such as Valmiki Rushi, was Shudra by birth, however, he was able to become Brahmin.  Current castes and
  sub-castes are based on their particular skills.  In ancient times, Prajapati was very high up on the rank, and during that time, the higher caste used to come
  to Prajapati's home to stay with him.
</p>

<p>
  In Dwapar Yug, the Pandavas stayed at Prajapati's home.  The Prajapati community was very consecrated, and of refined culture.  After a long time, the name
  of Prajapati went through a significant downfall.  But, its ancient, high, consecrated values can still be noticed in hidden adage.
</p>

<p>
  To prove that belief, in Prajapati community today, there are so many sants in our community.  In Satyug, the guru of Bhakta Pralad, was Shreebai Mataji,
  who was Prajapati Bhakta.  Gora Kumbhar, was also saint from Maharashtra.  In 15th century, Padamnath Prabhu, who was in Patan, in Gujrat, and also a
  Prajapati.  In Kheda district of Gujrat, and Borsad, Sant Shree Gopaldas also was Prajapati, in Rajasthan, Bhakta Koobaji in Kankaviti, Bhakta Ranka Vanka,
  in Saurashatra, Dhhanga Bhagat, and Mepa Bhagat in Tikar, near Hadavad in Gujrat Kara Bhagat in Godhra, Sant Shree Purshotam Dasji, all were Prajapati.
  Also, in Saurastra, Chindal Bhagat, and Ramji Bhagat.  In Vanthali Heera Bhagat in, Gadhaka, Jiva Bhagat, Rana Bordi, Bogha Bhagat (Mahant Shree Balak Dasji),
  at Navadra, Jina Bhagat, at Bagavadar,  Jiva Bhagat (Sant Hans Dasji), All these were also Prajapati's.  Besides, these in Junagadh district, at Satadhar, at the
  sight of Shree Aapa Giga, there was Shamji Bhagat, and at the sight of Sat Devivas, or Parab was Sat Sevadas.  All these were Prajapatis.
</p>

<p>
  From these, it can be proved that the high, consecrated values, and morals, by the mercy of our ancestors have remained for all the time in the Prajapati
  community.  Due to the high morals of our ancestors, many Bhaktos have taken birth, these Bhaktos, by doing pottery work, artwork, or carpentry work,
  and either being poor or rich, were able to provide accommodation to the higher caste, had true knowledge of religion, and the understanding of their
  holy duty.  This is the proof of holiness and ancient high values and morals of Prajapati community.
</p>

<p>
  Just as Brahma, the maker of humanity, used the five elements: fire, water, wind, earth and air, so did the descendant's of the son of Brahma, Daksa
  Prajapati, also uses the five elements: fire, water, wind, earth, and air, to create different types of utensils and artwork. These items are mainly used for the
  basic use for the general public uses, by providing for eating, drinking, living and worshipping. These art items are handy and useful for the poor and the
  rich alike. These valuable artistes and their rank of art has persevered and preserved for generations.
</p>

<p>
  So the present, castes and sub-castes are mainly based on the skill levels. The art of pottery is very ancient and in the old days the basic existence
  depended on these earthenware utensils and deities. These handy-works have been recovered by digging in some of the old cities and from that it is
  known that the art of pottery has continued yug to yug and is very ancient.
</p>

<p>
  At present time the whole Hindu Samaj has been divided into different castes and sub castes, due to the skill levels expanding. And therefore, the
  marriages can be taken place in their own castes and also for this reason the whole community is further divided in different languages/dialects according
  to provinces/districts, not only that, the speaker of the same languages are also divided into small groups and it was restricted to mingle and socialize, let
  alone marry outside of that community.
</p>

<p>
  At present, the pottery work is considered low because there is a higher demand for iron, steel and copper materials. Things like stainless steel and other
  bright materials have taken place of earthen -ware.
</p>

<p>
  Thus, Prajapati community has been divided a long time ago and dispersed in different parts of India. Today, there is evidence of these fragmentations.
  There are so many reasons for falling down the rank of the community and one of the main reasons for this fall down is the lack of education. Due to the
  lack of education mobility upward is restricted. There is also a reluctance to move away from the customs. For these reasons, in the past the Prajapati
  community has been considered a low community from educated community. The second reason is that these artisans had to depend on farmers for their
  living and therefore the Prajapati community was called, "Vasvaya", and considered as dependent on other communities. By good luck, Prajapati community
  slowly went towards education, and some people went to foreign countries, and they formed alliances with other communities. Slowly the barrier of sitting
  and eating was broken down.
</p>

<p>
  In past, from Prajapati community some people came in touch with the Ksatriyas, and they started to work like them, so people who mixed with Shatriyas
  and attained a similar surname. For example Saurastra and Kutch, in Prajapati community there is a surname like Chavda, Vaghela, Solanki, Gohil, Parmar, and
  these surnames are recognized as such even at present. The following surnames in the Shree Sorathia Prajapati community are being used and obtained
  through heritage for centuries:
</p>

<p>
  Bhalsod, Bharadwa, Bharadwaj, Buhecha, Chandegra, Chavda, Chhaya, Chitroda, Chohan, Dabhi, Devalia, Dhokia, Dodia, Fatania, Gadher, Gadhia, Ghadhvana,
  Ghedia, Girnara, Gohil, Gola, Jagatia, Jethwa, Jogia, Kamalia, Kansara, Kataria, Kholia, Koria, Kukadia, Ladva, Majevadia, Mandora, Mavadia, Maru, Nena, Oza,
  Pankhania, Parmar, Pithia, Poria, Rathod, Ravat, Sarvaiya, Savania, Shingadia, Solanki, Taank, Vadher, Vadukul, Vara, Vegad, Visavadia, and  Yadav…. I t should
  be noted that some of these family names are often spelt in a variation for example, Gohil is spelt Gohel  and Ladwa is spelt Ladva, etc.
</p>

<p>
  The people who were working in the masonry or carpentry occupations were given the title of a mason, carpenter, or masonry etc., and they are known by
  these names even at present. The people who worked as potters, making utensils, tiles or any related products from earth were called, "Kumbhkar."
  Kumbh - means clay utensils and kar - means maker. Therefore, Kumbhkar was later called,"Kumbhar." Due to the increase use of their trade and that
  became well known as, one "Jati" people of Prajapati community it appears that their geographical location determined their title such as Sorathia, Lad, and
  Varia. Therefore, people who stayed and lived in Sorath were known as "Sorathia Prajapati."
</p>

<p>
  During the wedding ceremony, the presence of Demi-god was considered necessary and in Indian community at the time of all weddings in the Mandap, in
  all four corners the clay pots made by Kumbhar were necessary due to the fact that the presence of the Demi-god Prajapati was essential and it is a custom
  to bind such " Chori."(Chori- means that several clay pots are erected upright by each pillar of the Mandap.) This type of Chori is not used in the marriage of
  Kumbhar/Prajapati community and this proves that Prajapati community originated from a high rank and therefore it is considered unnecessary to use
  "Chori" because the presence of Demi-gods in the Prajapati community is already there.
</p>

<p>
  Higher castes of Indian community such as Brahmins, Banyas, etc. do not consider it an offense to drink water at a Prajapatis home and when they travel
  whether in a village or a city, even though there were other facilities available these travelers preferred to stay at Prajapatis house. Therefore its established
  that by preferring to spend the night at the home of a Prajapati over any other facility available it proves that the Prajapati Gnati is pure and holy and high in
  rank, since time immemorable. Looking at the history of the Prajapati community the nature of Prajapati is to provide hospitality, shelter, and politeness to
  their guests.
</p>

<p>
  In Sinhaldip, the daughter of King Bojraj named Ranakdevi born in "Mood" constellation and by telling of astrologers, the King abandoned her. She survived
  and who was responsible for bringing her up, giving her shelter, and being a dutiful wife and having high morals? He was Prajapati Hadmat, there are so
  many such shelter givers, and this is one example. This is proved by our past history. The Kings of Gujrat, took advantage of the Prajapati community, to do
  free work as "Vasvaya" without paying anything. The potter had to give his services free of charge when officers came and stayed in their town or village,
  the potter was called to give free service for bringing the water during the stay. Some of the potters left making pottery and became carpenters, but even
  then they could not escape "Vethna Vara." For generations, these Vethna Vara continued and Prajapati community suffered this heavy task. Only after
  India gained independence did the Prajapati community received a relief from this task. Many prajapati's became artists, and many of them have received
  accolades, prizes, and badges, etc for their artwork.
</p>

<p>
  Looking at the present time, the people of Prajapati community in comparison to other communities are poor yet their ancient morales are at a high place.
  The emphasis on education is a low priority a rare few have expanded the business of pottery and erected big factories to make bricks and other items.
  They're making so many utensils, clay toys, housewares, and different types of artwork from clay and in doing so they have advanced. In other business,
  they are doing farming, building, making furniture, and other old crafts and they are promoting artisans. Today, there are some that are educated and have
  become barristers, lawyers, doctors, engineers, politicians, magistrates, and the government also employs some of them. The whole community is
  advancing and giving these types of services at different places. They have also established provincial, worldwide Prajapati mandals, Prajapati Samaj,
  Prajapati youth mandals and some of these publish monthly news letters and give educational advice, suggestions, etc. to advance higher.
</p>

<p>
  Adventurous members of the Prajapati community have traveled and settled in foreign countries and they are trying hard to give education to Prajapati
  brethren. The majority of these people abroad are engaged as carpenters, masonry, and building work , some of these people have  started their own
  businesses, and also managing small and large businesses. In comparison of other communities the standard of education is very low in our community.
  A possible reason for this can be lack of financial support, for there maybe so many families who wish to give their children higher education of university,
  but this wish can not be fulfilled due to lack of money and financial support for this reason the bright children of the future are denied higher education
  and the vicious cycle of poverty continues, because they can not get advantages of the benefits of education which is able to further or advance their
  lifestyle.
</p>

<p>
  To avoid the difficulties of our community the provincial mandals should set up an educational fund, to help the children of the community and establish a
  scholarship for such funds it is really necessary to establish this scholarship if we want our children to progress
</p>
