<h1 class="page-header">Rajesh Bhimji Jadav</h1>

Shri Rajesh Bhimji Jadav is a Member of the Executive Committee
of our Shri Sorathia Prajapati Gnyati Mumbai as well as Vice
President of Prajapati Welfare Association (International) Regd. by
Government of Maharashtra. Mr. Rajesh is an excellent social worker
of our Prajapati Gnyati. Mr. Rajesh organizes cricket matches for
Welfare of our caste. He is doing welfare of women of our caste with
the help of Sanjay Gandhi Niradhar Yojana, or Maharashtra and many
other schemes of Maharashtra Government as well as Central Government.
Mr. Rajesh is a gem of our Prajapati Gnyati Samaj. He is an Ex-President
of P.K.W.A.
