<html>
<head>

<title>
Prajapati Bhakta Kala Bhagat
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhakta Kala Bhagat
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

Kala Bhagat lived in town Ticker, in district of Hadvad.  One day a sadhu came to his house and lived with 
him and Kala Bhagat geve him excellent service.  When the time came for the sadhu to leave, Kala bhagat 
bowed down and touched the sadhu's feet and sat down.  Sadhu asked him "Kala Bhagat what do you 
need?"  He said prabhuji I want your mercy.  At this time Kala Bhagat was 18 years old.  Sadhu replied "You 
are a prajapati and give your service to Sadhu and janta (people)  This is in your blood since you were born. 
If you perform this service it is my blessing that you will be able to cure disease and by the touch of your 
hand uncurable diseases will be cured".<p>

Thus at this young age Bhagat took sanyas (to wear saffron clothes and relinquish all material life).  As per 
instructions from the Sadhu, who he cosidered his guru, Bhagat Started to serve the people.  Even by 
spending a lot of money, the disease that cannot be cured, can be cured soon by mystical knowledge 
thread given to the patient.<p>

The wife of Dana Patel in the village Malaniyat was suffering from Dropsy.  Patel tried in Dhangadra and 
Vadhvan city, examined by different doctors, but had no hope to cure it.  Patel came to Kala Bhagat 
explained his wifes problem.  Kala Bhagat gave him a mystic thread dropsy was cured in just two weeks.  
Thus Kala Bhagat was serving the people and at the same time perform bhajan kirtans.<p>

Nearby, the town of Sayakada, was populated by Garasia's (people related to the king who have been given 
free land).  They were so strong that everybody in the town was afraid of them. Nobody could pass in front 
of them riding a horse!  Kala Bhagat was given this information by the town people.  One day Kala Bhagat 
went to Sayakada, riding a horse and passed through the town.  The Garasia's got really angry.  One of 
them said "look at this potter, he is riding a horse.  It is an insult to our people"  They wanted to punish 
Kala Bhagat so they tried to stand up to walk towards Bhagat, but nobody could stand up from the floor!  
They were all stuck to the floor!  They tried hard but without success.  In this way the Garasias were 
defeated, and started to implore.  Bhagat said "Brothers, you should know that people have made the 
upper and lower castes, but remember that the soul has no caste.  All human beings are equal according 
to god".  Then Kala Bhagat forgave them and ever since the Garasia's have allowed people to pass and ride 
on horse through their town.<p>

A marriage party of a Bania's son, residing at the town of Chuli was going to perform a marriage ceremony.  
The robbers came and started to rob the men and women of the party.  At the same time Kala Bhagat was 
passing nearby on his horse.  He asked the robbers to stop and they refused.  The robbers made a heap of 
all the jewellery and ornaments on one side.  Kala Bhagat went near the pile and started to distributing the 
jewellery back to the people.  The robbers tried to rush towards Kala Bhagat, but the robbers could not 
move a single inch.  Robbers requested Kala Bhagat to forgive them, but Bhagat only agreed after getting a 
promise that they would not rob anymore.  Robbers left and Kala Bhagat had saved the jewellery of the 
wedding party and they expressed their gratitude.<p>

Kala Bhagat was getting old and suffering from an illness in the town of Narichana.  He was about to die, so 
he sent one of the man to his home town of Ticker, to call one of his family member named Thakorshi.  He 
wished to see him at this last moment, but Thakorshi refused to come.  Believing Kala Bhagat would send 
someone else to call him, Thakorshi tried to evade to a nearby town, but to his surprise he could not find 
the way!  He could not understand how this was happening.  He then thought about going to Narichana, 
where Kala Bhagat was lying on his death bed.  As soon as he turned towards Narichana, the way became 
very clear and he came to Narichana.  He came to Kala Bhagat's death bed and regretted.  He bowed down 
and asked for forgiveness.  After seeing Thakorshi, Kala Bhagat felt satisfaction.  He advised Thakorshi to 
perform Bhajans and Kirtans after his death.  After saying that Kala Bhagat passed away and left this material 
world.  Such was the glory of Shree Kala Bhagat.<p>

Bhagvan and Kala Bhagat ki Jai.

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


