<h1 class="page-header">The SSPGM Dedications Page</h1>

<center>
  <%= image_tag 'hirj1.jpg', height: "195", width: "180" %><br />
  <font color="#66CCFF"><b>Pujya Shree Hirjibapa</b></font><br>
  <font color="red">Picture provided by<br>Vinodbhai Masribhai Pankhania<br>Milton Keynes, UK</font>
</center>

<p>
  Sant Greatness, best of the kind Pujya Shree HirjiBapa by whose association and satsang we are inspired to publish this book "Shree Prajapati Sant Sarita",
  (Sant - means a devotional, religious person with high morals and Sarita - means like a river, timeless and forever flowing). We inspire and dedicate this book
  to Shree HirjiBapa. Sorathia Prajapati Mandal, Nakuru, Kenya, East Africa. July 18th 1970.  Mohanlal Virjibhai Fatania, was the Secretary of Shree Sorathia
  Prajapati Gnati Mandal in Nakuru, Kenya, East Africa from 1970-1972.
</p>

<p>
  The community used to meet in 'Anand Bhavan' every Sunday under the guidance of  Bhagat Masribhai Jerambhai  Pankhania to perform Satsang, Bhajan
  and Ramayan reading, etc in the Presence of Pujya Hirji Bapa.
</p>

<p>
  One day, HirjiBapa asked the members, "Do you know how many Sants or Bhagats, there are in your community?" None could answer the question.
  HirjiBapa responded that," There are many Bhagats and Sants in Prajapati." Thus, he propagated the quest for this research and Mohanlal Virjibhai Fatania
  was appointed for this project. It took him about 2 months to research and obtain the true biography of these Sants and Bhagats. In those days there
  was no Internet, or the widespread use of the telephone, encyclopedias or other such tools we take for granted these days. The sole resource was to
  write letters back and forth. Nevertheless, the data was collated. It was advertised in "Africa Samachar" a newspaper in Kenya, to find out if anybody had
  any knowledge or information regarding the Bhagats/Sants.
</p>

<p>
  Mohanlal Virjibhai Fatania and Devjibhai Vara, stayed 3 days in Africa Samachar Printing Press in Nairobi to proof- read, reprint and certify the publication.
  Finally, Nakuru Mandal presented the "Shree Prajapati Sant Sarita"book to members of our community on Guru Purnima Day of July 18th 1970, by the grace
  and mercy of HirjiBapa.
</p>

<p>
  Full care has been taken to translate the introduction of the Sants and the Bhaktas mentioned here from the "Prajapati Sant Sarita" printed in 1970 by
  Nakuru Mandal, yet any mistakes, errors, omissions is forgivable. It should be noted that the translation is in simple English, so that everybody can follow
  it.
</p>

<p>
  Prajapati Sant Sarita was printed in 1970 and since then a lot of changes have taken place in the last three decades, in India. Since then, Education Trusts
  have been established and Boards of Education established to promote the needs and awareness of these to the community. People are getting benefit
  of these organizations and lifestyle is changed and therefore, the numbers and the lifestyle represented in the "Shree Prajapati Sant Sarita" is different than
  as mentioned in the book, in 1970, still more can be done for our families, in India for the future.
</p>
