<center>

<table width="600" border="0" cellpadding="0" cellspacing="0">

<tr>
<td colspan="2">
	<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="50%" bgcolor="red">
        <div align="right">


        </font>
        </div>
	</td>
	<td width="50%" bgcolor="red">
	</div>
	</td>
	</tr>
	</table>
</td>
</tr>



<tr>
<td valign="top" bgcolor="black">
<center>
   <table width="100%" cellpadding="2" cellspacing="2" border="0">
   <tr>
   <td valign="top" width="400" bgcolor="#003366">



    <table width="100%" bgcolor="red" border="0" cellpadding="4" cellspacing="0">


    <tr><td bgcolor="black">
	<font face="Helvetica" size="3" color="red">
    <br>


	<h4><center>Welcome to the SSPC East London - Woolwich Mandal <BR>
       </center></h4>
<center><BR>





          <%= link_to image_tag('eastlondonp.jpg', width: 350, height: 200), image_path('eastlondonp.jpg') %><br>
         </center><center><font color="red" size="2">Pictures submitted by Hiten Mansukhlal Vadukul, UK</font><P></center>
<font color="#66CCFF" size="3">If you would like to submit information about your mandal,</font><br>
<b><font color="yellow">please send us an email:</font></b><br>
<a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a><br>
<br><br> <br><br><br><br> <br><br><br><br> <br><br>
<font size=5><b><I><div align="center"><font face="arial" size="2.5" color="yellow"><b></b>




</dl>
</p>




</font>

    </td></tr>
    </table>
   </td>

   <td valign="top" width="1">
   <img src="images/dot.jpg" width="1" height="550">
   </td>
   <td valign="top" width="200" align="center">
    <%= render 'shared/right' %>
   </td>
   </tr>
   </table>
</center>
</td>
</tr>
</table>
