<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">

    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPC Leicester Mandal
      </h1></center>


      Dear SSPC Member,<p>

      As you may be aware SSPC Leicester is organising an all UK Mini Sports Tournament on Saturday 23rd August 2003. <br>
      The event begins from 8.00am at Loughborough University featuring 5 A-side football and Ladies Badminton.<br>
      In the evening we have an evening Dinner, de-brief session, presentation and a Party taking place at Leicester Leys, Leisure Centre. You are all warmly welcomed and please see the attached flyer (below) for more information on the evening party. <p>

      Please kindly assist by forwarding on to all friends and family from the SSPC Community and we look forward to seeing you for this first SSPC Tournament in 3 years. <br>
      If you would like any more details please contact us by email at <a href="mailto:sportforhealth@yahoo.co.uk">sportforhealth.co.uka</a><p>

      Thank you, <br>
      SSPC Leicester Mandal<p><br><br>


    </div>

  </div>
</div>
