<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhakta Shree Karshan Bhakta
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">



Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

The father of Karshan Bhagat, Ramji Bhagat Chhaya, who was residing in Rana Varvada, left the town under
certain circumstances, around the year Vikram Savant 1860.  He settled about35 miles away in Kalyan, near
Bombay.<p>

Karshan Bhagat was a devoted person, and besides running his own business, he was the devotee of
Bhagvan Shree Shankar, and he became the greatest devotee of Shankar.  One night, Shankar Bhagvan
appeared in his dream and told him that "Hey Bhakta, there is one Shiv Mandir 8 miles away from here, and
nobody worships there, and it is in a dilapidated state".  Thus, the message was conveyed by Bhagvan
Shankar to Karshan Bhagat via a dream.<p>

By keeping faith, in Shankar Bhagvan instructions, Karshan Bhagat started his quest to find the temple, and
soon located the temple in an abandoned "non-worship" condition about 8 miles away from Kalyan, on the
road of Town Bhimadi.  The Bhagat considered himself lucky and put much more faith in Shankar Bhagvan.
Then, Karshan Bhagat started to repair and put the temple in order, so that he could worship Shankar
Bhagvan.<p>

After repairing the temple, Karshan Bhagat started the worship of Shankar Bhagvan in the temple, and today,
this temple is located about 8 miles far on the road of Bhimadi at Khirkhali Town.<p>

After experiencing so much mercy of Shankar Bhagvan, Karshan Bhagat took a vow that he would go to the
temple every Monday in the evening to worship Shankar Bhagvan, and only then, to break his fast.<p>

By the great mercy of Shankar Bhagvan, he also earned a lot of money, and he spent a large portion of that
for religious activities, as well as for the well being of his family. <p>

So this was the devotional service of Prajapati Bhakta, Shree Karshan Bhagat of Kalyan.

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
