<html>
<head>

<title>
Prajapati Bhagat Shree Hirabhagat
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhagat Shree Hirabhagat
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

A city named Vamanthali is near by Junagadh in Saurashtra, Gujarat State. At present, people are know it as 
Vanthali.  Its real name is Vamanthali, where Vaman Bhagwan asked for 3 steps of Earth from King Bali.<p>

Hira Bhagat lived in this city of Vanthali; he was a great devotee of God.  He made clay utensils and performed 
devotional service daily.  Whatever utensils he makes, he keeps only what is necessary for his own 
requirements, and all the rest, he goes to a particular well in Vanthali and he drops them in there.  The 
people of Vanthali think and say 'Hirabhagat is a mad Kumbhar, why does he drop his pots and utensils in 
well water?'<p>

Real fact was that one night, Hirabhagat had a dream.  God told him that in the yug of Kali, I will incarnate 
and appear as Nakalank, this incarnation name will be called "Nakalank Avatar".  I will get married to 
Megharani.  By this rime, there will be no metal things.  When I will be 24 years old, I will come at a battlefield 
and to kill all evils, I will have a horse named 'Devdatt'. Also, I will have a sword named 'Ratanjyot'. When I will 
take out my sword, any metal things, which are in this world, will melt in water. So, at that time, a person 
who will have 'Kansu' will be considered a rich man, but nobody will have it. 'Kansu' means a material that is 
a mixture of copper and a metal. Utensils made from this material are called 'Kansu', so any possessor of 
one and a quarter of 'Kansu' will be a rich person. This will happen as when real Kali-Yug will be into full 
force."<p>

Upon hearing this, Hirabhagat asked God ' Oh Prabhu, when you will get married to Megharani, there will be 
many people in the marriage party so as you said there will be no metal left. How will you dine your men?" 
God replied, " That is the reason, I want to tell you that you should take my order and make as many clay 
utensils like shanka and Lotra', ( Shanka means eating plates and Lotra means small items for drinking water) 
and dedicate them to me, so that when I will appear in Kali-Yug, as Narlank Avatar, I will destroy injustice and 
establish truth and Justice. When I will come back from Vamanthali battlefield then I will marry Megharani; 
(Megharani is the daughter of a Harijan -untouchable caste, in India). When I will appear in Kaliyug, Megharani 
and I will appear together. My disciples will build mandap and chori and our marriage ceremony will be 
performed. This time after marriage, there will be no metal utensils but we shall need clay ones."  After, this 
dialogue, God instructed Hira Bhagat to make as many clay utensils as he could make and gather them from 
that day forth and place them in a well. God also told Hira Bhagat that if you will do as I have instructed you, 
I shall be thankful to the Prajapati Community and I will be responsible for the deliverance of the Prajapatis.<p>

After, having this dialogue with God, Hira Bhagat woke up and upon awakening, he said that God has a lot of 
mercy on me and he requires my services. Ever since then Hira Bhagat started to make his utensils and 
dropped them in the well. This was not his foolishness, but God's will or command.<p>

Since then, Hira Bhagat and his family of seven generations made utensils and dropped them in a well. This 
is a well-known occurrence in Vanthali and called Bhanavau, (Bhana - means utensils, and Vav - means well.)<p>

According to one Sant Mahatma, (name is not mentioned), it is said that centuries ago if anybody wants any 
utensils for marriage, the person goes one day before the marriage ceremony to Bhanavav, prays to God 
and requests for the utensils, by offering one handful of rice and makes the request for the required 
number of utensils and lo, behold the following day, on the shore of Bhanavav, the required number will be 
ready to pick up. When the occasion is over, the person should return them back to Bhanavav and when 
this is accomplished the utensils are automatically contained back in the well.<p>

It is also said that the utensils dropped by Hira Bhagat used to come out of the well, coated with gold. But, 
one time a person cut out the edge of the plates and stole some gold and since then, the above custom 
stopped and Bhanavav is still there, but no longer supplies utensils.<p>

Now we have to wait until Kali-Yug is in full force and see what happens. This is a long way away. It is also 
said that here is a Lagna Mandap and Chori in Vanthali, an abode of Bhanavav and Megharani is also there, 
only we have to wait for 'Nakalank Avatar', incarnation of God in Kali-Yug. This will be the end of the era of 
Kali-Yug, the end of fights, disharmony, hypocrisy, and discontent. Then will begin the era of the truth and 
honesty - the start of Sat- Yug.<p>

Centuries ago, Devayat Pandit composed a Bhajan, that predicted all this that is happening and will happen 
in Kali-Yug.<p>

Bhakta Bhagwanki Jai.

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


