<center>

<table width="600" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top">
<center>
   <table width="100%" cellpadding="2" cellspacing="2" border="0">
   <tr>
   <td valign="top" width="400" bgcolor="black">


    <table width="90%" bgcolor="arial" border="0" cellpadding="4" cellspacing="0" style="border-right:2px solid #CC3333">

<!-- TODO: This entire thing is messed up -->
    <tr><td bgcolor="black">
	<center><font face="arial" size="4" color="#66CCFF">
<div align="left"><BR><BR>
<center> <font face="arial" color="red">Following Bhajans/Dhuns Submitted by,<font face="arial" color="white"> Dhiru Zina Pankhania,</font> Atlanta, GA USA</font></center><br><br>
<font size="4" color="#66ccff">Shreebai Mataji Folksongs</font>
<BR><font face="arial" color="white"> <A HREF= "http://www.sspgm.net/shreebhaimataji2.html">Shreebai Mataji Ni Prathna</font> <font color="red" size="1.7">(English)</A></font>
<br><font face="arial" color="white"> <A HREF= "http://www.sspgm.net/shreebhaimataji1.html">Shreebai Mataji Ni Prathna </font><font color="red" size="1.7">(Gujrati)</A></font>
<BR><font face="arial" color="white"> <A HREF= "http://www.sspgm.net/shreebhaimataji3.html">Shreebai Mataji Ni Arti </font><font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF= "http://www.sspgm.net/shreebhaimataji4.html">Shreebai Mataji No Thal </font><font color="red" size="1.7">(English)</A></font><br><br>

<a name="#top">
<font size="4" color="#66CCFF">Ganapati Bhajans</font>
<BR><font face="arial" color="white"> <A HREF="#Partham">Partham pehelaa samariye re swaami tamane sunDaaraa</font> <font color="red" size="1.7">(English)</A></font>
<br><font face="arial" color="white"> <A HREF="#Gaaeeye">Gaa ee ye ganapati jagavandan </font><font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Pratham">Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi</font><font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Hanumaan Bhajans</font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#Hanumaan">Hanumaan Chalisa</font> <font color="red" size="1.7">(English)</A></font>
<br><font face="arial" color="white"> <A HREF="#Mangala">Mangala murati maaruta nandana</font><font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Chalehanu">Chale hanumana yaha aaye</font><font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Raam Bhajans</font>
<BR><font face="arial" color="white"> <A HREF="#Shriraam">Shri raamchandra kripaalu</font> <font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Thaar</font>
<BR><font face="arial" color="white"> <A HREF="#Jamavaa">Jamavaa aavone nandalaala re</font> <font color="red" size="1.7">(English)</A></font>
<br><font face="arial" color="white"> <A HREF="#Tamebhojan">Tame bhojan karavaa aavone preme paronaa</font><font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Aarati</font>
<BR><font face="arial" color="white"> <A HREF="#Aanandmangal">Aanand mangal karu aarati</font> <font color="red" size="1.7">(English)</A></font>
<br><font face="arial" color="white"> <A HREF="#Omjayajagadiisha">Om jaya jagadiisha hare</font><font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Kapoor Aarati</font>
<BR><font face="arial" color="white"> <A HREF="#Kapoor">Kapoor gauram karunaa vataaram</font> <font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Abh sop diyaa</font>
<BR><font face="arial" color="white"> <A HREF="#Abhsopdiyaa">Abh sop diyaa is jivan kaa</font> <font color="red" size="1.7">(English)</A></font>

<BR><BR>
<font size="4" color="#66CCFF">Bhajans, Geets and Dhuns (Random/Alphabetical)</font>
<BR><font face="arial" color="white"> <A HREF="#Bhakti">Bhakti karata chute mara prana</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Mukunda">Mukunda maadhava govinda bola</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Tumhiho">Tumhi ho maata pitaa tumhi ho</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Tariekek">Tari ek ek par jaaye lakhni</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Heysitaaraam">Hey sitaaraam tanaa satsangmaa</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Haribola">Hari bola, hari bola, hari hari bola</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="#Raghupati">Raghupati raaghava raaja raam</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#aaimalik">Aai malik tere bande hum</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#prabhu">Prabhu mane shak padyo man may</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#jesalkari">Jesal kari le vichaar</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#prabhuta">Prabhu tara charanoma amane tu leje</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#jamunaa">Jamunaa jaRamaa kesar ghori</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#sukhake">Sukhake saba saathii dukhamen na koii</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#dhunire">Dhuni re dhakhaavi beli ame taaraa naamani</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#paayojii">Paayo jii mainne raam ratan dhan paayo</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#siitaa">Siitaa raam siitaa raam siitaaraam kahiye</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#banavaari">Banavaarii re</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#bhagavaan">Bhagavaan merii naiyaa us paar lagaa denaa</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#mailii">Mailii chaadar odh ke kaise dvaar tumhaare aauu.N</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#hamako">Hamako manakii shakti denaa,  mana vijaya kare.n</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#jyotase">Jyota se jyota jagaate chalo prema kii ga.ngaa bahaate chalo</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs2.html#allaah">Allaah tero naam,  Ishvar tero naam</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#mantadapat">Man tadapat hari darasan ko aaj</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#vaishnav">VaishNav jan to tene kahiye je</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#aisilagi">Aisi lagi lagan, meera ho gai magan</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#rangde">Rang de chunariya, rang de chunariya</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#tanke">Tan ke tamboore mein</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="arial" color="white"> <A HREF="http://www.sspgm.net/sspgmfolksongs3.html#itanaato">Ita naa to karnaa swaami, jab praan tana se nikale</font> <font color="red" size="1.7">(English)</A></font>
<BR><font face="veranda" color="white"><A HREF="http://www.sspgm.net/sspgmfolksongs3.html#pinjare">Pi.njare ke panchhii re</font> <font color="red" size="1.7">(English)</A></font>
<br><BR>





</div>

	<p>
<hr>
<font color="#000fff" size="4">Ganapati Bhajans</font><p>
<a name="#Partham"><font color="red" size="3"><b>Partham pehelaa samariye re swaami tamane sunDaaraa</b></font><p>
<font size="2.5">
Partham pehelaa samariye re swaami tamane sundaaraa<br>
Riddhi siddhi na daataar devtaa (2) mer karo no mahaaraaj ji<p>

He maata re kahiye (2) paarvati re swaami tamane sundaaraa<br>
Pita re shankar dev devtaa (2) mer karo no mahaaraaj ji<p>

He ghee ne dudh ni (2) sevaa chare re swaami tamane sunDaaraa<br>
Garaa maa fulaRaano haar devta (2) mer karo no mahaaraaj ji<p>

He ravat ranshee ni (2) vinnati re swaami tamane sundaaraa<br>
Vardam kar jo sai devtaa (2) mer karo no mahaaraaj ji
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>


<a name="#Gaaeeye"><font color="red" size="3"><b>Gaa ee ye ganapati jagavandan</b></font><p>
<font size="2.5">
Gaa ee ye ganapati jagavandan,<br>
Shankar suvan bhavaani nandan<br>
Siddhi sadan gajavadan vinaayak,<br>
Krupaa sindhu sundar sabbhlayak<br>
Modak priya-mrudu mangal daata,<br>
Viddha varidhi buddhi vidhaataa<br>
Maangat tulsidaas kar jhore,<br>
Basahiin raam siya maanas more
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#Pratham"><font color="red" size="3"><b>Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi</b></font><p>
<font size="2.5">
Pratham samaru ganapati devaa, viddhaan lejo maaraa kaapi<br>
Bije samaru shaarada maataa, vaani nirmaR aapi (2)<br>
Trije samaru sataguru devaa, paavan kidhaa paapi (2)<br>
Chhothe samaru maata pitaane, sad-buddhi saari aapi (2)<br>
Pancham punnit parmeshvar ne, maanav padvi aapi (2)<br>
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Hanumaan Bhajans</font><p>
<a name="#Hanumaan"><font color="red" size="3"><b>Hanumaan Chalisa</b></font><p>
<font size="2.5">







<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#Mangala"><font color="red" size="3"><b>Mangala Murati Maaruta Nandana</b></font><p>
<font size="2.5">
Mangala murati maaruta nandana, sakala amangala muula nikandan<br>
Pavana tanaya santana hita kaari, hraday biraajata avadha vihaari<br>
Maat pitaa guru ganapati saarad, shivaa sameTa shambhu shuka naarada<br>
Charana kamala bandhaavu sab kaahu, dehu rama pada nehu nibhaahu<br>
Jai jai jai hanuman gosai, krupa karo guru dev ki nayi<br>
Andhavu raama lakhana vaidehi, yaha tulsike param senehi
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#chalehanu"><font color="red" size="3"><b>Chale hanuman yaha aaye</b></font><p>
<font size="2.5">
Chale hanumana yaha aaye, shree raamji dhoona machaaye(2)<br>
Dhoona machaayi aise dhoona machaayi(2)<p>

Sita raama naama dhoona aisi machaaiye(2)<br>
Sunakara aaye raghurai, shree raamji dhoona machaaye..Chale<p>

Bhakta janon ka ghara paavana karva(2)<br>
Aavo aavo ne raghurai, shree raamji dhoon machaaye..Chale<p>

Gangaji aaye jamunaaji aaye(2)<br>
Triveni sangama laaye, shree raamji dhoona machaaye..Chale<p>

Daas jano ki ehi vinanti(2)<br>
Charana kamala balihaari, shree raamji dhoona machaaye..Chale
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Raam Bhajans</font><p>
<a name="#shriraam"><font color="red" size="3"><b>Shri raamchandra kripaalu</b></font><p>
<font size="2.5">
Shri raamchandra kripaalu bhajuman haran bhavbhaya daarunam<br>
Navakanja lochan kanjamukh karkanj pada-kan-jaarunam<p>

Kandarpa aganit amit chhabi navanil niraj sundaram<br>
Patpit maanahun tadit ruchhi-suchhi navnii janaka sutaavaram<p>

Sir mukut kundal tilak chhaaru udaar ang vibbhushanam<br>
Aajaanubbhuj sharachhaa-padhar sangraam-jit khar-dushanam<p>

Bhaja din-bandhu dinesh, daanav daitya-vansha nikandanam<br>
Raghunand aanand kand, koshala-chand dasharath nandanam<p>

Iti vadati tulsidaas, shankar shesh muniman ranjanam<br>
Mam hradaya-kanj nivaas kuru, kaamaadi khaldal ganjanam<p>
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Thaar</font><p>
<a name="#jamavaa"><font color="red" size="3"><b>Jamavaa aavone nandalaala re</b></font><p>
<font size="2.5">
Jamavaa aavone nandalaala re, maari premani thaari<br>
Me to maare haathe banaavi, praan jeevan tam kaaja re-mari..<p>

Bhaat re bhaatanaa meva mithaayi, vidh vidhana pakvaan re-mari..<br>
Jaari bhari me to jaR jamanaa ni, aachman karone maharaj re-mari..<br>
Laving sopaarine panana bidla, mukhvaas karone maharaj re-mari..<br>
Maadhavadaas na swaami shaamaRiyaa, charan kamal balihaari re-mari..
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#tamebhojan"><font color="red" size="3"><b>Tame bhojan karavaa aavone preme paronaa</b></font><p>
<font size="2.5">Tame bhojan karavaa aavone preme paronaa, saathe baraa bari layee aavone nanda salunaa<p>

Vaalaa me to rasoi banaavi sarve taaji, ema vidur gharani bhaaji re-preme..<br>
Vaalaa me to siro re shekiyo chaano maano, ema khichado karmaano re-preme..<br>
Vaalaa maraa adiya tadiya ne tindora, eva savri bai na bora re-preme..<br>
Vaalaa hu to jar re jamunaa nu bhari lavi jari, tame aachman karone vanmaari re-preme..<br>
Vaalaa hu to panana birlaa laaviu vaari, tame mukhvaas karone moraari re-preme..<br>
Vaalaa maaraa laving sopaari ne elachhi, tame aarogo vanmaari re-preme..<br>
Vaalaa maaraa narsi mehata swaami shaamariyo, mane tari ler laagi re-preme..
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Aarati</font><p>
<a name="#aanandmangal"><font color="red" size="3"><b>Aanand mangal karu aarati</b></font><p>
<font size="2.5">Aanand mangal karu aarati, hari guru santan ki sevaa<br>
Prem dhari mandir padharaavu, sundar sukhadaa levaa<p>

Ratna sinhaasan aap biraajo, devaa dhi cho devaa<br>
Maare aangane tulsi no kiyaaro, shaaligraamani sevaa<br>
Adasat tirath guruji ne charane, gangaa jamanaa revaa<br>
Kahe pritam ene orakhe indhaane, hari naa jan hari jevaa
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#omjayajagadiisha"><font color="red" size="3"><b>Om jaya jagadiisha hare</b></font><p>
<font size="2.5">
Om jaya jagadiisha hare,  svaamii jaya jagadiisha hare<br>
Bhakta janon ke sankat,  kshana men duur kare<p>

Jo dhyaave phala paave,  dukh binase mana kaa<br>
Sukha sampati ghara aave,  kashta mite tana kaa<p>

Maata pitaa tuma mere,  sharana gahuun main kisakii<br>
Tuma bina aura na duujaa,  aasa karuun main jisakii<p>

Tuma puurana paramaatmaa,  tuma antayaarmii<br>
Paarabrahma parameshvara,  tuma saba ke svaamii<p>

Tuma karunaa ke saagar,  tuma paalanakartaa<br>
Main sevaka tuma svaamii,  kripaa karo bhartaa<p>

Tuma ho eka agochara,  sabake praanapati<br>
Kisa vidhi miluun dayaamaya,  tumako main kumati<p>

Diinabandhu dukhahartaa,  tuma rakshaka mere<br>
Karunaa hasta badhaao,  dvaara padaa tere<p>

Vishaya vikaar mitaao,  paapa haro devaa<br>
Shraddhaa bhakti badhaao,  santana kii sevaa
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>


<font color="#000fff" size="4">Kapoor Aarati</font><p>
<a name="#kapoor"><font color="red" size="3"><b>Kapoor gauram karunaa vataaram</b></font><p>
<font size="2.5">
Kapoor gauram karunaa vataaram, sansaar saaram bhujagendra haaram<br>
Sadaa vasantam hradayaa ravindre, bhavam bhavaani sahitam namaami<p>

Mangalam bhagavaan vishnu, mangalam garuud devaj<br>
Mangalam pudrikaasho, mangalaa-yaatano hari<br>
Sarve mangalam mangalye, shive sarvaarth saadhike<br>
Sharanye gyambake gauri, narayan namostute (3)<p>

Tvameva maataa chh pitaa tvameva<br>
Tvameva bandhushva sakhaa tvameva<br>
Tvameva viddhaa dravinam tvameva<br>
Tvameva sarvam mam deva deva
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Abh Sop Diyaa</font><p>
<a name="#abhsopdiyaa"><font color="red" size="3"><b>Abh sop diyaa is jivan kaa</b></font><p>
<font size="2.5">
Abh sop diyaa is jivan kaa, sab bhaar tumhaare haatho mein(2)<br>
He jeet tumhaare haatho mein, aur haar tumhaare haatho mein(2)<br>
Meraa nischay bas ek yahi, ik baar tumhe paa jaavun me(2)<br>
Arpan kar du duniyaa bhar kaa, sab pyaar tumhaare haatho mein(2)<br>
Jo jagme rahu to aise rahu, jyo jal me kamal kaa phool rahe(2)<br>
Mere-sab gun dosh samarpit ho, kartar tumhaare haatho mein(2)<br>
Yadi maanav kaa mujhe janma mile, to tav charonka pujaari banu(2)<br>
Is pujak ki ik ik rag kaa, ho taar tumhaare haathoo mein(2)<br>
Jab jab sansaar kaa kaidi banu, Nishkaam bhaav se karma karu(2)<br>
Phir ant samaye me praan taju, Niraakar tumhaare hathoo mein, saakaar tumhaare haatho me<br>
Mujme tujme bas bhed yahi, me nar hu tum naaraayan ho(2)<br>
Me hu sansaar ke haathoo mein, sansaar tumhaare haathoo mein(2)<br>
Abh sop diyaa is jivan ka, sab bhaar tumhaare haatho mein(2)
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<font color="#000fff" size="4">Bhajans, Geets and Dhuns</font><p>
<a name="#bhakti"><font color="red" size="3"><b>Bhakti karata chute mara prana</b></font><p>
<font size="2.5">
Bhakti karata chute mara prana,	prabhuji evu maangu re..(2)<br>
Rahe janamo janama taro saath, prabhuji evu maangu re<p>

Taru mukhdu manohara joya karu, raat divese bhajana taru gaya karu<br>
Swaase swaase ratu taru naama, prabhuji evu maangu re<p>

Mari aasha niraasha karasho nahi, mara avaguna haaya ma dharsho nahi<br>
Rahe aanta samaya taru dhyaana, prabhuji evu maangu re<p>

Mara tapne paapa samavi lejo, tara bara ne daas banavi lejo<br>
Dejo aavine darshan na daan, prabhuji evu maangu re<p>

Mara antarni aarje urma dhari, dai darshan pavan karjo hari<br>
Amne utaarjo bhava para, prabhuji evu maangu re
<p><br>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#mukunda"><font color="red" size="3"><b>Mukunda maadhava govinda bola</b></font><p>
<font size="2.5">
Mukunda maadhava govinda bola, keshav maadhav hari hari bola..(2)<br>
Bola hari bola bola hari bola, mukunda maadhava govinda bola<p>

Krishna krishna bola, krishna krishna bola<br>
Raama raama bola, raama raama bola..mukunda maadhava..<p>

Shiva shiva bola, shiva shiva bola<br>
Narayana bola, narayana bola..mukunda maadhava..<p>

Sitaa raama bola, sitaa raama bola<br>
Raadhe shyaama bola, raadhe shyaam bol..mukunda maadhava..
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#tumhiho"><font color="red" size="3"><b>Tumhi ho maata pitaa tumhi ho</b></font><p>
<font size="2.5">

Tumhi ho maata pitaa tumhi ho, tumhi ho bandhu sakhaa tumhi ho(2)<p>

Tumhi ho saathi tumhi sahaare, koi naa apna sivaa tumhaare,<br>
Tumhi ho naiyaa, tumhi khivaiyaa, tumhi ho bandhu sakhaa tumhi ho..Tumhi..<p>

Jo khil sake naa vo fula hama hay, tumhaare charano ki dhula hum hay<br>
Dayaa ki dhrashthi sadaa hi rakhanaaa, tumhi ho bandhu sakha tumhi ho..Tumhi..
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#tariekek"><font color="red" size="3"><b>Tari ek ek par jaaye lakhni</b></font><p>
<font size="2.5">

Tari ek ek par jaaye lakhni, tu to maaaa le japile raadhe shyaam ni(2)<p>

Khaali avyaa khaali jaaso(2) saathe su lavyaa lai jaso(2)<br>
Jivana dhanye re banaavo bhakti bhaavthi tu to maaraa le<p>

Jhuthaa jag naa jhutthaa khel(2) manva maaru taaru mel<br>
Tu to choddi de ne chintaa akhaa gaamni	tu to maaRaa le<p>

Vahallaa shri nathji bhagwanaa(2) maaraa chitadaana chora<br>
Me to chabbi re ditthi che shri naathni	tu to maaraa le<p>

Bhakti khaanda kheri dara(2) tethi uttarsho bhav para(2)<br>
Je ni laagi re lagan bhagvaan maa, te to sukhe thi jaye che vaikuth dhaamama<p>
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#heysitaaraam"><font color="red" size="3"><b>Hey sitaaraam tanaa satsangmaa</b></font><p>
<font size="2.5">

Hey sitaaraam tanaa satsangamaa, raadhe shyaam tanaa tu rangamaa (2)<br>
Tu rangaai jaa ne rangamaa (2)<p>

Aaje bhajasu kaale bhajasu, bhajasu sitaaraam, kyaare bhajasu hari nu naam (2)<br>
Swaas khutase, naadi tutase(2)<br>
Praan nahi rahe tan maa, tu rangaai jaa ne rangamaa (2)<p>

Jiv janto, jaaju jiv su, maaru che aa tamaam, pehelaa amar kori lava naam (2)<br>
Tedu aavse jamanu jiyaare (2)<br>
Jaavu padase sang maa, tu rangaai jaa ne rangama (2)<p>

Gadpan avase tyaare bhajasu, pehelaa gharanaa kaam, pache farsu tirath dhaam (2)<br>
Aatam ek din udi jaase (2) (taaru)<br>
Taaru sharir rese palangamaa, tu rangaai jaa ne rangamaa (2)<p>

Batris jaatnaa bhojan jam tu, bheri karine, bhaag emaa kyaathi saambhare raam (2)<br>
Prabhu padyo che kyaa rastaamaa (2)<br>
Sau jan kahetaa vyangmaa, tu rangai jaa ne rangamaa (2)
<hr>
<a href="#top">Back to top</a>
<hr>

<a name="#haribola"><font color="red" size="3"><b>Hari bola, hari bola, hari hari bola</b></font><p>
<font size="2.5">

Hari bola, hari bola, hari hari bola, mukunda maadhava keshava bola (2)<br>
Hare krishna, hare krishna, hare krishna bola, hare raama, hare raama hare raama bola (2)<br>
Raadhe shyaama, raadhe shyaama, raadhe shyaama bola, sitaaraama, sitaaraama, sitaaraama bol<br>
Sacchidanada, sacchidanada, sacchidanada bola, naaraayan, naaraayan, naaraayan bola (2) hari bol<br>

<hr>
<a href="#top">Back to top</a>
<hr>
<a name="#raghupati"><font color="red" size="3"><b>Raghupati raaghava raaja raam</b></font><p>
<font size="2.5">

Raghupati raaghava raaja raam, patita paavana sitaa raam (2)<br>
Sitaaraama, sitaaraama, bhaja pyaare tu sitaaraama (2)raghupati<br>
Ishwar allaah tere naam sabha ko sanmati de bhagawaan (2)raghupati<br>
Bhajale, bhajale, sitaaraam, mangala murati sundar shyaam (2)raghupati
<hr>
<a href="#top">Back to top</a>
<hr>

</font><dl><dd>




















	</p>






</font>

    </td></tr>
    </table>
   </td>

   <td valign="top" width="200" align="center">
    <%= render 'shared/right' %>
   </td>
   </tr>
   </table>
</center>
</td>
</tr>

<tr>
<td bgcolor="black">
<center><script language=javascript src="http://www.sspgm.net/bottom.js"></script></center>
</td></tr>
</table>

</center>
