<center>

<table width="600" border="0" cellpadding="0" cellspacing="0">

<tr>
<td colspan="2">
	<table width="600" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td width="50%" bgcolor="red">
        <div align="right">


        </font>
        </div>
	</td>
	<td width="50%" bgcolor="red">
	</div>
	</td>
	</tr>
	</table>
</td>
</tr>



<tr>
<td valign="top" bgcolor="black">
<center>
   <table width="100%" cellpadding="2" cellspacing="2" border="0">
   <tr>
   <td valign="top" width="400" bgcolor="#003366">


    <table width="100%" bgcolor="red" border="0" cellpadding="4" cellspacing="0">


    <tr><td bgcolor="black">
	<font face="arial" size="2" color="white">
    <br>


	<h3><center><font color="red">Welcome to the Atlanta Chapter</font> </center></h3>
<center>


          <%= image_tag 'welcome_3.jpg', width: "130", height: "165" %><p>
         </center>

	<p><center><h5><font color="#66CCFF">Jai, ShreeBai Mataji.</font><h5></center><br><br>

Hello and welcome, everyone!!!!<br><br><font color="white" size="1.5">
I want to express my overwhelming gratitude to the committee members and to all our members here in Atlanta, for all the support and faith in me. We are a unique community here in Atlanta, Georgia. There are approx. 20 family memberships and yet we have managed to preserve our culture and traditions consistently over the years. Also, small as we are, we have managed to achieve so much in so little time, mainly due to the trust and faith in the current committee by all our members.<br><br>

The past year has been a challenge in every way, however, we overcame those obstacles and have got tremendous results to show for that!  We had a successful fund raiser and prayers for the earthquake victims in India and managed to raise $3000 dollars, thereby providing housing facilities for a family in India. We all had a 'blast' on the boat party at Lake Lanier. Also, we had prayers and another fund- raiser for the World Trade Center tragedy in New York City. For Diwali, all the kids put on an excellent show, let's not forget the memorable play about 'Arranged Marriages' set in two parts, the first, a cradle marriage set in the 1920's 'Kumbharvado' in India and the second Act, set in the swinging, hippyish 70's in U.K.  There was a lot of hard work involved but it was fun and the enthusiasm and the participation of all the children makes it well worthwhile. I have personally had a lot of fun and really got to know this "future" generation by working with them on the play. We capped the year by publishing
the first ever USA/Canada directory.  The response for this has been tremendous from all our members in Canada and the U.SA.<br><br>

This year, we have already achieved our goal of launching the first official web-site for our members worldwide. A lot of hard work and planning has gone into this project and we, the SSPGM members in Atlanta, Georgia have to commend ourselves for taking this pioneering step, and for achieving our objective. Dhiru and I, are also working on the update for the USA/Canada directory. We have already had a great 'Valentine's Day' party and had a breakfast picnic at Stone Mountain, with hot 'Jalebis', ' Gathia' and tea. We played with the colors for 'Holi' at the park and had the Easter egg hunt, for the kids, watch out for the pictures on the website!!!!<br><br>

I would also like to take this opportunity to thank the ladies volunteers team and also would like to welcome Krishna Dhokia as the Youth Representative, his hard work and enthusiasm is exemplary of the youth of our community, here in Atlanta, Georgia.<br><br>

So.... this year is already off at a tremendous start and it can only get better....Who knows maybe by next year, we can start planning the first USA/Canada Sameylan.<br><br>

</font>

Sincerely,<br><br>

Shila Dhiru Pankhania<br>
President, <br>
Shree Sorathia Prajapati Mandal,<br>
Atlanta, Georgia <br>
USA<br>


	<br><br>

</dl>
</p>




</font>

    </td></tr>
    </table>
   </td>

   <td valign="top" width="200" align="center">
    <%= render 'shared/right' %>
   </td>
   </tr>
   </table>
</center>
</td>
</tr>
</table>
