<center><h1><font color="#CC3333">
Welcome to SSPGM.net
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>
<center><%= image_tag 'dhiru_shila.jpg' %></center>
<p>
Jai, ShreeBai Mataji.<p>

On behalf of Shree Sorathia Prajapati Gnati Mandal, Atlanta, Georgia, U.S.A, Dhiru and I are proud to
launch the First Global Shree Sorathia Prajapati Gnati Mandal Web-Site ever!<p>

It has been my goal to firstly print the USA/Canada directory and secondly to set up a web-site for
the SSPGM members worldwide. We achieved the first goal last year by distributing the first ever
USA/Canada directory and the response has been terrific on this. We are set to achieve the
second goal by launching the first ever SSPGM web-site, in March 2002.<p>

A project of this magnitude required three key components to make it possible. Firstly, Vision:
The ability to visualize the total product, the content, presentation and the research required to
make this possible. Secondly, the Data to be collated and reference checked to make this
possible, Thirdly, the Technical, know-how to put this all together and to create the Web-Site.<p>

Dhiru and I were able to provide the first element of this puzzle, we have been visualizing,
planning and collating information for such a web-site for about a year. It would link our chapters
all over the world and provide a "time capsule" of our heritage for the future generations and
connect our businesses and other common interests worldwide.<p>


My father, Mohanlal Virjibhai Fatania has been invaluable in providing us with the second element.
The hard work of spending countless hours of translating the data from "Sant Sarita" published by
Shree Sorathia Prajapati Gnati Mandal in Nakuru, Kenya to celebrate their 7th Amrit Mahatsav in
1970, without which none of these would have been possible. Also, his knowledge and life
experiences especially with the Shree Sorathia Prajapati Gnati Mandals worldwide have added a
depth and historical value to this venture. His faith in the project and his advice is priceless. Quite
simply put without data, there would be no web-site and none of this would have been possible,
without his help and support.<p>

Finally, the third key element, the technical ability, the dedication, hard work and enthusiasm of my
talented nephew Krishna Virji Dhokia to design the web-site. He has patiently listened to our
requirements and vision, he has implemented them with a unique style and a fresh, youthful
approach.<p>

Together, we have tried to establish more than just a social web page; What we have attempted
to do here, is to leave a lasting legacy of our rich heritage and culture. Also, our roots and unique
values that set us apart from the rest of the world, for the benefit of future generations.<p>

As I was growing up in UK, I had endless questions for my parents regarding our traditions and
rituals.  These questions were either answered philosophically by my dad or with exasperation
by my mom, who would usually respond " because we have always done it this way!" or "go ask
your dad!" This curiosity of mine, continued into my adult life and after marriage, I would
continuously bombard my 'Sasuma', my dearest mother-in-law, Nathiben Zinabhai Pankhania,
about the various rituals, customs and so on…she would calmly explain the reasons and I would
often write down these responses for future reference.<p>

Sometimes I would be satisfied and other times my frustrations would multiply. My unquenchable
thirst for our origins, our ancestry, our rituals and customs finally gave birth to the inception of
this web-site. This web-site is a tribute to all our elders around the world, for all their sacrifices
and their brave ventures into the new worlds, for all their trials and tribulations and for their ability
to continue with our age-old traditions and values. My heartfelt gratitude and sincere respects
are with them all.<p>

I guess what we are trying to do here is to try and put down what we know about these
traditions and rituals before they are forgotten and also, so that we are better prepared to
answer our children. There is so much to lose and so much knowledge will be gone forever, if we
don't take this step now to preserve our timeless, rich heritage.  It can only get better and
concise with input from our members. It will be an ongoing community project and can only get
more successful by the input and recommendations from each and every member. We all have our
own stories and legacies, and it would be wonderful to share those with our fellow members.<p>

Given the limited resources, we have tried to do the best we can, if there are any members who
have more information relevant to the goals for this web-site, we strongly urge you to contact us
via e-mail, so that we can implement this as soon as possible.  This will be an on-going project
and we encourage input from each and every individual that visits the site. We are very excited
about this venture which is going to take us into the new technological millennium, and hope that
you all share our enthusiasm.<p>

Lastly, I would like to thank all the individuals who have encouraged and supported me, so
enthusiastically and for having the faith and confidence in me during all these ventures. I would,
personally like to thank the committee and each and every SSPGM members here in Atlanta, who
have encouraged and supported me in these endeavors and for believing in me and making all
this possible. Especially, my husband Dhiru Zina Pankhania for his patience and encouragement
and undying support for all my ventures.<p>

Sincerely, <br>
Shila Dhiru Zina Pankhania<br>
485 Brightmore Downs<br>
Alpharetta, Atlanta, Georgia USA<br>

</td>
</tr>
</table>
</center>
