<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhagat Shree Virji Bhagat
</font></h3></center><p>

<center>
  <%= image_tag 'bhagatvirji.jpg', height: "200", width: "125" %>
</center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

There is a small village called Mekhatimbi near the city of Upueta in Saurashtra.  There lived  one Prajapati
Kumbhar named Arjanbhai Chohan.  He had 3 sons and 4 daughters.  Out of them, a middle son named
Virjibhai, was born in the year of 1926 and later, he became well-known as "Virji Bhagat".  Virji Bhagat
got his religious education from his father, because he was also a devotee of the lord.<p>

According to utmosphere of the family and more members, Virgi Bhagat do bhajan Kiratan and dhoon at
home since he was a little boy.  When he was young, he got married, left India for Kenya earlier, and
settled in Nairobi City.  Later, he called his wife to Nairobi.  In Nairobi, he put some diety pictures of
"Randalmaa"(means one of the godesses), and Ramdevji Maharaj in a Home Temple. He was a true Bhagat
- worshipped Randalmaa and used to go when anyone (koi mataaji tede tiya) - (ghodo khundwa)<p>

He daily did bhajan and kirtan, which attracted many people of Nairobi for Darsan at his home temple.<p>

Thus, he became famous in Nairobi as "Virji Bhagat".  Many people came at his home for vow.
People used to get a peace of mind.  After getting blessing from Bhagat.<p>

Virji Bhagat passed away in Nairobi, Kenya on January 30th 1970.  His followers as well as the people
expressed sorrow by eharing this sad news.<p>

After the death of Virji Bhagat, the home remple was maintained by his wife and family members.  As did
before by Virji Bhagat.<p>

His Wife (Manimaa) is still alive and living in Houslow with Natubhai Tapubhai Chohan<p>

All glories to Virji Bhagat<p>

Bhagvan and Bhagat Ni Jay

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
