<html>
<head>

<title>
Prajapati Sant Shree Mepa Bhagat
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Sant Shree Mepa Bhagat
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

Mepa Bhagat lived in Gujarat.  He was a potter.  Whether he is making clay pots or crushing the clay he 
always sang bhajans of the lord.  Hearing his famous name, saints and Sadhus came to his home and stay 
there and do bhajans.  The royal man of town Meldi near there was building a new town.  He wanted new 
tiles for all the new homes.  The royal man of Meldi came and he invited Mepa Bhagat and other potters 
to make tiles.  It was the season of monsoon and clouds appeared in the sky and began to rain.  All potters 
covered their tiles and Mepa Bhagat just stood there staring at the sky.  This time an old man of the town 
named Apo Rato passed nearby.  He was an atheist; he did not believe in god.  He told Mepa Bhagat that 
all the other potters have covered their tiles but you have not.  Call your Bhagvan to put shelter on the 
tiles to protect them.  Hearing this Mepa Bhagat took out his little cloth from his shoulder and covered 
the heap of tiles.  Heavy rain started to pour and all the tiles belonging to the others got washed away 
in the rain, but there were not a single drop that touched his tiles.  Apo Rato was surprised to see this 
and bowed his head down to the feet of Mepa Bhagat.  He also became a disciple and accepted him as 
his spiritual master.<p>

Apo Rato had a son-in-law called Jadaro.  He was a major thief who robbed the people.  Apo Rato showed 
him some miracles and he too became a disciple of Mepa Bhagat.  In the neighborhood of Jadaro, a five-year-
old son of a koli community died.  Jadaro told this to Mepa Bhagat.  Mepa Bhagat told him that it is only 
possible to revive him if anybody gives his son of the same age in return.  The people carrying the body 
of the koli son passed beside Mepa Bhagat and he told them to stop there.  They lowered the boy and 
Mepa Bhagat put his hand on the body and told Jadaro's son to whisper in the koli boy's ear that "You are 
my brother and I would live to die for you and you be alive".  As soon as he said these words he died and 
the Koli boy awoke and stood up.  By this incidence Mepa Bhagat's prestige was increased, and he became 
famous.  The district commissioner made him free from his government taxes. Some people could not bear 
this and reported him to the royal man of Lakhatar, who punished Mepa Bhagat to sit in the hot sunlight.  
The town people told this to Jadaro.  Jadaro went to see Mepa Bhagat and said angrily "Bapu, the person 
who has punished you must bear all this pain".  Having said these words the Royal man of Lakhatar started 
to feel the same pain as Mepa Bhagat.  Nearby there was also a Banyan tree and Jadaro told it "Don't you 
burn by seeing the harm on Mepa Bhagat?"  The Banyan tree burned down upon hearing this.  Mepa Bhagat 
became very unhappy and asked Jadaro to forgive royal man else there will be a lot of trouble.<p>

Meanwhile, Lakhatar royal man came there with his man and gave obeisance to Mepa Bhagat and said "Bapu, 
please forgive us" Mepa Bhagat asked Jadaro to forgive him, because you can see how much he is suffering. 
Just obey me and forgive.  Jadaro accepted the order from guru and gave him forgiveness and then 
immediately the body of the royal man cooled down in the few minutes and the Banyan tree got green as 
before.  Royal man told Mepa Bhagat it was his mistake and to please forgive him again and as of today 
you are free from Vethnovaro.<p>

Such was devotional service of Mepa Bhagat<p>

Say Jai Ho Mepa Bhagat.

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


