<h1 class="page-header">Prajapati Bhagat Shree Chindal Bhagat</h1>

<p>
  Translated in English by Mohanlal Virjibhai Fatania<br />
  From "Sant Sarita", published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya
</p>

<p>
  Chindal Bhagat resided in a small village near Bhavnagar, about 400 years ago.  He was a potter, made
  clayware and supported his livelihood this way, in hardship.  God does not give wealth to his devotee so
  he/she can worship god and do bhajan/kirtan.  This is nature's law as well.  It is well known that whenever
  and wherever god gave darshan, his devotee was mostly poor.  Only in rare cases were prabhu darshan
  given to the rich.  In this way Chindal Bhagat did bhajan kirtan and devoted his time to god consciousness.
  He had such a high performance of honoring and receiving guests that most of the sadhu's passing through
  his town came to his house.
</p>

<p>
  One day the king of Bhavnagar, Pipaji and his wife, Sitabai, who had given up his throne and on a pilgrimage,
  came to Chindal Bhagat's village.  It was evening time and started to look for a home of a Prajapati where
  they can find all their conveniences such as new clay utensils, clean fresh water to cook, etc.  The home of
  Prajapati means travelers lodge.  With such ease of mind they arrived at Chindal Bhagat's house.  Bhagat
  welcomed them with great love and hospitality.  He gave them bedding in open ground and after receiving
  the guests, Bhagat went inside the house and told his wife that there are two guests sitting outside and
  we need to feed them prasadam.  Bhagat's wife replied "Oh Bhagat, there is no grain or flour, so go and buy
  some so that we can feed them, and we can pride ourselves" Such was the happy disposition of Bhagat's
  wife towards Sadhus and guests.  Bhagat said "We don't have money and if we fail, the guests will remain
  hungry, and that would be a poor reflection of our hospitality" Chindal Bhagat looked at her and reflectively
  looked at the clothes she was wearing.  Bhagat said "Bhaktani, if you give me you clothes, I can get some
  food supplies, in exchange" Chindal Bhagat took her clothes and went to the shopkeeper, and gave the
  clothes as a bond for the food supplies.  He came home and asked his wife to cook, and started bhajan
  with the guests on the other side.  Inside the house the Bhagat's wife was wearing torn and tattered
  clothes and began cooking.  A short while later "Bhagat, prasadam is ready, call the guests to honor it"
  Chindal Bhagat thought if my wife will serve prasadam in this condition then I will lose my reputation.  So
  Bhagat came inside and told his wife "Bhaktani, we have no other alternative but to leave the prasadam
  for me to serve and you hide in that big jar of grain.
</p>

<p>
  So in such a way his wife, took instructions from her husband and for the sake of honoring the guests, she
  hid her half-naked body inside the jar.  Chindal Bhagat called the guests to come in and eat prasadam.  Both
  the guest sat down and Bhakta Pipaji told Bhagat Chindal to take prasadam with them together with his
  wife.  Bhagat replied that Bhaktani has gone out so you two go ahead and honor the prasadi.  Bhakta Pipaji
  thought that Bhaktani was inside preparing the food and had not seen her going out and thinking that
  Bhakta Pipaji insisted that Bhagat if you do not eat with us we will not eat as well.  We will only all eat
  together, but not by ourselves.  Chindal Bhagat got worried and thought that if I do not tell them the truth,
  then sooner or later it will reveal itself.  So he told Pipaji the circumstances and what course he had to take
  to provide hospitality and to maintain the honor of his guests.
</p>

<p>
  Pipaji told Chindal Bhagat that you are so kind to do this kind of services to honor the guest, and upon
  hearing the story they had tear in their eyes.  Both of them said "Oh dear, did they do this much for us?"
  Pipaji asked his wife to give her sari and he threw the sari in the jar and told Bhagat's wife to come out.
  Bhaktani wrapped the sari and came out and they all ate together.  Everyone seemed very happy.  By
  looking at this type of situation, Pipaji's heart softened and he thought he had to find a way to get some
  money for Bhagat Chindal.  He told his wife that I have the Mridanga and you have the rattle so we will
  forget about our prestige and pride and we will chant and dance on the roadway and whatever money
  we collect will give it to Chindal Bhagat.  So in such a way both the guests, who came to Chindal Bhagats
  house for one night, sang and danced from one village to another and one town to another.
</p>

<p>
  They continued in this way until they collected enough money for 12 years of expenses and handed this
  amount to Chindal Bhagat.  Chindal Bhagat refused to accept it, but after a long debate, he agreed.
</p>

<p>
  Such was Chindal Bhagats hospitality to honor the guests he had to bond his wife's clothing in exchange
  for some cooking supplies, and, in order to preserve their honor, he had to hide his partially-clothed wife in
  a jar.
</p>

<p>
  Bhagvan and Bhakta Chindal Bhagat ki Jai.
</p>
