<%= render 'shared/new_styles' %>

<h1>Kurdevi</h1>

<p>
  "Kurdevi" or "Kuldevi" is translated to mean "family deity". It can be broken up and translated literally:
  <ul>
    <li>"Kur/Kul": family/clan (i.e. last name)</li>
    <li>"Devi": the assigned guardian, deity, or "Mataji" </li>
  </ul>
</p>

<p>Devi/Mataji is the manifestation of Parvati, consort of Shiva. Parvati is worshipped as one with many forms and names. Her form or incarnation depends on the circumstances and her mood. She is worshipped for being the personification of eternal peace.</p>

<p>Nived, which consists of a diya lighting and offering of special prashad (including kheer, coconut...etc), is performed on special occasions and varies from clan to clan. This ritual is performed to ensure safety and well-being of the family. Note that some in the Shreebai Sorathia Prajapati Mandal do not worship Kurdevi.</p>

<div class="mb-2">Different clans worship different matajis. See the image below, presented by Devki Hitesh Ladwa, United Kingdom</div>
<%= link_to image_tag('kurdevi.png', class: "img-fluid mb-5"), image_path('kurdevi.png') %>

<p>
  Additional sources:
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Kuladevata">https://en.wikipedia.org/wiki/Kuladevata</a></li>  
  </ul>
</p>

If you would like to add or edit any information, please email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a>
