<h1 class="page-header">Prajapati Bhakta Shree Ramji Bhagat</h1>

Translated in English by Mohanlal Virjibhai Fatania<br />
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>


At the West End of Saurashtra, there is a holy city of Dwarka, where there is a well-known temple of
Ranchod Rai. Ramji Bhagat was living in the city of Dwarka, and he was a Prajapati.  He worked in Public
Works Department, and his daily route to work passed by the Temple of Ranchod Rai, so he regularly
attended the temple, and performed Darshan of Ranchod Rai.  He sat, everyday in the temple corridor,
and sang bhajans.<p>

For many years, this continued.  As he approached old age and retired, he passed his whole day by chanting
Ram-Nam, and Bhajan Kirtan.  One day, in the evening, when arti was finished, many people came out of the
temple, and they heard the Ram Dhun "Shree Ram, Jai Ram, Jai Jai Ram".  Everybody looked around and
recognized that this was the voice of Ramji Bhagat, but nobody could see him.  At last, by searching, they
saw that Ramji Bhagat was sitting at the top, board of the base of the flagpost and doing bhajans.
Everybody was surprised to see Ramji Bhagat sing the bhajans.  Somebody said, "Hey, Ramji Bhagat, come
down, otherwise you'll fall down!"  But he was so absorbed in the bhajans that the people had no choice,
but to send one person up to him, and request Ramji Bhagat to come down.  But Ramji Bhagat said, "No, I
can't come down until the flag is changed and give prashadam to the Chorasi, Brahmins community, and
only then will I come down."<p>

The person who normally changed the flag came down and told what was conveyed by Ramji Bhagat to the
people. In the group of people there was a rich man and he had affiliation towards Ramji Bhagat. So he told
him to come down and said, " Bhagat came down, I will change the flag and give prashadi to Brahmin". Ramji
Bhagat came down, and followed through with his promise to change the flag and fed the Brahmins. Every
two weeks Ramji Bhagat repeated the singing of the Bhajan on the flagpost. The people were surprised
and asked themselves, why Ramji Bhagat goes up there and does Bhajan, Is he doing it by himself or by
will/wish of God?" Or is plot of the Chorasi community of the Brahmins? So people became suspicious
and tried to expose Ramji Bhagat and basically make living difficult for him. They started talking to each
other, later the story goes to the British resident Sir Scott. He started laughing at the 'non-believers' and
the superstitious public. One day he will catch Ramji Bhagat and the reason for sitting on the Flag-Post
and doing bhajans there. Then he strategically placed a detective behind Ramji Bhagat to know that what
he is doing during the daytime. At the night Ramji Bhagat was doing bhajans at his home. Sir Scott arrived
there and arrested Ramji Bhagat, and took him away about 15 miles from Dwarka. He was then escorted
and kept under the police custody, so that he would not escape.<p>

Sir Scott said "Bhagat you stay here and we are going to Dwarka, now if you sit up there in the temple and
do bhajans there too, than I will believe that God gives you instructions to sit there."<p>

Ramji Bhagat said "Whatever the God decides is acceptable to me. I have to do bhajans anywhere I sit." And
Ramji Bhagat started doing bhajans there.<p>

Sir Scott arrived in Dwarka, went to Ranchod Rai temple and looked up_ what he saw and heard was the
voice of Ramji Bhagat.<p>

Sir Scott looked upwards and he saw Ramji Bhagat sitting there and doing bhajans in Police custody in the
desert. He was extremely surprised that Ramji Bhagat is about 15 miles away and then how can he sit there
and do bhajans?<p>

Meanwhile, one of his police came there and said, "Sir, don't try to come between the Bhagat and the
Bhagwan." The Bhagat of Hindus can do according to his/her wishes, because they have full faith in God."
Sir Scott accepted this and he took off his hat from his head and asked for forgiveness from Ramji Bhagat
and he promised that he would never interfere with any religious activities.<p>

Ramji Bhagat was sitting up there, so the other person who raised the flag went there and asked Bhagat
to come down but this time Ramji Bhagat said, "I will come down only when the flag is changed 7 times
and Chorasi Brahmins are fed 7 times because my penance was hard. In Dwarka, there was a businessman
'Fatu Seth.' He had no children. He thought, I have a lot of money and no child so let me do a good religious
deed and share my wealth. Again he was a friend of Ramji Bhagat, so by keeping up with his friendship he
accepted Ramji Bhagat's requests. And he asked him to come down which Ramji Bhagat also accepted.
Later people celebrated this occasion for 7 days in Dwarka. Fatu Seth changed the flag 7 days and fed
the Chorasi Brahmin community for 7 days.<p>

Ramji Bhagat was satisfied and gave blessing to Fatu Seth and said, "You have fulfilled my wish." Ranchod
Rai will fulfill yours."<p>

After some time, Fatu Seth's wife gave birth to a son and he was named Dwarka Das. When Ramji Bhagat
passed away, Fatu Seth made a 'Samadhi' a memorial for Ramji Bhagat and he established a 'Ling' of Bhagwan
Shanker within the Samadhi.  And that is well known today as Rameshvar Bhagwan and it is situated at the
banks of the Holy River Gomti in Dwarka. This happened almost in  1893-1894. And is also recorded in the
history of Dwarka.<p>

Such was Prajapati Shree Ramji Bhagat who became a saint in Dwarka.
