<html>
<head>

<title>Welcome SSPGM.net - Profiles - Dhansukh Shivabhai Parmar
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Dhansukh Shivabhai Parmar
</font></h1></center>
<p>
<center>
<a href="http://www.sspgm.net/images/dparmar.JPG"><img src="http://www.sspgm.net/images/dparmar.JPG" height="150" width="125" border="0"></a><br>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Shri Dhansukh Shivabhai Parmar, who is the first Gujarati Prajapati 
Shakha Pramukh of Shivsena (Dharavi in all over India, Mr. Dhansukh 
is a very good Gnyati-Sevak of Mumbai City doing welfare  of Dharavi 
Kumbharwada (Asia's biggest slum). He is in charge of programs for our 
poor prajapati children who cannot buy medicine/injections for Hepatites 
B. Mr. Dhansukh arranges and gives them free medicine/injections etc. to 
the needy. Dhansukh Parmar Shakaha Pramukh also gives rations to our 
poor prajapati Bandhu free of cost and helps them in any field. Mr. 
Dhansukhbhai is a President of Akhil Bhartiya Prajapati MahaSangh 
(Mumbai Pradesh) head office of this organization is at New Delhi. 
With the help of said organization and Shivsena Party, Shri Dhansukh 
has become a very successful social worker of Mumbai and he is Executive 
of Prajapati welfare assn. and well-known to our Prajapati Caste.


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
