<html>
<head>

<title>
Prajapati Sant Shree Gora Bhagat
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Sant Shree Gora Bhagat
</font></h3></center><p>

<center><a href="http://www.sspgm.net/images/gora.jpg"><img src="http://www.sspgm.net/images/gora.jpg" height="200" width="125" border="0"></a></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">



Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

Gora Bhagat was born in Maharasta in 12th century. The name of his wife was Santubai. Both do clay and 
pottery work. When religion people or Saints come to their home, they worship Pandurang Prabhu chant 
and dance in front of deity.<p>

One day Santubai went to the river to get water while her child was praying on the ground. Gora Bhagat 
was crushing the clay and he was so absorbed in chanting with his eyes closed. That he could not even 
think for anything else except God. Santubai gave instructions to Gora Bharat to look after the child while 
she was away.<p>

Gora Bharat was crushing clay and chanting Hariram, meanwhile the child was crawling and got into the clay. 
Gora Bharat did not know what was happening by his feet. Slowly,  the  child crawled into the mud and Gora 
Bhagat stepping on him chanting Hariram. While the child was getting crushed under his feet.<p>


Santubai came back and saw the child already crushed under the feet of Gora Bhagat. She started to weep. 
Gora Bhagat stopped chanting and he immediately knew what has happened. Gora Bhagat said,' Dear Santu 
don't cry. The child was the property of the Lord and he has taken him back. One day everyone has to die. 
Where there is a death there is a birth. Everything in this world is perishable only Pandurang Prabhu is real 
truth'. Santubai ran to throw away the deity of Pandurang. Gora Bhagat tried to stop her, but Sandubai told 
him, 'For the sake of God that do not touch me! As from today our relationship as husband and wife is no 
longer'. In order to have a descendant Santubai   got her sister Rami to get married to Gora Bhagat. After 
having the marriage ceremony, his mother-in-law told Gorabharat,' that my dear son-in-law, I have one 
request to you and that is that you look after Rami and keep her as you related to Sandubai, if you don't 
do that Panduranga Prabhu will punish you. Believe this is an oath from Panduranga Prabhu'. The marriage 
party arrived at Pandhapur at nightfall. Rami entered the bedroom. Gora Bharat bowed down at her feet and 
said, "Rami, I am not able to touch you," and he related the whole story to her. What was told by her mother. 
Rami said, "Oh my dear I am also not going to break Pandurangas oath given to you by my mother."<p>


One night while Gora Bharat was sleeping both sisters came into his room; held his hands, as they both 
gave him a hug together. Gora Bharat awoke, and suddenly remembered his oath and said that these arms 
have broken the oath of Panduranga Prabhu and therefore both of these hands must be broken off. He 
took a little sword and chopped both of the hands. After the chopping both hands it was very hard for 
both wives to maintain monthly expenses, because Gora Bharat could not work. Seeing such hardship of 
the family, Panduranga Prabhu turned his sight towards Sadubai's home.<p>

Panduranga came down as a human being to Gora Bharats house and accepted to do work and service 
without pay. This was asked after long arguments. Panduranga made Laxmiji as Kunbharan (female potter) 
and his conveyance bird Garud as an ass to carry clay and utensils, all worked together. Gora Bhagat did 
not know that Panduranga Prabhu himself is working for him at his home. This way Laxmiji dug out clay, 
Garud carries clay and Panduranga himself made the pots and beautiful utensils. Time is passing about 12 
years and on the day of the festival Saint Gnanesvar and his party came to Pandharpur for darsan of 
Vithalnath. Saint Gnanesvar did not see the brightness in deity at all. Then Saint Gnanesvar endeavored to 
get a picture of God in meditation, but he failed instead he saw Bhagvan. Working for Ggorarnbhar at his 
home as a potter. Immediately Saint Gnanesvar came to Gora Bharats home, but God hid in the quarry. Saint 
Gnanesvar asked Gora Bharat, "Where is your servant?" Gora Bharat replied, "He went to the quarry to get 
some clay and I don't know when he will return." This time Saint Gnanesvar saw in meditation that Bhagvan 
Panduranga has gone back to his abode. Saint Gnanesvar reproached Gora Bharat for his action. Then they 
all went for darsan at Vithalnathji's temple and Gora Bharat expressed sorrowful sentences.<p>

The God Vithalnathji became very pleased and returned both of Gora Bharat's hands. He was also told to 
enjoy married life with both wives. Gora Bharat promised to God that he would obey the instructions.<p>

This way God gave both hands to Gora Bharat, but Santubai was not happy. Saint Gnanesvar asked why. 
She narrated her story about her son who was crushed down in the clay by Gora Bharat. Saint Gnanesvar 
gave her consolation, and told her not to be worried, God will help to avoid your pain. You just call your 
son by love.<p>

By the wish of Saint Gnanesvar Santubai called her son and very surprisingly and by mercy of Vithalmath her 
son who was crushed in the clay came running fast towards her in presence of Santmandal. Who seeing all 
this became happy thanked God and Gora Bharat and his two wives, who passed their remaining life 
devotedly.<p>

Bhagvan & Bharat Ri Jai

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


