<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of
Jatin Vinod Fatania
</font></h1></center>
<p>
<center>
<%= image_tag 'jfatania.jpg', height: "150", width: "125" %><br>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Shri Jatin Vinod Fatania is a prominent social worker of our
Prajapati Caste. He is a Comvenor of Shivsena Party Kurla Area-Gujarati
Vibhag. This is a pride of Prajapati Gnyati and most probably for
Bujarati Samaj. Mr. Jatin is a Pratinidhi of our Shri Sorathiya Prajapati
Gnyati Mumbai, and Secretary of Prajapati Kunbhar Welfare Association
(International) Registered by Government of Maharashtra. He is also Vice
President of Vishwa Prajapati Parishad (Founder Shri Anand Kumar
Sinawadia of Rajashthan) Mr. Jatin distributes uniforms, notebooks,
school books, and also gives financial aid in form of school fees to
the needy andpoor students. He also assists brought desering students
in securing admission to school and colege for higher education under
the banner of Shri Lunai Education Trust (which running in India by Mr.
Mohanbhai Virjibhai Fatania of U.S.A.). He also helps all the caste
Bandhus who need medical help like heart patients, cancer, kidney,
and/or any diseases with the help of Jayaben Narsibhai Ghedia Gnyati
Niradhar Yojana (which running in India by Mr. Narshibhai Mesurbhai
Ghedia of Nairobi) and doing several other social works for our Caste
people.


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
