<html>
<head>

<title>Welcome SSPGM.net - Profiles - Premjibhai Bhura Dhokia
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Premjibhai Bhura Dhokia
</font></h1></center>
<p>
<center>
<img src = "http://www.sspgm.net/images/pbd1.JPG" width = "145" height = "185">
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

BIO-DATA <br><BR>



Name : PREMJI BHURA DHOKIA<BR>
Birth Place : Porbandar <BR>
Date of Birth : 24.06.1927 .<BR>
Age : 75 Years.<BR>
Father's name : Bhura Raghav Dhokia<BR>
Mother's name : Manuben<BR>
Present address : 6, New Kumbharwada, Dhokia Nivas, Momai Krupa, Porbandar.<BR>
Gujarat-India.<BR>
Phone No. : 0091-0286-247066<BR>
Marriage : In Porbandar -daughter of Mesur Meraman Shingadia in 1946<BR>
Name of my wife is Amrutben.<BR>
Family details : Three sons and two daughters total five children. <BR><BR>
1. Elder son Mr. Natwarlal age 54 years B.Com. B.Ed. Married name of wife Shushila and three children at present in Peterborough (UK) his son Mr. Chetan is Doctor and living in Birmingham. <BR><BR>
2. Second son Mr. Pravin age 49 years Non-Matric, Married name of wife Geeta & two daughter at present in Leicester (UK)Builders job <BR><BR>
3. Third son Mr. Dinesh 44 years Married name of wife Manjula and two sons Mehul and Vipul Living in Porbandar. <BR><BR>
4. Elder daughter Hansaben 47 years B.A. passed married with 
Savjibhai Jogiya three children and living in Birmingham UK<BR><BR>
5. Younger daugher Jayshreeben age 42 years married with Pradeep 
Chauhan four children and living in Haunslow UK.<BR><BR>
OTHER ACTIVITIES: <BR>

In 1942 when Mahatma Gandhi had started freedom fighting movement, I left the school and joined in the Maharana Mills in Porbandar in which I took part in workers activities and worked as Joint secretary in the union. At that time I was advised to stand in Porbandar Nagar Palika election and I was elected in New Kumbharwada and remain councilor in Porbandar Nagarpalika from 1952 to 1982 for continues 30 years. <BR><BR>

In 1946 I joined our Prajapati Vidyotejak Mandal, in the beginning I was volunteer worker of our community but now I am Managing Trustee of our Boarding. I purchased open land about 150 Meters @ Rs.6/- per meter for our Boarding when I was Member of Porbandar Nagarpalika. <BR><BR>

In Kadia Plot we have purchased one plot at the price of Rs.24/- per meter for our community hall and another plot of 5000 Sq.Mtrs purchased at the rate of Rs.2/- only for Hostel of our students on the National Highway in which I have taken personal interest. Present market of this land is about Rs.5000/- per Meter. <BR><BR>


In the Ahmedabad workers meeting was held wherein I presented as representative of Maharana Mills Workers Union and fighted for the rights of workers for which I had to lose my services from the Maharana Mills in the year 1956. <BR><BR>

In the year 1955 members of our community had filed a chapter case against me and in the end made compromise in the matter. <BR><BR>

In 1970 when Indira Hatavo agitation was continued in India at that time some people of our community started agitation to remove the Premji Bhura from our Boarding and so that I left handling of our Boarding for the period of two years. But there after when work of our Boarding suffering badly, some leaders of our community came to me and requested me to handle the Boarding suitably, since then I am handling our Boarding. <BR><BR>

In 1978 we started an agitation to consider Kumbhar community as backward class for which we had gone on fast and given written application to the Collector of Porbandar. <BR><BR>

In 1983 I visited England with my wife to see my son and their family with own expenses. During my visit of England I collected donation of Rs.36000/- for our Boarding. <BR><BR>

In 1989 for construction of Hostel Rooms on the land of National Highway at Porbandar I was invited by our Dubai community persons for collecting the fund so myself and Mr. Dayabhai Kanji Tank visited Dubai and Abudhabi and collected fund of Rs.2 Lakhs. <BR><BR>

Fifty years ago, when people of village were illiterate, I visited village to village of Saurashtra/ Gujarat and persued them to depute their children for studying in our Boarding and get them educated and started them to take an interest in our Boarding. <BR><BR>

I got following honour/dignity certificates from Sorathia Prajapati Gnati Mandal. <BR><BR>

1. "Maharsh Prajapati Pratishthan Samast Prajapati Mahasamiti" Rajkot on 11.10.1992. <BR><BR>
2. "Shri Sorthia Prajapati Vidyotejak Manda" Porbandar on 26.01.1997 Golden Jubilee function <BR><BR>
3. "Prajapati Gnati Ratna" from Shri Akhil Sorathia Prajapati Gnati Shribai Ashram, Talala Gir on 2.09.2001. <BR><BR>


Over and above I am invited from various organizations of Gujarat but due to my ill health I could not attend the same. <BR><BR>

To date, I have continued my activities for our community after fighting against unlawful persons filling false cases against me three times and also attacked me and tried to hijack my son. <BR><BR>

I have my own house and my family is happy which is due to blessing of Almighty God. <BR><BR>



</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
