<h1 class="page-header">Mohanlal Virjibhai Fatania</h1>

<center>
<%= image_tag 'mohan_fat3.jpg', height: "175", width:"125" %>
<%= image_tag 'mohan_fat2.jpg', height: "175", width:"125" %>
<%= image_tag 'fatania2.jpg', height: "175", width:"125" %>
</center>

Mohanlal was born on August 28th 1928, in Rana Kandorna, Porbandar State, Saurastra, in Gujrat, India. His father 's name was Virjibhai Kanjibhai Fatania, whose trade was as a carpenter and his mother 's name was Monghiben Bhalsod whose family, had a small dairy. He also had an older brother named Khimjibhai, later known as 'Gandabhai' and three sisters named Premiben, Kasturben and the youngest Vajiben.<br><br>
His parents arranged his first marriage with Jamna, age 5 yr. old, daughter of Valjibhai Pankhania, whilst Mohanlal was 6 years old! Unfortunately, within a year of their engagement Jamna passed away. Mohanlal was in standard 2 at the time. Again, at the age of 9 years, his parents arranged another marriage with Shanta, daughter of Ramjibhai Gadher. This was an era, when parents used to arrange marriages at such a young age. Typically, an engagement took place at an early age and marriage took place a few years later when the bride and the groom were of more mature age. Mohanlal studied up to standard 7 in Rana Kandorna, his birth town, at this time his father had left to go to Kenya, East Africa as was the trend of the time to support his family and the rest of the family moved to Porbandar to further Mohanlal's education. He studied up to metric standard 11. The family has heard countless stories, about how due to lack of light inside the house, he used to study under the street-light post; this was evidence for the enthusiasm and the thirst for knowledge, that Mohanlal had even at such a young age.<br><br>
This happened while Mohanlal was at High School. One night he was doing his homework under the street lamp; whilst reading a schoolbook he fell asleep, in the meanwhile, shortly after midnight a policeman came upon him, he roused him and took hold of young Mohanlal's arm and said,' Hey, what are you doing out so late at night?' Mohanlal replied that he was doing his homework. The policeman said that he had to go with him to the police station. Mohanlal tried to tell him that he lived right there in the next street, but to no avail. On the way to the station, they passed his house and Mohanlal tried one last time to plead with the policeman. Finally, he relented and led Mohanlal to his house. At the door Mohanlal knocked the door three-four times and then his mother Monghiben without opening the door, told Mohanlal that since he was supposed to have come home at 11.00 p.m. and was so late coming home, to go ahead and spend the night in the street! The policeman heard this dialogue and told young Mohanlal,' You are a wandering boy, come on lets go on to the police station.' At last Mohanlal broke down and cried and pleaded with his mother, 'Ma, the policeman has arrested me and he is taking me to the police station.' At last Moghiben opened the door and the policeman released Mohanlal. This is an example of parenthood in those days, the parents were hard and they made sure that a strict disciplinary code was enforced. Mohanlal sure learnt his lesson, since that day, he listened to his mother and above all learnt a valuable lesson of never being late, for this code has stayed with him all his life and he is renowned for his timeliness, thoroughness, accuracy and punctuality, due to this strict disciplinary code.<br><br>
On August 15th 1942, Mahatma Gandhiji challenged the British Government to quit India. On this day, a student wrote this information on the school blackboard. The teacher entered the class at 11.00 a.m. and saw the writing on the blackboard. Teacher asked everybody who wrote this, but nobody would claim responsibility. At last, the student was identified from his handwriting and suspended from the school, not only that, but all the students of the class were suspended for 3 days, including Mohanlal!<br><br>
In other instance, around the year 1947, a group of people from Mohanlal's neighborhood 'Juna Kumbharvada' carried an Indian flag and started picketing in the main Bazaar of Porbander. They were shouting slogans 'Jai Hind!' 'Jai Gandhiji!' The police arrived and arrested all of the demonstrators including Mohanlal and they were charged in the court. The punishment was a fine of two rupees each. Mohanlal had to plead with his Ma for such a big amount for this time.<br><br>
Then at the time of India's Independence and the time of the Partition in the year 1947, as a student Mohanlal registered to do some volunteer work. He received a free railway pass and traveled in the train from Porbander to Junagadh. He helped people to get on the train to Porbander and arranged for their accommodation. This was due to Hindu/Muslim conflict in Junagadh State. Junagadh State was Muslim Raj, most of Hindus left Junagadh until the Nawab of Junagadh, flew away to Pakistan since Junagadh was conquered by 'Arzi Hakumut' with the help of Indian army. And then Hindus returned to Junagadh.<br><br>
Furthermore, Mohanlal had also volunteered his services, at the Porbander Port for the people who had fled from Pakistan to India by ship. Unbelievably, one of our Khumbhar brethren brought his two donkeys and all his pottery tools with him from Karachi. This Kumbhar was accommodated in one of the 'Daramshala' in Porbander.<br><br>
Whilst, in high school, he volunteered for part-time work at the 'Prajapati Mitra Mandal' library. He came in contact with some people who were interested in education of the Prajapati community. They used to meet at night in the library and after a short time in 1945; they founded and established " Shree Sorathia Prajapati Vidyotejak Mandal". This lead to attending weddings to raise funds for the cause. Thus, started Mohanlal's life long quest for social and charitable causes, at the tender teenage years. Meanwhile, during that time his family arranged another marriage for him to Shantaben Gadher.<br><br>
When Mohanlal was 15 years old and at High school, his father came back from Africa and a marriage ceremony took place between Mohanlal and Shantaben.  It was evident after some time that Shanta had a mental disease, which was unknown for some time.<br><br>
In 1948, Mohanlal left for Kenya, East Africa to join his father, and his older brother, Khimji and uncle Purshotambhai. In his absence, his mother tried hard to cure this disease with the co-operation of his father-in-law. But there was no improvement and they did not have any success. His other relatives wrote to him to make a final decision, as to whether, Mohanlal wanted to continue with the marriage. The fact was that when Shantaben was born, the doctor determined that she would have mental trouble. Mohanlal was told this by the couple whose house she was born in Eldoret, Kenya. Anyway, after much soul searching, Mohanlal reached the decision to end the marriage. Even after that, he continued to send money to his Father-in-law, but unfortunately, could not see her again. Shantaben had got married again, but had soon passed away. <br><br>
At later stage in his life, when he visited India from Kenya, after his father-in-law had passed away; He went to meet his mother-in-law to express his sympathy and sorrow. She greeted him and said," Mohanlal, your father-in-law had a lot of respect for you". Mohanlal expressed his sorrow about the whole affair. She replied that it was not his fault and it was just bad luck. Mohanlal's sister -in-law also maintained a good relationship with him. Later in 1998, when Mohanlal visited India again, this time from America, he went to see his sister-in-law at her home. She expressed her love and said, "Mohanlal, my brother has died, but you are like my own brother. Although, your marriage was broken under such circumstances, you have maintained such consistent strong relationship with our family." Such was Mohanlal's, nature.<br><br>
Meanwhile, Mohanlal's first job in Kenya was as a clerk in Standard Bank of South Africa, Nanyuki. When Mohanlal applied for this job, the manager sent him for a medical test. Since he had no experience of speaking the English language, the test was conducted with the help of Nanjibhai Chhaya. He came along with Mohanlal to see the doctor for the medical exam and interpreted for him. After they left, the Doctor called the Bank manager and told him that this boy does not know how to speak English. In spite of this the Bank manager gave Mohanlal the job, as there was a great shortage of manpower. It was a tough time for Mohanlal, since he was only 4ft 6in tall, and weighed 85 lbs, he had a wooden box to raise himself to reach the ledger books on the desk! Mohanlal's initiative and standard of work was praised by the Manager to the Supervisor and he was given a special incremental raise of shilling .50 for his good work. Mohanlal also recommended his good friend Nanjibhai Chhaya for a job at the Bank and due to his recommendation Nanjibhai got the job and worked there until he retired. However, it was very frustrating for Mohanlal, as he was a perfectionist and due to his lack of knowledge of the English language, he cried  twice due to the frustration whilst working in this Bank. After a year, he joined his older brother Khimjibhai (also known as Gandabhai), as he got an offer to work as a clerk with Kenya Farmers Association, in Thompson's Falls. Mohanlal realized the importance of the English language in Kenya and started the study of this language.<br><br>
Whilst in Thompson's Falls, a telegram wire came to Mohanlal from one of his relatives to go and visit him in Nairobi. He went there and his relative informed him that he had received a proposal for a girl in Eldoret. He asked Mohanlal to go and see Jerambhai Permanand Dhokia. Mohanlal left by a goods train and reached there very early morning. Everybody was asleep. He knocked on the entry gate and an African servant opened the gate and told Mohanlal to sit down by the fire since it was very cold. Soon, Jerambhai came out and they both sat down by the fire and talked. Later, a girl came out to brush her teeth with a 'datan'. She was Maniben, Mohanlal's future wife. Although he was sent there to see and talk with her, it was not mentioned to do so by the father, so he had lunch there and came back to Nairobi. He informed his relative about the visit. The relative praised Maniben a lot and also told him about her excellent skills as a seamstress and a knitter. He insisted on Mohanlal getting engaged to her and Mohanlal felt like he was under obligation to the relative and soon after got engaged to Maniben. Although the engagement lasted almost a year, they were not allowed to meet until the wedding day although Mohanlal did pay them a visit one time during that time, he had lunch and came back home. It was still the era whereby the bride and the groom were not allowed to see or meet each other, nor were they allowed to take any pictures until after their marriage, due to traditional restrictions.  Mohanlal and Maniben got married on December 9th 1951, in Eldoret. Although, they did not talk before the wedding, it has been a very happy union and per Mohanlal' " The happiest days of my life have been since I have married Mani". They have five children: <br>



<table border=0 cellpadding=0 width="80%">
<tr><td valign=top width="50%"><ul>
<li><b><font face="arial" size="2" color="red">Pushpa married to Mohanlal Naran Pankhania,</font>	</b></a>
<li><b><font face="arial" size="2" color="red">Arun married to Sharda Devraj Ladwa,</font>
<li><b><font face="arial" size="2" color="red">Pravina, died at 1 and a half month</font>	</b></a>
<li><b><font face="arial" size="2" color="red">Shila married to Dhiru Zina Pankhania</font>
<li><b><font face="arial" size="2" color="red">Kirti married to Peter Burr</font>
</ul></td></tr>
</table>

While working in Thompson's Falls, in the year 1960-1, freedom struggle for Kenya was going on. Jomo Kenyatta was imprisoned in Maralal, NFD (Northern Frontier District). The movement was called 'Mau Mau' and was very active. Nobody knew who was 'Mau Mau', but in Thompson's Falls, the Police to the hospital brought one or two headless bodies in daily. People were very scared of the Mau Mau, the fact that Mau Mau used to carry out secret ceremony, for taking Oath to be loyal to Jomo Kenyatta, and oppose the British Government. <br><br>
A person was called by the Mau Mau, taken to Aberdare Forest near Thompson's Falls, and then forced to take oath. There was a rumor that anybody who refused to take oath was beheaded and the body left in the forest and they would hide in the dense forest. People talk about this oath, things progressively got worse until one day five headless bodies showed up. Mohanlal and three other Indians were registered as Home Guards to watch the Township of Thompson's Fall's from 10.p.m. till 6 a.m. in the morning. Police only provided them with one gun between the four of them.  The guards had to use their own vehicle and to patrol the whole town. They were living in such a situation, but still those days were very happy. And there was a true comradeship and a brotherhood amongst the Indian community. This continued until Kenya got Independence in December 1963.<br><br>
Mau Mau murdered at least two European farmers in Thompson's District but Indian community had no such problem. In real fact, the Indian people were not in any real danger from the movement, but as a precaution, families of Mohanlal and his older brother Gandabhai sent their families to India, and within the year they returned.<br><br>
Meanwhile career wise, due to his diligent hard work and expertise at the post, he was promoted to the position of a Branch Manager, with a staff of one chief clerk, seven clerks, one typist and 28 laborers. At that time, it was quite an achievement for a Prajapati or even for an Indian, to be in such a challenging, responsible position. One day, an Indian salesman came to his office, and asked, as to what community he belonged to, so Mohanlal smiled and answered, "Khumbhar!" The salesman did not believe it and thought that Mohanlal was joking. He said, 'It is not possible for Khumbhar to be on such high position'. Then, Mohanlal clarified his opinion and invited him for lunch at his house!! So this was the belief of the people that a Khumbhar could not achieve such positions.<br><br>
After, 21 years of service in Thompson's Falls, Mohanlal was awarded a long service award. Also, a transfer was made to KFA Headquarters in Nakuru, as the head of the merchandise department. He completed 25 years of service with KFA in Thompson's Falls and Nanyuki and was presented with an award for 25 years of honest service. Kenya Farmers Association had 35 branches, in East Africa.<br><br>
During his time in Thompson's Falls, Mohanlal continued his quest for charitable and social work and was often called upon to arbitrate and mediate amongst the community members. He was also often called upon to process legal documents for various members of the Indian community. He also belonged to a Theosophical Society in Thompson's Falls. Although Thompson's Falls was a small town, he was part of the group of people who promoted social, cultural and religious activities. The life was very simple and enjoyable in Thompson's Falls, those days cannot be forgotten and still remembered with fond memories.<br><br>
Whilst, in Nakuru, the Shree Sorathia Prajapati Gnati Mandal used to meet in 'Anand Bhuvan', under the guidance of Masribhai Jerambhai Pankhania and in presence of Hirjibapa.<br><br>
During one of these meetings, and propagated by Hirjibapa (see Dedications), the community resolved to research and publish "Shree Sorathia Prajapati Sant Sarita", a book about Bhagats and Sants in the Prajapati history. Mohanlal was chosen by Hirjibapa and the Mandal to research, write and publish this book. It was quite a challenge, since there wasn't much time, and as this book was to be presented to the members for the 7th AMRIT MAHOTSAV in Nakuru, and there were barely two and a half months left to finish the task.<br><br>
Mohanlal started on this quest, by writing lengthy letters to India, and by placing advertisements in the Africa Samachar newspaper. Time passed on and the progress was slow, really slow. The real problem for Mohanlal was the how to collate the information and get the book written and printed in time. It was a stressful, worrisome time.<br><br>
One night, a miracle happened, Mohanlal went to bed thinking and worrying about the book and finally fell asleep. Shortly, after midnight, he had a dream and in the dream, he saw Hirjibapa, coming towards his bed. Slowly, slowly he approached his bed and sat down on the bed, Hirjibapa put his hand on Mohanlal's head and said, 'Mohan, you are worrying about the book.' I told him "yes". He replied, " As of now you don't have to worry at all, the book will be completed in time".  Having said this he disappeared. The following morning, Mohanlal, went to collect the mail in his Post Office Box. There, he found several envelopes, and they were letters from various people regarding information about the life story of Sants and Bhagats. Mohanlal started to write and believe it or not his pen started running fast across the paper like a deer, staying up writing till 1.00-2.00 a.m., but felt tireless. Everyday, more and more mail came in with more stories, eventually, the writing was finished, but the time was running out, only a few days remained before the celebrations for the  "7th Amrit Mahotsav".  Africa Samachar Printers said there is no chance of printing the book in such little time, unless Mohanlal personally went there to check, proofread, certify and then print. Mohanlal took 3 days off work and accompanied by Devjibhai Vara, they worked day and night with the printers and finally got "Prajapati Sant Sarita" printed. After his arrival from Nairobi, Mohanlal immediately went to Hirjibapa's house and offered the book by placing it at his feet, with tears of happiness in his eyes. At the same time Mohanlal, accepted Hirjibapa as his "Kapal Guru". By the grace and blessings of Hirjibapa, the Nakuru Mandal was successful in all religious programs; also he led the Prajapati community in Nakuru towards religious and god-consciousness. Hirjibapa passed away in 1976 and to memorize Hirjibapa, the followers as well as family members built a very fine Ram Mandir in Nakuru, Kenya where Hirjibapa had lived. <br><br>
In the year 1972, Idi Amin ordered all Indians to leave the country in 90 days. In the beginning people did not take this seriously, as the time passed situation became worse and people realized that they were definitely had to leave the country. While coming from small towns to cities like Jinja and Kampala to board the train on the way, some of these people were looted. Many of these people, those who had British or British Protected passports left for England but other chose to go to India. The train full of refugees from Uganda start their journey from Kampala or Jinja to Mombasa. Mohanlal and Jamnadas Gokal Solanki registered themselves to provide volunteer service. There were about 30 Indian volunteers, they used to get information from Uganda, as to how many passengers were coming to Nakuru in the next train.   Accordingly, they cooked enough food, and prepared food packs for the distribution for the people in the train when they arrived at the Nakuru station. Not only that they used to provide them any necessary item they needed such as stamps, envelopes, blankets, bed sheets etc.  They served for almost two to three weeks, until the last train allowed out of Uganda.  As recognition for this service, they were given an award for this 'sewa' by the Indian Association of Nakuru, Mohanlal and Jamanbhai were the only two members from the Prajapati Kumbhar community. The main organizer was Lalji Nagpal Shah of Nakuru Blanket; he also provided the cost of the food.<br><br>
It should be noted that whilst in Kenya, Mohanlal had helped and sponsored various relatives and friends and was renowned for his willingness to give a helping hand. <br><br>
At the age of 41 years, he left for England in 1973, to make a fresh start in a new alien country. He lived in Hounslow, Middlesex for about a year, whilst there he was vice president to help the Shree Sorathia Prajapati Gnati Mandal in Hounslow. Within a year he moved to Leicester with the family and worked in a hardware store for 10 years.<br><br>
Whilst in Leicester, Mohanlal continued with the social and religious quest. He was elected the Secretary of Shree Sorathia Prajapati Gnati Mandal in Leicester. They published the first ever Directory of members in Leicester and he was the founder member and treasurer of the United Kingdom Mandal and finally the managing Trustee of Shree Sorathia Prajapati Education Trust for U.K.<br><br>
Shree Sorathia Prajapati Education Trust U.K. was established on May 22nd 1979 in Leicester and the U.K Mandal elected the members as trustee. Mohanlal had to resign from the managing committee of the U.K Mandal due to the fact that a Trustee should not hold any other post in any committee.<br><br>
During the next U.K Mandal meeting, Mohanlal was elected as the Managing Trustee of the Education Trust. The Trustees elected were five from U.K and 3 from India, and they were as follows:<br><br>
<font size="2" color="red">Shree Sorathia Prajapati Education Trust</font><br>
Managing Trustee - Mohanlal Virji Fatania<br>

<table border=0 cellpadding=0 width="80%">
<tr><td valign=top width="50%"><ul>
<li><b><font face="arial" size="2" color="red">U.K Trustees</font>	</b></a>
<li><b><font face="arial" size="1" color="white">Jayantilal Mandan Chitroda</font></b></a>
<li><b><font face="arial" size="1" color="white">Ramaniklal Daya Yadav	</font></b></a>
<li><b><font face="arial" size="1" color="white">Veljibhai Nathoo Gadher</font></b></a>
<li><b><font face="arial" size="1" color="white">Bhojabhai Madhavji Vara</font></b></a>
</ul></td>
<td valign=top width="80%"><ul>
<li><b><font face="arial" size="2" color="red">India Trustees</font></b></a>
<li><b><font face="arial" size="1" color="white">Hirjibhai Jesha Gohil,  Porbander</font></b></a>
<li><b><font face="arial" size="1" color="white">Karsanbhai Raishi Devalia,  Jamnagar</font></b></a>
<li><b><font face="arial" size="1" color="white">Arshibhai Naran Koria,  Ranvav</font></b></a>

</ul></td></tr></table>
<br>

The first meeting of the Trustees was called at the home of Mohanlal in Leicester.<br>
During this meeting the Trustees had invited Mohanbhai Malde Taank as an adviser and he volunteered for a long time and organized the constitution for the Trust. Later, he was elected as a Trust Member. <br><br>
The biggest challenge for the Trustee members was how to raise money for this cause. During an earlier U.K.Mandal meeting, Harjibhai Rana Pankhania had informed it's members that if U.K. Mandal registered the Education Trust, he had been notified by Devshibhai Chandegra, that a sum of Rupees 100,000 was ready to be deposited in such an account in India.  The main objective then was to start raising the funds. The Trustees wrote a letter to Karsanbhai Devalia at Jamnagar, requesting him to open an account in the Bank of India in Jamnagar, with minimum amount of money required. By this time the formality of the Constitution was finalized and again Mohanbhai Malde Taank did an excellent job, via a solicitor in India.<br><br>
In the next U.K. Mandal meeting, it was discussed that the account was ready for deposits and Rupees 100,000 was deposited as promised by Devshibhai Chandegra. They supplied him with the account number and the money was deposited. So, this was the start of the Education Fund with Rupees 100,000, kindly donated by Devshibhai Chandegra.<br><br>
Meanwhile, in the next U.K Mandal meeting, Coventry Mandal was elected as President of the U.K.Mandal, with Haribhai Chhaya as the President and Hansrajbhai Ramji Dhokia as Secretary. During this time, Virjibhai Devarkhi Ladwa of Southhall Mandal proposed an all-purpose, all U.K.Mandals Festival. It was suggested that such a festival is organized under the umbrella of the U.K. Mandal, but Southhall Mandal said that they would take charge of organizing, and hiring of the hall.  And Southhall Mandal would conduct the U.K. Mandals and Southhall's programs. Southhall Mandal hired the Harrow Leisure Center in London and it was a very successful, historic occasion for the Shree Sorathia Parajapati Mandal worldwide. It was attended by over 8000 members and the first speaker for this occasion was Mohanlal Virji Fatania, who spoke on all the activities of the U.K. Mandal, the Education Trust, and the closures of  'ShreeBai Sandesh' a magazine for our members in the U.K. Haribhai Chhaya appealed for donations for our children in India. Haribhai had a proposal for a large amount of donations from the three sons of Jadavjibhai Gopal Pankhania; the sons were Gordhanbhai, Rajnikantbhai and Kiritbhai. It was a successful fund-raiser for the Education Trust, and Southhall Mandal performed a wonderful program from 8 a.m. till 10.00 p.m. Our community became aware of the Education Trust and we also raised a lot of money for the cause. <br><br>
The last combined (U.K Mandal and Trustee) meeting of the Trust was held in Leicester on April 9th 1983 and at that time the fund approached Rupees 780,000, which included the large amount donated by Jadavjibhai Gopal Pankhnia's three sons.<br>
Mohanlal informed the members that if this amount can be raised to Rs 1,000,000, then we will have sufficient income from the interest alone to help the children.<br>
Devshibhai Chandegra was invited to attend this meeting as he was leaving to move to India and Mohanlal was leaving to move to America. <br>
During, this meeting, Leicester Mandal presented Mohanlal with a Parker Pen set engraved with the Shree Sorathia Prajapati Gnati Mandal, Leicester logo, the U.K. Mandal presented him with a clock and Haribhai Chhaya, the President of Coventry Mandal presented him with RamDePir Ramayan and Devshibhai Chandegra presented him with a beautiful writing pad with a set of pen.<br><br>
This was a very hard, emotional time for Mohanlal, he deeply appreciated the gifts and regretted missing the 'sewa' for the U.K. Community. The comradeship, the friendships, the milestones achieved, that were so characteristic of his nature. <br><br>

<center>
<%= image_tag 'group2.jpg', width: "425", height: "250" %><br />
<font color="yellow"><b>
The Pilgrimage Group Picture with Prime Minister Indira Gandhi,<br> New Delhi 1983
</b></font>
</center><br><br>

The senior members of our community kept saying that we have money, sons and daughters, but nobody takes us for a Pilgrimage Tour in India, so  in 1983, just before leaving for America, Mohanlal and Arshibahi Ravat arranged a Pilgrimage tour. It consisted of 55 seniors from U.K to India for "Char Dham Yatra", including Nepal Pashupatinath. While coming back from Nepal to India in the Himalayas, members of the pilgrimage party told Mohanlal, 'You are smoking too much.' In real fact, Mohanlal was smoking approx. 30-40 cigarettes a day, he had begun smoking at the age of 16-17 yr., since then he was a chain smoker.  Mohanlal told the Pilgrims, that when his parents were alive they also gave him such an advice, not to smoke. But he rejected this and he continued smoking, therefore Mohanlal told them, he was not going to give up smoking by their saying so. Then after 5 minutes, he lit a cigarette. Everyone were talking and joking in the coach. Another 10 minutes passed and he felt like smoking again but this time, an internal,'Oh ' a question arises in Mohanlal's mind and asks within himself,'Is there any gain by smoking?'  The internal reply was 'NO!' then the self-realization as to why he should smoke. Immediately, he pulled out two packets of cigarettes and the Ronson lighter and gave it to the driver and told him that,' These are now for you'. The driver looked at Mohanlal, surprised.  Ladhabhai Bhaya Pankhania did not believe this and remarked that a man who smokes 40 cigarettes a day cannot possibly let go of that habit in a minute. The Pilgrims watched Mohanlal for several days to see if the smoking was really given up. Mohanlal decided to stop smoking by listening to the inner voice and sheer willpower, and nothing happened to the body. Miraculously, there were no side effects or cravings. Mohanlal does not understand whether it was a miracle, a moral gain from the blessings of the pilgrims or at least, the power of the place in the Himalayas. Then after a week, the coach manager prepared 'ladoos' in celebration because Mohanlal had truly left smoking, and in the same token he gave up tea/coffee by sheer will power. It is Mohanlal's own experience, that bad habit clings to ourselves because we let it, but once it is kicked out, it is gone and this only works if you listen to the inner voice and by willpower.<br><br>
The Tour lasted for 65 days via Indian Railway. It was a very fulfilling, joyous journey. They visited New Delhi and were met by Prime Minister Indira Gandhi at her residence. She talked with them in Gujarati and posed for a picture with them. The seniors who took part in this memorable tour, were very happy and gave their blessings and told Mohanlal and Arshibhai that what they had done for them was remarkable and even their own children could not do what they had done for them and may god keep them happy.<br><br>
In 1983, at the age of 51, Mohanlal and Maniben left on another chapter and an adventure in his life - across the ocean again, to settle in America, they were sponsored by their oldest daughter Pushpa and Son-in-law Mohan Naran Pankhania.<br><br>
In the United States of America, Mohanlal worked in a hardware store for 11 years. His social and religious activity continues as before. He was one of the leading founder members of the Shree Sorathia Prajapati Gnati Mandal in Atlanta, Georgia. He is also an initiated devotee of the Hare Krishna Temple in Atlanta. He is an invaluable, well- respected member of the community, both with the SSPGM and other communities. His advice and enthusiasm for new thoughts and projects are a great source of encouragement for the younger generations. During the process of printing the first edition of the U.S.A/Canada directory his support was invaluable. He has also been tireless and his contribution and enthusiasm to the creation of this the first web-site for Shree Sorathia Prajapati Gnati Mandal has been priceless.   Without, the hard work he had put in 30 years ago, by the grace of Hirjibapa, the writing and printing of  'Sant Sarita", and again at present to translate and his input in other articles, this task of creating the web-site would have been virtually impossible and even if possible would have taken a long, long time to achieve. Because, quite simply put, without data there is no web-site.<br><br>
Again, like 30 years ago, Mohanlal has been tireless, energetic at times up till 3.00-4.00 a.m., which was originally printed in Gujarati, and translating this publication into English so that it can reach everyone. <br><br>
Currently, Mohanlal and his wife Maniben, with the mercy of Lord Krishna and the blessings of the pilgrimage and the pilgrims are living a happy, retired life in Atlanta, Georgia, U.S.A. They live with their son Arun and daughter-in-law Sharda.<br>
Their 3 daughters Pushpa and son-in-law Mohanlal Naran Pankhania, Shila and son-in-law Dhiru Zina Pankhania, and Kirti and son-in-law Peter Burr and all their grandchildren (Sarjoo, Sanjay, Kiran, Jai, Rakhee, Rakesh, Serena, Rishi, and Natasha), all reside in Atlanta, Georgia, U.S.A.<br><br>

<font color="red">Chronology</font><br><br>

<font color="#66CCFF">1955-59</font>
Secretary of Indian Association <br>
Secretary of Indian School in Thompson's Falls<br><br>

<font color="#66CCFF">1960-64</font>
Committee Member of Indian Association in Thompson's Falls<br><br>

<font color="#66CCFF">1965-66</font>
Auditor Shree Sorathia Prajapati Mandal in Nakuru<br><br>

<font color="#66CCFF">1967-68</font>
Member of Shree Sorathia Prajapati Gnati Mandal in Nakuru<br><br>

<font color="#66CCFF">1969-70</font>
Secretary of Shree Sorathia Prajapati Gnati Mandal in Nakuru<br><br>

<font color="#66CCFF">1971-73</font>
Member of Shree Sorathia Prajapati Gnati Mandal in Nakuru<br><br>

<font color="#66CCFF">1973</font>-
Left for England<br><br>

<font color="#66CCFF">1974- 75</font>
Hounslow, Middlesex - Elected Vice President Of Shree Sorathia Prajapati Mandal - Hounslow<br><br>

<font color="#66CCFF">1975-76</font>
Secretary of Shree Sorathia Prajapati Gnati Mandal - Leicester<br><br>

<font color="#66CCFF">1977-79</font>
Published first ever Directory of members in Leicester SSPGM<br><br>

<font color="#66CCFF">1977-80</font>
Founder Member and Treasurer of The United Kingdom Mandal<br><br>

<font color="#66CCFF">1979-83</font>
Managing Trustee of Shree Sorathia Prajapati Education Trust U.K. 2 terms<br><br>

<font color="#66CCFF">1983</font>-
Arranged tour for pilgrims to Char Dham Yatra<br><br>

<font color="#66CCFF">End of 1983</font>
Moved to Atlanta, Georgia, U.S.A.<br><br>

<font color="#66CCFF">1984</font> -
Founding member of Shree Sorathia Prajapati Gnati Mandal in Atlanta.<br><br>

<font color="#66CCFF">Present</font>
Rendering devotional service to Krishna, in Hare Krishna Temple, Atlanta, Georgia.<br><br>

<font color="#66CCFF">Present</font>
Mohanlal Virjibhai Fatania is the Founder and Patron-in-chief of Shri Lunai Education Trust.
<font color="white" size="2">
A Trust registered with the Government of Maharashtra vide Register
No. Maharashtra State - Mumbai - 1479/2002, recognised by the
Charity Commissioner and Society Registrar of Brihan Mumbai
Division. This Trust is dedicated to the upliftment of our
caste and provides education and eduational facilities to the
weaker section and mainly out caste's students<p>
<u>The members of the Trust are : </u><br>

<table border="0" cellpadding="3" cellspacing="3" width="500" height="400">
<tr>
<td>1) Founder and Patron-in-Chief</td>
<td>: Mohanlal Virjibhai Fatania</td>
</tr>
<tr>
<td>2) Patron</td>
<td>: Shri. Savjibhai J. Jethwa</td>
</tr>
<tr>
<td>3) President</td>
<td>: Shri. Naranbhai M. Jadav</td>
</tr>
<tr>
<td>4) Vice-President</td>
<td>: Shri. Bipinbhai V. Fatania</td>
</tr>
<tr>
<td>5) Secretary</td>
<td>: Shri. Vinod K. Fatania</td>
</tr>
<tr>
<td>6) Jt. Secretary</td>
<td>: Shri. Rajesh B. Jadav</td>
</tr>
<tr>
<td>7) Treasurer</td>
<td>: Shri. Kishor D. Jadav</td>
</tr>
<tr>
<td>8) Jt. Treasurer</td>
<td>: Shri. Vikrant V. Fatania</td>
</tr>
<tr>
<td>9) Executive Members</td>
<td>: Shri. Mahesh B. Koria</td>
</tr>
<tr>
<td>10) do </td>
<td>: Shri. Jagdish D. Jagatia</td>
</tr>
<tr>
<td>11) do</td>
<td>: Shri. Bhanjibhai N. Jagatia</td>
</tr>
<tr>
<td>12) do</td>
<td>Shri. Purshottam V. Jagatia</td>
</tr>
<tr>
<td>13) do</td>
<td>: Shri. Suresh G. Fatania</td>
</tr>
<tr>
<td>14) do</font></td>
<td>Shri. Anil J. Jagatia</td>
</tr>
</td>
</table>

Everybody of our caste or community is requested to help and promote this trust by donating or funding
money for the benefit of our children. For further information, please contact
Vinod Khimji Fatania, Editor - Agnichakra - 3, Vinod Khimji Road, Bharat Coal
Compund, Old Kurla Mumbai - 400 070. Tel: 25117053; Fax - 25145347
Email: <a href="mailto:agni_chakra@rediffmail.com">agni_chakra@rediffmail.com</a>.
with kind regards;<br>
