<html>
<head>

<title>
Prajapti Bhakta Shree Bogharam a.k.a. Balakdasji
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhakta Shree Bogharam a.k.a Balakdasji
</font></h3></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

Bhakta Bogharam was born on Monday 1976, at the Jashapar, District of Bhanvad in Saurashtra.  When he 
was 18 years old, he gave up material life and went to Mt. Girnar near Junaghad to worship God.<p>

Later, he moved to the village Bordi in the state of Porbandar and he was doing Bhakti there.  He used to 
chant one hundred thousand names of God daily and in total forty million in a year! <p>

Bhakta Shree Balakdasji's life story has been published in Shree Bal Krut "Bhaktiprakash."<p>

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


