<html>
<head>

<title>
Prajapati Bhagat Shree Kubaji
</title>

<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h3><font color="red">
Prajapati Bhagat Shree Kubaji
</font></h3></center><p>

<center><a href="http://www.sspgm.net/images/kubaji.jpg"><img src="http://www.sspgm.net/images/kubaji.jpg" height="200" width="125" border="0"></a></center><p>

<center>
<table border="0" width="600">
<tr>
<td>

<font color="white" size="3">

Translated in English by Mohanlal Virjibhai Fatania<br>
From "Sant Sarita"Published during 7th Amrit Mohatsav, 1970, Nakuru, Kenya<p>

The great Bhagat Shree Kubaji became a Sant in a small village of Rajasthan.  He was a potter; he performed 
devotional service daily, and fed the Sadhu and Santo.<p>

One day, a group of about 200 Sadhus, came into the village, and asked one of the business owner's 
whether he could provide prashadam for the whole group. The businessmen or anybody else were not 
prepared to feed such a large group.  Quite a large number of people were sitting in the Bazaar.  Out of 
them, one person jestingly told the group of Sadhus, "If you want prashadam, go to Bhakta Kubaji's house"!  
The group of the Sadhus went to the hut of Bhakta Kubaji, and asked for Bhojan.  Bhakta Kubaji was not 
such a Bhakta that he could forget to perform his duty to feed the guests at his home.<p>

He asked the group to wait there, and went to the town.  He went to one of the business owners, and 
asked if he could buy or have them donate such a large quantity of food items.  The businessman told 
him, "I will give enough alms to feed the 200 Sadhus, but only on one condition, that you will dig a well 
for me".<p>

Bhakta Kubaji accepted this willingly, and went home.  He prepared prashadam, and fed all 200 Sadhus.  On 
the following day, he started to work on the well.  While digging the well, a large lump of clay fell on top of 
him, and Bhakta Kubaji was buried alive.  It was very difficult to remove the clay from there. Bhakta Kubaji 
remained buried for over one year.<p>

One day, some pilgrims came near the well, and stayed overnight.  At night, all of a sudden, they heard a 
noise.  The noise of Kirtan, and also the sound of "Hari-bhajan".  The sound was coming from under the 
ground.  The pilgrims were surprised, and tried to find the source of the Kirtan.  They told the people of 
the town, and heard the story of Bhakta Kubaji.<p>

All the people gathered with the pilgrims, and started to dig.  When they were digging, the found a small 
cave, and what they saw inside was "Shree Hari-Bhagwan" himself.  Bhagwan was sitting on a pedestal with 
four hands, and Bhakta Kubaji was chanting and singing Kirtan in front of fourhanded Bhagwan.  Immediately, 
and just in a few moments, the deity of Bhagwan disappeared, and the people started praising, and bowed 
down, and gave obeisance.  At last, Bhakta Kubaji came out of the cave and started his God worship and 
Bhajan, Kirtan. It was only due to his faith in God, that he survived buried for one year.<p>

So this was Prajapati Bhakta Shree Khubaji.<p>

</font>

</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

</body>
</html>


