<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">

    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPC East London (Woolwich) Mandal
      </h1></center>


			<center><%= link_to image_tag('eastlondonp.jpg', width: 350, height: 200), image_path('eastlondonp.jpg') %><br>
			<font color="red" size="2">Picture submitted by Hiten Mansukhlal Vadukul, UK</font><P></center>
			<font color="#66CCFF" size="3">If you would like to submit information about your mandal, please send us an email:</font></b><br>
			<a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a><br>


    </div>

  </div>
</div>
