<HTML>
<HEAD>

<TITLE>SSPGM.net - Glossary of Terms</TITLE>
</HEAD>
<BODY  BGCOLOR="#FFFFFF" link="#112299" vlink="#112299">

<A NAME=top_of_page>
<CENTER>

<P align=center><FONT FACE=Helvetica><FONT COLOR=112299><FONT SIZE=4><B>A Glossary of Terms</B><BR>
</FONT><FONT SIZE=3><BR>
written for the web by Mohanlal Virji Fatania</A><BR>
<BR>
<BR>
</P>
<TABLE align=center BORDER=0 cellpadding=6 cellspacing=5 width=70%>
<TD BGCOLOR="8899CC" ALIGN=CENTER colspan=2><FONT SIZE=3><FONT FACE=Helvetica><A HREF="http://www.sspgm.net/" target="_top"  style="text-decoration:none"><B>Back to SSPGM Main Page</B></A></TD>

</TD></TABLE>


<CENTER>
<TABLE ALIGN=CENTER width=90%>
<TD ALIGN=left valign=top>
<FONT FACE=Courier><FONT SIZE=2><FONT COLOR="FF0000"><center>The material on these pages may be printed out for personal use <B>only</B>.</center></FONT></TD>
</TABLE>
<TABLE ALIGN=CENTER width=90%>
<TD align=left colspan=3>
<FONT SIZE=3><FONT FACE=Helvetica>
<BR><A NAME=a>
<FONT SIZE=7><FONT COLOR=112299><B>A</B></FONT><FONT SIZE=3>&nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

</TABLE>

<TABLE align=center width=90%>
<TD align=left rowspan=4 valign=top width=55%><p align=left><FONT FACE=Helvetica><FONT SIZE=3> </TD>


<TR>
<TD colspan=2><BR></TD>
</TABLE>

<TABLE ALIGN=CENTER width=90%>
<TD ALIGN=LEFT COLSPAN=2>
<FONT SIZE=3><FONT FACE=Helvetica><BR>
<A NAME=b><FONT FACE=Helvetica><A HREF="#a"><B>A</B></A>  &nbsp;<FONT SIZE=7><FONT COLOR=112299><B>B</B></FONT><FONT SIZE=3>&nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=bhajan><B>Bhajan</B> - A religious song</A>.<BR>
<BR>
<A NAME=bhagavan><B>Bhagvan</B> - God.<BR>
<BR>
<A NAME=bhagat><B>Bhagat</B> - A devotee of God.<BR>
<BR>
<A NAME=bhagavadgita><B>Bhagavadgita</B> - Spoken by Lord Krishna to Arjun on the Battlefield of Kuruksetra, India    
During Dwapara Yug. Hindu Holy Book, 5000 years ago.
<BR>
<BR>
<A NAME=bhajanik><B>Bhajanik</B> - Singer of Bhajans and Kirtans.<BR>
<BR>
<A NAME=bhojan><B>Bhojan</B> - A meal.<BR>
<BR>
<A NAME=bhraman/bhramin><B>Bhraman/Bhramin</B> - A member of Upper Caste, learned in religion and scriptures.<BR>
<BR>
<A NAME=bhaktas><B>Bhaktas</B> - one, whose life is devoted to God.<BR>
<BR>


<BR>
<BR>
<A NAME=c><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>C</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=chardham><B>Char Dham </B> - Jagannathpuri, Dwarka, Badrinath and Rameshwar. East, West, North, and South of India.<BR>
<BR>

<BR>
<BR>
<A NAME=d><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp;<FONT SIZE=7><FONT COLOR=112299><B>D</B></FONT><FONT SIZE=3>&nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=dwarpara><B>Dwapara Yug </B> - Krishna Avatar - Copper Age - 3rd Yug <BR>  Duration of human life - 1000 years, Era of self realization was attained by worship of God (canto 1, chapter 1), Period lasted 8,64000 years.<br>

<BR>
<A NAME=Darshan><B>Darshan</B> - To be blessed by the sight of Deity in Temple. <BR>
<BR>

<BR>
<A NAME=e><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A>&nbsp; <FONT SIZE=7><FONT COLOR=112299><B>E</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<BR>

<BR>
<A NAME=f><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>F</B></FONT><FONT SIZE=3>&nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=g><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>&nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>G</B></FONT><FONT SIZE=3>&nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<BR>
<BR>
<A NAME=guru><B>Guru</B> - Spiritual master.<BR>
<BR>
<A NAME=gnati><B>Gnati</B> - Caste/Sub-Caste, Community members.<BR>
<BR>

<BR>
<A NAME=h><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A>&nbsp; <FONT SIZE=7><FONT COLOR=112299><B>H</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=harinam><B>Hari Nam </B> - Chanting of God's names by a group of people.
<BR>
<BR>
<A NAME=haribhajans><B>Hari Bhajans </B> - Religious Songs.<BR>
<BR>

<BR>
<A NAME=i><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>I</B></FONT><FONT SIZE=3>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=j><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>J</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=janata><B>Janata</B> - People<BR>
<BR>
<A NAME=jati><B>Jati</B> - Caste/Subcaste.<BR>
<BR>
<BR>
<A NAME=k><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>K</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<A NAME=kaliyug><B>Kali Yug </B> - Nakalank Avatar - Metal Age - 4th Yug<BR>Duration of human life 100 years, Era of discontent, quarrels, fighting, hypocrisy (canto 1, chapter 1) Recommended process of self realization, merely by hearing and chanting of the Holy names of God. Current Yug and will last for a period of 4,32000.<BR>
<BR>
<A NAME=kirtan><B>Kirtan </B> - Congregational singing of the God.<br>
<BR><A NAME=krishna><B>Krishna</B> - Name of a God.<BR>
<BR>
<A NAME=khumbar><B>Khumbar</B> - A potter.<BR>
<BR>
<A NAME=kshatriyas><B> Kshatriyas</B> - The warrior caste
 Courageous, heroic, fearless leaders, leaders and fighters of wars
<BR>

<BR>
<A NAME=l><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>L</B></FONT><FONT SIZE=3> &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=m><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>M</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=mandap><B>Mandap</B> - Canopy under which the marriage ceremony takes place.<BR>
<BR>

<BR>
<A NAME=n><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>N</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<BR>
<A NAME=o><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>O</B></FONT><FONT SIZE=3>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=p><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>P</B></FONT><FONT SIZE=3>&nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=prasadam><B>Prasadam</B> - Food offered to God and only then consumed by people.<BR>
<BR>
<A NAME=purans><B>Purans</B> - Contrasted to Vedas (old scriptures).<BR>
<BR>

<BR>
<A NAME=q><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>Q</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=r><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>R</B></FONT><FONT SIZE=3>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=ramnam><B>Ramnam</B> - Chanting of Lord Shree Ram<BR>
<BR>
<A NAME=ramayan><B>Ramayan</B> - Hindu holy book - Story of Lord Shree Ram<BR>
<BR>
<A NAME=rammandir><B>Ram Mandir </B> - Lord Shree Ram Temple<BR>
<BR>
<BR>
<A NAME=s><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>S</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=samathi><B>Samathi</B> - A process whereby a Sant goes into a meditation and is buried alive and the 
                Place is a memorial and treated with reverence.
<BR>
<BR>
<A NAME=satsang><B>Satsang</B> - Religious gathering to tell the story of Bhagvad Gita, Ramayan or Purans, also                
  Chanting and singing of these stories
 <BR>
<BR>
<A NAME=Sant><B>Sant</B> - Holy person, devotee of God.<BR>
<BR>
<A NAME=shankar/shiv><B>Shankar / Shiv </B> - The destroyer of Universe <BR>
<BR>
<A NAME=sudras><B>Sudras</B> - Those who work as Laborers and services to other people. <BR>
<BR>
<A NAME=satyug><B>Sat Yug</B> - Golden Age - 1st Yug <BR>Duration of human life 100,000 years.
		Era of the truth, peace and harmony. People are able to perform prolonged      
                        Meditation.
		Period of 17,28000 years.<BR>

<BR>
<A NAME=shreehari><B>Shree Hari </B> - God himself<BR>
<BR>
<A NAME=sadhu><B>Sadhu</B> - God Conscious person, has renowned material life.<br>
<BR>

<BR>
<A NAME=t><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>T</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=tretayug><B>Treta Yug </B> - Ram Avatar - Silver Age - 2nd Yug<BR>  Maximum duration of human life 10,000 years
		Self-realization attained by performance of great sacrifice.
		Period of 12,96000 years.
<BR>
<BR>

<BR>
<A NAME=u><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>U</B></FONT><FONT SIZE=3>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=v><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>V</B></FONT><FONT SIZE=3>
 &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>
<A NAME=vishnu><B>Vishnu</B> - Preserver, maintainer of the Universe <BR>
<BR>
<A NAME=vaisyas><B>Vaisyas</B> - Businessmen, landowners, farmers and protector of cows.<BR>
<BR>
<A NAME=vasavaya><B>Vasavaya</B> - A person, who works without pay, performs free duty. By the order of the Government<BR>
<BR>
<A NAME=veth><B>Veth</B> - Duty performed to the Government officers without pay<BR>
<BR>
<A NAME=vethnavara><B>Veth Na Vara</B> - Turn to perform Veth (unpaid duty).<BR>
<BR>
<A NAME=vara ><B>Vara </B> - Turn<BR>
<BR>
<A NAME=vedkal ><B>Vedkal </B> - Ancient time<BR>
<BR>
<A NAME=vedas ><B>Vedas </B> - Vedic Scriptures.

<BR>
<BR>

<BR>
<A NAME=w><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; 
<FONT SIZE=7><FONT COLOR=112299><B>W</B></FONT><FONT SIZE=3> &nbsp; <A HREF="#x"><B>X</B></A>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>
<BR>

<BR>
<A NAME=x><A HREF="#a"><B>A</B></A> &nbsp; <A HREF="#b"><B>B</B></A> &nbsp; <A HREF="#c"><B>C</B></A>  &nbsp; 
<A HREF="#d"><B>D</B></A> &nbsp; <A HREF="#e"><B>E</B></A> &nbsp; <A HREF="#f"><B>F</B></A>  &nbsp; 
<A HREF="#g"><B>G</B></A> &nbsp; <A HREF="#h"><B>H</B></A> &nbsp; <A HREF="#i"><B>I</B></A>  &nbsp; 
<A HREF="#j"><B>J</B></A> &nbsp; <A HREF="#k"><B>K</B></A> &nbsp; <A HREF="#l"><B>L</B></A>  &nbsp; 
<A HREF="#m"><B>M</B></A> &nbsp; <A HREF="#n"><B>N</B></A> &nbsp; <A HREF="#o"><B>O</B></A>  &nbsp; 
<A HREF="#p"><B>P</B></A> &nbsp; <A HREF="#q"><B>Q</B></A> &nbsp; <A HREF="#r"><B>R</B></A>  &nbsp; 
<A HREF="#s"><B>S</B></A> &nbsp; <A HREF="#t"><B>T</B></A> &nbsp; <A HREF="#u"><B>U</B></A>  &nbsp; 
<A HREF="#v"><B>V</B></A> &nbsp; <A HREF="#w"><B>W</B></A> &nbsp; <FONT SIZE=7><FONT COLOR=112299><B>X</B></FONT><FONT SIZE=3>  &nbsp; Y &nbsp; 
<A HREF="#z"><B>Z</B></A> &nbsp;  
<A HREF="glossary_index.html" target="_top" ><B>INDEX</B></A>
<BR>


<BR> 
</TD>
</TABLE>
<TABLE ALIGN=CENTER width=90%>
<TD ALIGN=left valign=top>
<FONT FACE=Courier><FONT SIZE=2><FONT COLOR="FF0000">The material on these pages may be printed out for personal use <B>only</B>.</FONT></TD><TR>
</TABLE>
<BR>
<BR>
<BR>
<P align=center><FONT FACE=Helvetica>
<FONT SIZE=4><FONT COLOR="#000000">[<A HREF="#top_of_page"><FONT SIZE=2><B>Top of Page</B></A></FONT><FONT FACE=Helvetica><FONT SIZE=4><FONT COLOR="#000000">]
&nbsp;&nbsp;
<FONT SIZE=4><FONT COLOR="#000000">[<A HREF="http://www.sspgm.net/" target="_top" ><FONT SIZE=2><B>Back Main Page</B></A></FONT><FONT SIZE=3><FONT FACE=Helvetica><FONT SIZE=4><FONT COLOR="#000000">]

<BR>
<BR>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

</P>


</BODY>
</HTML>
<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
