<%= render 'shared/new_styles' %>

<h1>Glossary of Terms</h1>

<p class="text-muted">Written for the web by Mohanlal Virji Fatania</p>

<strong>Bhajan</strong> - A religious song</A>.<br /><br />
<strong>Bhagvan</strong> - God.<br /><br />
<strong>Bhagat</strong> - A devotee of God.<br /><br />
<strong>Bhagavadgita</strong> - Spoken by Lord Krishna to Arjun on the Battlefield of Kuruksetra, India during Dwapara Yug. Hindu Holy Book, 5000 years ago.<br /><br />
<strong>Bhajanik</strong> - Singer of Bhajans and Kirtans.<br /><br />
<strong>Bhojan</strong> - A meal.<br /><br />
<strong>Bhraman/Bhramin</strong> - A member of Upper Caste, learned in religion and scriptures.<br /><br />
<strong>Bhaktas</strong> - one, whose life is devoted to God.<br /><br />
<strong>Char Dham </strong> - Jagannathpuri, Dwarka, Badrinath and Rameshwar. East, West, North, and South of India.<br /><br />
<strong>Dwapara Yug </strong> - Krishna Avatar - Copper Age - 3rd Yug <br />  Duration of human life - 1000 years, Era of self realization was attained by worship of God (canto 1, chapter 1), Period lasted 8,64000 years.<br><br />
<strong>Darshan</strong> - To be blessed by the sight of Deity in Temple. <br /><br />
<strong>Guru</strong> - Spiritual master.<br /><br />
<strong>Gnati</strong> - Caste/Sub-Caste, Community members.<br /><br />
<strong>Hari Nam </strong> - Chanting of God's names by a group of people.<br />
<strong>Hari Bhajans </strong> - Religious Songs.<br /><br />
<strong>Janata</strong> - People<br /><br />
<strong>Jati</strong> - Caste/Subcaste.<br /><br />
<strong>Kali Yug </strong> - Nakalank Avatar - Metal Age - 4th Yug<br />Duration of human life 100 years, Era of discontent, quarrels, fighting, hypocrisy (canto 1, chapter 1) Recommended process of self realization, merely by hearing and chanting of the Holy names of God. Current Yug and will last for a period of 4,32000.<br /><br />
<strong>Kirtan </strong> - Congregational singing of the God.<br />
<strong>Krishna</strong> - Name of a God.<br /><br />
<strong>Khumbar</strong> - A potter.<br /><br />
<strong>Kshatriyas</strong> - The warrior caste. Courageous, heroic, fearless leaders, leaders and fighters of wars<br />
<strong>Mandap</strong> - Canopy under which the marriage ceremony takes place.<br /><br />
<strong>Prasadam</strong> - Food offered to God and only then consumed by people.<br /><br />
<strong>Purans</strong> - Contrasted to Vedas (old scriptures).<br /><br />
<strong>Ramnam</strong> - Chanting of Lord Shree Ram<br /><br />
<strong>Ramayan</strong> - Hindu holy book - Story of Lord Shree Ram<br /><br />
<strong>Ram Mandir </strong> - Lord Shree Ram Temple<br /><br />
<strong>Samathi</strong> - A process whereby a Sant goes into a meditation and is buried alive and the place is a memorial and treated with reverence.<br />
<strong>Satsang</strong> - Religious gathering to tell the story of Bhagvad Gita, Ramayan or Purans, also chanting and singing of these stories<br />
<strong>Sant</strong> - Holy person, devotee of God.<br /><br />
<strong>Shankar / Shiv </strong> - The destroyer of Universe <br /><br />
<strong>Sudras</strong> - Those who work as Laborers and services to other people. <br /><br />
<strong>Sat Yug</strong> - Golden Age - 1st Yug. Duration of human life 100,000 years. Era of the truth, peace and harmony. People are able to perform prolonged meditation. Period of 17,28000 years.<br />
<strong>Shree Hari </strong> - God himself<br /><br />
<strong>Sadhu</strong> - God Conscious person, has renowned material life.<br><br />
<strong>Treta Yug </strong> - Ram Avatar - Silver Age - 2nd Yug. Maximum duration of human life 10,000 years. Self-realization attained by performance of great sacrifice. Period of 12,96000 years.<br />
<strong>Vishnu</strong> - Preserver, maintainer of the Universe <br /><br />
<strong>Vaisyas</strong> - Businessmen, landowners, farmers and protector of cows.<br /><br />
<strong>Vasavaya</strong> - A person, who works without pay, performs free duty. By the order of the Government<br /><br />
<strong>Veth</strong> - Duty performed to the Government officers without pay<br /><br />
<strong>Veth Na Vara</strong> - Turn to perform Veth (unpaid duty).<br /><br />
<strong>Vara </strong> - Turn<br /><br />
<strong>Vedkal </strong> - Ancient time<br /><br />
<strong>Vedas </strong> - Vedic Scriptures.
