<html>
<head>

<title>Welcome SSPGM.net - Profiles - Sumitraben Parsotambhai Chavda MA, B.Ed
</title>
<style>
a:link      {color:white;font-weight:bold;text-decoration:none}
a:visited {color:white;font-weight:bold;text-decoration:none}
a:hover  {color:#66CCFF;font-weight:bold;text-decoration:none}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of 
Sumitraben Parsotambhai Chavda MA, B.Ed
</font></h1></center>
<p>
<center>

</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

Arambhada, a small village near Dwarka in Saurashtra-Gujarat. My father Mr. Vallabhbhai Gokarbhai Fatania lived here and worked as 
Forman in foundry department in Tata Chemicals-Mithapur, an industrial new town about three kilometers from Arambhada. We were 
five brothers and five sisters. I was seventh among them and was born on 10-10-1954. My primary education was in Arambhada. 
I had to go to Mitahapur from fifth standard. Right from fifth to S.S.C.E. (Matric), I used to stand first. After completing my S.S.C. from 
Mithapur High School, a question arose as to what next?<p>

Sorathia Prajapati Community is considered socially and economically backward and at that time parents hardly thought of sending a 
girl for higher education in college. My parents however knew the value of education and as I was excellent in my studies right from 
5th  to S.S.C. They agreed to allow me for further studies. But again the question, there was no college in Mithapur or Dwarka and 
where to send a girl of 20 years all alone, Jamnagar, Rajkot, Porbandar? To my good luck, my parents agreed to send me to 
Porbandar and I got admitted to Mahila Arts College, Porbandar in first year B.A.<p>

I was fully engrossed in my studies and suddenly I got the news that my parents are arranging for my marriage. I was a bit upset and 
feared that there would be a full stop to my studies. Marriage was arranged with Shri Parsotam, son of Bhimji Odhavji Chavda and the 
ceremony was fixed on 23-5-1975. Annual examination of F.Y.B.A. was after this date. I talked to my father that after the marriage, I 
should be allowed to appear in the examination. Both sides agreed and after my marriage on 23-5-1975, I appeared in F.Y.B.A. 
examination. It was a surprise to all that I secured first class in F.Y.B.A. in spite of the fact that there was no time for preparations of 
examination and that actually I was totally cut off from study atmosphere from May 1975 onwards.<p>

By this time, people in our community knew the importance of education but the main thrust was on male education. For girls, the 
opportunities were still limited. I came to my husband's house and started thinking to pursue the studies. Fortunately enough male 
members in my father-in-law's family were all educated and they knew the value of education. My husband is a doctor and practices 
Ayurvedic system. We shifted to Vegam, a small village in interior part of Valsad district. My husband started his practice here and I 
started my life as a housewife. A strong desire to pursue my studies was still living in me, but no way or opportunity as the nearest 
college center Valsad, was 50 km away. We discussed the problem over and over. My husband encouraged me to find out the way 
and also was ready to co-operate .We then decided that I may join college at Navsari. It was the happiest moment in my life when 
this decision was taken. The task was challenging as I had to carry out my household duties, then walk about 6 km on a rough 
katcha road to catch the bus, reach Navsari, attend college and same routine while returning. I was a bit hesitant but my husband 
stood as a rock and said that in any case, I should join Navsari College and we will face all and any situation that arises. And I joined 
S.B. Garda College, Navsari in second year B.A. my study started. My husband's  co-operation was beyond imagination and that gave 
me strength to undergo strain of everyday 12 km walking, tedious bus journey, attend college and carry out household duties after 
returning home. The day started at 5:00 a.m. and ended at 11:00 p.m. Sometimes I got completely exhausted, especially in heavy 
monsoon and rethink about continuing the studies. My husband would say, "Sumitra, the hardships are for a short period, in no 
case you have to think of leaving studies, be brave it is ok with me." This gave me inner strength and could complete my B.A. in 
Garda College, Navsari.<p>

I intended to enter into teaching profession and for that Master degree was helpful. For this, joining college at Surat (a city 50 km 
away from Vegam) was only alternative. My husband and myself discussed the point. He said, "Don't worryàwe will manageàyou will 
join Surat College." And I join M.T.B. Arts and Commerce College at Surat for my MA degree. Now my husband used to leave me 
upto road on scooter (6 km) where I could catch bus for Navsari and train journey from Navsari to Surat, attend College, and return 
journey again as above. On my return I would always find my husband is waiting for me at the time of bus arrival and we go back to 
Vegam on scooter. The study was completed and I passed with B grade in M.A. (Hindi-Sanskrit). Thereafter, I went to my parent's 
house (Arambhada) and did my B.Ed. (Bachelor of Education) from Dwarka College. Now I was Mrs. Sumitra P. Chavda M..A., B.Ed., a 
sweet fruit of hard labor and great struggle. Thanks to my parents, my husband, and almighty God.<p>

After completion of the studies, I got a job in a High School of Pipalgabhan in higher secondary section. Then Dhamdagha and at 
present Vidya Kunj High School (English medium) at Navsari.<p>

But the life in not a bed of roses. I was married in 1975 but had no child for years. In the beginning, there was a murmur in the family, 
then discontent and ultimately a strong belief that I will not have a child. My husband is a doctor. We got ourselves medically 
checked up and found everything all right.  More than 20 years passed after our marriage, but we were unfortunate to have a grace 
of God in the form of a child. The family then decided to give me a divorce, my husband reluctantly agreed. The period was full of 
agony and mental stress, which may lead one to a nervous breakdown. But by the grace of God, I could withstand then onslaught 
of all odds. I explained to my husband that we might adopt a child. He agreed but the other family members did not favor the idea. 
The only alternative was a test tube baby. Years were passing, we spent lots of money in medical treatment and again to go for a 
test tube baby, appeared to be an impossible task for us especially financially. Both of us deliberated day after day and night after 
night and ultimately decided to go for it.<p>

We met our family doctor Mr. Bambhania. He took us to Dr. Rushikesh of Bombay and they started our treatment. First trial failed, we 
went for a second with the same result. In an absolute disappointing atmosphere we went for a third trial and the result was the 
same. Both of us were still determined for further trial and the fourth trial started. With the grace of God this time there was success 
and I gave birth to a baby boy on 19-11-1998. So far we spent about 7 to 8 lakhs rupees for the treatment, obviously beyond our 
capacity, but that was nothing looking to the joy and satisfaction we had after 23 years of our married life. Newspapers have taken 
note of this instance by publishing special articles.<p>

I have humbly given my life sketch here above with a view only that constant efforts and strong determination along with grace of 
God is the master key to achieve desired goal. I will feel my efforts rewarded if this account gives any inspiration to girls at large 
and especially of our community.<p>


</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
