<center>
<table border="1" cellspacing="0" cellpadding="7" bordercolor="#CC3333" width="700">
<tr valign="top">
<td align="center" width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="5" bordercolor="#000080" width="100%" height="100%">
<tr valign="top">
<td>

<h1><center><font color="CC3333">
Welcome to the Nived Page
</font></center></h1><p>
<br><br>

<font color="steelblue"><b>
There will be an Upcoming Vara Nived in Cambridge on August 14<sup>th</sup>.
For More Details, go to <a href="http://www.balvi-maa.org.uk/events.htm">www.balvi-maa.org.uk</a>
</b></font>
</td>
</tr>
</table>

</td>
<td align="center" width="30%">

<table border="1" cellspacing="0" cellpadding="5" bordercolor="#000080" width="100%" height="100%">
<tr>
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
