<html>
<head>

<title>Welcome to the History of SSPGM</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">
<br>
<center>
<table border="1" cellspacing="0" cellpadding="9" height="100%" width="700" bordercolor="#CC3333">
<tr>
<td width="70%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<center><h1><font color="#CC3333">
Welcome to the History of SSPGM
</font></h1></center>
<p>
<%= link_to "Click Here for the History of SSPGM", page_path('sspgmhistory3') %>
<p>
<%= link_to "Click Here for the Dedications Page", page_path('sspgmdedication') %>
<p>
<%= link_to "Click Here for \"The Still Wheel\", an archaeological study of the Kumbhar, by Bina Thomas", page_path('stillwheel.html') %>
<p><br>
<center><img src="http://www.sspgm.net/images/mepa_bhagat2.JPG" width= "200" height= "189"><br>
<font color="#66CCFF"><b>A picture of a Khumbar</b></font></center>
<p>

</td>
</tr>
</table>

</td>
<td width="30%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr>
<td align="center">
<script language="javascript" src="http://www.sspgm.net/right.js"></script>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905;
var sc_partition=3;
var sc_invisible=1;
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
</body>
</html>
