<html>
<head>

<title>Welcome to the Story of Shreebai Mataji</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">

<p>
<%= link_to "Back to Main", root_url %>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<br>
<!-- TODO: Make this link work -->
<a href="http://www.sspgm.net/talala.html">
Shreebai Mataji Ashram - Talala (Gir), Junagadh
</a>
<p>
<center><h1><font color="#CC3333">
Welcome to the Story of Shreebai Mataji
</font></h1></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>
<center>
<a href="http://www.sspgm.net/images/newshreebai.jpg"><img src="http://www.sspgm.net/images/newshreebai.jpg" height="170" width="240"></a><br>
<font color="red">Picture provided by<br>Vinodbhai Masribhai Pankhania<br>Milton Keynes, UK</font><p>

Bridged Life Biography of Goddess Shreebai Mataji
</center><p>

Translated by Mohanlal Virjibhai Fatania from the edition of Shree Prajapati Sant Sarita published in 1970 - by Shree Sorathia Prajapati Mandal, Nakuru,
Kenya, East Africa, in honor of the 7th annual 'Amrit Mahatsav' celebrations. <p>

<center><img src="http://www.sspgm.net/images/sspgmaum.gif" border="0" height="52" width="52">
<font color="orange">Om Shreebai Namav</font>
<img src="http://www.sspgm.net/images/sspgmaum.gif" border="0" height="52" width="52"></center>

Bhakta, Bhakti, Bhagvan and Guru, these four names are different but the spiritual soul of the body is one. Because where there is a Bhakta/Bhakti what is
not present there? Bhakta/Bahakti himself/herself keeps Bhagvan (God) in his/her heart and all the time he/she remembers God.<p>

In Satyug, thousand and thousand years ago, in Saurastra, near the Mount Girnar, on green land of Saurartra, in Sorath district, on the bank of river Hiran,
appeared ShreeBai Mata. She was a Prajapati Kumbhar. Her husband's name was Haridas. Sorathia Prajapati community worship ShreeBai Mataji with love.
Very few people know why we worship her as Mataji, it is not known if the life of ShreeBai Mata has been printed anywhere before, we only hear religious
discourse from mouth to mouth. Devotees of her sing bhajans and kirtan with great love to praise her since Vedkal.<p>

Shreebai and her husband were pure devotees of God, Shree Ram. Daily after finishing their day work, they read Ramayan Katha. The couple had no
children; therefore they tamed one cat. The cat sat down every night to here Ramayan. Shree Bai Mataji put a lamp on her head and read Ramayan. The cat
held and controlled the lamp on its head without making any movement, until the reading was finished.<p>

Shreebai was born in Prajapati Kumbhar community and made all sorts of clay utensils. She lived in a small house with a simple lifestyle. In those days, only
oil lamps were used to read, if the lamp is placed too far, it does not give light to read, so Mataji put the oil lamp on the head of the cat, as it sat near her.
To define an oil lamp: a small cotton wick is put in clay dish with oil and lit. The cat sits there and listens to the Ramayan until the reading is finished. The
question arises that how can a cat with a lamp on its head sit so quietly and motionless? This is a true story and there is no doubt about it. In India, there
are so many animals that can act like Bhaktas; there are so many stories about this kind of act in monthly magazine named " Kalyan" printed from Gorakpur
in India. In some cases dogs, cats, even horses, play and act like Bhakta. Five hundred years ago, when Lord Chaitanya MahaPrabhu was chanting and
dancing in Harinam many forest animals were also chanting together. The God is great and able to do anything, so there is no doubt about it.<p>

One day, the cat got pregnant and gave birth to five kittens. The habit of the cat is that she moves kittens several different places by holding them in its
mouth. Thus, one day, the cat put the five kittens in five different clay pots in Mataji's room. In India on a certain day of the month, in the evening, the
potter makes fire and put their pots to bake them in "limbhada", so on that day Mataji put all pots in "limbhada." Limbhada means, a place where potter
bakes the raw clay utensils by putting them in a big fire. Shreebai had no knowledge that 5 kittens are in the pots and have been put in the fire. Limbhada
was burning with high flames; at night Shree bhai sat down as per daily routine to read Ramayan, the cat came there and sat down.  Shreebai put the lamp
on the cat's head and lit it as per routine. After a short time the cat seems confused and worried, the lamp started to shake. Shreebai began to get
doubtful in her mind that the cat is behaving strangely it has never happened before. The reason Shreebai used to keep the lamp on the head of the cat
was because she had nothing in the house to keep the lamp lit while she read. But, the other main reason, was also that the cat was so absorbed in Ram
Bhakti and her Ramayan, that she sits quietly and held the lamp while listening. Shreebai showed people of the world that a dumb animal could pray and
worship the God and be Ram conscious.<p>

As soon as, the Ramayan reading was finished the cat ran away from there in a hurry, she went to check on the pots in the house, she did not see them
there, so she started to run between the house and limbhada. Shree bhai realizes the situation and as soon as she went near the limbhada, she fell down,
her husband came there and got her up. She explained to him what has happened, and started praying to God Ram "Oh my Lord, the creator of the
universe, please listen to my request. The five kittens of the devoted cat that listens to the Ramayan daily are unknowingly put in limbhada in the burning
fire. There is no possibility to save them by us, but we earnestly pray to you for their life. My Dear Lord, Please listen to our request and save them, we
have full faith in you"<p>

During, this time a King named Hiranyakasyap was ruling the country. He was very proud, an atheist, and cruel, he considered himself like God, and ordered
the whole nation not to worship any deities, not only that but nobody should speak the name of God. He also ordered that if anybody will dis-obey and go
against this rule he/she will be killed. He called his young son Prahladji, and told him to make sure that his order is fulfilled. Prahladji organized his soldiers,
at every street in the city in order to maintain the order of the King. <p>

The soldiers of the army along with Prahladji, passed nearby the hut of Shreebai where a limbhada was burning. They heard the prayer and chanting words
of " Shree Hari, Shree Hari." Soldiers ran there and tried to attack her. Shreebai saw the soldiers standing behind her with open sword. Shreebai thought for
a moment and decided that," If I have to die by remembering God, I am not afraid to be killed, but by chanting and praying to the God, the lives of the five
kittens will be saved." She put full faith in God, Prahladji became angry and shouted," Have you not heard the order of King Hiranyakasya? Whom are you
remembering now by chanting God names?" Shree Bhai replied quietly, 'Shree Hari , Shree Hari ,Shree Ram, Shree Ram. Shree Ram is the only powerful
one'. ' Only your Ram is powerful?' said Praladji. Shreebai again replied quietly, "Yes." Prahladji became more angry and said;"We will see who is more
powerful your "Hari" or my father?" Shreebai said,"Tell your father and ask him whether he can rain a drop of water or shake a leaf of tree without touching
it. I have full faith in my "Hari".<p>

Prahladji became quiet for a moment and started thinking. When he became completely calm, Shreebai informed him of the whole story of the cat, its
kittens and the burning limbhada.<p>

Prahladji said, "Is your Hari going to save your cat's kittens from this burning limbhada? It is hard to believe". <p>

Shreebai said, "I can not argue much with you, but only request you to stay and wait here until morning. I trust fully in Shree Hari. You wait until limbhada
has cooled down. After then, if you wish I will give my head to you and you can punish me as you like, even to cut my throat."<p>

Prahladji thought to himself, "It is worth to make sure," and ordered Shreebai not to touch or open the limbhada until he came back in the morning. As a
safety, he put one soldier to watch. In the morning, Prahladji came back. Shreebai and her husband opened the limbhada, and moved the clay pot one by
one. The limbhada was almost empty except for the remaining five pots, but no kittens came out. Shree bai was shaking. Prahladji is thinking that this will
prove that my father is powerful and not your Hari. Out of the remaining five pots, Shreebai lifted one and with a surprise a kitten jumped out. Shreebai got
tears of happiness in her eyes and shouted, "Oh Hari, Oh Ram you are great!" She lifted the four remaining pots and all the kittens came running out,
all-alive!! She again said, "Vah Hari Vah." Prahladji seemed confused and ashamed. He then bowed down at the feet of Shree bai Mataji.<p>

Prahladji went straight to the King's palace. He went to the throne where his father, King Hiranyakasapya was sitting. Prahladji started shouting, "Shree Hari
Shree Hari." The King became angry and asked his son whom he was remembering? Who is Shree Hari? Whose name are you uproaring? Prahladji kept
chanting "Shree Hari," and took off his clothes, ornaments, weapons, etc. Hiranyakasapya asked Prahladji are you mad? What is wrong with you? <p>

Prahladji said, "No this is not madness only Shree Hari is the powerful. I do not want your kingdom, only Shree Hari Shree Hari." Within a moment Prahladji
relinquished the kingdom and offered obeisance to ShreeBai. He accepted her as a "guru"(spiritual master). As poison never turns into nectar such as
Hiranyakasapya continued his wicked kingship. Although, Prahladji was his own son, yet he gave him poison to kill him. He was thrown from the top of the
mountain, was dipped down in water. Prahladji did not move from his resolve and kept on chanting God's names. Hiranyakasapya could not kill him. <p>

When anybody does injustice to any devotee of the Lord, the Lord himself has to come to his aid. Lord says, "You worship me, surrender to me, and I will
look after you. This is a promise by Lord Krishna in Bhagvad Gita." <p>

Although Hiranyakasapya could not kill Prahladji, he continued his wild activities toward God and Prahladji. Hiranyakasapya, had a boon from God, that any
man, woman, or animal could not kill him, inside or outside the home, or by weapons or sticks, in day or night. Hiranyakasapya went along with his evil
activities. One day, suddenly Hiranyakasapya asked Prahladji, "Show me where is your God, is he in this pillar?" Suddenly, God took the incarnation of
Narsingh Bhagvan, that has the head of the lion and the body of a man, by the time the sun set, God killed Hiranyakasapya between the two rooms on the
doorstep. God burst the center pillar of the room and appeared as Narsingh Bhagvan to save Prahladji. God took Hiranyakasapya in his lap and tore him
apart by his claw in the presence of Prahladji. Narsingh Bhagvan incarnated to save Prahladji and Hiranyakasapya's general lamentations, thus Narsingh
Bhagvan appeared as half man/half animal in order to save his devotees.<p>

Shreebai Mataji, who saved the kittens by her Bhakti devotional service and also saved Prahladji's life/soul and saved the kingdom from cruelty of King
Hiranyakasapya.<p>

It is likely that a question may arise that how did the kittens survive the burning limbhada. The answer is that, the God is great and can do anything. By
Gods mercy a small stream of water was running underground and all those five pots were kept wet and untouched of fire. So everything happened by the
will of God. Shreebai and Haridas prayed for the kittens' lives, the whole night and thus, they were saved!<p>

All this happened in the town of Talala in Saurastra, near Junagadh and Shreebai Mataji's temple is still there in Talala.

</td>
</tr>
</table>
</center>
<p>
<%= link_to "Back to Main", root_url %>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905;
var sc_partition=3;
var sc_invisible=1;
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->

