<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Profile of
Pragjibhai Jinabhai Ladva
</font></h1></center>
<p>
<center>
<%= image_tag 'ladva1.jpg', width: "145", height: "185" %>
</center>
<p>
<center>
<table border="0" cellpadding="9" width="700">
<tr>
<td>

By Pragjibhai Jinabhai Ladva - April 29, 2002<br><BR>


<font color="yellow">JAY SHREE KRISHNA - JAY SITA-RAM</font><BR><BR>

My mother Ratanben and my father Jinabhai were born in Bharat in 1915.<BR><BR>
After the marriage, they went to Africa, where our grandfather had started a furniture workshop in Zanzibar, Tanzania. My elder brother was born there. I was born in Dar es Salaam - Tanzania in 1937.<BR><BR>

In 1938, my father went to Kenya in search of work as a carpenter. It was then that he sent my mother , brother and me to stay in I India. I t was then , at a very young age that I was accepted as a 'Sevak' by our Guruji Ramswaroopdasji Saheb of Kabir Ashram, Jamnagar.<BR><BR>

We joined my father in Kenya in 1942. At first we went to Thika, then we moved to Mombasa and eventually we settled in Nairobi. I went to study Radio and Electrical Engineering in India, where I also married my wife Mukta in 1956.<BR><BR>

Although, I had brief contacts with our Guruji in India, Kenya or Britain where I arrived in 1977 - He was very pleased with my various types of charity work and he liked it very much when I sang Bhajans. A few years ago, he gave me the name PARMESHWAR-DASJI. My first religious inspiration came from him. I learnt a great deal from satsangs of many Sadhus but mainly from Hirjibapa. I had the benefit of his  Satsang for about 18 years.<BR><BR>

<font color="yellow">JAY JAMUNAJI  SATYANAM     JAY AMBE MAA </font><BR><BR>

All  my brothers, sisters, our children,  in short,  our whole Ladva Parivar is greatly indebted to our Guruji and Bhakta Hirjibapa of Nakuru for numerous blessings and their prayers in times of distress.<Br><BR>

Hirjibapa was a family man and although a trader in Nakuru, his main endeavor was showing a pious way of living to thousands of people in East Africa and England. <BR><BR>
In 1974, I had the benefit of travelling with him for Bhajans to various places including Britain. He had given me the name PRAGMAL. Many followers of Hirjibapa, more enlightened than me have given me guidance in religion that I like to remember all but cannot mention names, in doing so, I might do injustice to those forgotten. I n short, I bow to them and give respects to everyone.<BR><BR>

It is impossible to fully describe god. He is so merciful. To explain the virtues and compassion of Saints is even more difficult.<BR><BR>
Hirjibapa used to say that there is no sin done accidentally or a mistake done unknowingly which chanting the Lord's name cannot rectify. He urged everyone to chant as much as possible and do service for the needy. I t is a true method of salvation in this Kaliyug. We should not hurt any living being and never covet anything which is not ours. Be good and the whole world will be good to you. Remember God and he will remember you.<BR><BR>

<font color="yellow">HARI HARI HARI BOL</font><BR><BR>

Hirjibapa used to say that if you are thinking of doing something good tomorrow, do it today, the time is now. I f we remember that there is a fraction of God in every living being and everywhere, we cannot misbehave towards anyone.<BR><BR>

If we want to please SitaRamji, first we should make our parents happy, if we want to please Radha, we should make our lifelong companion happy and we cannot please Krishna by neglecting our children or making them unhappy.<BR><BR>

It is a proven biological fact that we are vegetarians by nature. Our digestive system, teeth, hands, legs and body proves it. Animals stick to their diet and behave according to the laws of nature, why can't we?<BR><BR>

Our body becomes weak if we avoid meat, fish, eggs, etc - is totally wrong. Look at elephants, Horses, Zebras, Buffalo, Rhino, they are vegetarians, are they weak? They stick to the food nature intended.<BR><BR>

We can commit sin indirectly by using sofas made from leather of slaughtered animals. Most holy people in India use wooden sandals. I f we try, we can always find footwear or handbags made from rubber or plastic. Car seats of non-leather material are available.<BR><BR>

<font color="yellow">SHREE RAM JAY RAM  -  JAY JAY RAM</font><BR><BR>


For every action, there is reaction. Our Hindu religion says that if we are happy, it is the fruit of good deeds in previous life. I f we are suffering, it is because we have not praised the Lord or we have not done selfless service.<BR><BR>

Animals look after themselves and their families. If we behave in a similar way, there is not a lot of difference between humans and animals. The good Lord has given us thinking power. We should look around and try to be helpful to other living beings in any way we can.<BR><BR>

Selfless service is BHAKTI. Greed is the root cause of so many sins. We should lead such a good life that when we die, not simply relatives but many others should remember our absence and us should be felt.<BR><BR>

Hirjibapa used to say regarding 24 hours. God has given us 8 hours to work, 8 hours to rest.  Questions will be asked by our maker about what we did with remaining 8 hours, before birth. We had promised to God that we would always remember him, in fact to chant his names 2,600 times. Everyone should have chanting beads, most religions have it, so there must be a reason for it, every religion advises to set aside some money for charity not 10% of income but 10% from savings. <BR><BR>

<font color="yellow">HARE KRISHNA    HARE KRISHNA </font> <BR><BR>

People like our Guruji, Hirjibapa are messengers or say agents of God,. Once we surrender unto them, they always bless and protect us. Remember Hanumanji , to please SitaRamji and praise SitaRamji to make Hanumanji happy. Look after cows and poor to make Radha and Krishna happy.<BR><BR>



Some people say that they don't believe the existence of God, because they can't see or hear him. Different colored visions are all around us, also there are different sounds of music everywhere. A TV or Radio can catch  those pictures and sounds. Likewise we have to be on a very high spiritual platform to experience the workings of God . And Saints do not perform miracles, they just happen with the blessings of the merciful Lord, impossible becomes possible.<BR><BR>

Once we start to walk the path of Truth, complications vanish, pressure eases, we achieve peace and see light.<BR><BR>

Hirjibapa preached the pious way of life by example. He led a very simple life, never accepted money from anyone. He traveled all over East Africa, helping to build and open Temples, never asking for any special treatment, food or accommodation anywhere. He changed so many people, because he was a pure devotee and a real TYAGI. Many have known him to be a 'Siddha' Mahatma. <BR><BR>

<font color="yellow">KRISHNA KRISHNA  -   HARE HARE</font><BR><BR>

Money and materials can give one physical comfort, but only through living a virtuous life can we achieve inner peace and happiness.<BR><BR>

We are incomplete without religion. It means Faith, meaning to believe. Our Gujarati language is essential for everyone to read religious scriptures or to listen  to our religuous leaders. I f we forget our original vernacular part of our culture is gone. Many old traditions are also part of our culture. Gradually religion is forgotten and a person without religion has very few or no principles. Without principles the life of a human being is not complete.<BR><BR>

Non-believers say - Who knows that one-day everyone has to account for their life and deeds on this earth. We hope our house never falls down or catches fire. We hope our car is never involved in an accident and we never expect to die suddenly but we take out all sorts of insurance, just in case. In the same way, we should live as a good person and pray so that if and when time comes to answer when we die, we have something to defend ourselves.<BR><BR>

Death comes to everyone when we leave everyone and everything behind. We can take with us the blessings of the needy, our Guruji and Holy men.<BR><BR>

<font color="yellow">HARE RAMA HARA RAMA   -    RAMA RAMA HARE HARE</font><BR><BR>

When, I was only 15 months old, I had died and come back to life after a short time. My mother changed my name to PRAGJI ( PRAYAGJI), my original name was PREMJI.<BR><BR>
About 30 years ago, I was hoping to retire at 55, my prayers were answered and I resigned from my job as a train driver at that age. For the past ten years, I have been able to devote more time to welfare work and Bhajans. I was a sound Engineer in the Radio Station in Kenya for 15 years.<BR><BR>

Everyone in our group sets aside money for charity every week, although we charge nothing for Bhajans, people give money for charity. It is never necessary to ask for funds to do welfare work in India but friends and relatives donate a great deal. Every few months,  I go to India to spend money where necessary, through our SHREE VISHNU BHAGWAN BHAJAN MANDAL, we have been able to build or buy homes for over a hundred families, built temples, helped in various projects for cows, built schools, support Shree Sorathia Prajapati charitable Trust, Keshod, I India which helps widows, old people and give medical assistance. We also support eye treatment camps. Our Mandal has given funds for Prajapati Community buildings in many towns. We have helped to start half a dozen charitable marriage functions.<BR><BR>







<font color="yellow">RADHA KRISHNA</font><BR><BR>


The blessings of Hari Guru Saints have been enormous for our Parivar. Vijay, my son was about 12 years old, on his way to school in Kenya. He was hit by a car and thrown away. Even his shoe flew off, his clothes were torn but not a scratch on his body. Hirjibapa's Blessings saved him.<BR><BR>

We had a dog aged 17 years, his kidneys had failed, had stopped eating for 15 days. Going to Bhajans we diverted the car to our house and brought the dog near Hirjibapa in the car. He caressed him, I am sure that due to his blessings he recovered and lived longer.<BR><BR>

Pujya Hirjibapa was a true Saint, it is impossible to describe all my experiences with him. Our association with him definitely made the path of our life smoother.<BR><BR>

My younger brother Nanji and his wife Indu had two daughters. Doctors had said that she no longer had a chance of bearing children as she was taking so much medication for arthritis. Suddenly after 18 years, she was well, she stopped the medicines and their son Ishwar was born. The illness resumed afterwards. That was a blessing of Bapa.<BR><BR>

Whilst, staying at our house Guruji asked about the family of my brother Velji. My mother said he had two daughters, Please bless him with a son. He advised Lata to do certain Pooja and Prayers.<BR><BR>

<font color="yellow">JAY SHIV SHANKAR   -  HAR HAR GANGE</font><BR><BR>

Their son Mahavir  was conceived , Doctors said that because Parents' blood was not matching, the child will be born invalid, mentally defective or may even die in womb or at birth. We had faith in a higher Doctor and Guruji's blessing. A truly healthy child was born without any defects.<BR><BR>

I was travelling with my wife, Mukta in India. The bus overturned and landed in  a ditch. When I opened my eyes, she was beside me, the bus was empty, upside down, and a lot of noise from people on the road but none came to help. I tried to wake her, when I realized that heart had stopped, her tongue was hanging out, one eye shut, the other open. Although, her heart started beating again, when I gave her mouth to mouth, I think we were saved by blessings.<BR><BR>

When my grandson Kabir was born, Doctors had given him only half an hour to live. He is still alive,  14 years old and very pious. It was the result of blessing of our Guruji and the prayers of countless followers of Bapa.<BR><BR>

It is very beneficial to hear Satsang from holy men. Simply being near them can change our thinking and way of life for the better. They have the power of knowing what is in our mind. They often answer our questions without us asking. They can change your destiny by removing obstacles.<BR><BR>

<font color="yellow">JAY SHREE KRISHNA  -  JAY SITARAM  </font> <BR><BR>

During our U.K Yatra, in 1974 - Hirjibapa was staying overnight at a house in Bromwich. I used to look after him, normally waking before him. Next morning, he woke up before me, so I requested him to wait a while, I took a quick bath then helped him to be ready, which was one hour earlier than the normal time. A minibus full of Devotees arrived to see Hirjibapa.<BR>
 It was then that I realized why he had woken up early.<BR><BR>

Our Guruji, Hirjibapa, Shri Prabhupada, all say that we should not eat meat, no drink, no sex outside marriage, no gambling, one should avoid all these but once you start drinking, the mental balance which differentiates between right and wrong goes leading to all sorts of sin and a downward spiral.  Hari Bol. <BR><BR>

You might think my understanding is wrong in some instances, even if you find truth in a few sentences and try to abide by these words, the effort to write this profile will be worthwhile.<BR><BR>

Congratulations to Dhiru Zinabhai and Shila Pankhania for their noble effort to spread the word about religious and community leaders for the benefit of the whole Prajapati Gnati. I thank Vinod Masri and Rohit Suresh Pankhania for urging me to write about Hirjibapa.<BR><BR>

May Hari Guru Saints bless you all.<BR>

P.J.M.L <br><br>


<b><font color=red>Prayer written by Pragjibhai Jinabhai Ladva:</b></font><br>
Merciful lord, please give us<br>
strength so that we may support the weak. Please<br>
give us strong legs so that we may run to aid <br>
anyone in trouble and give us strong hands so<br>
that we may serve the needy. Please give us a<br>
little extra wealth so that we can help the less<br>
fortunate.<br><br>
Please give us clear eyes so that we may see good<br>
in others. And give us good ears so that we may<br>
listen and sing your praises. Please give us<br>
true sense so that we never harm anyone and<br>
wish everyone well.<br><br>
Grant us compassion and make us humble so that<br>
we respect elders. Please give us guidance so<br>
that we never stray from the path of truth<br><br>
We shall be happy and satisfied with whatever<br>
blessings we receive from you. We are your<br>
servants, forever under your obligation.</font><BR><BR>
<font color="66CCFF">P.J.M.L 18.9.99</font><br>
<font color="66CCFF">Many many thanks for your blessings</font></center>





</td>
</tr>
</table>
</center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
