<html>
<head>
<title>The Story of the Still Wheel</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
table      {color:white}
</style>
</head>
<body bgcolor="black">
<br>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><h1><font color="#CC3333">
The Still Wheel
</font></h1>
<font color="steelblue" size="3"><b>
By Bina Thomas
</b></font></center>
<p>
<center>
<table border="0" cellpadding="9" cellspacing="0" width="700">
<tr>
<td>

There was a time when every ritual from marriage to death required a kumbhar's pots and blessings. He was the
prajapati, a direct descendant of Brahma. Now, the glitter of steel and cheap aluminium has thrown the whole ancient
tradition out of business, and reduced the potter to casual labour in farms and factories<p>

Kaachi maatti ma rammya, Paakki maatti nu khadu
Dhando gayo tthap, have shoo karvoo!
(Played with raw clay, Ate out of the baked clay
Business is bust, now what do we do!)
-A not-so-old saying prevalent among the old and middle-aged potters ofBhavnagar district, Gujarat<p>

"Ae jamano to gayo!" (Those days are gone!), laments 80-year-old Chagandada. Smiling through the multitude of
wrinkles on his face, Chaganbhai Bijalbhai Rathod tells us of a time when a daughter's wedding trousseau was
considered incomplete without a lagdu (a large rope basket) foil of a variety of earthen pots to decorate and add to her
newly-acquired kitchen. This ace potter, also considered a bhava (priestly person) by the villagers, fondly remembers the
days, some 40-50 years ago, when people from faraway villages around Tarasara (Taluka Talaja, Bhavnagar district,
Gujarat), would come to him for the beautiful clay pipes he could create on the wheel.<p>

Bikhabhai of village Kuntasi (taluka Maliya, Rajkot district) has put away his potter's wheel and sold his donkeys. Now
he sits idly in retirement, even though he can still throw a million pots for domestic use, if only there were buyers.
Times are bad for the potters of Gujarat, and indeed all of India. With the decreasing use of clay pots in domestic
kitchens, especially in the villages of India, the art of pottery-making and the community of potters are slowly becoming
extinct. 'Aluminium and steel have conquered clay. Simple earthenware today is considered non-durable and 'old-
fashioned'. Only elaborate ceramic pots have made it to hallowed 'designer' status, and adom the softly-illuminated
comers of elite flats and bungalows. In creating these designer pots, the potter no longer remains an artisan in his own
right. He is merely a paid worker who throws a pot at his designer's specification.<p>

Beginning with the Indus Valley Civilization (3000-1800 BC), the entire northwestern frontier of our country witnessed
a remarkable range of pottery. This was mostly red pottery with designs in black. It consisted not only of vessels for
everyday use, which were beautifully painted with floral and geometric motifs, but also tableware such as the dish-on-
stand and tall jars and goblets. Later periods saw an ever-increasing variety of pots, but nothing to match the superior
quality and beauty of the Indus Valley Civilization. During the early historic period, polished ware and coloured pottery
became popular and during the historical period, glazed ware and porcelain were a novelty. Different techniques of
 decorating clay pots were employed. Thus, we had not just painted pots, but pots with incised designs, stamped designs,
 moulded pottery and a multitude of others. Copper vessels were present as far back as 1800 BC, followed by brass and
 enamel-coated iron vessels, but these were not for the common man. Then came steel.<p>

 Along with every new metal or technique in vessel form, however, earthenware continued to be the predominant vessel
 form in the common man's kitchen. The Hindu concept of purity and pollution ensured the survival of pottery in India for
 thousands of years. Earthenware vessels were easy to replace by new ones whenever 'polluted' or broken. They were
 available in plenty, were comparatively cheap, and were function-specific. Until a few decades ago nobody would dream
 of storing cool water or keeping the buttermilk from turning sour in a metal pot.<p>

 And then shining steel, cheap aluminum and dangerous yet user-friendly plastic killed the earthen pot. Along with
 vessels of wood and stone.<p>

 The dark but neat kitchens in the villages of Gujarat proudly gleam with rows of steel vessels. So easy to use and
 maintain. So handy in all their shapes and designs.<p>

 And the kumbhar community, once such an essential part of every village and household, became fodder for
 anthropologists' and sociologists' studies in changing times and its social impact.<p>

Like any other aspect of Indian culture, there is a lot in common amongst the potters of India, especially between the
south and east, and between the north and west. Pottery manufacture is the monopolistic occupation of a group or caste,
and the production is confined to a limited number of people. In Gujarat, thejati or caste of the potters, locally called the
kumbhars, is divided into four sub-jatis - namely the Gujjar, Vatalia, Varia and Musala. Of these, the Gujjar and Vatalia
communities are Hindus, while the Musala and Varia are Muslims. The other lesser-known jatis are Khanbati, Lad,
Sorathia and Kadiya. Although considered an artisan class from among the lower ranks of the Vaisya community, some
claim to be Kshatriyas. For instance, the family of potters in Tarasara are Rathods and worshippers of Shakti and thus
Rajput Kshatriyas by lineage. They belong to the Gujjar jati and are believed to have migrated from Rajasthan.<p>

The entire kumbhar community, although considered merely an artisan class by people both in villages and cities, takes
pride in being the direct descendants of Lord Brahma. In fact Kumbha, from whom they derive their name, was one of
the four sons of Brahma, the others being Harsha, Givsha and Mansa. Kumbha was the divine potter who possessed a
wheel which could rotate on its own. There is an interesting myth that goes around among the potters of Saurashtra.
Once at a feast meant for the gods and their families, young Kumbha finished his meal and got up to wash his hands even
before the senior gods had done so. This was taken as an act of disrespect, an insult. Lord Brahma in a fit of rage
excommunicated his son. Lord Vishnu put a curse on the spinning potter's wheel and Shiva froze the lump of clay.
Kumbha pleaded with the holy trinity and they finally relented. But Kumbha would now have to live on earth with other
humans. The three gods gave him certain gifts, so that young Kumbha could survive on earth. These were a staff (danda)
and a water pot (kamandalu) from Brahma, a wheel (chakra) from Vishnu and a piece of cloth (langot) and a length of
string (janeyu) from Shiva. These apparently are the most essential things for a potter. A wheel to throw the lump of clay
onto, the staffer stick to rotate the wheel, a small pot with water kept nearby to wet the palms while shaping the pot, a
small piece of cloth to smoothen the surface while shaping the pot and, finally, a piece of string to cut and detach the pot
from the wheel.<p>

Interestingly, this belief is quite common among the Muslim potter community also. For a potter, the art of shaping pots
is as revered as Lord Brahma's creation of the universe itself, and for the same reason they share the respected title of
prajapati.<p>

From that exalted status it's been all downhill since the day they lost the battle to the Kansgar or the brass-smith as in the
folktale from the potters of Kaira district. No longer does any father send a cartload of earthenware as part of his
daughter's dowry, as was the case until 70 or 80 years ago in the villages of Gujarat; no young girl cherishes those large
handas to cany water or the all-accommodating kothis made pretty with hundreds of tiny mirror bits, to keep her
wedding trousseau in.<p>

In rural Gujarat the earthenware most commonly seen is the matio and the surahi, and sometimes the hando and tavdi.
Replaced by the metal tava, the tavdi is used even today by the very poor in the villages and by the Bhil tribals on the
hills of eastern Gujarat to bake bhakri. You have to visit the potter's house-cum-workshop to see a generation of
earthenware that even the potter's children may be unaware of.<p>

The potter himself is a revered man. Chakda Poojan, a pooja done by young girls a day before their wedding, involves
worshipping the potter's wheel and taking his blessings. He 'sets in motion' the girl's wedded life. The pivot and socket
which steadies the wheel while the potter throws a pot are symbols of male and female, the union of which generates
 creation. And it is prajapati (the creator) himself who presides over this union.<p>

 There was a time when every ritual - be it wedding or funeral - required clay pots. For instance, in a marriage ceremony
 the mandap itself required 32 pots. For the uttar kriya conducted on the 12th day after death, 12 rows of four pots placed
 one above the other were to be erected near the house of the deceased.<p>

 Other than the hando and/or matio used to store water, the vessels you can still find in the villages is the kurdi or thopli
 to store buttermilk. Lesser-known vessel types are the gola, goli, bhalyo (all to store water), dohni, dohno (for
 buttermilk), patiya (for cooking), kathrot (for kneading dough), dabro (for keeping salt), dhakni (the lid) and the tavdi
 (for baking bhakri) which is still used by quite a few.<p>

But other earthen forms have become more or less extinct. The coconut-shaped and sized pot called the gujadiyo in
Gujarati which tops the four columns of pots placed at the four comers of a Hindu wedding mandap, is now replaced by
steel vessels of similar shape. And the peculiar chakli, literally meaning a bird (the common swallow), which is placed
on the gujadiyo is no longer used. "Udi re udi re mari chakli," sings the father of the daughter as she flies away from his
home and courtyard to nest elsewhere.<p>

The garbo, a globular pot with perforations, is still used during the navratri festival in the villages. With a lighted lamp
placed in the pot, symbolizing the female energy, it is worshipped by women who dance around it for nine nights. But as
young Ramesh, Narainbha's son puts it, "what with disco dandiyas and large illuminated cutouts of Ambamata, who
cares about the garbo?" Kodiyu or the diyas used during Diwali are still popular both in the villages and cities. But with
new models of diyas, lanterns and candles, the simple and plain kodiyu is being ousted. Along with it the tradition of
potters personally coming and gifting kodiyu and blessing each individual house with prosperity is also gone.<p>

Every house in the village possessed a kunda, which was hung from a tree or from the edge of the roof. In it was placed
some grain and water for the birds. This is very rarely seen today. The vessel which continues to be considered very
important and indispensable in the villages and perhaps in the cities is the lotko; a small container used to carry the ashes
of the dead from the funeral pyre and later set them afloat in the river.<p>

The potters work practically everyday and throughout the year except for the three months of the monsoons (June to
August). Although the potter does not require a large capital investment for his trade, the net result of his patience and
hard work is less than sufficient in the modem circumstances. Even today when Narainbhai and Narbadaben ofTarasara
go from village to village selling pots, they prefer to receive payment in terms of grain; for instance a matio would be
priced for four paylis (equivalent to 2 kg) ofbajra or at Rs 8. With ever-decreasing demand for even the common water
pots, these potters are forced to seek some other source of income. In Tarasara, out of the nine families of potters
consisting of 40 males and 20 females, only five men are actually engaged in the trade at present. Two of them, still in
their 50s, continue to throw pots just for some added income, while their sons are employed as labourers at the ship-
breaking yard of Alang, just six kilometres from the village. For 80-year-old Chagandada it is a means of survival.
Childless and a widower, he must fend for himself. Although he lives in a mud structure in the courtyard of his nephew's
house, he is fall of pride for his skill and dignity as a 'holy man'.<p>

Their lack of education ensures that they can go nowhere other than to the fields and factories as labour. In Gujarat,
kumbhars, being a professional class, rarely farm or accumulate land and so their position is no better than the landless
labourer. Sons are fairly educated and they no longer prefer messing around in mud for a profession. Most of them seek
refuge as diamond-cutters in the many small-scale diamond-cutting factories housed in the villages of Saurashtra. Here
again it is the glitter that has the earthen pot beaten.<p>

Of the two houses of potters in Kuntasi, one is presided over by a brick-maker. He employs labour and after paying off
their daily wages, he hardly makes any profit. Most of the kumbhars living around the town of Morvi, famous for its tiles
and ceramics, work as labourers in some factory. This is the case with most of the potters who reside in the villages
surrounding a small or big town. If not sweating it out in some dirty backyard of a factory, they are hired by shopkeepers
to make pots according to the market demand. Here again, what eventually comes into their palms is very little, too little
for the loss of their freedom and dignity as artisans.<p>

Besides the technological backwardness of their tools and techniques of manufacture, these simple people find it difficult
to adjust to the new requirements of the urban market. For them, making ornate designer items or mould-made flower
pots means too many complications. It's big business for them, and much beyond their simple understanding. There's
 something they don't like about being in the backyard of some suburban house, painstakingly compromising with their
traditional ideas while the sahib makes big money. Potters like the elderly Chagandada and middle-aged Narainbhai of
 Tarasara village prefer staying at home and catering to the few demands of the village to venturing out with pretentious
 and ornamental ideas. They are happy making diyas for Diwali and lotkos to carry the ashes of the dead.<p>

Along with these changes, the lives of women have changed as well. A potter's house is one in which you see an absolute
division of labour. Although there is a general taboo all over the country on women working at the potter's wheel, a
potter's wife and daughters are close participants in the various stages of pottery production. The wife accompanies the
husband when he goes collecting clay for the pots and firewood for the baking. She does the delicate mixing of ash and
donkey dung with the clay and, later, the tough and difficult kneading of the clay into the right consistency. She also
helps carry the pots for sale from village to village on donkey-back. Besides this she also manages the house. The artistic
paintings on some of the pots or even the application of the glossy red or black slip is also a woman's job. She is free to
create innovative motifs, besides the usual peacocks, flowers and curving lines and dots. It is her job to make the wares
look pretty. Interestingly, the daughters of the house are also expected to actively participate in this exercise, besides
learning embroidery and kitchen work. When married they work out new designs at the husband's house.<p>

But now, with no pottery work in progress, these women too have lost their worth as true partners in the profit and
creativity of the family. Their artistic talents are now contained within the four walls of a kitchen. A community in which
a hard-working and talented girl was considered an asset, who could fetch a very good bride price from her groom, since
she will be a helping hand in the in-laws' household, is now an added liability to her father. He now has to make
arrangements for her dowry in cash.<p>

Today, in some of the villages, a potter's child leams about his land and people at school, and at home he wonders about
the purpose of the wom-out wheel in a comer of the house<p><br>
<font color="#66CCFF" size="4"><i>Bina Thomas is a Pune-based archaeologist</i></font>



</td>
</tr>
</table>
</center>
<p>
<a href="http://www.sspgm.net/">Back to Main</a>
<br>
<a href="javascript:history.back(1)">Go Back</a>
<p>
<center><script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=491905; 
var sc_partition=3; 
var sc_invisible=1; 
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c4.statcounter.com/counter.php?sc_project=491905&amp;java=0&amp;invisible=1" alt="frontpage hit counter" border="0"></a> </noscript>
<!-- End of StatCounter Code -->
