<center>
<table border="1" cellspacing="0" cellpadding="9" width="900" bordercolor="#CC3333">
<tr>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td  align="center">
<%= render 'shared/india_left' %>
</td>
</tr>
</table>

</td>
<td width="50%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<font color="#CC3333"><center><h1>
Welcome to the Talala Mandal
</h1></center></font>
<p><br>

<font color="white"><b>
<table border="0" cellspacing="0" cellpadding="0"><tr><td align="right">
<font color="red">Vice Presidents:<font color="black">..</font></td><td>Gigabhai M. Chavda</td></tr><tr><td> </td><td>
Gokarbhai K. Dabhi</td><td> </td></tr><tr><td> </td><td>Laljibhai H. Chandegra</td></tr></table><p>
<font color="red">Secretary: </font>Purshotambhai D. Chavda<p>
<font color="red">Vice Secretary: </font>Ashokbhai V. Koria<p>
<font color="red">Treasurer: </font>Ranchodbhai V. Devalia<p>
<font color="red">Vice Treasurer: </font>Nagjibhai V. Marviya


<p>
</td>
</tr>
</table>

</td>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<%= render 'shared/right' %>
</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
