<center>
<table border="1" cellspacing="0" cellpadding="9" width="900" bordercolor="#CC3333">
<tr>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td  align="center">
<%= render 'shared/india_left' %>
</td>
</tr>
</table>

</td>
<td width="50%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td>
<p>
<font color="#CC3333"><center><h1>
Welcome to the Talala Mandal
</h1></center></font>
<p><br>
<font color="white"><b>
Shree Sorthiya Prajapati Gyanti<br>
Shreebai Ashram, Talala (Gir)<br>
Dist. Junagadh-Gujarat (India)<p>
<font color="red">Tel: </font>02877-22237/220103<br>
<font color="red">Website: </font><a href="http://www.shreebaiashram.org/">www.shreebaiashram.org</a><br>
<font color="red">Email: </font><a href="mailto:shreebaiashram@yahoo.co.in">shreebaiashram@yahoo.co.in</a>

<p>
</td>
</tr>
</table>

</td>
<td width="25%" height="100%">

<table border="1" cellspacing="0" cellpadding="7" height="100%" width="100%" bordercolor="#000080">
<tr valign="top">
<td align="center">
<%= link_to root_url do %><font color="yellow">Back to Main</font><% end -%><p>
<font color="red"><b>Features</b></font><br>
<%= link_to "The President", page_path('talalapres') %><br />
<%= link_to "The Executive Committee", page_path('talalaexec') %>

</td>
</tr>
</table>

</td>
</tr>
</table>
</center>
