<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333; height: 400px;">

      <center><h1 class="page-header">
        SSPGM Talala Mandal Executive Committee
      </h1></center>

      <font color="red">President: </font>Parbatbhai D. Devalia<br />
      <font color="red">Vice Presidents: </font>Gigabhai M. Chavda<br />
      Gokarbhai K. Dabhi<br />Laljibhai H. Chandegra<br />
      <font color="red">Secretary: </font>Purshotambhai D. Chavda<br />
      <font color="red">Vice Secretary: </font>Ashokbhai V. Koria<br />
      <font color="red">Treasurer: </font>Ranchodbhai V. Devalia<br />
      <font color="red">Vice Treasurer: </font>Nagjibhai V. Marviya

    </div>

    <div class="col-4">
      <center>

        <font color="red"><b>Features</b></font><br>
        <%= link_to "The Executive Committee", page_path('talalaexec') %><br /><br />

        <%= render 'shared/india_right' %>

      </center>
    </div>

  </div>
</div>
