<div class="container mb-4 mt-4 ">
  <div class="row">


  <div class="col-4" style="border-right:2px solid #CC3333; height: 400px;">

  <font color="red"><b>Features</b></font><br>
  <%= link_to "The Executive Committee", page_path('talalaexec') %>

</div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Talala Mandal
      </h1></center>

      Shree Sorthiya Prajapati Gyanti<br>
      Shreebai Ashram, Talala (Gir)<br>
      Dist. Junagadh-Gujarat (India)<p>
      <font color="red">Tel: </font>02877-22237/220103<br>
      <font color="red">Website: </font><a href="http://www.shreebaiashram.org/">www.shreebaiashram.org</a><br>
      <font color="red">Email: </font><a href="mailto:shreebaiashram@yahoo.co.in">shreebaiashram@yahoo.co.in</a>

    </div>

  </div>
</div>
