Replace all

<a href="http://www.sspgm.net/">Back to Main</a>

with

<%= link_to "Back to Main", root_url %>

====

Remove all

<a href="javascript:history.back(1)">Go Back</a>

====

Make images work

====

Search for any http://www.sspgm.net/...

Remove absolute images/links

====

Family trees

====
