<div class="container mb-4 mt-4 ">
  <div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333;">

  <font color="red"><b>Tourism Information</b></font><br />
  <%= link_to "Click Here", page_path('tourisminfoindia') %><br /><br />

  <%= render 'shared/india_right' %>

</div>

    <div class="col-8">

      <center><h1 class="page-header">
        India Tourism
      </h1></center>


      <a href="http://www.sotctours.com/">Click Here to go to www.soctours.com</a><br />
      <a href="http://www.eindiatourism.com/">Click Here to go to www.eindiatourism.com</a>

      </p><center><font color="red"><h4>Hotel Four Seasons</h4></font></center>
      I would like to take this opportunity to introduce and look
      forward to your patronage of tourism department categorized
      3 star corporate HOTEL FOUR SEASONS, conveniently located
      near Mumbai’s famous Juhu Beach with conference and banquet
      facilities at competitive prices. Just minutes away from Vile
      Parle Train Station 1˝Kms, an enticing Linking Road Shopping
      area 3Kms. Easily accessible to the Airport Domestic 4Kms -
      International 6Kms and downtown 20Kms. We provide free
      (courtesy) coach service/airport transfers at any given
      time, is assist and handled by cell phone equipped airport
      representatives.<p>

      We offer all modern conveniences in each of our 61 rooms with
      individually controlled air conditioning units, direct dial
      phones, satellite channels, laundry, lockers, 24hrs room
      service, credit cards accepted, doctor on call, travel
      counter. An extensive CRYSTAL &amp; GRANDEUR, meeting and
      function halls with NEWLY PAINTED, BRIGHT LIGHTED, NEW
      FEATHERLITE CHAIRS AND TABLES to hold conference, business
      and sales meet for 20/45 persons in ‘U‘ shape. A distinct
      exquisite restaurant &amp; bar GRINGO, caters to your varied tastes.</p><p>

      Pursuant to the introductions, thereafter I quote a very special,
      competitive and corporate room tariff to all my Gnati brothers
      and sisters to be informed all over UK, USA and AFRICA whenever
      they come to Mumbai, India. Our existing standard room tariff
      on European Plan only room &amp; tax basis for SINGLE DELUXE ROOM
      Rs 2160/- and DOUBLE DELUXE ROOM Rs 2520/- and TRIPLE DELUXE
      ROOM Rs 2920/-.</p><p>

      We offer special room tariff with breakfast on SINGLE DELUXE
      ROOM Rs 1600/- and DOUBLE DELUXE ROOM Rs 1700/- and TRIPLE
      DELUXE ROOM Rs 1800/-.</p><p>

      Subsequent to the introductions, we offer room tariff with
      breakfast, dinner, room charges and tax for SINGLE ROOM Rs
      1700/- and DOUBLE ROOM Rs 1900/- and TRIPLE ROOM Rs 2100/-.</p><p>

      Further again with breakfast, lunch, dinner, room charges and
      tax SINGLE ROOM Rs 1800/- and DOUBLE ROOM Rs 2250/- and TRIPLE
      ROOM Rs 2340/-.</p><p>

      I trust that the above information will suffice in making your
      final decision, however for any further clarifications or room
      bookings that you might require, to be accessed undersigned
      through: <br>
      Mobile: # +98200 53851
      Residence: # 2804 1914
      Email: <a href="https://web.archive.org/web/20040710030642/mailto:nitinshingadia@vsnl.net">nitinshingadia@vsnl</a></p><p>

      We are delighted at this opportunity to host you and assure of our
      best attention at all times.<br>
      Regards,<br>
      NITIN SHINGADIA<br>
      Sr. Sales Manager
      </p></font><center><font color="white">
      IT’S AN EXPERIENCE TO BE ENJOYED.<br>
      5, Juhu Tara Road, Opp. Juhu Church, Mumbai - 400 049. INDIA.<br>
      Email: <a href="https://web.archive.org/web/20040710030642/mailto:season4@bom3.vsnl.net.in">season4@bom3.vsnl.net.in</a><br>
      Tel: 2663 1441 (7 Lines)<br>
      Fax: 2617 7573<br>
      Reservation: 2617 7535
      </font>
      </center>


    </div>

  </div>
</div>
