

<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-8" style="border-right:2px solid #CC3333">

      <center><h1 class="page-header">
        SSPGM Bolton Mandal Executive Committee
      </h1></center>



      <font color="red">President/Chairman: </font>Natwarlal Punja Fatania<p>
      <font color="red">Vice President/Vice Chairman: </font>Laxmanbhai Premji Gohil<p>
      <font color="red">Secretary: </font>Hiteshbhai Kanji Vegad<font color="red">, </font><a href="mailto:jimvegad@cable-world.co.uk">jimvegad@cable-world.co.uk</a><p>
      <font color="red">Assistant Secretary: </font>Kishorbhai Shamji Dhokia<font color="red">, </font><a href="mailto:kdhokia@cfh-uk.net">kdhokia@cfh-uk.net</a><p>
      <font color="red">Treasurer: </font>Mukeshbhai Kanji Vegad<p>

      Dayabhai Purshotam Chavda<br>
      Mansukh Popat Pankhania<font color="red">, </font><a href="mailto:m3pkp@hotmail.com">m3pkp@hotmail.com</a><br>
      Rajubhai Babu Savania<br>
      Mukeshbhai Malde Shingadia<br>
      Kishorebhai Gordhan Solanki<br>
      Dhirubhai Velji Vara<br>
      Jayantilal Harji Vara<br>
      Ramnikbhai Harji Vara<br>

      </b></font>






    </div>

    <div class="col-4">
      <center>

        <font color="red" size="3"><b>Features</b></font><br>
        <%= link_to "History", page_path('ukboltonposition') %><br />
        <%= link_to "President", page_path('ukboltonpresident.html') %><br>
        <%= link_to "Executive Committee", page_path('ukboltonexecutive.html') %>

        <br /><br />

        <%= render 'shared/uk_right' %>

      </center>
    </div>

  </div>
</div>
