<h1><font color="#CC3333"><center>
Welcome to the Bolton Mandal President's Page
</font></h1><p><br>

<font color="white" size="3"><b>
President/Chairman: Natwarlal Punja Fatania
</b></font>

</center>
