<center><font color="#CC3333"><h1>
Shree Sorathia Prajapati Community (UK)<br>
Bolton
</h1></font><br>

<font color="yellow" size="3"><b>
Registered Charity No. 286801
</b></font><p>

<font color="#66CCFF" size="4"><u>
Key positions of SSPC Bolton committee since formation - 19/05/1968
</u></font>
<p>

<table border="0" cellspacing="3" cellpadding="3" width="400" height="500">
<tr>
<td align="center"><u><font color="red"><b>Year</b></font></u></td>
<td align="center"><u><font color="red"><b>Position</b></font></u></td>
<td><u><font color="red"><b>Names</b></font></u></td>
</tr>
<tr>
<td align="center">1968</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Pursottambhai Premji Chavda<br>Nanjibhai Devji Ladwa<br>Kalidas R. Gola</td>
</tr>
<tr>
<td align="center">1969</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Dayalal Pragji Chavda<br>Kalidas R. Gola</td>
</tr>
<tr>
<td align="center">1970</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Pragjibhai Nathoo Chavda<br>Mohanlal Mulji Savania<br>Harjibhai Dahya Ladwa</td>
</tr>
<tr>
<td align="center">1971</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Dahyalal Meraman Vara<br>Ramnikbhai Harji Vara</td>
</tr>
<tr>
<td align="center">1972</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Dahyalal Meraman Vara<br>Harjibhai Dahya Ladwa</td>
</tr>
<tr>
<td align="center">1973</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Trikambhai Bhura Kukadia<br>Kalidas Ramji Gola<br>Harjibhai Dahya Ladwa</td>
</tr>
<tr>
<td align="center">1974 - 1975</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Bhojabhai Madhavji Vara<br>Valjibhai Madhavji Kukadia<br>Harjibhai Dahya Ladwa</td>
</tr>
<tr>
<td align="center">1976</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Trikambhai Bhura Kukadia<br>Kalidas Ramji Gola<br>Harjibhai Dahya Ladwa</td>
</tr>
<tr>
<td align="center">1977 - 1979</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Kalidas Ramji Gola<br>Gordhanbhai Gokal Solanki</td>
</tr>
<tr>
<td align="center">1980</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Kalidas Ramji Gola<br>Gordhanbhai Gokal Solanki</td>
</tr>
<tr>
<td align="center">1981 - 1982</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Ghordhan Pankhania<br>Kalidas Ramji Gola<br>Gordhanbhai Gokal Solanki</td>
</tr>
<tr>
<td align="center">1982 - 1983</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Ghordhan Pankhania<br>Kalidas Ramji Gola<br>Gordhanbhai Gokal Solanki</td>
</tr>
<tr>
<td align="center">1983 - 1985</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Dahyalal Meraman Vara<br>Damodarbhai Keshavji Chavda<br>Harishbhai Trikam Bhalsod</td>
</tr><tr>
<td align="center">1986 - 1987</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Gordhanbhai Gokal Solanki<br>Kalidas Ramji Gola<br>Harjibhai Dahya Ladwa</td>
</tr><tr>
<td align="center">1988 - 1989</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Gordhanbhai Gokal Solanki<br>Damodarbhai Keshavji Chavda<br>Harjibhai Dahya Ladwa</td>
</tr><tr>
<td align="center">1990 - 1991</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Mansukhbhai Popat Pankhania<br>Mukeshbhai Malde Shingadia<br>Dhirubhai Chhagan Gadhia</td>
</tr><tr>
<td align="center">1992 - 1994</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Harjibhai Gordhan Pankhania<br>Shantilal Gordhan Pankhania<br>Babubhai Gordhan Pankhania</td>
</tr><tr>
<td align="center">1995 - 1996</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Laxmanbhai Premji Gohil<br>Hiteshbhai Kanji Vegad<br>Mukeshbhai Kanji Vegad</td>
</tr><tr>
<td align="center">1997 - 1998</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td> - No Committee - </td>
</tr><tr>
<td align="center">1999 - 2001</td>
<td align="center">Chairman<br>Secretary<br>Treasurer</td>
<td>Chaturbhai Gordhan Pankhania<br>Pravinbhai Jetha Taank<br>Kishorbhai Gordhan Solanki</td>
</tr>
</table></center>
<p>
<a href="javascript:history.back(1)">
Go Back
</a>
