<div class="container mb-4 mt-4 ">
  <div class="row">


  <div class="col-4" style="border-right:2px solid #CC3333">
    <font color="red"><b>Features</b></font><br>
    <%= link_to "Mandal History", page_path('ukwelcome') %><br />
    <%= link_to "Constitution", page_path('ukconstitution') %>
  </div>

    <div class="col-8">

      <center><h1 class="page-header">Constitution of Shree Sorathia Prajapati Community UK (Established 1983)</h1></center>

      <font color="steelblue"><b>Click on the links below to go to the desired part</b></font>
      <table border="0" cellspacing="1" cellpadding="1" height="100" width="750">
      <tr>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#name">1.Name</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#aando">2.Aims and Objects</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#member">3.Membership</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#rightsofmember">4.Rights of the Membership</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#voting">5.Voting</a>
      </tr>
      <tr>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#finyear">6.Financial Year</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#management">7.Management</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#branches">8.Branches</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#panddofbmc">9.Power & Duties<br>of the B.M.C.</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#nec">10.N.E.C.</a>
      </tr>
      <tr>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#fandpofnec">11.Functions & Powers<br>of N.E.C.</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#finances">12.Finances</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#dutiesofob">13.Duties of Office Bearers</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#trustees">14.Trustees</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#failuretoa">15.Failure to Appoint</a>
      </tr>
      <tr>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#classofmeet">16.Classification of Meetings</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#quorum">17.Quorum</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#altstotheconst">18.Alterations to the Constitution</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#dandi">19.Disputes & Interpretation</a>
      <td align="center"><a href="http://www.sspgm.net/ukconstitution.html#dissolution">20.Dissolution</a>
      </tr>
      </table>

      <br /><br />

      <a name="#name"><font color="steelblue"><b>RULE 1. NAME:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The name of the National Organisation shall be "SHREE SORATHIA PRAJAPATI COMMUNITY U.K."<br>
      &nbsp;&nbsp;&nbsp;&nbsp;(hereinafter called the 'National Organisation')<p>
      <a name="aando"><font color="steelblue"><b>RULE 2. AIMS &amp; OBJECTS:</b></font><p></a>
      2.1&nbsp;&nbsp;&nbsp;&nbsp;The objects of the National Organisation are:<br>
      2.1(a)&nbsp;<font color="red">The advancement of Hindu religion</font><br>
      2.1(b)&nbsp;<font color="red">The advancement of education particularly in Hindu traditions, history, language,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;literature and music.</font><br>
      2.1(c)&nbsp;The relief of poverty, hardship, and distress.<br>
      2.2&nbsp;&nbsp;&nbsp;&nbsp;In furtherance of the above objects the National Organisation shall have the following<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;powers:<br>
      2.2(a)&nbsp;To obtain collect and receive money and funds by way of contributions, subscriptions,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;donations, legacies, grants, and any other lawful method, and accept and receive gifts <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of property of any description (but reserves the right to refuse to accept any funds <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;which impose unreasonable conditions)<br>
      2.2(b)&nbsp;Affiliate of become affiliated to any charitable body having charitable purposes.<br>
      2.2(c)&nbsp;To do any other lawful things as are necessary for the furtherance of the National<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Organisation<p>
      <a name="member"><font color="steelblue"><b>RULE 3. MEMBERSHIP:</b></font><p></a>
      3.1&nbsp;&nbsp;&nbsp;&nbsp;All persons of the community above 18 years of age shall be entitled to apply for the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;membership as classified below<br>
      3.1(a)&nbsp;Patron:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By donating a sum specified by the National Executive Council.<br>
      3.1(b)&nbsp;Donor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By donating a sum specified by the National Executive Council, but<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;less than that specified for a patron<br>
      3.1(c)&nbsp;Life Member:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Who subscribes a sum specified by the National Executive Council,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;but less that that specified for a patron and a donor.<br>
      3.1(d)&nbsp;Ordinary Member:&nbsp;Who subscribes annually a sum specified by the National<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executive council<br>
      3.2<br>
      3.2(a)&nbsp;Members above under 3.1(a) &amp; 3.1(b) shall enjoy privileges of a life<br>
      3.2(b)&nbsp;The each type of membership shall include wife/husband and their dependents under the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;age of 18 years and retired pensionable age parents to participate in social functions.<p>
      <a name="rightsofmember"><font color="steelblue"><b>RULE 4. RIGHTS OF THE MEMBERSHIP:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;All the members will have right to speak, and participate in debates and activities and give<br>
      &nbsp;&nbsp;vote in the general meetings and stand to be elected.<p>
      <a name="voting"><font color="steelblue"><b>RULE 5. VOTING:</b></font><p></a>
      5.1&nbsp;&nbsp;&nbsp;&nbsp;Each paid up member present at meeting (whose subscription is fully paid to the date of<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;each meeting) shall be entitled to a vote.<br>
      5.2&nbsp;&nbsp;&nbsp;&nbsp;Proxy votes shall not be allowed.<br>
      5.3&nbsp;&nbsp;&nbsp;&nbsp;Voting shall be by show of hands unless decided by the meeting to vote by ballot papers.<br>
      5.4&nbsp;&nbsp;&nbsp;&nbsp;All resolutions and elections shall be determined by a simple majority of votes.<p>
      <a name="finyear"><font color="steelblue"><b>RULE 6. FINANCIAL YEAR:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The financial year of the National Organisation shall be from 1st April to 31st March in the<br>
      &nbsp;&nbsp;following year.<p>
      <a name="management"><font color="steelblue"><b>RULE 7. MANAGEMENT:</b></font><p></a>
      7.1&nbsp;&nbsp;&nbsp;&nbsp;The National Organisation shall be divided into local branches whose management<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;committee shall administer the day-to-day workings of the National Organisation.
      7.2&nbsp;&nbsp;&nbsp;&nbsp;The two representatives nominated by each branch shall form the National Executive<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Council of the National Organisation.<p>
      <a name="branches"><font color="steelblue"><b>RULE 8. BRANCHES:</b></font><p></a>
      8.1&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall have the power to establish and approve the local<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;branches.<br>
      8.2&nbsp;&nbsp;&nbsp;&nbsp;The new branches shall be approved by the National Executive council on application
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by at least 25 (twenty five) paid members of such branch.<br>
      8.3&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall perscribe its constitution for the establishment of<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;each branch. The object of the local branch shall be identical to the objects of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Organisation.<br>
      8.4&nbsp;&nbsp;&nbsp;&nbsp;All regional branches shall follow this constitution.<br>
      8.5&nbsp;&nbsp;&nbsp;&nbsp;Each branch shall be vested into management committee consisting of President, Vice<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;President, Secretary, Assistant Secretary, Treasurer, Assistant Treasurer, Auditor, and<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maximum of fifteen advising members<p>
      <a name="panddofbmc"><font color="steelblue"><b>RULE 9. POWER AND DUTIES OF THE BRANCH MANAGEMENT COMMITTEE:</b></font><p></a>
      9.1&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall be responsible to work within the frame work of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rules and regulations laid down by the National Executive Council.<br>
      9.2&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall meet at least once a month.<br>
      9.3&nbsp;&nbsp;&nbsp;&nbsp;The quorum shall consist of half the total members of the management committees.<br>
      9.4&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall, from time to time, appoint such sub-committees as may be<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;deemed necessary and may determine their terms of reference, powers, durations, and<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;composition.<br>
      9.5&nbsp;&nbsp;&nbsp;&nbsp;Any member of the management committee who remains absent for three consecutive meetings<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;without justifiable reason, shall be deemed to have resigned and a co-opted member<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;will take his place.<br>
      9.6&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall have right to spend as their requirements and activities<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for functions.<br>
      9.7&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall collect subscriptions, donations, and any other<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;necessary funds<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;recommended by the National Executive Council.<br>
      9.8&nbsp;&nbsp;&nbsp;&nbsp;The management shall be present the full report of the activities and accounts to the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;every biennial general meetings.<br>
      9.9&nbsp;&nbsp;&nbsp;&nbsp;The management committee shall direct and apply all the resources of money and property<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;solemnly towards the enhancement and execution of the objects of the National<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Organisation laid down herein.<p>
      <a name="nec"><font color="steelblue"><b>RULE 10. NATIONAL EXECUTIVE COUNCIL:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall be managed by the two representatives of each branch<br>
      &nbsp;&nbsp;These representatives shall be the President and Secretary of the each local branch.<font color="red"> These<br>
      &nbsp;&nbsp;representatives shall elect President, Vice President, Secretary, Assistant Secretary, and<br>
      &nbsp;&nbsp;Treasurer, and the remaining representatives be the members of the National Executive<br>
      &nbsp;&nbsp;Council.</font> Auditor shall be nominated from the general members.<p>
      <a name="fandpofnec"><font color="steelblue"><b>RULE 11. FUNCTIONS AND POWERS OF NATIONAL EXECUTIVE COUNCIL:</b></font><p></a>
      11.1&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall give proper guidance to the functioning of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;branches.<br>
      11.2&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall lay out the rules and regulations for the welfare<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of the National Organisation.<br>
      11.3&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall have power to form or acquire any type of<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;charitable trusts and all the trusts formed by them shall be the property of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Organisation.<br>
      11.4&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council may obtain, collect, and receive subscriptions,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;donations, or endowments and apply them as and when fit for the general purpose of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Organisation.<br>
      11.5&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall determine the types of funds to be acquired.<br>
      11.6&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council may, from time to time invite any person to attend their<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meetings, but without power to vote.<br>
      11.7&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall acquire full functioning reports and accounts from<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;each branch. Each branch shall contribute such percentage of its subscription as the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;National Executive Council may from time to time determine.<br>
      11.8&nbsp;&nbsp;&nbsp;&nbsp;No member shall receive remunerations from the National Organisation in capacity<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(proper bona fid expenses and professional fees accepted).<br>
      11.9&nbsp;&nbsp;&nbsp;&nbsp;The National Executive Council shall meet at least every three months.<p>
      <a name="finances"><font color="steelblue"><b>RULE 12.  FINANCES:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The income of the National Organisations shall be derived by offerings, donations,<br>
      &nbsp;&nbsp;contributions, and special funds as approved by the National Executive Council and carried<br>
      &nbsp;&nbsp;out by each branch.<p>
      <a name="dutiesofob"><font color="steelblue"><b>RULE 13. DUTIES OF OFFICE BEARERS:</b></font><p></a>
      13.1&nbsp;&nbsp;&nbsp;&nbsp;President and Vice-President: The president shall have right to preside at all<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meetings and supervise the conduct of all activities.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The President shall have casting vote only.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Presidents discretionary verdict shall be final and accepted. The Vice-President<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shall deputize for the president. If both are absent, the present members will elect a<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;provisional chairman for that particular meeting.<br>
      13.2&nbsp;&nbsp;&nbsp;&nbsp;Secretary and Assistant Secretary: The Secretary shall call and keep minutes of<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;all the meetings, and be responsible to maintain all records. He shall carry out all<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the instructions received from the National Executive Council and conduct all the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;correspondence. He shall give full reports to the general meetings. Assistant Secretary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shall assist the Secretary and may work in his absence.<p>
      13.3&nbsp;&nbsp;&nbsp;&nbsp;Treasurer and Assistant-Treasurer:The Treasurer shall receive all money and give<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;receipts. He shall maintain account books with all the details of the receipts and<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;expentature. He shall make no payment unless approved by the president or secretary. He<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shall keep up to date record of the paid members. He shall present the biennual audited<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;accounts to the biennual general meeting. The Assistant Treasurer shall assist the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treasurer and may work in the absence of the treasurer.<br>
      13.4&nbsp;&nbsp;&nbsp;&nbsp;Auditor: The Auditor shall audit all the account books, vouchers, documents, receipts<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;etc. He shall forward the auditted biennual accounts with his remarks to the Treasurer<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and shall inform the committee of any defects or suggestions in the accounts. The<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Auditor can attend all the committee meetings if the committee decides.<p>
      <a name="trustees"><font color="steelblue"><b>RULE 14. TRUSTEES:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The trustees shall be nominated by the local branch and elected by the national executive<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Council. They shall be the non-office members of the committee. All the property of the<br>
      &nbsp;&nbsp;&nbsp;&nbsp;National Organisation shall be vested in the names of the trustees. Their term of office<br>
      &nbsp;&nbsp;&nbsp;&nbsp;shall be for five years. They shall act to the wishes and descretions of the National
      &nbsp;&nbsp;&nbsp;&nbsp;Organisation<p>
      <a name="failuretoa"><font color="steelblue"><b>RULE 15. FAILURE TO APPOINT:</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;The proceeding of the committee shall not be invalidated by any procedural failure to<br>
      &nbsp;&nbsp;&nbsp;&nbsp;appoing or any defect in the appointment or qualification of any member.<p>
      <a name="classofmeet"><font color="steelblue"><b>RULE 16. CLASSIFICATION OF MEETINGS:</b></font><p></a>
      16.1&nbsp;&nbsp;&nbsp;&nbsp;Management Committee Meetings: The branch Management committee meetings shall meet<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;regularly at least once a month. The committee will act and follow the constitution<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;guide, and work according to the welfare of the aims and objects of the National<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Organisation. The committee shall try to resolve the branch problems and if necessary<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;obtain help and guidance from the National Executive Council. The committee shall have<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the power to adopt and issue standing orders and rules in the welfare of the community.<br>
      16.2&nbsp;&nbsp;&nbsp;&nbsp;Extraordinary Meetings: Extraordinary meetings shall be called when thought fit.<br>
      16.3&nbsp;&nbsp;&nbsp;&nbsp;General Meetings:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Such meetings may be held as and when necessary to give full reports of the activities,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pass the resolutions or any necessary work to be carried as it would be deemed relavent<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to object of the National Organisation.<br>
      16.4&nbsp;&nbsp;&nbsp;&nbsp;Biennual General Meetings:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Such meetings shall be held at the end of two years term or as soon as practicable<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;thereafter. Written notice shall be given to all the members at least fourteen days<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;before the date thereof. Such meeting shall be presented with full reports and accounts<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for the preceeding term and such meeting shall elect offic bearers for the next two<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;years term. The president shall chair this meeting.<p>
      <a name="quorum"><font color="steelblue"><b>RULE 17. QUORUM</b></font><p></a>
      &nbsp;&nbsp;The quorum shall be 33 percent of the total members. No quorum shall be necessary at any<br>
      &nbsp;&nbsp;adjourned meeting if such adjournment was due to lack of quorum.<p>
      <a name="altstotheconst"><font color="steelblue"><b>RULE 18. ALTERATIONS TO THE CONSTITUTION</b></font><p></a>
      &nbsp;&nbsp;Alterations to this constitution must receive the assent of not less than 2/3 of the<br>
      &nbsp;&nbsp;members of the committee present and voting. A resolution for the alteration of the<br>
      &nbsp;&nbsp;constitution must be recieved by the Secretary at least 28 days (clear) before the meeting<br>
      &nbsp;&nbsp;at which the resolution is to be brought forward. Atleast 14 days notice of such<br>
      &nbsp;&nbsp;meeting must be given by the Secretary to the members and must include notice of the<br>
      &nbsp;&nbsp;alterations proposed. No dissolution or addition shall be made to objects clause, this clause<br>
      &nbsp;&nbsp;or the dissolution clause. No amendment shall be made to any other clauses which would cause<br>
      &nbsp;&nbsp;the National Organisation to cease to be a charity in-law.<p>
      <a name="dandi"><font color="steelblue"><b>RULE 19. DISPUTES AND INTERPRETATION</b></font><p></a>
      &nbsp;&nbsp;&nbsp;&nbsp;Any disputes arising within the National Organisation or its branches shall be dealt with<br>
      &nbsp;&nbsp;&nbsp;&nbsp;by the National Executive Council. The National Executive Council shall have power to<br>
      &nbsp;&nbsp;&nbsp;&nbsp;appoint a professionally qualified lawyer for his advice and guidance in all matters.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Decision of the National Executive Council shall be binding on all the interpretation.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;Disputes regarding the constitution only shall be referred to the appointed solicitor whose<br>
      &nbsp;&nbsp;&nbsp;&nbsp;decision shall be final.<p>
      <a name="dissolution"><font color="steelblue"><b>RULE 20. DISSOLUTION</b></font><p></a>
      &nbsp;&nbsp;The National Organisation may be dissolved by a resolution to that effect passed at special<br>
      &nbsp;&nbsp;general meeting, subject to the following conditions:<br>
      20.1&nbsp;&nbsp;&nbsp;&nbsp;Not less than 50% voting members propose such a resolution<br>
      20.2&nbsp;&nbsp;&nbsp;&nbsp;At least 3/4 of the voting members actually present at the meeting shall be required to<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vote in favor to effect the dissolution.<br>
      20.3&nbsp;&nbsp;&nbsp;&nbsp;All surplus, funds, properties, belongings, assets etc. should be given to charitable<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;institutions or bodies connected with Hindu religions, or to such charitable objects as<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;may be decided upon at the said special general by an ordinary majority.<p>
      This constitution of Shree Sorathia Prajapati Community U.K. was approved and adopted in National<br>
      Executive Council's Committee Meeting held in Birmingham on 27th February 1983.<p>
      Shree Sorathia Prajapati Community U.K. was registered as an official charity on 25th March 1983.<br>
      <p align="right"><font size="2"><i>Registered Charity number 286801</i></font></p>

    </div>

  </div>
</div>
