<a href="javascript:history.back(1)">Go Back</a><p>
<center><font color="white" size="3"> CONSTITUTION AND BYLAWS <BR> OF <BR> SSPGM OF ATLANTA<br>Established 1984</center><p><br><br></font>
<font color="blue" size="3">Click on the links below to go to the desired part</font>
<table border="0" cellspacing="1" cellpadding="1" height="50" width="700">
<tr>
<td><a href="#Objectives">1. Objectives</a></td>
<td><a href="#Definitions">2. Definitions</a></td>
<td><a href="#Membership">3. Membership</a></td>
<td><a href="#Executivecom">4. Executive Committee</a></td>
</tr>
<tr>
<td><a href="#Aandl">5. Assets and Liabilities</a></td>
<td><a href="#Elections">6. Elections</a></td>
<td><a href="#Meetings">7. Meetings</a></td>
<td><a href="#Memberob">8. Member Obligations</a></td>
</tr>
<tr>
<td><a href="#Discipline">9. Disciplinary Action</a></td>
<td><a href="#Amendments">10. Amendments</a></td>
<td><a href="#dissolution">11. Dissolution</a></td>
</tr></table><br>



<font color="white" size="3.5">
<tt>Whereas a large number of people afflliated with and interested in Kathiawar<br>
(Saurashthra) Culture and Heritage are settling in United States of America as<br>
permanent residents, it has been felt that a non-profit and non-political<br>
organization be formed as to provide a forum for meeting, sharing, and<br>
fostering their literary and cultural advancement and continuance of their<br>
original identity while facilitating their growth in the broad framework of<br>
American Society.  With this purpose, be it resolved therefore:<p><br></font>
<font color="white" size="3.5"><tt>1.&nbsp;&nbsp;&nbsp;&nbsp;The name of this organization shall be "Shri Sorathia Prajapati Gnati<br>
Mandal of America (SSPGM)", hereinafter known as "Mandal".<p>
<tt>2.&nbsp;&nbsp;&nbsp;&nbsp;The registered office shall be: 4254 Cedar Creek Trail, Lilburn,<br>
Georgia 30247.<p>
<a name="#Objectives"><font color="blue"><tt>3.&nbsp;&nbsp;&nbsp;&nbsp;OBJECTIVES</font><p></a>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.1&nbsp;&nbsp;&nbsp;&nbsp;To bring together persons interested in preserving and promoting<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kathiawar - Prajapati Culture and Literature of India.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.2&nbsp;&nbsp;&nbsp;&nbsp;To organize and develop charitable, cultural, scientivic and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;educationalactivities for the interest of its members.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.3&nbsp;&nbsp;&nbsp;&nbsp;To foster friendship and understanding among its members of the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;those of other ethnic, national, and religious origins.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.4&nbsp;&nbsp;&nbsp;&nbsp;To provide and secure means from among the members of the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;organization, and other resources for educational and medical<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;needs of needy and deserving people.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.5&nbsp;&nbsp;&nbsp;&nbsp;To undertake and promote such other lawful activities as may be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;deemed necessary to achieve and in furtherance of these<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;objectives.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>3.6&nbsp;&nbsp;&nbsp;&nbsp;The "Mandal shall not participate nor intervene in any politics<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or political campaigns as its purpole to be a non-political<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;organization.<p>
<a name="#Definitions"><font color="blue"><tt>4.&nbsp;&nbsp;&nbsp;&nbsp;DEFINITIONS:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>4.1&nbsp;&nbsp;&nbsp;&nbsp;Family: The term, "Family", mean husband, wife and unmarried<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;children and shall include unmarried brothers, sisters and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;retired parents of either spouse living jointly as a single<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;househole. Every family shall have voting rights<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;equivalent to two (2) votes.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>4.2&nbsp;&nbsp;&nbsp;&nbsp;Member: The term, "Member", shall mean both masculine and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;feminine and the pronoun, "he", used in the Constitution and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bylaws shall also mean "she".<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>4.3&nbsp;&nbsp;&nbsp;&nbsp;Official/Financial Year: The financial Year of the "Mandal" shall<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;be the calendar year from January 1 to December 31.<p>
<a name="#Membership"><font color="blue"><tt>5.&nbsp;&nbsp;&nbsp;&nbsp;MEMBERSHIP:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>Membership shall be open to all who subscribe to the objectives<br>
&nbsp;&nbsp;&nbsp;&nbsp;contained in Article 3, subject to the following provisions:<p><br>
&nbsp;&nbsp;&nbsp;&nbsp;5.1<tt>&nbsp;&nbsp;&nbsp;&nbsp;Family Membership: Any Family may secure family membership by<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;paying annual dues of Sixty dollars ($60.00) or $5.00 per month.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These new membership dues are in effect at the present time.<p>
&nbsp;&nbsp;&nbsp;&nbsp;5.2<tt>&nbsp;&nbsp;&nbsp;&nbsp;The above provisions may be revised from time to time on approval<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of the General Body by a simple majority.<p>
<a name="#Executivecom"><font color="blue"><tt>6.&nbsp;&nbsp;&nbsp;&nbsp;EXECUTIVE COMMITTEE<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>6.1&nbsp;&nbsp;&nbsp;&nbsp;The activities of the "Mandal shall be organized and conducted<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by an Executive Body consisting of:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(a)&nbsp;&nbsp;&nbsp;President<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(b)&nbsp;&nbsp;&nbsp;Vice-President<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(c)&nbsp;&nbsp;&nbsp;Secretary<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(d)&nbsp;&nbsp;&nbsp;Treasurer<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(e)&nbsp;&nbsp;&nbsp;Advisor<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>6.2&nbsp;&nbsp;&nbsp;&nbsp;Duties and responsibilities of the Executive Committee:<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(a)&nbsp;&nbsp;&nbsp;&nbsp;President: the President shall be the chief executive<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;officer of the Mandal.  He shall preside over the meetings<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and shall be answerable to the General Body for all his<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;actions.  He shall be the ex-officio member of all the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;committees and sub-committees and shall have the general<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;powers and duties of supervision and management usually<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vested in the office of the President of a corporation. He<br
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shall have the powers to authourize an expenditure up to><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$100.00 ultimately to be approved by the Board. He will<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;appoint chairpersonjs for committees in consultation with<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;other members of the Executive Committee.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(b)&nbsp;&nbsp;&nbsp;&nbsp;Vice-President: The Vice-President will preside over the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meetings and shall exercise all the powers vested in the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;office of the President in the absence of the president.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(c)&nbsp;&nbsp;&nbsp;&nbsp;Secretary: The Secretary shall be responsible for<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maintenance of minutes and records of all meetings,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;discussions and presentations. He shall be responsible for<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;correspondence and administrative work of the Mandal.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(d)&nbsp;&nbsp;&nbsp;&nbsp;Treasurer: He shall be responsible for collecting<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;membership dues and receipts and shall disburse all sums<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;authorized and payable by the Mandal. He shall be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;responsible for periodic reporting of the financial status<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the Board.  He shall maintain up-to-date records and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prepare annual Statement of Accounts.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(e)&nbsp;&nbsp;&nbsp;&nbsp;Advisor: A member officer without portfolio to act as an<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;an advisor to the Executive Committee, on matters related to<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the welfare of the Mandal and its members.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>6.3&nbsp;&nbsp;&nbsp;&nbsp;Committees:<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Youth and Education Commiittee: Shri Sorathia Prajapati Youth<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandal of America (SSPYM), the Committee shall be responsible for<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;organizing youth and educational activities for different groups.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>6.4&nbsp;&nbsp;&nbsp;&nbsp;The Chairpersons of each committee shall be the active member of<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the Executive Committee.  Each of them will submit the proposals<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in regard to the activities of their committees to the Executive<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Committee for approval of the necessary funds.<p>
<a name="#Aandl"><font color="blue"><tt>7.&nbsp;&nbsp;&nbsp;&nbsp;ASSETS AND LIABILITIES:<p></font>
&nbsp;&nbsp;&nbsp;&nbs<tt>pAssets and Liabilities of the "Mandal" shall be administered by the<br>
&nbsp;&nbsp;&nbsp;&nbsp;Executive Committee. The Commiittee shall be responsible for<br>
&nbsp;&nbsp;&nbsp;&nbsp;fund-raising, seeking sonations, exercising budgetary controls, and<br>
&nbsp;&nbsp;&nbsp;&nbsp;approving the financial proposals of the General Body.<p>
<a name="#Elections"><font color="blue"><tt>8.&nbsp;&nbsp;&nbsp;&nbsp;ELECTIONS:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>8.1&nbsp;&nbsp;&nbsp;&nbsp;General: The office-bearers viz: President, Vice-President,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secretary, and Treasurer, shall be elected twice a year, and no<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;official may be voted for more than two (2) years at the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;annual general meeting of the "Mandal", which shall be held not<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;later than the first week of December of each year.<P>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>8.2&nbsp;&nbsp;&nbsp;&nbsp;Procedure:<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(a)&nbsp;&nbsp;&nbsp;&nbsp;All regular members of the "Mandal" shall have a right to<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vote and to contest for the election of the Executive<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Committee.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(b)&nbsp;&nbsp;&nbsp;&nbsp;The election shall be by a secret ballot by the members<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;present only, and a simple majority shall govern.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(c)&nbsp;&nbsp;&nbsp;&nbsp;Other detailed procedures fot the elections shall be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;determined by the Executive Body.<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<tt>(d)&nbsp;&nbsp;&nbsp;&nbsp;Every family membership will have voting rights equivalent<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to two (2) votes.  See section 4.1.  Member must be present<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to vote and simple majority shall govern<p>
<a name="#Meetings"><font color="blue"><tt>9.&nbsp;&nbsp;&nbsp;&nbsp;MEETINGS<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.1&nbsp;&nbsp;&nbsp;&nbsp;All meetings shall be called by the Secretary in consultation<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with the Executive Committee.  In case of emergency, the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secretary may convene the meetings in consultation with the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;President or, in his absence, in consultation with the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vice-President.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.2&nbsp;&nbsp;&nbsp;&nbsp;Regular meeting of the Executive Committee shall be held<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;preferably once every six (6) weeks.  Emergency meeting of<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executibe Committee shall be called whenever necessary.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.3&nbsp;&nbsp;&nbsp;&nbsp;The quorum for a meeting of the Executive Committee shall be a<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;majority of the strength of the regular body.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.4&nbsp;&nbsp;&nbsp;&nbsp;Annual General body of members shall meet at least once a year<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for the annual election, as well as to approve reports, accounts<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and to carry out other necessary procedures. The Executive<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Committe, if it deems necessary, shall convene an emergency<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;general meeting of the members to discuss any special issue which<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;needs urgent consideration. Quorum necessary for all the general<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meetings, including the emergency meeting shall be 25%<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(twenty-five percent) of the dues paid members of the Mandal for<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that fiscal year.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.5&nbsp;&nbsp;&nbsp;&nbsp;An emergency general body neeting may be a petitioned by<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;one-fourth (1/4) of the regular dues-paid members in writing,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;filed with the Secretary or President of the "Mandal".<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.6&nbsp;&nbsp;&nbsp;&nbsp;All Executive and General Body meetings shall be chaired by the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;President, in whose absence the Vice-President shall assume his<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;responsibility.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>9.7&nbsp;&nbsp;&nbsp;&nbsp;Minutes of all meetings shall be recorded and maintained by the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secretary and shall be presented at the next meeting<p>
<a name="#Memberob"><font color="blue"><tt>10.&nbsp;&nbsp;&nbsp;&nbsp;MEMBER OBLIGATIONS:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>10.1&nbsp;&nbsp;&nbsp;&nbsp;All members of the Mondal shall strive to fulfill the aims and<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;objectives of the mandal, and shall not indulge in any activities<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;detrimental to <u>the honor and prestige of the Prajapati community</u><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>and its Heritage nor</u> engage it of its funds, property or income<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;towards other than the aims and objectives of the Mondal.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>10.2&nbsp;&nbsp;&nbsp;&nbsp;All service and efforts of the members contributed towards any of<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the Mandal activities shall be considered voluntary. No<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compensation shall be paid to any member for the time or labor<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;donated for the above efforts and services. Members can be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compensated only for the out-of-pocket expenses incurred by them<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for the Mandal activities. The definition of "Member" under this<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;section shall include spouse and children of the members of the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandal<p>
<a name="#Discipline"><font color="blue"><tt>11.&nbsp;&nbsp;&nbsp;&nbsp;DISCIPLINARY ACTION:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>11.1&nbsp;&nbsp;&nbsp;&nbsp;Any members indulging in any activity in contravention of<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Article 10, or responsible for any impropriety or misconduct<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;shall be liable to disciplanaty action which shall be decided<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;upon by the Executive Committee majority<p>
<a name="#Amendments"><font color="blue"><tt>12.&nbsp;&nbsp;&nbsp;&nbsp;AMENDMENTS:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>12.1&nbsp;&nbsp;&nbsp;&nbsp;Amendment to the Bylaws shall be submitted in writing to the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secretary with the signature of not less than twenty five percent<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(25%) of members of the Mandal.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>12.2&nbsp;&nbsp;&nbsp;&nbsp;The Executive Committee shall consider the proposed amendment(s)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and forward the same with its recommendations to the General Body<br>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>12.3&nbsp;&nbsp;&nbsp;&nbsp;Amendments shall be submitted to vote of the members at the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General Body meeting.  Modifications to the amendment may be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;presented from the floor.<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>12.4&nbsp;&nbsp;&nbsp;&nbsp;A two-thirds (2/3) affirmative vote of the members present in the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General Body meeting shall be required for adoption of an<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;amendment to the Bylaws.<p>
<a name="#Dissolution"><font color="blue"><tt>13.&nbsp;&nbsp;&nbsp;&nbsp;DISSOLUTION:<p></font>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>13.1&nbsp;&nbsp;&nbsp;&nbsp;Should the mandal disband, the money of the mandal shall be<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;donated to one or more non-profit, non-political organization(s)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;having objectives similar to the Mandal. Approval by two-thirds<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2/3) of the members at the general meeting is required for such<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;distribution, if ever required<p>
&nbsp;&nbsp;&nbsp;&nbsp;<tt>13.2&nbsp;&nbsp;&nbsp;&nbsp;Any decision regarding disbanding or changing the structure of<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the Mandal requires the consent of two-thirds (2/3) of the members<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;present at the general meeting.<p>
</font>
<a href="javascript:history.back(1)">Go Back</a>
