<div class="container mb-4 mt-4 ">
<div class="row">

  <div class="col-4" style="border-right:2px solid #CC3333; height: 400px;">
    <font color="red"><b>Features</b></font><br>
    <%= link_to "Trust Fund", page_path('vvnwelcome') %><br />
    <%= link_to "Trust Fund - Update", page_path('vvupdate') %><br /><br />

    <%= render 'shared/india_right' %>
  </div>

  <div class="col-8">

    <center><h1 class="page-header">
      SSPGM Valabh Vidyanagar Mandal
    </h1>

    <%= link_to image_tag('vvhostel.jpg', height: "180", width: "140"), image_path('vvhostel.jpg') %>
    </center>
  </div>

</div>
</div>
