<center>
<table border="1" width="700" height="100%" cellspacing="0" cellpadding="7" bordercolor="red">
<tr valign="top">
<td>

<table border="1" height="100%" cellspacing="0" cellpadding="5" bordercolor="#000080">
<tr valign="top">
<td align="center" width="70% height="100%">
<p>

<font color="red"><b><h3>
Welcome to the Valabh Vidyanagar Mandal
</h3></b></font>

<p>

<%= link_to image_tag('vvhostel.jpg', height: "90", width: "70"), image_path('vvhostel.jpg') %>

<p>

<%= link_to "Click Here for the Valabh Vidyanagar Welcome Note", page_path('vvnwelcome') %><br>
<%= link_to "Click Here for the Valabh Vidyanager Update", page_path('vvupdate') %>
</td>
</tr>
</table>
</td>
<td width="30%" height="100%">
<table border="1" bordercolor="#000080" cellspacing="0" cellpadding="5" width="100%">
<tr>
<td align="center">
<p><br>

<%= render 'shared/right' %>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
