<html>
<head>

<title>Welcome to SSPGM.net - Surnames - Vara</title>
<style>
a:link      {color:white;text-decoration:none;font-weight:bold}
a:visited {color:white;text-decoration:none;font-weight:bold}
a:hover  {color:#66CCFF;text-decoration:none;font-weight:bold}
</style>
</head>
<body bgcolor="black">

<a href="javascript:history.back(1)">
Go Back
</a>
<p>
<center><h1><font color="#CC3333">
Vara
</font></h1></center>
<p>
<center>
<font color="steelblue"><b>
Click below to link up to the Vara site
</b></font>
<p>
<a href="http://www.balvi-maa.org.uk/">
www.balvi-maa.org.uk
</a>
<br>
<b><font color="lightgreen" size="3">
Site submitted by <a href="mailto:nvara@tesco.net">Jay Vara</a>
</font></b>

</center>
<p>

<center>

<script language="javascript" src="http://www.sspgm.net/bottom.js"></script></center>

</body>
</html>
