<!-- TODO: Get these links to work -->

<h1 class="page-header">Voluntary Services</h1>

<font color="yellow"><b>
These members of our community are kindly donating their time and expertise
for the welfare of SSPGM members worldwide
</b></font>
<p><br>
<font color="red"><b>Mauritiaus</b></font>
<ul>
<%= link_to "Hirji Valji Jadav - Civil Engineer", professionals_path(category: "Engineers") %>
</ul>
<p>
<font color="red"><b>United Kingdom</b></font>
<ul>
<%= link_to "Dr. Bharat Pankhania - Doctor Communicable Diseases", professionals_path(category: "Medical") %><br />
<%= link_to "Dr. Alison Pankhania - Dental Surgeon", professionals_path(category: "Medical") %>
</ul>
<p>
<font color="red"><b>United States</b></font>
<ul>
<a href="mailto:toraltank@yahoo.com">Toral Tank - Interior Designer</a>
</ul>
<p><br><br>
<font color="yellow"><b>Would you like to be included on the Volunteer Listing? Email us at <a href="mailto:shiladhiru@yahoo.com">shiladhiru@yahoo.com</a></b></font>
