<div class="container mb-4 mt-4 ">
  <div class="row">

    <div class="col-4" style="border-right:2px solid #CC3333;">
      <font color="red"><b>Features</b></font><br>
      <%= link_to "Trust Fund", page_path('vvnwelcome') %><br />
      <%= link_to "Trust Fund - Update", page_path('vvupdate') %>
    </div>

    <div class="col-8">

      <center><h1 class="page-header">
        SSPGM Valabh Vidyanagar Trust Fund
      </h1></center>


      To Shriman/Shrimati<br><br>

      The detail regarding trust's schemes for donations are as follows.<br> <br>
      <font color="#66CCFF">TRUST'S OBJECTIVES:</font> <br> Purly educational. Established in 1980. Possesses own building, capacity to provide accomodation to
      sixty students for higher education from 11th standard to Ph.D courses.<br><br>
      <font color="#66CCFF">TRUST'S MEMBERSHIP AND CLASSIFICATION: </font>
      <br><font color="red">1. </font>Yearly member : Rs 101
      <br><font color="red">2. </font>Life member: Rs 1100
      <br><font color="red">3. </font>Donor member: Rs 5001 <br><br>
      <font color="#66CCFF">TRUST'S PRESENT PROGRESS:</font><br>  Purchased 1000sqr yard land and constructed building since 1980. Total value worth Rs 50 lakhs approx and fixed deposits of Rs40 lakhs. Total members as on today are ( home 670 + abroad 300 ) 970. <br><br>
      <font color="#66CCFF">TRUST'S PRESENT REQUIREMENTS :</font><br>
      NOTE-( Donations recieved in any scheme is kept in fixed deposit and interest will be utilized to help needy students of our community) <br><br>
      <font color="red">1.</font>  Tithidaan :Sadu Bhojan--Rs 5001/- and mishtan bhojan Rs11000/- .Total 225 times a year recieved expected 300times.
      TARGET RS 25 lakhs and recieved Rs 11 lakhs <br>
      <font color="red">2.</font>  Anna daan :In multiple of Rs 1100 , recieved Rs 7 lakhs against targer of Rs25 lakhs <br>
      <font color="red">3.</font>  Scholarships 2000 :Each in multiple of Rs51000/-, recieved 22 and expecting 28 more each one of Rs 51000/- <br>
      <font color="red">4.</font> Computer: Currently 5 computers are in our computer center and expecting 5 more and one for office Total in all 11.
      <br><br><font color="#66CCFF">DONORS FOR COMPUTERS </font><br>
      <font color="red">1. </font> Pentium-2 , Rs 30000/- Date- 26/1/1999 DONOR: Mr & Mrs Hirji bhai Valji bhai Jadav -( Ranavav) Mauritius . <br>
      <font color="red">2. </font> Pentium-2 , Rs 50000/- Date- 30/7/1999 Complete system DONOR Late Gokalbhai Keshavbhai Pankhania and family (Ranavav )
      London UK <br>
      <font color="red">3. </font> Pentium-3, Rs 40000/-with multi media Date- 28/3/2000, DONOR Mr & Mrs Kanji bhai Jivan bhai Gadher (Ranavav ) Hounslow UK <br>
      <font color="red">4. </font> Pentium-3 , RS 30500/- Date- 9/7/02 DONOR Mr & Mrs Hirji bhai Valji bhai Jadav (Ranavav ) Mauritius <br>
      <font color="red">5. </font> Pentium-4 , Rs 38000/-Date- 26/2/02 With Internet, E-mail and multi media facilities DONOR Mr & Mrs Harishchanra Dahyalal
      Gohill and family ( Ranavav ) London UK <br>
      <br><font color="#66CCFF">SCHOLARSHIP SCHEME -2000.</font>(as on today)
      Sr . Donation (Rs) . Name of donor .Native . Place
      <br><font color="red">1.</font> 2,01,125/- Sh. Arjun bhai Rajshi bhai Ladva and
      Smt. Nandu ben Arjunbhai Ladva & Family Ranavav London UK <br>
      <br><font color="red">2.</font> 1,02,000/- Late Sh.Bhura bhai Bhoja bhai Vara &
      Smt. Veji ben Bhura bhai Vara &family Tarsai London UK<br>
      <br><font color="red">3.</font> 51000/- Late smt.Rani ben Arjan bhai Vara
      Mr. :Laxmanbhai ArjanbhaiVara Ranavav London UK<br>
      <br><font color="red">4.</font> 51000/- Late Sh. Dinesh bhai Devraj bhai Vara
      Sh.Devraj bhai Hirjibhai Vara Ranavav Leceister UK<br>
      <br><font color="red">5.</font> 51000/- Sh Mandubhai Devshi bhai Gohil Ranavav Nakuru Kenya
      <br><br><font color="red">6.</font> 51000/- Late Sh. Jivanbhai Rajshibhai Gadher
      Smt. Jamnaben Jivan bhai Gadher Ranavav Surrey UK
      <br><br><font color="red">7. </font>51000/- Smt.Amrutben Trikambhai Bhalsod Tarsai / A'bad Navsari
      <br><br><font color="red">8.</font> 51000/- Sh. Jivabhai Ramjibhai Vara Ranavav Birmingham UK
      <br><br><font color="red">9.</font> 71000/- Smt. Rambhaben Kesavji bhai Dabhi Khorasa ( gir) Conventry UK
      <br><br><font color="red">10.</font> 51000/- Late smt..Valiben Manjibhai Parmar Porbandar Canada
      Sh. Harjivan bhai Manjibhai Parmar
      <br><br><font color="red">11.</font> 55555/- Sh Mulji bhai Popat bhai Pankhania Patelka/Nairobi London UK
      Smt Gomtiben Mulji bhai Pankhania
      <br><br><font color="red">12.</font> 51005/- Late Dr.Sh. Prem G Ghedia Dhaturia Sidney, Australia
      Smt Damyanti ben Prem Ghedia
      <br><br><font color="red">13.</font> 51000/- Sh, Vrajlal Ramji Gadhia & Ranavav Leceister UK
      Smt. Manjula ben Vrajlal Gadhia
      <br><br><font color="red">14.</font> 51000/- Late Sh. Rajshi bhai Vasram bhai Gadher & Ranavav London UK
      Late Smt Kuvar ben Rajshi bhai Gadher
      Sh. Gordhan bhai Rajshi bhai Gadher
      <br><br><font color="red">15.</font> 2,04,000/- Shri Sorthia Prajapati Gnati Education Trust- Dubai India UAE
      <br><br><font color="red">16. </font>51000/- Smt.Prabhaben Harjibhai Pankhania Bharvada/Porbandar London UK
      <br><br><font color="#66CCFF">Proffesor. Tulsibhai Becharbhai Pankhania </font>(native: Rana-Khirsara Dist Porbandar )
      Honorary Secretary
      <br><br>Shri Sorthia Prajapati Vidyamandal Vallabh Vidyanagar
      <br>(India)388120
      <br> Phone Hostel: 35352
       <br>Residence: 35316
      <br>Office: 30104 ext.235
      <br>BVM Engineering College

    </div>

  </div>
</div>
