<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we worship tulasi?</h2>

  In Sanskrit, tulanaa naasti athaiva tulasi - that which is incomparable (in its qualities) is the tulasi.<p>

  For Indians it is one of the most sacred plants. In fact it is known to be the only thing used in worship, which, once used, can be washed and
  reused in pooja - as it is regarded so self-purifying.<p>

  As one story goes, Tulasi was the devoted wife of Shankhachuda, a celestial being. She believed that Lord Krishna tricked her into sinning. So she
  cursed Him to become a stone (shaaligraama). Seeing her devotion and adhered to righteousness, the Lord blessed her saying that she would
  become the worshipped plant, tulasi that would adorn His head.<p>

  Also that all offerings would be incomplete without the tulasi leaf - hence the worship of tulasi.<p>

  She also symbolises Goddess Lakshmi, the consort of Lord Vishnu. Those who wish to be righteous and have a happy family life worship the tulasi.<p>

  Tulasi is married to the Lord with all pomp and show as in any wedding.<p>

  This is because according to another legend, the Lord blessed her to be His consort. Satyabhama once weighed Lord Krishna against all her
  legendary wealth. The scales did not balance till a single tulasi leaf was placed along with the wealth on the scale by Rukmini with devotion.<p>

  Thus the tulasi played the vital role of demonstrating to the world that even a small object offered with devotion means more to the Lord than all
  the wealth in the world. The tulasi leaf has great medicinal value and is used to cure various ailments, including the common cold.<p>

  Yanmule sarvatirhaani<br>
  Yannagre sarvadevataa<br>
  Yanmadhye sarvavedaascha<br>
  Tulasi taam namaamyaham<p>

  I bow down to the tulasi, At whose base are all the holy places, At whose top reside all the deities and In whose middle are all the Vedas.

<% end -%>
