<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we offer food to the Lord before eating it?</h2>

  Indians make an offering of food to the Lord and later partake of it as prasaada – a holy gift from the Lord. In our daily ritualistic worship (pooja) too
  we offer naivedyam (food) to the Lord.<p>

  The Lord is omnipotent and omniscient. Man is a part, while the Lord is the totality. All that we do is by His strength and knowledge alone. Hence
  what we receive in life as a result of our actions is really His alone. We acknowledge this through the act of offering food to Him. This is exemplified
  by the Hindi words "tera tujko arpan"– I offer what is Yours to You. Thereafter it is akin to His gift to us, graced by His divine touch.<p>

  Knowing this, our entire attitude to food and the act of eating changes. The food offered will naturally be pure and the best. We share what we get
  with others before consuming it. We do not demand, complain or criticise the quality of the food we get. We eat it with cheerful acceptance
  (prasaada buddhi).<p>

  Before we partake of our daily meals we first sprinkle water around the plate as an act of purification. Five morsels of food are placed on the side
  of the plate acknowledging the debt owed by us to the Divine forces (devta runa) for their benign grace and protection, our ancestors (pitru runa)
  for giving us their lineage and a family culture, the sages (rishi runa) as our religion and culture have been "realised", aintained and handed down to
  us by them, our fellow beings (manushya runa) who constitute society without the support of which we could not live as we do and other living
  beings (bhuta runa) for serving us selflessly.<p>

  Thereafter the Lord, the life force, who is also within us as the five life-giving physiological functions, is offered the food. This is done with the chant<p>

  praanaaya swaahaa,<br>
  apaanaaya swaahaa,<br>
  vyaanaaya swaahaa,<br>
  udaanaaya swaahaa,<br>
  samaanaaya swaahaa,<br>
  brahmane swaahaa<p>

  After offering the food thus, it is eaten as prasaada – blessed food.

<% end -%>
