<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we light a lamp?</h2>

  In almost every Indian home a lamp is lit daily before the altar of the Lord. In some houses it is lit at dawn, in some, twice a day – at dawn and dusk –
  and in a few it is maintained continuously (akhanda deepa). All auspicious functions commence with the lighting of the lamp, which is often maintained
  right through the occasion.<p>

  Light symbolizes knowledge, and darkness, ignorance. The Lord is the "Knowledge Principle" (chaitanya) who is the source, the enlivener and the
  illuminator of all knowledge. Hence light is worshiped as the Lord himself. <p>

  Knowledge removes ignorance just as light removes darkness. Also knowledge is a lasting inner wealth by which all outer achievement can be
  accomplished. Hence we light the lamp to bow down to knowledge as the greatest of all forms of wealth.<p>

  Why not light a bulb or tube light? That too would remove darkness. But the traditional oil lamp has a further spiritual significance. The oil or ghee in the
  lamp symbolizes our vaasanas or negative tendencies and the wick, the ego. When lit by spiritual knowledge, the vaasanas get slowly exhausted and
  the ego too finally perishes. The flame of a lamp always burns upwards. Similarly we should acquire such knowledge as to take us towards higher ideals.<p>

  Whilst lighting the lamp we thus pray:<br>
  Deepajyothi parabrahma<br>
  Deepa sarva tamopahaha<br>
  Deepena saadhyate saram<br>
  Sandhyaa deepo namostute<p>

  I prostrate to the dawn/dusk lamp; whose light is the Knowledge Principle (the Supreme Lord), which removes the darkness of ignorance and
  by which all can be achieved in life.

<% end -%>
