<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we do pradakshina (circumambulate)?</h2>

  We cannot draw a circle without a center point. The Lord is the center, source and essence of our lives. Recognizing Him as the focal point in our
  lives, we go about doing our daily chores. This is the significance of pradakshina.<p>

  Also every point on the circumference of a circle is equidistant from the center. This means that wherever or whoever we may be, we are equally
  close to the Lord. His grace flows towards us without partiality.

<% end -%>
