<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we offer a coconut?</h2>

  In India one of the most common offerings in a temple is a coconut. It is also offered on occasions like weddings, festivals, the use of a new
  vehicle, bridge, house etc. It is offered in the sacrificial fire whilst performing homa. The coconut is broken and placed before the Lord. It is later
  distributed as prasaada.<p>

  The fibre covering of the dried coconut is removed except for a tuft on the top. The marks on the coconut make it look like the head of a human
  being. The coconut is broken, symbolising the breaking of the ego. The juice within, representing the inner tendencies (vaasanas) is offered along
  with the white kernel - the mind, to the Lord.<p>

  A mind thus purified by the touch of the Lord is used as prasaada (a holy gift). In the traditional abhishekha ritual done in all temples and many
  homes, several materials are poured over the deity like milk, curd, honey, tender coconut water, sandal paste, holy ash etc. Each material has a
  specific significance of bestowing certain benefits on worshippers. Tender coconut water is used in abhisheka rituals since it is believed to bestow
  spiritual growth on the seeker.<p>

  The coconut also symbolises selfless service. Every part of the tree -the trunk, leaves, fruit, coir etc. Is used in innumerable ways like thatches, mats,
  tasty dishes, oil, soap etc. It takes in even salty water from the earth and converts it into sweet nutritive water that is especially beneficial to sick
  people. It is used in the preparation of many ayurvedic medicines and in other alternative medicinal systems.<p>

  The marks on the coconut are even thought to represent the three-eyed Lord Shiva and therefore it is considered to be a means to fulfill our
  desires.

<% end -%>
