<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we worship the kalasha?</h2>

  First of all what is a kalasha? A brass, mud or copper pot is filled with water. Mango leaves are placed in the mouth of the pot and a coconut is
  placed over it. A red or white thread is tied around its neck or sometimes all around it in a intricate diamond-shaped pattern. The pot may be
  decorated wit designs. Such a pot is known as a kalasha.<p>

  When the pot is filled with water or rice, it is known as purnakumbha representing the inert body which when filled with the divine life force gains
  the power to do all the wonderful things that makes life what it is.<p>


  A kalasha is placed with due rituals on all-important occasions like the traditional house warming (grihapravesa), wedding, daily worship etc. It is
  placed near the entrance as a sign of welcome. It is also used in a traditional manner while receiving holy personages. Why do we worship the
  kalasha? Before the creation came into being, Lord Vishnu was reclining on His snake-bed in the milky ocean. From His navel emerged a lotus from
  which appeared Lord Brahma, the creator, who thereafter created this world.<p>

  The water in the kalasha symbolizes the primordial water from which the entire creation emerged. It is the giver of life to all and has the potential
  of creating innumerable names and forms, the inert objects and the sentient beings and all that is auspicious in the world from the energy behind
  the universe. The leaves and coconut represent creation.<p>

  The thread represents the love that "binds" all in creation. The kalasha is therefore considered auspicious and worshipped. The waters from all the
  holy rivers, the knowledge of all the Vedas and the blessings of all the deities are invoked in the kalasha and its water is thereafter used for all the
  rituals, including the abhisheka.<p>


  The consecration (kumbhaabhisheka) of a temple is done in a grand manner with elaborate rituals including the pouring of one or more kalashas of
  holy water on the top of the temple. When the asuras and devas churned the milky ocean, the Lord appeared bearing the pot of nectar, which
  blessed one with everlasting life.<p>

  Thus the kalasha also symbolizes immortality. Men of wisdom are full and complete as they identify with the infinite Truth (poornatvam). They brim
  with joy and love and respect all that is auspicious. We greet them with a purnakumbha ("full pot") acknowledging their greatness and as a sign of
  respectful and reverential welcome, with a "full heart".

<% end -%>
