<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we prostrate before parents and elders?</h2>

  Indians prostrate before their parents, elders, teachers and noble souls by touching their feet. The elder in turn blesses us by placing his or her
  hand on or over our heads. Prostration is done daily, when we meet elders and particularly on important occasions like the beginning of a new
  task, birthdays, festivals etc. In certain traditional circles, prostration is accompanied by abhivaadana, which serves to introduce one-self, announce
  one’s family and social stature.<p>

  Man stands on his feet. Touching the feet in prostration is a sign of respect for the age, maturity, nobility and divinity that our elders personify. It
  symbolizes our recognition of their selfless love for us and the sacrifices they have done for our welfare. It is a way of humbly acknowledging the
  greatness of another. This tradition reflects the strong family ties, which has been one of India’s enduring strengths.<p>

  The good wishes (Sankalpa) and blessings (aashirvaada) of elders are highly valued in India. We prostrate to seek them. Good thoughts create
  positive vibrations. Good wishes springing from a heart full of love, divinity and nobility have a tremendous strength. When we prostrate with
  humility and respect, we invoke the good wishes and blessings of elders which flow in the form of positive energy to envelop us. This is why the
  posture assumed whether it is in the standing or prone position, enables the entire body to receive the energy thus received.<p>

  The different forms of showing respect are:<br>
  Pratuthana – rising to welcome a person.<br>
  Namaskaara – paying homage in the form of namaste (discussed separately in this book).<br>
  Upasangrahan – touching the feet of elders or teachers.<br>
  Shaashtaanga – prostrating fully with the feet, knees, stomach, chest, forehead and arms touching the ground in front of the elder.<br>
  Pratyabivaadana – returning a greeting.<p>

  Rules are prescribed in our scriptures as to who should prostrate to whom. Wealth, family name, age, moral strength and spiritual knowledge in
  ascending order of importance qualified men to receive respect. This is why a king though the ruler of the land, would prostrate before a spiritual
  master. Epics like the Ramayana and Mahabharata have many stories highlighting this aspect.

<% end -%>
