<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we apply the holy ash?</h2>

  The ash of any burnt object is not regarded as holy ash. Bhasma (the holy ash) is the ash from the homa (sacrificial fire) where special wood along
  with ghee and other herbs is offered as worship of the Lord. Or the deity is worshipped by pouring ash as abhisheka and is then distributed as
  bhasma.<p>

  Bhasma is generally applied on the forehead. Some apply it on certain parts of the body like the upper arms, chest etc. Some ascetics rub it all over
  the body. Many consume a pinch of it each time they receive it.<p>

  The word bhasma means, "that by which our sins are destroyed and the Lord is remembered". Bha implied bhartsanam ("to destroy") and sma implies
  smaranam ("to remember"). The application of bhasma therefore signifies destruction of the evil and remembrance of the divine. Bhasma is called
  vibhuti (which means "glory") as it gives glory to one who applies it and raksha (which means a source of protection) as it protects the wearer
  from ill health and evil, by purifying him or her.<p>

  Homa (offering of oblations into the fire with sacred chants) signifies the offering or surrender of the ego and egocentric desires into the flame of
  knowledge or a noble and selfless cause. The consequent ash signifies the purity of the mind, which results from such actions.<p>

  Also the fire of knowledge burns the oblation and wood signifying ignorance and inertia respectively. The ash we apply indicates that we should
  burn false identification with the body and become free of the limitations of birth and death. This is not to be misconstrued as a morose reminder
  of death but as a powerful pointer towards the fact that time and tide wait for none.<p>

  Bhasma is specially associated with Lord Shiva who applies it all over His body. Shiva devotes apply bhasma as a tripundra (the form of "&ordm;").
  When applied with a red spot at the center, the mark symbolizes Shiva-Shakti (the unity of energy and matter that creates the entire seen and
  unseen universe).<p>

  Bhasma has medicinal value and is used in many ayurvedic medicines. It absorbs excess moisture from the body and prevents colds and
  headaches. The Upanishads say that the famous Mrityunjaya mantra should be chanted whilst applying ash on the forehead.<p>

  Tryambakam yajaamahe<br>
  Sugandhim pushtivardhanam<br>
  Urvaa rukamiva bhandhanaan <br>
  Mrytyor muksheeyamaa amrutaat<p>

  "We worship the three-eyed Lord Shiva who nourishes and spread fragrance in our lives. May He free us from the shackles of sorrow, change and
  death – effortlessly, like the fall of a rip brinjal from its stem."

<% end -%>
