<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we do aarati</h2>

  Towards the end of every ritualistic worship (pooja or bhajan) of the Lord or to welcome an honored guest or saint, we perform the aarati. This is
  always accompanied by the ringing of the bell and sometimes by singing, playing of musical instruments and clapping.<p>

  It is one of the sixteen steps (shodasha upachaara) of the pooja ritual. It is referred to as the lighted lamp in the right hand, which we wave in a
  clockwise circling movement to light the entire form of the Lord.<p>

  Each part is revealed individually and also the entire form of the Lord. As the light is waved we either do mental or loud chanting of prayers or
  simply behold the beautiful form of the Lord, illumined by the lamp. At the end of the aarati we place our hands over the flame and then gently
  touch our eyes and the top of the head. We have seen and participated in this ritual from our childhood. Let us find out why we do the aarati?<p>

  Having worshipped the Lord of love - performing abhisheka, decorating the image and offering fruits and delicacies, we see the beauty of the Lord
  in all His glory. Our minds are focused on each limb of the Lord as the lamp lights it up. It is akin to silent open-eyed meditation on His beauty. The
  singing, clapping, ringing of the bell etc. denote the joy and auspiciousness, which accompanies the vision of the Lord.<p>

  Aarati is often performed with camphor. This holds a telling spiritual significance. Camphor when lit, burns itself out completely without leaving a
  trace of it. It represents our inherent tendencies (vaasanas). When lit by the fire of knowledge which illumines the Lord (Truth), our vaasanas
  thereafter burn themselves out completely, not leaving a trace of ego which creates in us a sense of individuality that keeps us separate from the
  Lord.<p>

  Also while camphor burns to reveal the glory of Lord, it emits a pleasant perfume even while it sacrifices itself. In our spiritual progress, even as we
  serve the guru and society, we should willingly sacrifice ourselves and all we have, to spread the "perfume" of love to all. We often wait a long while
  to see the illumined Lord but when the aarati is actually performed, our eyes close automatically as if to look within. This is to signify that each of us
  is a temple of the Lord.<p>

  Just as the priest reveals the form of the Lord clearly with the aarati flame, so too the guru reveals to us the divinity within each of us with the help
  of the "flame" of knowledge (or the light of spiritual knowledge). At the end of the aarati, we place our hands over the flame and then touch our
  eyes and the top of the head. It means - may the light that illuminated the Lord light up my vision; may my vision be divine and my thoughts noble
  and beautiful.<p>

  The philosophical meaning of aarati extends further. The sun, moon, stars, lightning and fire are the natural sources of light. The Lord is the source
  of this wonderous phenomenon of the universe. It is due to Him alone that all else exist and shine. As we light up the Lord with the flame of the
  aarati, we turn our attention to the very source of all light, which symbolizes knowledge and life.<p>

  Also the sun is the presiding deity of the intellect, the moon, that of the mind, and fire, that of speech. The Lord is the supreme consciousness that
  illuminates all of them. Without Him, the intellect cannot think, nor can the mind feel nor the tongue speaks. The Lord is beyond the mind, intellect
  and speech. How can this finite equipment illuminate the Lord? Therefore, as we perform the aarati we chant:<p>

  Na tatra suryo bhaati na chandra taarakam<br>
  Nemaa vidyuto bhaanti kutoyamagnib<br>
  Tameva bhaantam anubhaati sarvam<br>
  Tasya bhasa sarvam idam vibhaati<p>

  He is there where the sun does not shine,<br>
  Nor the moon, stars and lightning.<br>
  then what to talk of this small flame (in my hand),<br>
  Everything (in the universe) shines only after the Lord,<br>
  And by His light alone are we all illumined.

<% end -%>
