<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we do namaste?</h2>

  Indians greet each other with namaste. The two palms are placed together in front of the chest and the head bows whilst saying the word namaste.
  This greeting is for all – people younger than us, of our own age, those older than friends, even strangers and us. <p>

  There are five forms of formal traditional greeting enjoined in the shaastras of which namaskaram is one. This is understood as prostration but it
  actually refers to paying homage as we do today when we greet each other with a namaste.<p>

  Namaste could be just a casual or formal greeting, a cultural convention or an act of worship. However there is much more to it than meets the eye.
  In Sanskrit namah + te = namaste. It means – I bow to you – my greetings, salutations or prostration to you. Namaha can also be literally interpreted
  as "na ma" (not mine). It has a spiritual significance of negating or reducing one’s ego in the presence of another. <p>

  The real meeting between people is the meeting of their minds. When we greet another, we do so with namaste, which means, "may our minds
  meet," indicated by the folded palms placed before the chest. The bowing down of the head is a gracious form of extending friendship in love and
  humility.<p>

  The spiritual meaning is even deeper. The life force, the divinity, the Self or the Lord in me is the same in all. Recognizing this oneness with the
  meeting of the palms, we salute with head bowed the Divinity in the person we meet. That is why sometimes, we close our eyes as we do namaste
  to a revered person or the Lord – as if to look within. The gesture is often accompanied by words like "Ram Ram", "Jai Shri Krishna", "Namo Narayana",
  "Jai Siya Ram", "Om Shanti" etc – indicating the recognition of this divinity.<p>

  When we know this significance, our greeting does not remain just a superficial gesture or word but paves the way for a deeper communion with
  another in an atmosphere of love and respect.

<% end -%>
