<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we regard trees and plants as sacred?</h2>

  The Lord, the life in us, pervades all living beings, be they plants or animals. Hence, they are all regarded as sacred. Human life on earth depends on
  plants and trees. They give us the vital factors that make life possible on earth: food, oxygen, clothing, shelter, medicines etc.<p>

  Hence, in India, we are taught to regard trees and plants as sacred. Indians scriptures tell us to plant ten trees if, for any reason, we have to cut
  one. We are advised to use parts of trees and plants only as much as is needed for food, fuel, shelter etc. we are also urged to apologies to a
  plant or tree before cutting it to avoid incurring a specific sin named soona<p>

  Certain trees and plants like tulasi, peepal etc., which have tremendous beneficial qualities, are worshipped till today. It is believed that divine
  beings manifest as trees and plants, and many people worship them to fulfill their desires or to please the Lord.

<% end -%>
