<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we chant Om?</h2>

  Om is one of the most chanted sound symbols in India. It has a profound effect on the body and mind of the one who chants and also on the
  surroundings. Most mantras and vedic prayers start with Om.<p>

  All auspicious actions begin with Om. It is even used as a greeting - Om, Hari Om etc. It is repeated as a mantra or meditated upon. Its form is
  worshipped, contemplated upon or used as an auspicious sign.<p>

  Om is the universal name of the Lord. It is made up of the letters A (phonetically as in "around"), U (phonetically as in "put") and M (phonetically as
  in "mum"). The sound emerging from the vocal chords starts from the base of the throat as "A". With the coming together of the lips, "U" is formed
  and when the lips are closed, all sounds end in "M".<p>

  The three letters symbolize the three states (waking, dream and deep sleep), the three deities (Brahma, Vishnu and Shiva), the three Vedas (Rig,
  Yajur and Sama) the three worlds (Bhuh, Bhuvah, Suvah) etc. The Lord is all these and beyond.<p>

  The formless, attributeless Lord (Brahman) is represented by the silence between two Om Chants. Om is also called pranava that means, "that
  (symbol or sound) by which the Lord is praised". The entire essence of the Vedas is enshrined in the word Om. It is said that the Lord started
  creating the world after chanting Om and atha. Hence its sound is considered to create an auspicious beginning for any task that we undertake.
  The Om chant should have the resounding sound of a bell (aaooommm).<p>

  Om is written in different ways in different places. The most common form symbolizes Lord Ganesha’s. The upper curve is the head; the lower
  large one, the stomach; the side one, the trunk; and the semi-circular mark with the dot, the sweetmeat ball (modaka) in Lord Ganesha's hand. Thus
  Om symbolizes everything - the means and the goal of life, the world and the Truth behind it, the material and the Sacred, all form and the
  Formless.

<% end -%>
