<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we not touch papers, books and people with the feet?</h2>

  To Indians, knowledge is sacred and divine. So it must be given respect at all times. Nowadays we separate subjects as sacred and secular. But in
  ancient India every subject – academic or spiritual – was considered divine and taught by the guru in the gurukula.<p>


  The custom of not stepping on educational tools is a frequent reminder of the high position accorded to knowledge in Indian culture. From an early
  age, this wisdom fosters in us a deep reverence for books and education. This is also the reason why we worship books, vehicles and instruments
  once a year on Saraswathi Pooja or Ayudha Pooja day, dedicated to the Goddess of Learning. In fact, each day before starting our studies, we
  pray:<p>

  Saraswati namasthubhyam<br>
  Varade kaama roopini<br>
  Vidyaarambham karishyaami<br>
  Sidhirbhavatu me sadaa<p>

  O Goddess Saraswati, the giver of<br>
  Boons and fulfiller of wishes,<br>
  I prostrate to You before<br>
  starting my studies.<br>
  May you always fulfill me?

<% end -%>
