<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we fast?</h2>

  Most devout Indians fast regularly or on special occasions like festivals. On such days they do not eat at all, eat once or make do with fruits or a
  special diet of simple food.<p>

  Fasting in Sanskrit is called upavaasa. Upa means "near" + vaasa means "to stay". Upavaasa therefore means staying near (the Lord), meaning the
  attainment of close mental proximity with the Lord. Then what has upavaasa to do with food?<p>

  A lot of our time and energy is spent in procuring food items, preparing, cooking, eating and digesting food. Certain food types make our minds
  dull and agitated. Hence on certain days man decides to save time and conserve his energy by eating either simple, light food or totally abstaining
  from eating so that his mind becomes alert and pure. The mind, otherwise pre-occupied by the thought of food, now entertains noble thoughts
  and stays with the Lord. Since it is a self-imposed form of discipline it is usually adhered to with joy.<p>

  Also every system needs a break and an overhaul to work at its best. Rest and a change of diet during fasting is very good for the digestive system
  and the entire body.<p>

  The more you indulge the senses, the more they make their demands. Fasting helps us to cultivate control over our senses, sublimate our desires
  and guide our minds to be poised and at peace.<p>


  Fasting should not make us weak, irritable or create an urge to indulge later. This happens when there is no noble goal behind fasting. The
  Bhagavad-Gita urges us to eat appropriately – neither too less nor too much – yukta-aahaara and to eat simple, pure and healthy food (a saatvik diet)
  even when not fasting.

<% end -%>
