<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we consider the lotus as special?</h2>

  The lotus is the symbol of truth, auspiciousness and beauty (satyam, shivam, sundaram). The Lord is also that nature and therefore, His various
  aspects are compared to a lotus (i.e. lotus-eyes, lotus feet, lotus hands, the lotus of the heart etc.).<p>


  The lotus blooms with the rising sun and close at night. Similarly, our minds open up and expand with the light of knowledge. The lotus grows even
  in slushy areas. It remains beautiful and untainted despite its surroundings, reminding us that we too can and should strive to remain pure and
  beautiful within, under all circumstances.<p>

  The lotus leaf never gets wet even though it is always in water. It symbolizes the man of wisdom (gyaani) who remains ever joyous, unaffected by
  the world of sorrow and change. This is revealed in a shloka from the Bhagwad-Geeta:<p>

  Brahmanyaadhaaya karmaani<br>
  Sangam tyaktvaa karoti yaha<br>
  Lipyate na sa paapena<br>
  Padma patram ivaambhasaa<p>

  He who does actions, offering them to Brahman (the Supreme), abandoning attachment, is not tainted by sin, just as a lotus leaf remains unaffected
  by the water on it.<p>


  From this, we learn that what is natural to the man of wisdom becomes a discipline to be practiced by all saadhakas or spiritual seekers and
  devotees. Our bodies have certain energy centers described in the Yoga Shaastras as chakras.<p>

  Each one is associated with lotus that has a certain number of petals. For example, a lotus with a thousand petals represents the Sahasra chakra
  at the top of the head, which opens when the yogi attains Godhood or Realisation. Also, the lotus posture (padmaasana) is recommended when
  one sits for meditation. A lotus emerged from the navel of Lord Vishnu. Lord Brahma originated from it to create the world. Hence, the lotus
  symbolizes the link between the creator and the supreme Cause.<p>

  It also symbolizes Brahmaloka, the abode of Lord Brahma. The auspicious sign of the swastika is said to have evolved from the lotus.

<% end -%>
