<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why is pradakshina done only in a clockwise manner?</h2>

  The reason is not, as a person said, to avoid a traffic jam! As we do pradakshina, the Lord is always on our right. In India the right side symbolizes
  auspiciousness. So as we circumambulate the sanctum sanctorum we remind ourselves to lead an auspicious life of righteousness, with the Lord
  who is the indispensable source of help and strength, as our guide – the "right hand".<p>

  Indian scriptures enjoin – matrudevo bhava, pitrudevo bhava, acharyadevo bhava. May you consider your parents and teachers as you would the
  Lord. With this in mind we also do pradakshina around our parents and divine personages.<p>

  After the completion of traditional worship (pooja), we customarily do pradakshina around ourselves. In this way we recognize and remember the
  supreme divinity within us, which alone is idolized in the form of the Lord that we worship outside.

<% end -%>
