<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we have a prayer room?</h2>

  Most Indian homes have a prayer room or altar. A lamp is lit and the Lord worshipped each day. Other spiritual practices like japa (repetition of the
  Lord’s name), meditation, paaraayana (reading of the scriptures), prayers, and devotional singing etc is also done here. Special worship is done on
  auspicious occasions like birthdays, anniversaries, festivals and the like. Each member of the family – young or old – communes with and worships
  the Divine here.<p>

  The Lord is the entire creation. He is therefore the true owner of the house we live in too. The prayer room is the Master room of the house. We
  are the earthly occupants of His property. This notion rids us of false pride and possessiveness. <p>

  The ideal attitude to take is to regard the Lord as the true owner of our homes and us as caretakers of His home. But if that is rather difficult, we
  could at least think of Him as a very welcome guest. Just as we would house an important guest in the best comfort, so too we felicitate the Lord’s
  presence in our homes by having a prayer room or altar, which is, at all times, kept clean and well-decorated. <p>

  Also the Lord is all pervading. To remind us that He resides in our homes with us, we have prayer rooms. Without the grace of the Lord, no task can
  be successfully or easily accomplished. We invoke His grace by communing with Him in the prayer room each day and on special occasions.<p>

  Each room in a house is dedicated to a specific function like the bedroom for resting, the drawing room to receive guests, the kitchen for cooking
  etc. The furniture, decor and the atmosphere of each room are made conducive to the purpose it serves. So too for the purpose of meditation,
  worship and prayer, we should have a conducive atmosphere – hence the need for a prayer room.<p>

  Sacred thoughts and sound vibrations pervade the place and influence the minds of those who spend time there. Spiritual thoughts and
  vibrations accumulated through regular meditation, worship and chanting done there pervade the prayer room. Even when we are tired or agitated,
  by just sitting in the prayer room for a while, we feel calm, rejuvenated and spiritually uplifted.

<% end -%>
