<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">To touch another with the feet is considered an act of misdemeanor. Why is this so?</h2>

  Man is regarded as the most beautiful, living breathing temple of the Lord! Therefore touching another with the feet is akin to disrespecting the
  divinity within him or her. This calls for an immediate apology, which is offered with reverence and humility.

<% end -%>
