<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we say shaanti thrice?</h2>

  Shaanti, meaning "peace", is a natural state of being. Disturbances are created either by others or us. For example, peace already exists in a place
  until someone makes noise. Therefore, peace underlies all our agitations. When agitations end, peace is naturally experienced since it was already
  there. Where there is peace, there is happiness. Therefore, every one without exception desires peace in his/her life.<p>

  However, peace within or without seems very hard to attain because it is covered by our own agitations. A rare few manage to remain peaceful
  within even in the midst of external agitation and troubles. To invoke peace, we chant prayers. By chanting prayers, troubles end and peace is
  experienced internally, irrespective of the external disturbances. All such prayers end by chanting shaanti thrice.<p>

  It is believed that trivaram satyam - that which is said thrice comes true. For emphasizing a point we repeat a thing thrice. In the court of law also,
  one who takes the witness stands says, "I shall speak the truth, the whole truth and nothing but the truth".<p>

  We chant shaanti thrice to emphasise our intense desire for peace. All obstacles, problems and sorrows originate from three sources.<p>

  Aadhidaivika : The unseen divine forces over which we have little or no control like earthquakes, floods, volcanic eruptions etc.<br>
  Aadhibhautika: The known factors around us like accidents, human contacts, pollution, crime etc.<br>
  Aadhyaatmika : We sincerely pray to the Lord that at least while we undertake special tasks or even in our daily lives, there are no problems or that,
  problems are minimised from the three sources written about above.<p>

  May peace alone prevail. Hence shaanti is chanted thrice.<p>

  It is chanted aloud the first time, addressing the unseen forces. It is chanted softer the second time, directed to our immediate surroundings and
  those around, and softest the last time as it is addressed to oneself.

<% end -%>
