<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we wear marks (tilak, pottu and the like) on the forehead?</h2>

  The tilak or pottu invokes a feeling of sanctity in the wearer and others. It is recognized as a religious mark. Its form and colour vary according to
  one’s caste, religious sect or the form of the Lord worshipped.<p>

  In earlier times, the four castes (based on varna or colour) – Brahmana, Kshatriya, Vaishya and Sudra – applied marks differently. The brahmin applied
  a white chandan mark signifying purity, as his profession was of a priestly or academic nature. The kshatriya applied a red kumkum mark signifying
  valour as he belonged to warrior races. The vaishya wore a yellow kesar or turmeric mark signifying prosperity as he was a businessman or trader
  devoted to creation of wealth. The sudra applied a black bhasma, kasturi or charcoal mark signifying service as he supported the work of the other
  three divisions.<p>

  Also Vishnu worshippers apply a chandan tilak of the shape of "U", Shiva worshippers a tripundra (of the shape of "&ordm; ") of bhasma, Devi
  worshippers a red dot of kumkum and so on).<p>

  The tilak cover the spot between the eyebrows, which is the seat of memory and thinking. It is known as the Aajna Chakra in the language of Yoga.
  The tilak is applied with the prayer – "May I remember the Lord. May this pious feeling pervade all my activities. May I be righteous in my deeds." Even
  when we temporarily forget this prayerful attitude the mark on another reminds us of our resolve. The tilak is thus a blessing of the Lord and a
  protection against wrong tendencies and forces.<p>

  The entire body emanates energy in the form of electromagnetic waves – the forehead and the subtle spot between the eyebrows especially so.
  That is why worry generates heat and causes a headache. The tilak and pottu cools the forehead, protects us and prevents energy loss. Sometimes
  the entire forehead is covered with chandan or bhasma. Using plastic reusable "stick bindis" is not very beneficial, even though it serves the purpose
  of decoration.

<% end -%>
