<%= render "pages/answers/layout" do %>

  <h2 class="page-subheader">Why do we blow the conch?</h2>

  When the conch is blown, the primordial sound of Om emanates. Om is an auspicious sound that was chanted by the Lord before creating the
  world. It represents the world and the Truth behind it.<p>

  As the story goes, the demon Shankhaasura defeated devas, the Vedas and went to the bottom of the ocean. The devas appealed to Lord Vishnu
  for help. He incarnated as Matsya Avataara - the "fish incarnation" and killed Shankhaasura. The Lord blew the conch-shaped bone of his ear and
  head. The Om sound emanated, from which emerged the Vedas.<p>

  All knowledge enshrined in the Vedas is an elaboration of Om. The conch therefore is known as shankha after Shankaasua. The conch blown by
  the Lord is called Paanchajanya. He carries it at all times in one of His four hands.<p>

  It represents dharma or righteousness that is one of the four goals (purushaarthas) of life. The sound of the conch is thus also the victory call of
  good over evil.<p>

  Another well-known purpose of blowing the conch and the instruments, known traditionally to produce auspicious sounds is to drown or mask
  negative comments or noises that may disturb or upset the atmosphere or the minds of worshippers.<p>

  Ancient India lived in her villages. Each village was presided over by a primary temple and several small ones. During the aarati performed after
  all-important poojas and on sacred occasions, the conch used to be blown. Since villages were generally small, the sound of the conch would
  be heard all over the village. People who could not make it to the temple were reminded to stop whatever they were doing, at least for a few
  seconds, and mentally bow to the Lord. The conch sound served to briefly elevate people's minds to a prayerful attitude even in the middle of
  their busy daily routine.<p>

  The conch is placed at the altar in temples and homes next to the Lord as a symbol of Naada Brahma (Truth), the Vedas, Om, dharma, victory and
  auspiciousness. It is often used to offer devotees thirtha (sanctified water) to raise their minds to the highest Truth. It is worshipped with the
  following verse.<p>

  Twam puraa saagarot pannaha<br>
  Vishnunaa vidhrutahakare<br>
  Devaischa poojitha sarvahi<br>
  Panchjanya namostu te<br>
  Salutations to Panchajanya<br>
  the conch born of the ocean<br>
  Held in the hand of Lord Vishnu<br>
  and worshipped by all devaas

<% end -%>
