<%= render 'shared/new_styles' %>

<%= link_to "Ramnagar Mandal", page_path('mandals/ramnagar'), class: 'list-group-item list-group-item-action list-group-item-primary mb-4' %>

<div class="row">
  <div class="col-4 col-vertical-scroll">
    <div class="list-group list-group-flush">
      <%= link_to "Committee", page_path('mandals/ramnagar/committee'), class: 'list-group-item list-group-item-action' %>
    </div>
  </div>

  <div class="col-8">
    <%= yield %>
  </div>
</div>
