<%= render "pages/mandals/atlanta/layout" do %>
  <h1>Atlanta Mandal Committee - 2003</h1>
  <%= image_tag 'pankhania_2.jpg', height: "95", width: "80" %>
  </center>
  <br>
  Jai Shree Bai Mataji<p>

  It gives me great pleasure to thank all the members of Shree Sorathia
  Prajapati Gnati Mandal of Atlanta for electing me as the President and
  giving me this opportunity to serve our community.  Since moving to the
  United States in 1994, I have had the opportunity to serve our
  community in
  various postions in the executive committee.  However, this postion is
  a
  special one.  Special, not because it is a prestigious one but special
  because it is challenging, demanding, and delicate.  It offers me an
  opportunity to promote peace and harmony, and preserve our culture and
  religion within our community.<p>

  Through the SSPGM website, I would like to take this opportunity to
  convey
  my regards and best wishes to all the members of Shree Sorathia
  Prajapati
  Gnati Mandals world wide.<p>

  <a href="mailto:ravi_pankhania@hotmail.com">Ravji Parbat Pankhania</a><br>
  President SSPGM, Atlanta, USA
<% end %>