  <%= render "pages/mandals/porbandar/layout" do %>
    <h1>Porbandar Mandal Establishment</h1>
    <p class="text-muted">Establishment of Shree Sorathia Prajapati Vidyotejak Mandal and my remembrance of old days</p>

    <font color="#66CCFF"><BR>By Mohanlal Virji Fatania of Atlanta USA</font><BR><BR>
    It was the year  1944/45. I was studying in Bhavsinghji High School in Porbandar. At the same time I was running the Prajapati Mitra Mandal Library as a volunteer in a rented room, in Juna Khumbharwada. At that time some serviceable and educational, promotional minded persons used to meet at night, intervally in library and to discuss as how to get our children to study and get into a higher education.<BR><BR>

    Thus it was in 1946 that the Shree Sorathia Prajapati Vidyotejak Mandal-Porbandar was established and the following elected members were:<BR>
    <font color="#66CCFF">President: </font><font color="red"> Bhimji Mesur Gohil</font><BR>
    <font color="#66CCFF">Secretary: </font><font color="red">  Karsan Parmanand Kukadia </font><BR>
    <font color="#66CCFF">Treasurer:</font> <font color="red">  Kanji Ala Gohil</font><BR><BR>
    Committee members were as follows: </font><BR>
          <font color="red">  < Bhimji Raja Mavadia </font><BR>
    <font color="red">  <  Bhimji Odhavji Bhavda</font><BR>
    <font color="red">  < Natha Hari Gadher</font><BR>
    <font color="red">  < Mepa Mandan Vara.</font> <BR><BR>
    Then following year the elected committee members were as follows:<BR>
    <font color="red">   Premji Bhura Dhokia .</font> <BR>
    <font color="red">   Lalji Ranamal Koria .</font> <BR>
    <font color="red">   Harji Raja Bharadwa .</font> <BR>
    <font color="red">   Karsan Jeram Chavda .</font> <BR>
    <font color="red">   Jiva Harji Jagatia .</font> <BR>
    and some others whom I do not remember.<BR><BR>
    Vidyotejak Mandal was established to promote activities that needed financial support. And for this reason, members (including myself being a student) attend marriage ceremonies, travel to villages, and explain the aim and object of the Vidyotejak Mandal, and to collect funds. After having enough fund, in 1947 Vidyotejak Mandal offered free school text books to students of our community but unfortunately, by the propaganda of some people, nobody was ready to accept this offer. Because they said this was welfare (Dhararmada books). This was again due to the fact that by that time in Porbandar there were two groups: one elderly is "Paghadiwala and members of Vidyotejak Topiwala. Members of Topiwala publicized very strongly and in the following year parents realized and students started to take free books. Later the Mandal moved from library to Gnati Vandi in Nava Kumbharadwa, where Gnati had given a room to be used as an office. Members went to villages and explained  their activities. There appeared to be necessity for boarding.
    <BR><BR>
    In the beginning Mandal rented two rooms in Bhidbhajan Mahadevji Temple and also hired a cook.
    Thus it was the beginning, Then Mandal sent Karsan P. Kukadia to raise fund in East Africa. Demand for accommodation was increased from village students so committee felt to buy their own property for boarding and bought a building on Hathi Tanki Road. More students accommodated and more support received from villages also grain crop donations by farmers and other help started to come in. And the boarding prospered. Vidyotejak Mandal started in library from zero and due to hard work of Premjibhai Bhura Dhokia, Laljibhai Ranmal and others expanded to present condition. We have one building in center of Porbandar city and other near airport. We must not forget original establishment members by whose efforts our children are getting higher education. We see now amongst them doctors, engineers, chemists, lawyers, etc.<BR><BR>
    It must also be remembered that Shri Premji Bhura Dhokia and Lalji Ranmar Koria with the help of Harji Raja Bharadwa and Jiva Harji Jagatia worked tirelessly for many years. It was their efforts to get land at for boarding where boarding building today stands. Later was residing in Kenya and raised a fund there. Since 1963 many of our community members moved to England. Every Shree Sorothia Prajapati Gnati Mandal/Shree Sorothia Prajapati Community in U.K. collects fund for Vidyotejak Mandal on every occasion of marriage to help boarding. It must also be remembered that Vidyotejak Mandal is not only local established but it is an international society, because our community members from foreign countries i.e.East Africa and Dubai and U.K. have contributed and helped a lot for welfare of our boarding  and still continue to do so.<BR><BR>
    Thanks to members of establishment and various committees of the years.
  <% end %>