<%= render "pages/mandals/mumbai/layout" do %>
  <h1>Mumbai Mandal Committee</h1>

  <%= link_to image_tag('sjethwa.jpg', height: "150", width: "125"), image_path('sjethwa.jpg') %>
  <p>
  <%= link_to image_tag('pvisawadia.jpg', height: "150", width: "125"), image_path('pvisawadia.jpg') %>
  <%= link_to image_tag('vprajapati.jpg', height: "150", width: "125"), image_path('vprajapati.jpg') %>
  <p>
  Last Updated 7/18/03
<% end %>
